
<div class=" main-grid">
    <section class="bread-crumb">
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
    <section class="bread-filter">
        <div class="d-flex bet end bottom gap-16">
            <div class="col-item">
                <div class="filter filter-search">
                    <div class="field-group text search mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                        <input placeholder="Tìm kiếm" class="input-default" type="text" autocomplete="off" id="filter"
                            (click)="op.toggle($event)" (keydown.enter)="query.offSet = 0; first = 0;load()"
                            [(ngModel)]="query.filter">
                            <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                                <svg _ngcontent-shh-c197="" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-shh-c197="" fill-rule="evenodd" clip-rule="evenodd" d="M9.02893 0.850098C4.51087 0.850098 0.849609 4.51552 0.849609 9.03539C0.849609 13.5553 4.51087 17.2207 9.02893 17.2207C10.8456 17.2207 12.5254 16.6271 13.8828 15.6241L17.1276 18.8716C17.4984 19.2427 18.0999 19.243 18.4711 18.8721C18.8422 18.5013 18.8425 17.8998 18.4716 17.5286L15.2709 14.3252C16.4787 12.8991 17.2083 11.0518 17.2083 9.03539C17.2083 4.51552 13.547 0.850098 9.02893 0.850098ZM2.74961 9.03539C2.74961 5.56338 5.56169 2.7501 9.02893 2.7501C12.4962 2.7501 15.3083 5.56338 15.3083 9.03539C15.3083 10.8568 14.5355 12.496 13.2976 13.645C12.1765 14.6858 10.6778 15.3207 9.02893 15.3207C5.56169 15.3207 2.74961 12.5074 2.74961 9.03539Z" fill="#2B2F33" fill-opacity="0.6"></path></svg>
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="d-flex align-items-center gap-16">
                    <p-button styleClass="p-button-sm height-56" icon="pi pi-check" label="Phép bù" (click)="goToPhepBu()"></p-button>
                    <p-button styleClass="p-button-sm height-56" (click)="cauhinh()">
                        <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 17V0H0.50855L0.5 17H19.5ZM6.675 15.3187H2.21V6.81868H6.675V15.3187ZM8.575 15.3187V6.81868H17.79V15.3187H8.575ZM2.21 1.68132V5.13736H17.79V1.68132H2.21Z" fill="#F3F8FF"/>
                        </svg>
                        &nbsp;
                        Cấu hình
                    </p-button>
                </div>
            </div>
        </div>
        <p-overlayPanel #op [style]="{width: '700px'}" styleClass="advance-seach">
            <ng-template pTemplate>
                <div class="header-filter-search  grid">
                    <h3>Tìm kiếm nâng cao</h3>
                </div>
                <div class="header-filter-search grid mt-1">
                    <div class="icon col-12 pl-0" style="display: flex; flex-wrap: wrap;">
                        <div class="col-6">
                            <div class="field-group text label-8 mb-0">
                                <label>Tháng</label>
                                <input type="number" class="input-default" id="" placeholder="Tháng"
                                    [(ngModel)]="query.month">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field-group text label-8 mb-0">
                                <label>Năm</label>
                                <input type="number" class="input-default" id="" placeholder="Năm"
                                    [(ngModel)]="query.year">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="field-group select label-8 valid">
                                <div class="field-group select mb-0 valid" [ngClass]="">
                                    <label  for=""> Tổ chức: </label>
                                    <p-dropdown placeholder="Chọn tổ chức" appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                                        [options]="orgRoots" [(ngModel)]="query.organizeId" name="organizeId" (onChange)="find()">
                                        <ng-template let-item pTemplate="selectedItem">
                                            <span style="vertical-align:middle;">{{item.label}}</span>
                                        </ng-template>
                                        <ng-template let-car pTemplate="item">
                                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                <div style="">{{car.label}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="input-group icon col-12 select-default text-right">
                        <label for="" style="visibility: hidden;">Classid <span class="pi pi-info-circle"
                                style="font-size: 13px;color: orange;"></span></label>
                        <p-button label="Tìm kiếm" styleClass="mr-1" icon="pi pi-search" (click)="load()">
                        </p-button>
                        <p-button label="Làm mới" icon="pi pi-times" (click)="cancel()"
                            styleClass="p-button-secondary">
                        </p-button>
                    </div>
                </div>
            </ng-template>
        </p-overlayPanel>
    </section>
    <section class="content pb-0">
        <div class="grid-default" #container>
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </section>
</div>

<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>