
<div class="main-grid">
        <section class="bread-crumb">
            <div class="d-flex bet bottom">
                 <app-hrm-breadcrumb [displayTitle]="true" [items]="items"></app-hrm-breadcrumb>
                 <div class="d-flex bet mid bottom gap-12">
                    <!-- <p-button (click)="addNew()" styleClass="p-button-sm height-56">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.6668 8.08835H8.0886V13.6666H5.91173V8.08835H0.333496V5.91148H5.91173V0.333252H8.0886V5.91148H13.6668V8.08835Z" fill="#F6FBFF"/>
                        </svg>
                        &nbsp;
                        Thêm mới
                    </p-button> -->
                 </div>
            </div>
        </section>
    <section class="pb-0">
        <!-- <p-tabView (onChange)="handleChange($event.index)" [(activeIndex)]="tabIndex">
            <p-tabPanel header="Cấu hình mail" >
                <app-ns-cau-hinh-mail 
                    #nsCauHinhMail 
                    (idOutPut)="editEvent($event)" 
                    (add)="addNew()" 
                    *ngIf="tabIndex === 0">
                </app-ns-cau-hinh-mail>
            </p-tabPanel>
            <p-tabPanel header="Vòng tuyển dụng">
               <app-vong-tuyen-dung 
               #vongTuyenDung 
               (idOutPut)="editEvent($event)" 
               (add)="addNew()" 
               *ngIf="tabIndex === 1">
                </app-vong-tuyen-dung>
            </p-tabPanel>
            <p-tabPanel header="Nguồn tuyển dụng">
               <app-nguon-tuyen-dung 
               #nguonTuyenDung 
               (idOutPut)="editEvent($event)" 
               (add)="addNew()" 
               *ngIf="tabIndex === 2">
                </app-nguon-tuyen-dung>
            </p-tabPanel>
        </p-tabView> -->
    </section>
</div>

<!-- <p-menu [model]="itemsToolOfGrid" [appendTo]="'body'" [popup]="true"
styleClass="menu-option-right" #menuButton></p-menu> -->

<!-- <p-dialog header="{{ titleAddnew }}" 
        [(visible)]="isFormDetail" 
        [modal]="true" [style]="{width: popupWidth + 'px'}"
        [draggable]="false" [resizable]="false" [focusTrap]="false" >
    <app-chi-tiet-ns-cau-hinh-mail 
        (detailOut)="theEventDetail($event)" 
        *ngIf="isFormDetail && tabIndex ===0" 
        [idForm]="idForm">
    </app-chi-tiet-ns-cau-hinh-mail>
    <app-chi-tiet-vong-tuyen-dung
        (detailOut)="theEventDetail($event)" 
        *ngIf="isFormDetail && tabIndex ===1" 
        [idForm]="idForm">
    </app-chi-tiet-vong-tuyen-dung>
    <app-chi-tiet-nguon-tuyen-dung
        (detailOut)="theEventDetail($event)" 
        *ngIf="isFormDetail && tabIndex ===2" 
        [idForm]="idForm">
    </app-chi-tiet-nguon-tuyen-dung>
</p-dialog> -->