
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
   <div class="content">
    <app-edit-detail *ngIf="listViews.length> 0" 
        [detail]="detailInfo" [manhinh]="'Edit'" 
        [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
        (callback)="setMaternityInfo($event)" (callbackcancel)="quaylai($event)"></app-edit-detail>
        <hr>
        <section class="row mt-1" *ngIf="modelEdit.maternityId">
            <div class="col-md-6">
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="col-md-6">
                           <h4>Khám thai</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <p-button label="Thêm mới" 
                            [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetMaternityPage.url, action: ACTIONS.THEM_KHAM_THAI}" 
                            styleClass="p-button-sm" (click)="addKhamThai()"></p-button>
                        </div>
                    </ng-template>
                    <div class="grid-default border">
                        <app-list-grid-angular [title]="'Danh mục hồ sơ khách hàng ký'"  

                        [domLayout]="'autoHeight'" 
                        [idGrid]="'listsDataMaternityPregnancy'" 
                        [listsData]="listsDataMaternityPregnancy"  
                        (FnClick)="OnClick($event)" 
                        *ngIf="columnDefKhamThai.length > 0" 
                        (onCellClicked)="cellClicked($event)"
                        [columnDefs]="columnDefKhamThai">
                    </app-list-grid-angular>
                    </div>
                </p-panel>
            </div>
            <div class="col-md-6">
                <p-panel header="">
                    <ng-template pTemplate="header">
                        <div class="col-md-6">
                          <h4>Con nhỏ</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <p-button label="Thêm mới" 
                            styleClass="p-button-sm"  
                            [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetMaternityPage.url, action: ACTIONS.THEM_CON_NHO}" 
                            (click)="addConNho()"></p-button>
                        </div>
                    </ng-template>
                    <div class="grid-default border">
                        <app-list-grid-angular  
                            [title]="'Danh mục hồ sơ khách hàng ký'" 
                            [idGrid]="'listsDataMaternityChild'"  
                            [domLayout]="'autoHeight'" 
                            [listsData]="listsDataMaternityChild" 
                            (FnClick)="OnClick($event)" 
                            *ngIf="columnDefConnho.length > 0" 
                            [columnDefs]="columnDefConnho">
                        </app-list-grid-angular>
                    </div>
                </p-panel>
            </div>
        </section>
        <section *ngIf="modelEdit.maternityId">
            <div class="d-flex bet middle">
                <h4>Chi tiết lịch đăng ký thai sản</h4>
                <p-button styleClass="p-button-sm height-56" (click)="themMoiChiTietDangKyTS()"
                [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetMaternityPage.url, action: ACTIONS.THEM_MOI_CHI_TIET_DANG_KY_THAI_SAN}"
                >
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 5H9V9H5V11H9V15H11V11H15V9H11V5ZM10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z" fill="#F3F8FF"/>
                        </svg>
                        &nbsp;
                        Thêm mới
                </p-button>
            </div>
            <app-list-grid-angular  *ngIf="columnDefDetail.length > 0"
                [idGrid]="'lichdangky'"
                [listsData]="dataDetail" [height]="heightGrid"
                (firstDataRendered)="onFirstDataRendered($event)"
                [columnDefs]="columnDefDetail"></app-list-grid-angular>
        </section>
   </div>
</div>


<p-dialog styleClass="popup-chi-tiet-thai-san" header="{{modelAdd.title}}" [(visible)]="displayAddThaiSan" [modal]="true" [style]="{width: '1000px'}"
    [draggable]="false" [resizable]="false">
    <app-edit-detail *ngIf="listViews_other.length> 0" 
        (callback1)="getFileInfo($event)"
        [detail]="detailInfo_other" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews_other"
        (callback)="saveCallApi($event)" (callbackcancel)="displayAddThaiSan = !displayAddThaiSan"></app-edit-detail>
</p-dialog>

<p-dialog styleClass="hideHeaderForm" header="Đăng ký lịch thai sản" 
    [(visible)]="isDetailLichThaiSan" 
    [modal]="true" [style]="{width: '1000px'}"
    [draggable]="false" [resizable]="false" [focusTrap]="false" >
    <app-edit-detail
        *ngIf="listViewsDetail.length> 0"
        [detail]="detailInfoDetail"
        [manhinh]="'Edit'"
        [dataView]="listViewsDetail"
        (callback)="setMaternityPolicyInfo($event)"
        (callbackcancel)="closeLichTS($event)"
    ></app-edit-detail>
</p-dialog>

