
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
   <div class="content">
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
        (callback)="setMaternityInfo($event)" (callbackcancel)="quaylai($event)"></app-edit-detail>
        <hr>
        <div class="row mt-1" *ngIf="modelEdit.maternityId">
            <div class="col-md-6">
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="col-md-6">
                            Khám thai
                        </div>
                        <div class="col-md-6 text-right">
                            <p-button label="Thêm mới" styleClass="p-button-sm" (click)="addKhamThai()"></p-button>
                        </div>
                    </ng-template>
                    <div class="grid-default border">
                        <app-list-grid-angular [title]="'Danh mục hồ sơ khách hàng ký'"  [domLayout]="'autoHeight'" [idGrid]="'listsDataMaternityPregnancy'" [listsData]="listsDataMaternityPregnancy"  (FnClick)="OnClick($event)" *ngIf="columnDefMaternityChild.length > 0" [columnDefs]="columnDefMaternityChild"></app-list-grid-angular>
                    </div>
                </p-panel>
            </div>
            <div class="col-md-6">
                <p-panel header="">
                    <ng-template pTemplate="header">
                        <div class="col-md-6">
                          Con nhỏ
                        </div>
                        <div class="col-md-6 text-right">
                            <p-button label="Thêm mới" styleClass="p-button-sm" (click)="addConNho()"></p-button>
                        </div>
                    </ng-template>
                    <div class="grid-default border">
                        <app-list-grid-angular  [title]="'Danh mục hồ sơ khách hàng ký'" [idGrid]="'listsDataMaternityChild'"  [domLayout]="'autoHeight'" [listsData]="listsDataMaternityChild" (FnClick)="OnClick($event)" *ngIf="columnDefMaternityPregnancy.length > 0" [columnDefs]="columnDefMaternityPregnancy"></app-list-grid-angular>
                    </div>
                </p-panel>
            </div>
        </div>
   </div>
</div>


<p-dialog styleClass="popup-chi-tiet-thai-san" header="{{modelAdd.title}}" [(visible)]="displayAddThaiSan" [modal]="true" [style]="{width: '1000px'}"
    [draggable]="false" [resizable]="false">
    <app-edit-detail *ngIf="listViews_other.length> 0" [detail]="detailInfo_other" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews_other"
        (callback)="saveCallApi($event)" (callbackcancel)="displayAddThaiSan = !displayAddThaiSan"></app-edit-detail>
</p-dialog>
