<section class="text-center">
  <div class="grid">
    <div class="col-5">
    </div>
    <div class="col-1">
      <img src="../../../assets/images/logo.png">
    </div>
    <div class="col-6">
    </div>
  </div>
  <p-tabView>
    <p-tabPanel header="Fetch data">
        -- Breadcrum
          component dùng chung: 
                              app-hrm-breadcrumb
                              


        https://www.ag-grid.com/javascript-data-grid/
    </p-tabPanel>
    <p-tabPanel header="Icon">
        <div class="grid">
          <div class="col-2">
          </div>
          <div class="col-8">
            <app-uni-icon></app-uni-icon>
          </div>
          <div class="col-2"></div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Header III">
        
    </p-tabPanel>
</p-tabView>
</section>