<div class="grid main-grid">
    <div class="col-12 right max-w-full">
      <div class="bread-filter">
        <div class="d-flex bet middle">
          <app-hrm-breadcrumb [items]="itemsBreadcrumb"></app-hrm-breadcrumb>
          <div class="">
              <p-button label="Xuất file" (click)="exportExel()" icon="fa fa-download" styleClass="p-button-sm mr-2"></p-button>
                <p-button label="Thêm mới" (click)="addVehicleCard()" icon="pi pi-plus" styleClass="p-button-sm"></p-button>
            </div>
          </div>
          <div class="grid filter">
            <div class="header-filter-search x-2">
                <div class="field-group text search mb-0" [ngClass]=" model.filter ? 'valid' : 'invalid' ">
                    <input class="input-default" type="text" id="filter"
                        (keydown.enter)="model.offSet = 0; first = 0; load()"
                        [(ngModel)]="model.filter">
                        <label>Mã thẻ , Tên nhân viên</label>
                    <!-- <i id="icon-search" class="pi pi-angle-down"></i> -->
                    <span class="placeholder-icon" (click)="model.offSet = 0; first = 0; load()">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                              d="M10.1305 11.2619C9.28558 11.8771 8.24518 12.24 7.12002 12.24C4.29231 12.24 2 9.94772 2 7.12002C2 4.29231 4.29231 2 7.12002 2C9.94772 2 12.24 4.29231 12.24 7.12002C12.24 8.24518 11.8771 9.28558 11.2619 10.1305L13.7657 12.6343C14.0781 12.9467 14.0781 13.4533 13.7657 13.7657C13.4533 14.0781 12.9467 14.0781 12.6343 13.7657L10.1305 11.2619ZM11.28 7.12002C11.28 9.41753 9.41753 11.28 7.12002 11.28C4.8225 11.28 2.96 9.41753 2.96 7.12002C2.96 4.8225 4.8225 2.96 7.12002 2.96C9.41753 2.96 11.28 4.8225 11.28 7.12002Z"
                              fill="#808AA6" />
                      </svg>
                  </span>
                    <!-- <p-button class="search-button" icon="pi pi-search" (click)="model.offSet = 0; first = 0; load()"></p-button> -->
                </div>
                <div class="input-group-append dropdown">
                </div>
            </div>
            
            <div class="x-1">
                <div class="field-group select mb-0 valid" >
                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                        [options]="organizes" [(ngModel)]="model.organizeId" name="organizeId" (onChange)="find()">
                        <ng-template let-item pTemplate="selectedItem">
                            <span style="vertical-align:middle;">{{item.label}}</span>
                        </ng-template>
                        <ng-template let-car pTemplate="item">
                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                <div style="">{{car.label}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <label  for=""> Tổ chức: </label>
                </div>
            </div>
          </div>
        </div>
        <div class="grid-default" #container>
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="model.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </div>
</div>
<p-dialog [(visible)]="displayCreateVehicleCard"  [baseZIndex]="99" [modal]="true"
  [style]="{width: '1000px', height: 'auto'}">
  <p-header>
    Thêm vé gửi xe
  </p-header>
  <form action="" #createSMSF1="ngForm">
    <div class="box-body" >

      <div class="row">
      <div class="col-sm-6 form-group">
        <div class="field-group select label-8">
            <p-dropdown appendTo="body"  [baseZIndex]="100" 
                [options]="organizesAdds" [(ngModel)]="modelTM.organizeId" [autoDisplayFirst]="false" (onChange)="getUserByPush()" name="organizeId" [filter]="true">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
                </p-dropdown>
            <label for="">Chọn tổ chức</label>
        </div>
    </div>
    <div class="col-sm-6 form-group">
        <div class="field-group select" [ngClass]="modelTM.cusId ? 'valid' : 'invalid'">
            <p-dropdown appendTo="body"  [baseZIndex]="100" 
                [options]="listUsers" [(ngModel)]="modelTM.cusId" [autoDisplayFirst]="false" name="cusId" [filter]="true">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
                </p-dropdown>
            <label for="">Nhân viên</label>
        </div>
    </div>

<!-- 
        <div class="col-sm-6">
          <div class="field-group text label-8">
            <p-autoComplete panelStyleClass="search-user-by-phone" [(ngModel)]="cusId" name="cusId"  [baseZIndex]="102" appendTo="body" [style]="{width: '100%'}"
              [suggestions]="results" (onSelect)="onSelectCus($event)" placeholder="Tìm kiếm theo tên , SĐT.."
              (completeMethod)="search($event)" field="fullName">
              <ng-template let-value pTemplate="item">
                <div class="result_cus_item">
                  <label class="">{{ value.employeeName }}</label>
                  <span class="phone">{{ value.phone }}</span>
                </div>
              </ng-template>
            </p-autoComplete>
            <label>Tên nhân viên<span style="color:red">*</span></label>
            </div>
        </div> -->
        <div class="col-sm-6">
          <div class="field-group text label-8">
            <input type="text" class="form-control" name="vehiclecardCd" [(ngModel)]="modelTM.vehiclecardCd"
              id="vehiclecardCd" [required]="modelTM.vehicleTypeIdTM != 1" #vehiclecardCd="ngModel" placeholder="Mã thẻ">
            <div *ngIf="vehiclecardCd.errors && (vehiclecardCd.dirty || vehiclecardCd.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehiclecardCd.errors.required">Trường này bắt buộc nhập</div>
            </div>
            <label>Mã thẻ
              <span *ngIf="modelTM.vehicleTypeIdTM != 1" style="color:red">*</span>
            </label>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field-group select label-8">
            <select [disabled]="modelTM.type == 2" [(ngModel)]="modelTM.vehicleTypeIdTM" class="form-control"
              name="vehicleTypeIdTM" id="vehicleTypeIdTM" #vehicleTypeIdTM="ngModel">
              <option *ngFor="let advert of vehicleTypes; let i = index" value="{{vehicleTypes[i].vehicleTypeId}}"
                [selected]="i==0"> {{vehicleTypes[i].vehicleTypeName}} </option>
            </select>
            <label>Loại xe</label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group text label-8">
            <input type="text" class="form-control" name="vehicleNoTM" [(ngModel)]="modelTM.vehicleNoTM" id="vehicleNoTM"
              required #vehicleNoTM="ngModel" placeholder="Biển số xe">
            <div *ngIf="vehicleNoTM.errors && (vehicleNoTM.dirty || vehicleNoTM.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehicleNoTM.errors.required">Trường này bắt buộc nhập</div>
            </div>
            <label>Biển số xe
              <span style="color:red">*</span>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="field-group text label-8">
            <input type="text" class="form-control" name="vehicleNameTM" [(ngModel)]="modelTM.vehicleNameTM"
              id="vehicleNameTM" required #vehicleNameTM="ngModel" placeholder="Tên xe">
            <div *ngIf="vehicleNameTM.errors && (vehicleNameTM.dirty || vehicleNameTM.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehicleNameTM.errors.required">Trường này bắt buộc nhập</div>
            </div>
            <label>Tên xe
              <span style="color:red">*</span>
            </label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="field-group date label-8">
            <div class="datepicker-container">
              <p-calendar [(ngModel)]="modelTM.startTimeTM" appendTo="body" [baseZIndex]="100" name="startTimeTM"
                dateFormat="dd/mm/yy"></p-calendar>
            </div>
            <label>Ngày bắt đầu</label>
          </div>
        </div>

      <div class="col-sm-4" >
        <div class="mb-1" style="margin-bottom: 10px; font-weight: 500;display: block;">Ngày kết thúc</div>
        <div>
          <div class="checkbox-default d-flex mb-0">
            <input id="vo-han" name="isEnddateVehicleCard" type="radio" [checked]="!modelTM.endTimeTM" (click)="checkEnddateVehicleCard(true)">
            <label for="vo-han" class="mb-0">Vô hạn</label>
          </div>
          <div class="checkbox-default d-flex mb-0">
            <div class="checkbox-default d-flex mb-0">
              <input id="ngay-het-han" name="isEnddateVehicleCard" type="radio" [checked]="modelTM.endTimeTM" (click)="checkEnddateVehicleCard(false)">
              <label for="ngay-het-han">Hết hạn ngày</label>
            </div>
            </div>
            <div class="datepicker-container" *ngIf="showVehicleCard">
              <div class="field-group date label-8" [ngClass]="modelTM.endTimeTM ? 'valid' : 'date-invalid' ">
                <p-calendar [(ngModel)]="modelTM.endTimeTM" appendTo="body" [baseZIndex]="100" name="endTimeTM"
                  dateFormat="dd/mm/yy"></p-calendar>
                  <label>Ngày hạn</label>
                </div>
            </div>
        </div>
      </div>

    </div>
  </div>
    <div class="row mt-1">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-right">
        <p-button label="Tạo thẻ" icon="pi pi-check" styleClass="p-button-sm mr-1"
          (onClick)="SaveVehicleCard(); createSMSF1.reset()"></p-button>
        <p-button label="Đóng" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-1"
          (onClick)="displayCreateVehicleCard = !displayCreateVehicleCard"></p-button>
      </div>
    </div>
  </form>
</p-dialog>


<p-dialog [(visible)]="displayVehicleApprove"  [baseZIndex]="99" [modal]="true" [style]="{width: '600px', height: 'auto'}">
    <p-header>
      Phê duyệt vé xe
    </p-header>
    <form action="" #createSMSF="ngForm">
      <div class="box-body">
  
        <div class="col-md-12">
            <div class="field-group text label-8">
              <input type="text" class="form-control" name="cardCd" [(ngModel)]="modelApprove.cardCd" id="cardCd" required
                #cardCd="ngModel" placeholder="Mã thẻ">
                <label>Mã thẻ
                  <span style="color:red">*</span>
                </label>
              <div *ngIf="cardCd.errors && (cardCd.dirty || cardCd.touched)" class="alert-validation alert-danger">
                <div *ngIf="cardCd.errors.required">Trường này bắt buộc nhập</div>
              </div>
            </div>
        </div>
  
        <div class="col-md-12">
            <label class="control-label" style="margin-bottom: 10px; font-weight: 500;display: block;">Ngày hết hạn</label>
            <div class="checkbox-default d-flex mb-0">
              <label for="vo-han" class="mb-0">Vô hạn</label>
              <input id="vo-han" name="isEnddate" type="radio" checked (click)="checkEnddate(true)">
            </div>
            <div class="checkbox-default d-flex mb-0">
              <label for="het-han-ngay">Hết hạn ngày</label>
              <input id="het-han-ngay" name="isEnddate" type="radio" (click)="checkEnddate(false)">
            </div>
            <div class="datepicker-container" *ngIf="show">
              <div class="field-group date" [ngClass]="modelTM.endTime ? 'valid' : 'date-invalid' ">
                  <p-calendar [(ngModel)]="modelTM.endTime" appendTo="body" [baseZIndex]="100" name="endTime"
                    dateFormat="dd/mm/yy"></p-calendar>
                    <label>Ngày hạn</label>
                </div>
            </div>
        </div>
  
      </div>
      <div class="row mt-1">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
          <p-button label="Tạo thẻ" icon="pi pi-check" styleClass="p-button-sm mr-1"
            (onClick)="SaveVehicleApprove(); createSMSF.reset()"></p-button>
          <p-button label="Đóng" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-1"
            (onClick)="displayVehicleApprove = !displayVehicleApprove"></p-button>
        </div>
      </div>
    </form>
  </p-dialog>
