<div class="main-grid">
  <section class="bread-crumb">
    <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
  </section>
  <section class="bread-filter">
      <div class="d-flex bet end bottom gap-16">
          <div class="col-item">
            <div class="filter filter-search">
                <div class="field-group text search mb-0" [ngClass]=" model.filter ? 'valid' : 'invalid' ">
                    <input placeholder="Tìm kiếm" class="input-default" type="text" autocomplete="off" id="filter"
                        (click)="op.toggle($event)" (keydown.enter)="model.offSet = 0; first = 0;load()"
                        [(ngModel)]="model.filter">
                        <span class="placeholder-icon" (click)="model.offSet = 0; first = 0; load()">
                          <svg _ngcontent-gwb-c197="" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-gwb-c197="" fill-rule="evenodd" clip-rule="evenodd" d="M9.02893 0.850098C4.51087 0.850098 0.849609 4.51552 0.849609 9.03539C0.849609 13.5553 4.51087 17.2207 9.02893 17.2207C10.8456 17.2207 12.5254 16.6271 13.8828 15.6241L17.1276 18.8716C17.4984 19.2427 18.0999 19.243 18.4711 18.8721C18.8422 18.5013 18.8425 17.8998 18.4716 17.5286L15.2709 14.3252C16.4787 12.8991 17.2083 11.0518 17.2083 9.03539C17.2083 4.51552 13.547 0.850098 9.02893 0.850098ZM2.74961 9.03539C2.74961 5.56338 5.56169 2.7501 9.02893 2.7501C12.4962 2.7501 15.3083 5.56338 15.3083 9.03539C15.3083 10.8568 14.5355 12.496 13.2976 13.645C12.1765 14.6858 10.6778 15.3207 9.02893 15.3207C5.56169 15.3207 2.74961 12.5074 2.74961 9.03539Z" fill="#2B2F33" fill-opacity="0.6"></path></svg>
                        </span>
                    <p-overlayPanel #op [style]="{width: '700px'}" styleClass="advance-seach">
                        <ng-template pTemplate>
                            <div class="header-filter-search  grid">
                                <h3>Tìm kiếm nâng cao</h3>
                            </div>
                            <div class="header-filter-search grid mt-1">
                                <div class="icon col-12 pl-0" style="display: flex; flex-wrap: wrap;">
                                    <div class="col-6">
                                        <div class="field-group select valid">
                                          <label  for=""> Tổ chức: </label>
                                          <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                                          [options]="organizes" [(ngModel)]="model.organizeId" name="organizeId" (onChange)="handleChangeOrganize()">
                                          <ng-template let-item pTemplate="selectedItem">
                                              <span style="vertical-align:middle;">{{item.label}}</span>
                                          </ng-template>
                                          <ng-template let-car pTemplate="item">
                                              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                  <div style="">{{car.label}}</div>
                                              </div>
                                          </ng-template>
                                      </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                      <div class="field-group select mb-0 label-8">
                                        <label>Bộ phận</label>
                                          <p-treeSelect [(ngModel)]="model.orgId" [filterInputAutoFocus]="true" [filter]="true" [metaKeySelection]="false" [ngClass]="[ departmentFiltes.length <= 0 ? 'tree-empty' : '' ]" [options]="departmentFiltes" selectionMode="single" name="orgId"
                                          (onNodeSelect)="onChangeTree($event)" placeholder="Chọn phòng ban"></p-treeSelect>
                                      </div>
                                  </div>
                                  <div class="col-6">
                                      <div class="field-group select valid">
                                        <label>Trạng thái</label>
                                          <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"  (onChange)="find()"
                                          [options]="listStatus" [(ngModel)]="model.status" name="status" [filter]="true">
                                          <ng-template let-item pTemplate="selectedItem">
                                          <span style="vertical-align:middle;">{{item.label}}</span>
                                          </ng-template>
                                          <ng-template let-car pTemplate="item">
                                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                              <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                          </div>
                                          </ng-template>
                                      </p-dropdown>
                                      </div>
                                  </div>
                                  <div class="col-6">
                                      <div class="field-group select valid">
                                          <label for="">Chức vụ</label>
                                          <p-dropdown placeholder="Chọn chức vụ" [filter]="true" appendTo="body" [baseZIndex]="100" (onChange)="find()" [autoDisplayFirst]="false"
                                          [options]="dataPositionList" [(ngModel)]="model.positionCd" name="position">
                                          <ng-template let-item pTemplate="selectedItem">
                                              <span>{{item.label}}</span>
                                          </ng-template>
                                          <ng-template let-car pTemplate="item">
                                              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                  <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                              </div>
                                          </ng-template>
                                          </p-dropdown>
                                      </div>
                                  </div>
                                  <div class="col-6">
                                      <div class="field-group select valid">
                                          <label for="">Nơi làm việc</label>
                                          <p-dropdown placeholder="Nơi làm việc" appendTo="body" [filter]="true" [baseZIndex]="100" (onChange)="find()" [autoDisplayFirst]="false"
                                          [options]="workplaceOptions" [(ngModel)]="model.workplaceId" name="position">
                                          <ng-template let-item pTemplate="selectedItem">
                                              <span>{{item.label}}</span>
                                          </ng-template>
                                          <ng-template let-car pTemplate="item">
                                              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                  <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                              </div>
                                          </ng-template>
                                          </p-dropdown>
                                      </div>
                                  </div>
                                  
                                </div>
                                <div class="input-group icon col-12 select-default text-right">
                                    <label for="" style="visibility: hidden;">Classid <span class="pi pi-info-circle"
                                            style="font-size: 13px;color: orange;"></span></label>
                                    <p-button label="Tìm kiếm" styleClass="mr-1" icon="pi pi-search" (click)="load()">
                                    </p-button>
                                    <p-button label="Làm mới" icon="pi pi-times" (click)="cancel()"
                                        styleClass="p-button-secondary">
                                    </p-button>
                                </div>
                            </div>
                        </ng-template>
                    </p-overlayPanel>
                </div>
            </div>
          </div>
          <div class="col-item">
            <div class="d-flex align-items-center gap-16">
              <!-- <p-button label="Xuất file" (click)="exportExel()" icon="fa fa-download" styleClass="p-button-sm  ml-1 height-56"></p-button> -->

              <p-button (click)="menuButton.toggle($event)" label="Tiện ích" icon="pi pi-cog"
                    styleClass="p-button-sm height-56 ml-1"> </p-button>
              <p-button styleClass="p-button-sm height-56" icon="pi pi-plus" label="Thêm mới" (click)="addVehicleCard()"></p-button>
              <p-button styleClass="p-button-sm height-56" icon="pi pi-plus" label="Cấu hình" (click)="cauhinh()"></p-button>
          </div>
          </div>
      </div>
      <p-menu [model]="itemsToolOfGrid" [appendTo]="'body'" [popup]="true"
        styleClass="menu-option-right" #menuButton></p-menu>
  </section>
  <section class="content pb-0">
      <div class="grid-default" #container>
        <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
          [columnDefs]="columnDefs"></app-list-grid-angular>
          <div class="paginator">
              <span>Từ {{ countRecord.currentRecordStart }} đến
                  {{ countRecord.currentRecordEnd }}
                  trên tổng số
                  {{ countRecord.totalRecord }} kết quả</span>
              <p-paginator [rows]="model.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                  (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
              </p-paginator>
          </div>
      </div>
    </section>
</div>


<p-dialog [(visible)]="displayCreateVehicleCard"  [baseZIndex]="99" [modal]="true"
  [style]="{width: '1000px', height: 'auto'}">
  <p-header>
    Thêm vé gửi xe
  </p-header>
  <form action="" #createSMSF1="ngForm">
    <div class="box-body" >

      <div class="row">
      <div class="col-sm-6 form-group">
        <div class="field-group select label-8">
          <label for="">Chọn tổ chức</label>
            <p-dropdown appendTo="body"  [baseZIndex]="100" 
                [options]="organizesAdds" [(ngModel)]="modelTM.organizeId" [autoDisplayFirst]="false" (onChange)="getUserByPush()" name="organizeId" [filter]="true">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
                </p-dropdown>
        </div>
    </div>
    <div class="col-sm-6 form-group">
        <div class="field-group select" [ngClass]="modelTM.cusId ? 'valid' : 'invalid'">
          <label for="">Nhân viên</label>
            <p-dropdown appendTo="body"  [baseZIndex]="100" 
                [options]="listUsers" [(ngModel)]="modelTM.cusId" [autoDisplayFirst]="false" name="cusId" [filter]="true">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
                </p-dropdown>
        </div>
    </div>

<!-- 
        <div class="col-sm-6">
          <div class="field-group text label-8">
            <p-autoComplete panelStyleClass="search-user-by-phone" [(ngModel)]="cusId" name="cusId"  [baseZIndex]="102" appendTo="body" [style]="{width: '100%'}"
              [suggestions]="results" (onSelect)="onSelectCus($event)" placeholder="Tìm kiếm theo tên , SĐT.."
              (completeMethod)="search($event)" field="fullName">
              <ng-template let-value pTemplate="item">
                <div class="result_cus_item">
                  <label class="">{{ value.employeeName }}</label>
                  <span class="phone">{{ value.phone }}</span>
                </div>
              </ng-template>
            </p-autoComplete>
            <label>Tên nhân viên<span style="color:red">*</span></label>
            </div>
        </div> -->

        <div class="col-sm-6">
          <div class="field-group text label-8">
            <label>Mã thẻ
              <span *ngIf="modelTM.vehicleTypeIdTM != 1" style="color:red">*</span>
            </label>
            <input type="text" class="form-control" name="vehiclecardCd" [(ngModel)]="modelTM.vehiclecardCd"
              id="vehiclecardCd" [required]="modelTM.vehicleTypeIdTM != 1" #vehiclecardCd="ngModel" placeholder="Mã thẻ">
            <div *ngIf="vehiclecardCd.errors && (vehiclecardCd.dirty || vehiclecardCd.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehiclecardCd.errors.required">Trường này bắt buộc nhập</div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group select label-8">
            <label>Loại xe</label>
            <select [disabled]="modelTM.type == 2" [(ngModel)]="modelTM.vehicleTypeIdTM" class="form-control"
              name="vehicleTypeIdTM" id="vehicleTypeIdTM" #vehicleTypeIdTM="ngModel">
              <option *ngFor="let advert of vehicleTypes; let i = index" value="{{vehicleTypes[i].vehicleTypeId}}"
                [selected]="i==0"> {{vehicleTypes[i].vehicleTypeName}} </option>
            </select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group text label-8">
            <label>Biển số xe
              <span style="color:red">*</span>
            </label>
            <input type="text" class="form-control" name="vehicleNoTM" [(ngModel)]="modelTM.vehicleNoTM" id="vehicleNoTM"
              required #vehicleNoTM="ngModel" placeholder="Biển số xe">
            <div *ngIf="vehicleNoTM.errors && (vehicleNoTM.dirty || vehicleNoTM.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehicleNoTM.errors.required">Trường này bắt buộc nhập</div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group text label-8">
            <label>Tên xe
              <span style="color:red">*</span>
            </label>
            <input type="text" class="form-control" name="vehicleNameTM" [(ngModel)]="modelTM.vehicleNameTM"
              id="vehicleNameTM" required #vehicleNameTM="ngModel" placeholder="Tên xe">
            <div *ngIf="vehicleNameTM.errors && (vehicleNameTM.dirty || vehicleNameTM.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehicleNameTM.errors.required">Trường này bắt buộc nhập</div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group date label-8">
            <div class="datepicker-container">
              <label>Ngày bắt đầu</label>
              <p-calendar [(ngModel)]="modelTM.startTimeTM" appendTo="body" [baseZIndex]="100" name="startTimeTM"
                dateFormat="dd/mm/yy"></p-calendar>
            </div>
          </div>
        </div>

      <div class="col-sm-6 mb-5" >
        <div class="mb-1" style="margin-bottom: 10px; font-weight: 500;display: block;">Ngày kết thúc</div>
        <div>
          <div class="checkbox-default d-flex mb-0">
            <input id="vo-han" name="isEnddateVehicleCard" type="radio" [checked]="!modelTM.endTimeTM" (click)="checkEnddateVehicleCard(true)">
            <label for="vo-han" class="mb-0">Vô hạn</label>
          </div>
          <div class="checkbox-default d-flex mb-0">
            <div class="checkbox-default d-flex mb-0">
              <input id="ngay-het-han" name="isEnddateVehicleCard" type="radio" [checked]="modelTM.endTimeTM" (click)="checkEnddateVehicleCard(false)">
              <label for="ngay-het-han" class="mb-0">Hết hạn ngày</label>
            </div>
            </div>
            <div class="datepicker-container" *ngIf="showVehicleCard">
              <div class="field-group date label-8" [ngClass]="modelTM.endTimeTM ? 'valid' : 'date-invalid' ">
                <label>Ngày hạn</label>
                <p-calendar [(ngModel)]="modelTM.endTimeTM" appendTo="body" [baseZIndex]="100" name="endTimeTM"
                  dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="field-group text label-8">
          <label>Màu xe
            <!-- <span style="color:red">*</span> -->
          </label>
          <input type="text" class="form-control" name="vehicleColorTM" [(ngModel)]="modelTM.vehicleColorTM"
            id="vehicleColorTM"  #vehicleColorTM="ngModel" placeholder="Nhập màu xe">
          <!-- required <div *ngIf="vehicleColor.errors && (vehicleColor.dirty || vehicleColor.touched)"
            class="alert-validation alert-danger">
            <div *ngIf="vehicleColor.errors.required">Trường này bắt buộc nhập</div>
          </div> -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="field-group textarea label-8">
          <label>Ghi chú
            <!-- <span style="color:red">*</span> -->
          </label>
          <textarea class="form-control" name="noteTM" [(ngModel)]="modelTM.noteTM"
            id="noteTM"  #noteTM="ngModel" placeholder="Nhập ghi chú"></textarea>
          <!-- required <div *ngIf="vehicleColor.errors && (vehicleColor.dirty || vehicleColor.touched)"
            class="alert-validation alert-danger">
            <div *ngIf="vehicleColor.errors.required">Trường này bắt buộc nhập</div>
          </div> -->
        </div>
      </div>

    </div>
  </div>
    <div class="row mt-1">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-right">
        <p-button label="{{ modelTM.cardVehicleId ? ' Cập nhật ' : 'Tạo thẻ'}}" icon="pi pi-check" styleClass="p-button-sm mr-1"
          (onClick)="SaveVehicleCard(); createSMSF1.reset()"></p-button>
        <p-button label="Đóng" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-1"
          (onClick)="displayCreateVehicleCard = !displayCreateVehicleCard"></p-button>
      </div>
    </div>
  </form>
</p-dialog>


<p-dialog [(visible)]="displayVehicleApprove"  [baseZIndex]="99" [modal]="true" [style]="{width: '600px', height: 'auto'}">
    <p-header>
      Phê duyệt vé xe
    </p-header>
    <form action="" #createSMSF="ngForm">
      <div class="box-body">
  
        <div class="col-md-12">
            <div class="field-group text label-8">
              <label>Mã thẻ
                <span style="color:red">*</span>
              </label>
              <input type="text" class="form-control" name="cardCd" [(ngModel)]="modelApprove.cardCd" id="cardCd" required
                #cardCd="ngModel" placeholder="Mã thẻ">
              <div *ngIf="cardCd.errors && (cardCd.dirty || cardCd.touched)" class="alert-validation alert-danger">
                <div *ngIf="cardCd.errors.required">Trường này bắt buộc nhập</div>
              </div>
            </div>
        </div>
  
        <div class="col-md-12">
            <label class="control-label" style="margin-bottom: 10px; font-weight: 500;display: block;">Ngày hết hạn</label>
            <div class="checkbox-default d-flex mb-0">
              <label for="vo-han" class="mb-0">Vô hạn</label>
              <input id="vo-han" name="isEnddate" type="radio" checked (click)="checkEnddate(true)">
            </div>
            <div class="checkbox-default d-flex mb-0">
              <label for="het-han-ngay">Hết hạn ngày</label>
              <input id="het-han-ngay" name="isEnddate" type="radio" (click)="checkEnddate(false)">
            </div>
            <div class="datepicker-container" *ngIf="show">
              <div class="field-group date" [ngClass]="modelTM.endTime ? 'valid' : 'date-invalid' ">
                <label>Ngày hạn</label>
                  <p-calendar [(ngModel)]="modelTM.endTime" appendTo="body" [baseZIndex]="100" name="endTime"
                    dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </div>
        </div>
  
      </div>
      <div class="row mt-1">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
          <p-button label="Tạo thẻ" icon="pi pi-check" styleClass="p-button-sm mr-1"
            (onClick)="SaveVehicleApprove(); createSMSF.reset()"></p-button>
          <p-button label="Đóng" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-1"
            (onClick)="displayVehicleApprove = !displayVehicleApprove"></p-button>
        </div>
      </div>
    </form>
  </p-dialog>
  <p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
  [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
  <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>