<div class="main-grid">
  <section class="bread-crumb">
    <div class="d-flex bet middle">
        <div class="p-0 col-12 md:col-12 lg:col-3 xl:col-3">
          <app-hrm-breadcrumb [items]="itemsBreadcrumb" ></app-hrm-breadcrumb>
        </div>
        <div class="d-flex end p-0 wrap col-12 md:col-12 lg:col-9 xl:col-9 gap12">
          <div class="filter filter-search p-0 col-4 md:col-4 lg:col-4 xl:col-3">
              <div class="fields search mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                  <input placeholder="Tìm kiếm" class="input-default" type="text" autocomplete="off" id="filter"
                       (keydown.enter)="query.offSet = 0; first = 0;load()"
                      [(ngModel)]="query.filter">
                      <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                        <svg _ngcontent-gwb-c197="" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-gwb-c197="" fill-rule="evenodd" clip-rule="evenodd" d="M9.02893 0.850098C4.51087 0.850098 0.849609 4.51552 0.849609 9.03539C0.849609 13.5553 4.51087 17.2207 9.02893 17.2207C10.8456 17.2207 12.5254 16.6271 13.8828 15.6241L17.1276 18.8716C17.4984 19.2427 18.0999 19.243 18.4711 18.8721C18.8422 18.5013 18.8425 17.8998 18.4716 17.5286L15.2709 14.3252C16.4787 12.8991 17.2083 11.0518 17.2083 9.03539C17.2083 4.51552 13.547 0.850098 9.02893 0.850098ZM2.74961 9.03539C2.74961 5.56338 5.56169 2.7501 9.02893 2.7501C12.4962 2.7501 15.3083 5.56338 15.3083 9.03539C15.3083 10.8568 14.5355 12.496 13.2976 13.645C12.1765 14.6858 10.6778 15.3207 9.02893 15.3207C5.56169 15.3207 2.74961 12.5074 2.74961 9.03539Z" fill="#2B2F33" fill-opacity="0.6"></path></svg>
                      </span>
              </div>
          </div>
          <p-button styleClass="p-button-sm btn-option" (click)="op.toggle($event)">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 14V16H6V14H0ZM0 2V4H10V2H0ZM10 18V16H18V14H10V12H8V18H10ZM4 6V8H0V10H4V12H6V6H4ZM18 10V8H8V10H18ZM12 6H14V4H18V2H14V0H12V6Z" fill="#76809B"/>
            </svg>
            <span class="dot"></span>
        </p-button>
              <p-button type="button" styleClass="box-icon" (click)="menuButton.toggle($event)" icon="uni-icon uni-dots" label=""></p-button>
        </div>
    </div>
  </section>
  <section class="content">
      <div class="grid-default" #container>
        <app-list-grid-angular *ngIf="columnDefs && columnDefs?.length > 0" [listsData]="listsData" [height]="heightGrid"
          (showConfig)="cauhinh()" [idGrid]="gridKey + '_45dfs'" (onCellClicked)="onCellClicked($event)"
          [columnDefs]="columnDefs"></app-list-grid-angular>
          <app-loading-grid  [gridtype]="'lhd'" *ngIf="columnDefs && columnDefs.length === 0" [columnNumber]="15"></app-loading-grid>
          <div class="paginator">
              <span>Từ {{ countRecord.currentRecordStart }} đến
                  {{ countRecord.currentRecordEnd }}
                  trên tổng số
                  {{ countRecord.totalRecord }} kết quả</span>
              <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                  (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
              </p-paginator>
          </div>
      </div>
    </section>
</div>


<p-dialog [(visible)]="isShowP"  [baseZIndex]="99" [modal]="true"
  [style]="{width: '1000px', height: 'auto'}">
  <p-header>
     {{ modelTM?.cardVehicleId ? 'Sửa vé gửi xe' : 'Thêm vé gửi xe' }}
  </p-header>
  <form action="" #createSMSF1="ngForm">
    <div class="box-body" >
      <div class="row">
        <div class="col-sm-6 form-group">
          <div class="fields">
            <label for="">Chọn tổ chức</label>
              <p-dropdown appendTo="body"  [baseZIndex]="100" 
                  [options]="organizesAdds" [(ngModel)]="modelTM.organizeId" [autoDisplayFirst]="false" (onChange)="getUserByPush()" name="organizeId" [filter]="true">
                  <ng-template let-item pTemplate="selectedItem">
                      <span>{{item.label}}</span>
                  </ng-template>
                  <ng-template let-car pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                      <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                      </div>
                  </ng-template>
                  </p-dropdown>
          </div>
      </div>
      <div class="col-sm-6 form-group">
          <div class="fields" [ngClass]="modelTM?.cusId ? 'valid' : 'invalid'">
            <label for="">Nhân viên</label>
              <p-dropdown appendTo="body"  [baseZIndex]="100" 
                  [options]="listUsers" [(ngModel)]="modelTM.cusId" 
                  (onChange)="onChangeUser($event)" [autoDisplayFirst]="false" name="cusId" [filter]="true">
                  <ng-template let-item pTemplate="selectedItem">
                      <span>{{item.label}}</span>
                  </ng-template>
                  <ng-template let-car pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                      <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                      </div>
                  </ng-template>
                  </p-dropdown>
          </div>
      </div>

<!-- 
        <div class="col-sm-6">
          <div class="field-group text label-8">
            <p-autoComplete panelStyleClass="search-user-by-phone" [(ngModel)]="cusId" name="cusId"  [baseZIndex]="102" appendTo="body" [style]="{width: '100%'}"
              [suggestions]="results" (onSelect)="onSelectCus($event)" placeholder="Tìm kiếm theo tên , SĐT.."
              (completeMethod)="search($event)" field="fullName">
              <ng-template let-value pTemplate="item">
                <div class="result_cus_item">
                  <label class="">{{ value.employeeName }}</label>
                  <span class="phone">{{ value.phone }}</span>
                </div>
              </ng-template>
            </p-autoComplete>
            <label>Tên nhân viên<span style="color:red">*</span></label>
            </div>
        </div> -->

        <div class="col-sm-6">
          <div class="fields">
            <label>Mã thẻ
              <span *ngIf="modelTM.vehicleTypeIdTM != 1" style="color:red">*</span>
            </label>
            <!-- <input type="text" class="form-control" name="vehiclecardCd" [(ngModel)]="modelTM.vehiclecardCd"
              id="vehiclecardCd" [required]="modelTM.vehicleTypeIdTM != 1" #vehiclecardCd="ngModel" placeholder="Mã thẻ"> -->
  
              <p-dropdown 
                appendTo="body" 
                #vehiclecardCd="ngModel"
                [required]="modelTM.vehicleTypeIdTM != 1"
                [baseZIndex]="100" [autoDisplayFirst]="false" 
                  [options]="listCard" [(ngModel)]="modelTM.vehiclecardCd" name="vehiclecardCd" >
                  <ng-template let-item pTemplate="selectedItem">
                      <span style="vertical-align:middle;">{{item.label}}</span>
                  </ng-template>
                  <ng-template let-car pTemplate="item">
                      <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                          <div style="">{{car.label}}</div>
                      </div>
                  </ng-template>
              </p-dropdown>

            <div *ngIf="vehiclecardCd.errors && (vehiclecardCd.dirty || vehiclecardCd.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehiclecardCd.errors.required">Trường này bắt buộc nhập</div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="fields">
            <label>Loại xe</label>
            <select [disabled]="modelTM.type == 2" [(ngModel)]="modelTM.vehicleTypeIdTM" class="form-control"
              name="vehicleTypeIdTM" id="vehicleTypeIdTM" #vehicleTypeIdTM="ngModel">
              <option *ngFor="let advert of vehicleTypes; let i = index" value="{{vehicleTypes[i].vehicleTypeId}}"
                [selected]="i==0"> {{vehicleTypes[i].vehicleTypeName}} </option>
            </select>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group text label-8">
            <label>Biển số xe
              <span style="color:red">*</span>
            </label>
            <input type="text" class="form-control" name="vehicleNoTM" [(ngModel)]="modelTM.vehicleNoTM" id="vehicleNoTM"
              required #vehicleNoTM="ngModel" placeholder="Biển số xe">
            <div *ngIf="vehicleNoTM.errors && (vehicleNoTM.dirty || vehicleNoTM.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehicleNoTM.errors.required">Trường này bắt buộc nhập</div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group text label-8">
            <label>Tên xe
              <span style="color:red">*</span>
            </label>
            <input type="text" class="form-control" name="vehicleNameTM" [(ngModel)]="modelTM.vehicleNameTM"
              id="vehicleNameTM" required #vehicleNameTM="ngModel" placeholder="Tên xe">
            <div *ngIf="vehicleNameTM.errors && (vehicleNameTM.dirty || vehicleNameTM.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehicleNameTM.errors.required">Trường này bắt buộc nhập</div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group date label-8">
            <div class="datepicker-container">
              <label>Ngày bắt đầu</label>
              <p-calendar [(ngModel)]="modelTM.startTimeTM" appendTo="body" [baseZIndex]="100" name="startTimeTM"
                dateFormat="dd/mm/yy"></p-calendar>
            </div>
          </div>
        </div>

        <div class="col-sm-6 mb-5" >
          <div class="mb-1" style="margin-bottom: 10px; font-weight: 500;display: block;">Ngày kết thúc</div>
          <div>
            <div class="checkbox-default d-flex mb-0">
              <input id="vo-han" name="isEnddateVehicleCard" type="radio" [checked]="!modelTM.endTimeTM" (click)="checkEnddateVehicleCard(true)">
              <label for="vo-han" class="mb-0">Vô hạn</label>
            </div>
            <div class="checkbox-default d-flex mb-0">
              <div class="checkbox-default d-flex mb-0">
                <input id="ngay-het-han" name="isEnddateVehicleCard" type="radio" [checked]="modelTM.endTimeTM" (click)="checkEnddateVehicleCard(false)">
                <label for="ngay-het-han" class="mb-0">Hết hạn ngày</label>
              </div>
              </div>
              <div class="datepicker-container" *ngIf="showVehicleCard">
                <div class="field-group date label-8" [ngClass]="modelTM.endTimeTM ? 'valid' : 'date-invalid' ">
                  <label>Ngày hạn</label>
                  <p-calendar [(ngModel)]="modelTM.endTimeTM" appendTo="body" [baseZIndex]="100" name="endTimeTM"
                    dateFormat="dd/mm/yy"></p-calendar>
                  </div>
              </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="field-group text label-8">
            <label>Màu xe
              <!-- <span style="color:red">*</span> -->
            </label>
            <input type="text" class="form-control" name="vehicleColorTM" [(ngModel)]="modelTM.vehicleColorTM"
              id="vehicleColorTM"  #vehicleColorTM="ngModel" placeholder="Nhập màu xe">
            <!-- required <div *ngIf="vehicleColor.errors && (vehicleColor.dirty || vehicleColor.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehicleColor.errors.required">Trường này bắt buộc nhập</div>
            </div> -->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="field-group textarea label-8">
            <label>Ghi chú
              <!-- <span style="color:red">*</span> -->
            </label>
            <textarea class="form-control" name="noteTM" [(ngModel)]="modelTM.noteTM"
              id="noteTM"  #noteTM="ngModel" placeholder="Nhập ghi chú"></textarea>
            <!-- required <div *ngIf="vehicleColor.errors && (vehicleColor.dirty || vehicleColor.touched)"
              class="alert-validation alert-danger">
              <div *ngIf="vehicleColor.errors.required">Trường này bắt buộc nhập</div>
            </div> -->
          </div>
        </div>
    </div>
    
    <div class="d-flex">
      <div class="col-md-4 image-vehicle" *ngFor="let imgUrl of modelTM.imageLinks; let indexImg = index">
        <h4>{{ indexImg === 0 || indexImg === 1 ? 'Ảnh giấy chứng nhận đăng ký xe' : 'Ảnh biển số xe' }}</h4>
        <div class="img">
          <p-image src="{{ imgUrl?.url ? imgUrl?.url : '/../../../../assets/images/file.png' }}" [preview]="true" alt="Image" ></p-image>
           <p-fileUpload 
             mode="basic" 
             name="demo[]" 
             [chooseIcon]="'pi pi-upload'"
             accept="image/*" 
             [maxFileSize]="10000000" 
             (onSelect)="uploadImageVehicle($event, indexImg)">
           </p-fileUpload>
           <span class="pi pi-times delete-image" *ngIf="imgUrl?.url" (click)="deleteImg(indexImg)"></span>
         </div>
       </div>
    </div>
  </div>
    <div class="row mt-1">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-right">
        <p-button label="{{ modelTM.cardVehicleId ? ' Cập nhật ' : 'Tạo thẻ'}}" icon="pi pi-check" styleClass="p-button-sm mr-1"
          (onClick)="SaveVehicleCard();"></p-button>
        <p-button label="Đóng" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-1"
          (onClick)="displayCreateVehicleCard = !displayCreateVehicleCard"></p-button>
      </div>
    </div>
  </form>
</p-dialog>


<p-dialog [(visible)]="displayVehicleApprove"  [baseZIndex]="99" [modal]="true" [style]="{width: '600px', height: 'auto'}">
    <p-header>
      Phê duyệt vé xe
    </p-header>
    <form action="" #createSMSF="ngForm">
      <div class="box-body">
  
        <div class="col-md-12">
            <div class="field-group text label-8">
              <label>Mã thẻ
                <span style="color:red">*</span>
              </label>
              <input type="text" class="form-control" name="cardCd" disabled [(ngModel)]="modelApprove.cardCd" id="cardCd" required
                #cardCd="ngModel" placeholder="Mã thẻ">
              <div *ngIf="cardCd.errors && (cardCd.dirty || cardCd.touched)" class="alert-validation alert-danger">
                <div *ngIf="cardCd.errors.required">Trường này bắt buộc nhập</div>
              </div>
            </div>
        </div>
  
        <div class="col-md-12">
            <label class="control-label" style="margin-bottom: 10px; font-weight: 500;display: block;">Ngày hết hạn</label>
            <div class="checkbox-default d-flex mb-0">
              <label for="vo-han" class="mb-0">Vô hạn</label>
              <input id="vo-han" name="isEnddate" type="radio" checked (click)="checkEnddate(true)">
            </div>
            <div class="checkbox-default d-flex mb-0">
              <label for="het-han-ngay">Hết hạn ngày</label>
              <input id="het-han-ngay" name="isEnddate" type="radio" (click)="checkEnddate(false)">
            </div>
            <div class="datepicker-container" *ngIf="show">
              <div class="field-group date" [ngClass]="modelTM.endTime ? 'valid' : 'date-invalid' ">
                <label>Ngày hạn</label>
                  <p-calendar [(ngModel)]="modelTM.endTime" appendTo="body" [baseZIndex]="100" name="endTime"
                    dateFormat="dd/mm/yy"></p-calendar>
                </div>
            </div>
        </div>
  
      </div>
      <div class="row mt-1">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
          <p-button label="Tạo thẻ" icon="pi pi-check" styleClass="p-button-sm mr-1"
            (onClick)="SaveVehicleApprove(); createSMSF.reset()"></p-button>
          <p-button label="Đóng" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-1"
            (onClick)="displayVehicleApprove = !displayVehicleApprove"></p-button>
        </div>
      </div>
    </form>
  </p-dialog>
  <p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
  [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
  <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>

<p-menu [model]="itemsToolOfGrid" [appendTo]="'body'" [popup]="true"
styleClass="menu-option-right" #menuButton></p-menu>

<p-overlayPanel #op [style]="{'width': '40rem'}" [dismissable]="false" appendTo="body" >
  <ng-template pTemplate>
      <app-form-filter *ngIf="listViewsFilter.length > 0" [listFields]="listViewsFilter" [detailInfoFilter]="detailInfoFilter" [buttonsFilters] ="optionsButonFilter" (callback)="filterLoad($event)" (close)="close($event);op.hide()"></app-form-filter>
  </ng-template>
</p-overlayPanel>

<p-dialog header="{{ isNew ? 'Thêm mới xe' : 'Sửa xe' }}" (onHide)="closeDetailVehic()" [(visible)]="isDetailVehic" 
[modal]="true" [style]="{width: '50vw'}" 
[maximizable]="true"
[draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
<app-edit-detail *ngIf="listViews.length> 0" 
  [detail]="detailInfo" [manhinh]="'Edit'" 
  [optionsButtonsEdit]="optionsButon" 
  [dataView]="listViews"
  (callback)="setEmpVehicleInfo($event)" (callbackcancel)="quaylai($event)"></app-edit-detail>
  <app-loading-detail 
      [id]="'sections-2qnt'" 
      *ngIf="listViews.length === 0">
  </app-loading-detail>

  <div class="d-flex">
    <div class="col-md-4 image-vehicle" *ngFor="let imgUrl of modelTM.imageLinks; let indexImg = index">
      <h4>{{ indexImg === 0 || indexImg === 1 ? 'Ảnh giấy chứng nhận đăng ký xe' : 'Ảnh biển số xe' }}</h4>
      <div class="img">
        <p-image src="{{ imgUrl?.url ? imgUrl?.url : '/../../../../assets/images/file.png' }}" [preview]="true" alt="Image" ></p-image>
         <p-fileUpload 
            *ngIf="!modelTM.imageLinks[indexImg]?.url"
            mode="basic" 
            name="demo[]" 
            [chooseIcon]="'pi pi-upload'"
            accept="image/*" 
            [maxFileSize]="10000000" 
            (onSelect)="uploadImageVehicle($event, indexImg)">
         </p-fileUpload>
         <span class="pi pi-times delete-image" *ngIf="imgUrl?.url" (click)="deleteImg(indexImg)"></span>
       </div>
     </div>
  </div>
</p-dialog>

<app-hrm-search-emp 
    *ngIf="isSearchEmp" 
    [isSearch]="isSearchEmp" 
    [apiSearchFor]="'/api/v2/employee/GetEmployeeSearchPopupVehicle'"
    (seachEmValue)="seachEmValue($event)">
</app-hrm-search-emp>