.box-body{
    .form-row{
        &:after{
            content: '';
            clear: both;
            display: table;
        }
    }
}
.result_cus_item{
    span{
        display: block;
    }
}
:host::ng-deep{
    .search-user-by-phone{
        ul{
            li{
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
        }
    }
    .field-group select{
        min-height: 50px;
    padding-top: 25px;
    }
}
.search-user-by-phone{
    ul{
        li{
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    }
}
