.box-body{
    .form-row{
        &:after{
            content: '';
            clear: both;
            display: table;
        }
    }
}
.result_cus_item{
    span{
        display: block;
    }
}
:host::ng-deep{
    .search-user-by-phone{
        ul{
            li{
                padding-top: 5px !important;
                padding-bottom: 5px !important;
            }
        }
    }
}
.search-user-by-phone{
    ul{
        li{
            padding-top: 5px !important;
            padding-bottom: 5px !important;
        }
    }
}

:host::ng-deep .image-vehicle{
    .img{
        position: relative;
        max-height: 180px;
        border: 1px solid #cccc;
        overflow: hidden;
        text-align: center;
        img{
            width: 100%;
            height: auto;
            min-height: 160px;
        }
        .p-fileupload-choose{
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    .p-image-mask{
        .ng-trigger{
            height: calc(100% - 120px);
            img{
                height: 100%;
            }
        }
    }
}