<!-- <p-selectButton  
[options]="optionsButtonsEdit" 
optionLabel="label"
optionValue="value"
[(ngModel)]="buttonSave"
styleClass="text-right two-buttons"
(onChange)="onChangeButtonEdit($event)"
></p-selectButton> -->

<div class="main-grid text-right btn-group-edit-detail" style="position: absolute; right: 0; z-index: 1; top: 5px;">
    <ng-container *ngFor="let button of optionsButtonsEdit">
        <p-button label="{{button.label}}" (onClick)="onChangeButtonEdit(button.value)" icon="{{button?.icon ? button?.icon : 'pi pi-plus'}}" styleClass="p-button-sm {{button?.class ? button?.class : ''}} mr-1"></p-button>
    </ng-container>
</div>
<div *ngFor="let group of dataView; let idx = index">
    <div class="fields-section border-section">
        <p-card>
            <ng-template pTemplate="header">
                <div class="panel-heading">
                    <h3 class="panel-title"> {{group.group_name}}</h3>
                </div>
            </ng-template>
            <div class="row">
                <div *ngFor="let element of group.fields;let i=index" 
                [hidden]="!element.isVisiable"
                [ngClass]="{'isEmpty': element.isEmpty, 'has-image': includeImage && element?.columnType === 'image', 'image-iam': element?.columnType === 'image'}" 
                class="{{element.columnClass}} ">
                <app-type-text [modelFields]="modelFields" [element]="element" [submit]="submit" *ngIf="element?.columnType === 'input'"></app-type-text>
                <app-type-select [element]="element" *ngIf="element.columnType === 'select'"></app-type-select>
                <app-type-selectTree [element]="element" *ngIf="element.columnType === 'selectTree' && element.isVisiable" [dataView]="dataView"></app-type-selectTree>
                <app-type-dropdown [modelFields]="modelFields" [element]="element" *ngIf="element.columnType === 'dropdown'" [submit]="submit" [paramsObject]="paramsObject" [dataView]="dataView" (callback)="resetData($event)"></app-type-dropdown>
                <app-type-number [element]="element" *ngIf="element.columnType === 'number'"></app-type-number>
                <app-type-currency [element]="element" *ngIf="element.columnType === 'currency'"></app-type-currency>
                <app-type-checkbox [element]="element" *ngIf="element.columnType === 'checkbox'"></app-type-checkbox>
                <app-type-textarea [element]="element" *ngIf="element.columnType === 'textarea'"></app-type-textarea>
                <app-type-datetime [modelFields]="modelFields" [submit]="submit" [element]="element" *ngIf="element.columnType === 'datetime'"></app-type-datetime>
                <app-type-datefulltime [element]="element" *ngIf="element.columnType === 'datefulltime'"></app-type-datefulltime>
                <app-type-timeonly [element]="element" *ngIf="element.columnType === 'timeonly'"></app-type-timeonly>
                <app-type-multiSelect [element]="element" *ngIf="element.columnType === 'multiSelect'" [modelFields]="modelFields" [submit]="submit" [dataView]="dataView"></app-type-multiSelect>
                <app-type-markdown [element]="element" [modelMarkdow]="modelMarkdow" *ngIf="element.columnType === 'markdown'"></app-type-markdown>
                <app-type-checkboxList [element]="element" *ngIf="element.columnType === 'checkboxList'"></app-type-checkboxList>
                <app-type-checkboxradiolist [element]="element" *ngIf="element.columnType === 'checkboxradiolist'"></app-type-checkboxradiolist>
                <app-type-linkurl [element]="element" *ngIf="element.columnType === 'linkUrl'" [dataView]="dataView"></app-type-linkurl>
            </div>
            </div>
        </p-card>
    </div>
</div>


