<div class="grid main-grid">
    <div class="col-12 right max-w-full">
        <div class="bread-filter">
            <div class="d-flex bet middle">            
                <app-hrm-breadcrumb [items]="items"></app-hrm-breadcrumb>
                <p-button styleClass="p-button-sm" icon="pi pi-plus" label="Thêm mới" (click)="themmoi()"></p-button>
                <p-button styleClass="p-button-sm" icon="pi pi-plus" label="Cấu hình" (click)="cauhinh()"></p-button>
            </div>
            <div class="grid filter">
                <div class="header-filter-search x-2">
                    <div class="field-group search text" [ngClass]="query.filter ? 'valid' : 'invalid'">
                        <input class="input-default" type="text" id="filter"
                            (keydown.enter)="query.offSet = 0; first = 0;load()"
                            [(ngModel)]="query.filter">
                            <label>Tên đăng nhập</label>
                            <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M10.1305 11.2619C9.28558 11.8771 8.24518 12.24 7.12002 12.24C4.29231 12.24 2 9.94772 2 7.12002C2 4.29231 4.29231 2 7.12002 2C9.94772 2 12.24 4.29231 12.24 7.12002C12.24 8.24518 11.8771 9.28558 11.2619 10.1305L13.7657 12.6343C14.0781 12.9467 14.0781 13.4533 13.7657 13.7657C13.4533 14.0781 12.9467 14.0781 12.6343 13.7657L10.1305 11.2619ZM11.28 7.12002C11.28 9.41753 9.41753 11.28 7.12002 11.28C4.8225 11.28 2.96 9.41753 2.96 7.12002C2.96 4.8225 4.8225 2.96 7.12002 2.96C9.41753 2.96 11.28 4.8225 11.28 7.12002Z"
                                    fill="#808AA6" />
                            </svg>
                        </span>
                        <!-- <i id="icon-search" class="pi pi-angle-down"></i> -->
                        <!-- <p-button class="search-button" icon="pi pi-search" (click)="query.offSet = 0; first = 0; load()">
                        </p-button> -->
                    </div>
                    <div class="input-group-append dropdown">
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-default" #container>
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayAdd" [autoZIndex]="true" [modal]="true" [style]="{width: '1000px', height: 'auto'}" [draggable]="false" [resizable]="false">
    <p-header>
      {{titleForm}}
    </p-header> 
    <div class="col-md-12">
        <div class="field-group text label-8">
            <input type="text" class="form-control" [value]="chiTietNguoiDUng?.userLogin" name="userLogin" placeholder="Nhập tên đăng nhập">
            <label for="">Tên đăng nhập</label>
        </div>
    </div>
    <div class="col-md-12 mt-1">
        <div class="field-group text label-8">
            <input type="text" class="form-control" [value]="chiTietNguoiDUng?.fullName" name="fullName" placeholder="Nhập họ và tên">
            <label for="">Họ và tên</label>
        </div>
    </div>
    <div class="col-md-12  mt-1">
        <div class="field-group text label-8">
            <input type="text" class="form-control" [value]="chiTietNguoiDUng?.phone" name="phone" placeholder="Nhập số điện thoại">
            <label for="">Số điện thoại</label>
        </div>
    </div>
    <div class="col-md-12  mt-1">
        <div class="field-group text label-8">
            <input type="text" class="form-control" [value]="chiTietNguoiDUng?.email" name="email" placeholder="Nhập thư điện tử">
            <label for="">Thư điện tử</label>
        </div>
    </div>
    <!-- <div class="col-md-12  mt-1">
        <label for="">Phòng</label>
        <input type="text" class="form-control" [value]="chiTietNguoiDUng?.departmentName" name="departmentName"  >
    </div> -->
    <div class="col-md-12  mt-1">
        <div class="field-group select" [ngClass]="modelAdd.parentId ? 'valid' : 'invalid' ">
            <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                [options]="managerLists" [(ngModel)]="modelAdd.parentId" name="parentId">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <label for="">Người quản lý</label>
        </div>
    </div>
    <div class="col-md-12  mt-1">
        <div class="p-field-checkbox mb-2">
            <label for="binary"> Là admin</label>
            <p-checkbox [(ngModel)]="modelAdd.admin_st" binary="true" inputId="binary"></p-checkbox>
        </div>
    </div>
    <div class="col-md-12  mt-1">
        <div class="field-group select" [ngClass]="modelAdd.position ? 'valid' : 'invalid' ">
            <label for="">Chức vụ</label>
            <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
            [options]="dataPositionList" [(ngModel)]="modelAdd.position" name="position">
            <ng-template let-item pTemplate="selectedItem">
                <span>{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                </div>
            </ng-template>
            </p-dropdown>
        </div>
    </div>
   <div class="col-md-12 mt-1 text-right">
       <p-button label="Lưu lại" icon="pi pi-check" styleClass="p-button-sm" (click)="save()" ></p-button>
   </div>
</p-dialog> 

<p-dialog [(visible)]="seachManager" [autoZIndex]="true" [modal]="true" [style]="{width: '1000px', height: 'auto'}" [draggable]="false" [resizable]="false">
    <!-- <ngx-loading [show]="loading1" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->
    <p-header >
      Tìm kiếm Tài khoản
  </p-header>
  <p-panel header="Nhập tên nhân viên tìm kiếm">
    <div class="field-group select label-8">
        <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
        [options]="organizes" [(ngModel)]="orgId" name="orgId"   [filter]="true">
        <ng-template let-item pTemplate="selectedItem">
            <span>{{item?.label}}</span>
        </ng-template>
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="font-size:14px;float:right;margin-top:4px">{{car?.label}}</div>
            </div>
        </ng-template>
        </p-dropdown>
        <label for="">Chọn tổ chức</label>
    </div>
    <div class="field-group text label-8">
        <p-autoComplete [(ngModel)]="valueSearchUser" name="valueSearchUser" placeholder="" [suggestions]="listUser" (onSelect)="onSelectUser($event)"
        (completeMethod)="getListUserMaster($event)" field="label"></p-autoComplete>
        <label>Tìm kiếm tên nhân viên</label> 
    </div>
    
    
    
    
    
    
    
    
    <!-- <div class="field-group text" [ngClass]="valueSearchUser ? 'valid' : 'invalid' ">
            <p-autoComplete [(ngModel)]="valueSearchUser" name="valueSearchUser" placeholder="" [suggestions]="listUser" (onSelect)="onSelectUser($event)"
            (completeMethod)="getListUserMaster($event)" field="label"></p-autoComplete>
            <label>Tìm kiếm tên nhân viên</label>
        </div> -->
    </p-panel>
    <p-panel header="Thông tin tài khoản">
        <div class="grid-default border">
            <app-list-grid-angular *ngIf="columnDefs1.length > 0" [listsData]="managerInfoList" [height]="400"
                [columnDefs]="columnDefs1"></app-list-grid-angular>
            </div>
    <ng-template pTemplate="footer">
        <p-button label="Đóng"  styleClass="p-button-secondary" (click)="seachManager = !seachManager"></p-button>
    </ng-template>
    </p-panel>
   
  </p-dialog>

  <p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>