<div class="main-grid">
    <section class="bread-crumb">
      <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
    <section class="bread-filter">
        <div class="d-flex bet end bottom gap-16">
            <div class="col-item">
                <div class="filter filter-search">
                    <div class="field-group text search mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                        <input class="input-default" placeholder="Tìm kiếm" type="text" autocomplete="off" id="filter"
                            (click)="op.toggle($event)" (keydown.enter)="query.offSet = 0; first = 0;load()"
                            [(ngModel)]="query.filter">
                            <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                                <svg _ngcontent-gwb-c197="" width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path _ngcontent-gwb-c197="" fill-rule="evenodd" clip-rule="evenodd" d="M9.02893 0.850098C4.51087 0.850098 0.849609 4.51552 0.849609 9.03539C0.849609 13.5553 4.51087 17.2207 9.02893 17.2207C10.8456 17.2207 12.5254 16.6271 13.8828 15.6241L17.1276 18.8716C17.4984 19.2427 18.0999 19.243 18.4711 18.8721C18.8422 18.5013 18.8425 17.8998 18.4716 17.5286L15.2709 14.3252C16.4787 12.8991 17.2083 11.0518 17.2083 9.03539C17.2083 4.51552 13.547 0.850098 9.02893 0.850098ZM2.74961 9.03539C2.74961 5.56338 5.56169 2.7501 9.02893 2.7501C12.4962 2.7501 15.3083 5.56338 15.3083 9.03539C15.3083 10.8568 14.5355 12.496 13.2976 13.645C12.1765 14.6858 10.6778 15.3207 9.02893 15.3207C5.56169 15.3207 2.74961 12.5074 2.74961 9.03539Z" fill="#2B2F33" fill-opacity="0.6"></path></svg>
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="d-flex align-items-center gap-16">
                    <p-button styleClass="p-button-sm mr-1 height-56" icon="pi pi-plus" label="Thêm mới" (click)="themmoi()"></p-button>
                    <p-button styleClass="p-button-sm height-56" icon="pi pi-plus" label="Cấu hình" (click)="cauhinh()"></p-button>
                </div>
            </div>
        </div>
        <p-overlayPanel #op [style]="{width: '700px'}" styleClass="advance-seach">
            <ng-template pTemplate>
                <div class="header-filter-search  grid">
                    <h3>Tìm kiếm nâng cao</h3>
                </div>
                <div class="header-filter-search grid mt-1">
                    <div class="icon col-12 pl-0" style="display: flex; flex-wrap: wrap;">
                        <!-- <div class="col-6">
                            <div class="field-group select valid">
                                <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                                [options]="orgRoots" [(ngModel)]="query.organizeId" name="organizeId" (onChange)="find()">
                                <ng-template let-item pTemplate="selectedItem">
                                    <span style="vertical-align:middle;">{{item.label}}</span>
                                </ng-template>
                                <ng-template let-car pTemplate="item">
                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="">{{car.label}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                            <label  for=""> Tổ chức: </label>
                            </div>
                        </div> -->
                     
                    </div>
                    <div class="input-group icon col-12 select-default pr-0 text-right">
                        <label for="" style="visibility: hidden;">Classid <span class="pi pi-info-circle"
                                style="font-size: 13px;color: orange;"></span></label>
                        <p-button label="Tìm kiếm" styleClass="mr-1" icon="pi pi-search" (click)="load()">
                        </p-button>
                        <p-button label="Làm mới" icon="pi pi-times" (click)="cancel()"
                            styleClass="p-button-secondary">
                        </p-button>
                    </div>
                </div>
            </ng-template>
        </p-overlayPanel>
    </section>
    <section class="content pb-0">
        <div class="grid-default" #container>
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </section>
</div>

<p-dialog [(visible)]="displayAdd" [autoZIndex]="true" [modal]="true" [style]="{width: '1000px', height: 'auto'}" [draggable]="false" [resizable]="false">
    <p-header>
      {{titleForm}}
    </p-header> 
    <div class="col-md-12">
        <div class="field-group text label-8">
            <label for="">Tên đăng nhập</label>
            <input type="text" class="form-control" [value]="chiTietNguoiDUng?.userLogin" name="userLogin" placeholder="Nhập tên đăng nhập">
        </div>
    </div>
    <div class="col-md-12 mt-1">
        <div class="field-group text label-8">
            <label for="">Họ và tên</label>
            <input type="text" class="form-control" [value]="chiTietNguoiDUng?.fullName" name="fullName" placeholder="Nhập họ và tên">
        </div>
    </div>
    <div class="col-md-12  mt-1">
        <div class="field-group text label-8">
            <label for="">Số điện thoại</label>
            <input type="text" class="form-control" [value]="chiTietNguoiDUng?.phone" name="phone" placeholder="Nhập số điện thoại">
        </div>
    </div>
    <div class="col-md-12  mt-1">
        <div class="field-group text label-8">
            <label for="">Thư điện tử</label>
            <input type="text" class="form-control" [value]="chiTietNguoiDUng?.email" name="email" placeholder="Nhập thư điện tử">
        </div>
    </div>
    <!-- <div class="col-md-12  mt-1">
        <label for="">Phòng</label>
        <input type="text" class="form-control" [value]="chiTietNguoiDUng?.departmentName" name="departmentName"  >
    </div> -->
    <div class="col-md-12  mt-1">
        <div class="field-group select" [ngClass]="modelAdd.parentId ? 'valid' : 'invalid' ">
            <label for="">Người quản lý</label>
            <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                [options]="managerLists" [(ngModel)]="modelAdd.parentId" name="parentId">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="col-md-12  mt-1">
        <div class="p-field-checkbox mb-2">
            <label for="binary"> Là admin</label>
            <p-checkbox [(ngModel)]="modelAdd.admin_st" binary="true" inputId="binary"></p-checkbox>
        </div>
    </div>
    <div class="col-md-12  mt-1">
        <div class="field-group select" [ngClass]="modelAdd.position ? 'valid' : 'invalid' ">
            <label for="">Chức vụ</label>
            <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
            [options]="dataPositionList" [(ngModel)]="modelAdd.position" name="position">
            <ng-template let-item pTemplate="selectedItem">
                <span>{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                </div>
            </ng-template>
            </p-dropdown>
        </div>
    </div>
   <div class="col-md-12 mt-1 text-right">
       <p-button label="Lưu lại" icon="pi pi-check" styleClass="p-button-sm" (click)="save()" ></p-button>
   </div>
</p-dialog> 

<p-dialog [(visible)]="seachManager" [autoZIndex]="true" [modal]="true" [style]="{width: '1000px', height: 'auto'}" [draggable]="false" [resizable]="false">
    <!-- <ngx-loading [show]="loading1" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->
    <p-header >
      Tìm kiếm Tài khoản
  </p-header>
  <p-panel header="Nhập tên nhân viên tìm kiếm">
    <div class="field-group select label-8">
        <label for="">Chọn tổ chức</label>
        <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
        [options]="organizes" [(ngModel)]="orgId" name="orgId"   [filter]="true">
        <ng-template let-item pTemplate="selectedItem">
            <span>{{item?.label}}</span>
        </ng-template>
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
            <div style="font-size:14px;float:right;margin-top:4px">{{car?.label}}</div>
            </div>
        </ng-template>
        </p-dropdown>
    </div>
    <div class="field-group text label-8">
        <p-autoComplete [(ngModel)]="valueSearchUser" name="valueSearchUser" placeholder="" [suggestions]="listUser" (onSelect)="onSelectUser($event)"
        (completeMethod)="getListUserMaster($event)" field="label"></p-autoComplete>
        <label>Tìm kiếm tên nhân viên</label> 
    </div>
    
    
    
    
    
    
    
    
    <!-- <div class="field-group text" [ngClass]="valueSearchUser ? 'valid' : 'invalid' ">
            <p-autoComplete [(ngModel)]="valueSearchUser" name="valueSearchUser" placeholder="" [suggestions]="listUser" (onSelect)="onSelectUser($event)"
            (completeMethod)="getListUserMaster($event)" field="label"></p-autoComplete>
            <label>Tìm kiếm tên nhân viên</label>
        </div> -->
    </p-panel>
    <p-panel header="Thông tin tài khoản">
        <div class="grid-default border">
            <app-list-grid-angular *ngIf="columnDefs1.length > 0" [listsData]="managerInfoList" [height]="400"
                [columnDefs]="columnDefs1"></app-list-grid-angular>
            </div>
    <ng-template pTemplate="footer">
        <p-button label="Đóng"  styleClass="p-button-secondary" (click)="seachManager = !seachManager"></p-button>
    </ng-template>
    </p-panel>
   
  </p-dialog>

  <p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>