<div class="content-body">
    <section id="configuration">
        <div class="card  p-2">
            <div class="row">
                <div class="col-sm-3 form-group">
                    <div class="field-group text" [ngClass]=" selectedMember ? 'valid' : 'invalid' ">
                        <p-autoComplete
                        [(ngModel)]="selectedMember"
                        [suggestions]="results"
                        (completeMethod)="search($event)"
                        field="displayName"
                        (onSelect) = "handleSelectedMember()"></p-autoComplete>
                        <label for="">Nội dung tìm kiếm</label>
                    </div>
                </div>
                <div class="col-sm-9 form-group text-right">
                    <label for="" style="visibility: hidden;">Nhập </label> <br>
                    <p-button icon="pi pi-plus" (click)="handleAdd()" styleClass="p-button-sm mr5" label="Thêm danh sách"></p-button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="grid-default border">
                        <app-list-grid-angular  *ngIf="columnDefs.length > 0"
                            [listsData]="members" [domLayout]="'autoHeight'"
                            [columnDefs]="columnDefs"></app-list-grid-angular>
                        </div>
                    <!-- <ag-grid-angular [modules]="modules" [suppressCsvExport]="true" [suppressExcelExport]="true" #agGrid
                        style="width: 100%; height: 500px" id="myGrid" class="ag-theme-balham" [rowData]="members"
                        [columnDefs]="columnDefs" [detailCellRendererParams]="detailCellRendererParams"
                        [detailRowHeight]="detailRowHeight" (gridReady)="onGridReady($event)"
                        [defaultColDef]="defaultColDef" enableCellTextSelection=true groupUseEntireRow="true"
                        [enableRangeSelection]="true" [animateRows]="true" [getRowHeight]="getRowHeight"
                        [frameworkComponents]="frameworkComponents">
                    </ag-grid-angular> -->
                </div>
            </div>
        </div>
    </section>
</div>