<div class="upload-default">
    <!-- <h5>File Upload</h5> -->
    <div class="card-block">
    <!-- <div class="sub-title">Example 1</div> -->
    <!-- <input type="file" name="files[]" id="filer_input1" multiple="multiple"> -->

    <p-fileUpload name="myfile[]"  [multiple]="multiple" (onSelect)="uploadFn($event)"
        chooseLabel="Browse Files"  
        [showUploadButton]="false"
        [showCancelButton]="false"
        accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,
        text/plain, application/pdf, image/*" [maxFileSize]="4000000">
        <!-- <ng-template let-file pTemplate="file">
            <div>Custom UI to display a file</div>
            {{file | json}}
        </ng-template> -->
        <ng-template pTemplate="content" let-files>
            <div class="files-content">Drag and drop files here</div>
            <ul *ngIf="listAttach.length" class="hscn-each-upload">
                <li *ngFor="let file of listAttach">
                        <img *ngIf="file.type === 'application/pdf' || file.type === 'application/msword' || file.type === 'application/vnd.ms-excel'; else isImage" src="/assets/images/image-pdf1.png" style="width: 50px;" alt="">
                        <ng-template #isImage>
                            <p-image src="{{file.url}}" alt="Image" [preview]="true" width="100"></p-image>
                        </ng-template>
                    <!-- {{file.name}} - {{file.size}} bytes -->
                </li>
            </ul>
        </ng-template>
</p-fileUpload>
<div class="col-md-12 text-right mt-1">
    <p-button styleClass="p-button-sm" label="Xác nhận" (click)="onSubmitUpload()"></p-button>
</div>
</div>