<section class="section-box">
    <div class="bg-grey base-info-em d-flex middle bet">
        <ul class="col-9">
            <li>
                <span class="label">Nhân viên:</span>
                <span class="value"> {{ dataEmployeeStatus?.fullName }}</span>
            </li>
            <li class="spre"><svg width="1" height="20" viewBox="0 0 1 20" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <line x1="0.5" x2="0.5" y2="20" stroke="#A3A9B9" />
                </svg>
            </li>
            <li>
                <span class="label">MNV:</span>
                <span class="value"> {{dataEmployeeStatus?.code}}</span>
            </li>
        </ul>
        <div class="col-3 gap-2 flex justify-content-end align-items-center" style="padding: 0;">
            <div class="fields " style="margin-bottom: 0;">
                <p-dropdown 
                *ngIf="listViews.length> 0 && status.length > 0" 
                    [options]="status" 
                    (onChange)="recruiUpdateStatus()"
                    [(ngModel)]="selectedStatus" 
                    [styleClass]="selectedStatus?.bgColor"  
                    [style]="{'width': '180px'}" 
                    optionLabel="name"  
                    placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem" >
                        <div class="flex align-items-center gap-2" *ngIf="selectedStatus" >
                            <div style="color: #fff">{{ selectedStatus.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2" *ngIf="country.value != selectedStatus?.value">
                            <div class="pb-2 pt-2" style="display: flex; align-items: center; width: 100%;justify-content: space-around;font-size: 13px;">
                                <span style="white-space:nowrap">{{ country.placeholder }} </span>
                                <span class="pi pi-arrow-right" style="font-size: 12px;"></span>
                                <span [class]="country.textColor" style="white-space:nowrap" class="pl-2 pr-2">{{ country.name }}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <p-splitButton icon="pi pi-send" *ngIf="menuActions.length > 0" styleClass="p-button-sm ml-2" [appendTo]="'body'" (onClick)="callActions(menuActions[0].value)" [label]="menuActions[0].label" [model]="menuActions"></p-splitButton>
            <p-button label="Quay lại" (click)="onBack()" styleClass="p-button-secondary p-button-sm ml-2" [style]="{'z-index': 9}" icon="pi pi-directions-alt"></p-button>
              </div>
        <!-- <div class="col-3 text-right">
            <div class="buttons" *ngIf="detailInfo?.emp_st === 1" >
                <p-button (click)="chuyenCongTac()"
                >
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.42992 2.57992H12.4299V4.57992H8.82992L10.8299 6.57992H18.4299V14.1799L20.4299 16.1799V6.57992C20.4299 5.46992 19.5399 4.57992 18.4299 4.57992H14.4299V2.57992C14.4299 1.46992 13.5399 0.579922 12.4299 0.579922H8.42992C7.43992 0.579922 6.62992 1.27992 6.46992 2.21992L8.42992 4.17992V2.57992ZM1.82992 0.419922L0.419922 1.82992L3.16992 4.57992H2.42992C1.31992 4.57992 0.439922 5.46992 0.439922 6.57992L0.429922 17.5799C0.429922 18.6899 1.31992 19.5799 2.42992 19.5799H18.1699L20.1699 21.5799L21.5799 20.1699L1.82992 0.419922ZM2.42992 17.5799V6.57992H5.16992L16.1699 17.5799H2.42992Z" fill="white"/>
                        </svg>
                        
                    &nbsp;
                    Chuyển công tác</p-button>&nbsp;
                <p-button (click)="fnNghiViec()">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.59 5.17L1.41 0L0 1.41L5.17 6.58L6.59 5.17ZM10.5 0L12.54 2.04L0 14.59L1.41 16L13.96 3.46L16 5.5V0H10.5ZM10.83 9.41L9.42 10.82L12.55 13.95L10.5 16H16V10.5L13.96 12.54L10.83 9.41Z" fill="white"/>
                    </svg>
                    &nbsp;
                    Nghỉ việc</p-button>

            </div>
        </div> -->
    </div>

</section>
<section>
    <div class="page-detail-edit-detail">
        <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [detailInfo]="detailInfo"
            [thongtinnhanvienNew]="true" [manhinh]="'Edit'" [optionsButtonsEdit]="[]"
            [dataView]="listViews" (callback)="setEmployeeInfo($event)"
            (callbackcancel)="cancelUpdate($event)">
        </app-edit-detail>
        <app-loading-detail 
            [id]="'employee-info-02'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>
        
        <app-qua-trinh-cong-tac [empId]="empId"  (cancelSave)="cancelSave()"></app-qua-trinh-cong-tac>

        <app-thoi-gian-lam-viec [empId]="empId"></app-thoi-gian-lam-viec>
        
        <!-- <p-tabView (onChange)="handleChange($event.index)" [(activeIndex)]="tabIndex">
            <p-tabPanel header="Quá trình công tác" leftIcon="{{dataEmployeeStatus?.profile_st ? 'pi pi-check-circle' : ''}} ">
            </p-tabPanel>
             <p-tabPanel header="Vị trí công việc" leftIcon="{{dataEmployeeStatus?.working_st ? 'pi pi-check-circle' : ''}} ">
            </p-tabPanel>
        </p-tabView> -->

    </div>
</section>

<p-dialog styleClass="popup-btngroup-edit-detail" header="{{titleForm.title}}" [(visible)]="displayDialog" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{width: '1300px'}" [autoZIndex]=true [draggable]="false" [resizable]="false">
            <app-edit-detail
                *ngIf="listViewsForm.length> 0 && displayDialog &&  (titleForm.type === 'DuyetHoSo' || titleForm.type === 'TuyenDungLai' || titleForm.type === 'ChuyenCongTac')"
                [detail]="detailInfoForm"  [thongtinnhanvienNew]="true" [dataView]="listViewsForm"
                (callback)="xacNhan($event)" (callbackcancel)="cancelViewsForm($event)"
                [noDisableInput]="noDisableInput"
                ></app-edit-detail>
            <div *ngIf="titleForm.type !== 'ChuyenCongTac'">
                    <div class="col-md-6 mt-1">
                        <div class="field-group text" [ngClass]=" modelDuyet.full_name ? 'valid' : 'invalid' ">
                            <label for="">Nhân viên</label>
                            <input type="text" [value]="modelDuyet.full_name || 'No name'" disabled name="full_name" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6 mt-1"  *ngIf="titleForm.type === 'NghiViec'">
                        <div class="fields" [ngClass]=" modelDuyet.reason_id? 'valid' : 'invalid' ">
                            <label for="">Lý do</label>
                            <p-dropdown [autoZIndex]="true" [autoDisplayFirst]="false" [style]="{'width': '100%'}" [options]="terminateReasons"
                            [(ngModel)]="modelDuyet.reason_id" name="reason_id">
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle; margin-left: .5em">{{item.name}}</span>
                            </ng-template>
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:right;margin-top:4px">{{car.name}}</div>
                                </div>
                            </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="col-md-6 mt-1 ">
                        <div class="field-group date">
                            <label for="">Ngày xác nhận</label>
                            <p-calendar placeholder="DD/MM/YYYY" appendTo="body" [baseZIndex]="101" [(ngModel)]="modelDuyet.workDt"
                                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"
                                dateFormat="dd/mm/yy" name="workDt"></p-calendar>
                        </div>
                    </div>
                    <div class="col-md-6 mt-1" *ngIf="titleForm.type === 'NghiViec'">
                        <div class="field-group date">
                            <label for="">Ngày chốt nghỉ <span style="color: red">*</span></label>
                            <p-calendar [required]="true" placeholder="DD/MM/YYYY" appendTo="body" [baseZIndex]="101" [(ngModel)]="modelDuyet.exprire_date"
                                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"
                                dateFormat="dd/mm/yy" name="exprire_date"></p-calendar>
                            <div class="alert-validation alert-danger" *ngIf="isSubmitSave && !modelDuyet.exprire_date"> 
                                Vui lòng chọn ngày chốt nghỉ 
                            </div>
                        </div>
                    </div>
                        <div class="col-md-12 mt-1">
                            <div class="field-group textarea">
                                <label for="">Ghi chú</label>
                                <textarea [(ngModel)]="modelDuyet.comments" name="comments" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                        </div>
            <div class="col-md-12 mt-1 text-right"  *ngIf="titleForm.type === 'HuyHoSo' || titleForm.type === 'MoLaiHoSo' || titleForm.type === 'NghiViec'">
                <p-button label="Hủy" (click)="onChangeButtonSave('Back')" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-1"></p-button>
                <p-button label="Lưu lại" (click)="onChangeButtonSave('Save')" icon="pi pi-check" styleClass="p-button-sm "></p-button>
            </div>
        </div>
</p-dialog>




<app-edit-vi-tri-cong-viec *ngIf="isEditDetail" [isEditDetail]="isEditDetail" [empId]="empId" (cancelSave)="cancelSetDetail($event)"></app-edit-vi-tri-cong-viec>


<!-- <p-dialog styleClass="popup-btngroup-edit-detail" [maximizable]="true" header=" Xác nhận nhân viên nghỉ việc" [(visible)]="displayFormTerminate" [modal]="true"  [draggable]="false" [resizable]="false"
    [style]="{width: '80vw'}" [autoZIndex]=true [draggable]="false" [resizable]="false">
    {{empId}}

</p-dialog> -->

<app-detail-terminate *ngIf="displayFormTerminate && empId" [isEditDetail]="displayFormTerminate" [isDialog]="true" [id]="" [empId]="empId" (callback)="cancelSetDetail($event)"></app-detail-terminate>


<p-dialog  header="Đổi người quản lý"
    [(visible)]="isShowInfoMg" 
    [modal]="true" [style]="{width: '1600px'}"
    [draggable]="false" [resizable]="false" [focusTrap]="false" 
    (onHide)="closeChangeMa()"
    >
        <app-edit-detail 
            [optionsButtonsEdit]="btnMgInfoDetail"   
            *ngIf="listViewsFormMgInfo.length> 0" 
            [detail]="detailMgInfo" 
            [manhinh]="'Edit'"  
            [dataView]="listViewsFormMgInfo"
            (callback)="setEmpManagerChange($event)" 
            (callbackcancel)="cancelViewMgInfo($event)">
        </app-edit-detail>
        <app-list-grid-angular 
            (callback)="rowSelected($event)"
            [rowSelection]="'multiple'"
            *ngIf="columnDefsMgChange.length > 0" 
            [listsData]="listData" 
            [height]="heightGridPopup"
            [columnDefs]="columnDefsMgChange">
        </app-list-grid-angular>
        <div class="paginator">
            <span>Từ {{ countRecord.currentRecordStart }} đến
                {{ countRecord.currentRecordEnd }}
                trên tổng số
                {{ countRecord.totalRecord }} kết quả</span>
            <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
            </p-paginator>
        </div>
</p-dialog>