<div class="row grid">
    <!-- <div class="col-sm-12">
        <div class="form-group">
          <label for="title">Loại nội dung</label>
          <select class="form-control custom-dropdown"  [(ngModel)]="modelMarkdow.type"
            name="type">
            <option value="{{item.value}}" *ngFor="let item of contentTypes">{{item.label}}</option>
          </select>
        </div>
      </div> -->
    
      <div class="col-12">
        <label for="desc"><b>Đính kèm ảnh</b>
          <span class="icon-choose-image">
            <i title="Chọn ảnh" class="fa fa-picture-o ml-1 pointer text-primary" aria-hidden="true" (click)="chooseImageContent()"></i>
          </span>
        </label>
        <div class="row form-group grid" >
          <div class="col-sm-6">{{modelMarkdow?.type == 0 || modelMarkdow?.type == 1 ? 'Nội dung Markdown' : 'Nội dung HTML'}} </div>
          <div class="col-sm-6">Hiển thị</div>
          <div class="col-12 mt-2">
            <md-editor id="content" name="content" [height]="'400px'" [(ngModel)]="element.columnValue"
               maxlength="2500"></md-editor>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="modelMarkdow.attack">
        <div class="form-group">
          <label for="title">Tệp đính kèm 
            <span class="ml-2 attack-file" (click)="handleAttackFile()">
              <i class="fa fa-paperclip" aria-hidden="true"></i>Chọn tệp đính kèm
            </span>
          </label>
          <app-attack-files [notify]="modelMarkdow"></app-attack-files>
        </div>
      </div>
     
</div>
  
<p-dialog [(visible)]="showDialogimage" [autoZIndex]="true" [modal]="true" [style]="{width: '1000px', height: 'auto'}">
    <p-header>
       Thư viện ảnh
    </p-header>
    <div class="row">
        <div class="col-sm-3 p-1" *ngFor="let advert of items; let i = index">
          <div class="one-image">
            <div class="image_wrapper">
              <img src="{{advert.documentUrl}}" alt="avatar" style="max-height: 100%; max-width: 100%;">
            </div>
            <button type="button" (click)="chooseImage(advert.documentUrl)">
              <i class="fa  fa-check"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 d-flex">
          <p-paginator [rows]="query.pageSize" [first]="first"
          [totalRecords]="pagingComponent?.total"
          (onPageChange)="paginate($event)"></p-paginator>
        </div>
        <div class="col-sm-6 text-right">
          <div class="form-group">
            <label for="file-upload" class="custom-file-upload">
              <i class="fa fa-cloud-upload"></i> Upload ảnh
            </label>
            <input id="file-upload" type="file" accept="image/*" 
              (change)="onUploadOutput($event)" />
          </div>
        </div>
      </div>
  </p-dialog>

  <p-dialog [(visible)]="showMedia" [autoZIndex]="true" [modal]="true" [style]="{width: '1300px', height: 'auto'}">
    <p-header>
      Quản lý thư viện
    </p-header>
    <app-media-list (save)="submitMedia($event)"></app-media-list>
  </p-dialog>