<div class="row grid">
    <!-- <div class="col-sm-12">
        <div class="form-group">
          <label for="title">Loại nội dung</label>
          <select class="form-control custom-dropdown"  [(ngModel)]="modelMarkdow.type"
            name="type">
            <option value="{{item.value}}" *ngFor="let item of contentTypes">{{item.label}}</option>
          </select>
        </div>
      </div> -->
    
      <div class="col-12">
        <label for="desc"><b>Đính kèm ảnh</b>
          <span class="icon-choose-image mb-3">
            <i title="Chọn ảnh" class="fa fa-picture-o ml-1 pointer text-primary" aria-hidden="true" (click)="chooseImageContent()"></i>
          </span>
        </label>
        <div class="row form-group grid" >
          <!-- <div class="col-sm-6">{{modelMarkdow?.type == 0 || modelMarkdow?.type == 1 ? 'Nội dung Markdown' : 'Nội dung HTML'}} </div> -->
          <div class="col-sm-6">Nội dung </div>
          <div class="col-sm-6">Hiển thị</div>
          <div class="col-12 mt-2"> 
                          <md-editor
                    #md="ngModel"
                    name="Content"
                    (onPreviewDomChanged)="onPreviewDomChanged($event)"
                    (onEditorLoaded)="onEditorLoaded($event)"
                    [preRender]="preRender"
                    [postRender]="postRender"
                    [upload]="doUpload"
                    #aceEditor
                    [(ngModel)]="content"
                    [mode]="mode"
                    [options]="options"
                    required
                    maxlength="600"
                    height="250px"
                    class="md-editor-binh-luan"
                  >
                    <div custom-btns class="d-flex">
                      <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                      [options]="contentTypes" [(ngModel)]="modelMarkdow.type" 
                      name="type" [filter]="true">
                      <ng-template let-item pTemplate="selectedItem">
                          <span>{{item.label}}</span>
                      </ng-template>
                      <ng-template let-car pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                              <div style="font-size:14px;margin-top:4px">{{car.label}}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
                      <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"  placeholder="Cấu hình Field" (onChange)="onChangedFieldItem()"
                      [options]="listNotifyFields" [(ngModel)]="FieldItem" 
                      name="type" [filter]="true">
                      <ng-template let-item pTemplate="selectedItem">
                          <span>{{item.label}}</span>
                      </ng-template>
                      <ng-template let-car pTemplate="item">
                          <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                              <div style="font-size:14px;margin-top:4px">{{car.label}}</div>
                          </div>
                      </ng-template>
                  </p-dropdown>
                     
                    </div>
                  </md-editor>
          </div>
        </div>
      </div>
      <div class="col-12" *ngIf="modelMarkdow.attack">
        <div class="form-group">
          <label for="title">Tệp đính kèm 
            <span class="ml-2 attack-file" (click)="handleAttackFile()">
              <i class="fa fa-paperclip" aria-hidden="true"></i>Chọn tệp đính kèm
            </span>
          </label>
          <app-attack-files [notify]="modelMarkdow"></app-attack-files>
        </div>
      </div>
     
</div>
  
  <p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="showDialogimage" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Thư viện ảnh </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <div class="row">
      <div class="col-sm-3 p-1" *ngFor="let advert of items; let i = index">
        <div class="one-image">
          <div class="image_wrapper">
            <img src="{{advert.documentUrl}}" alt="avatar" style="max-height: 100%; max-width: 100%;">
          </div>
          <button type="button" (click)="chooseImage(advert.documentUrl)">
            <i class="fa  fa-check"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex">
        <p-paginator [rows]="query.pageSize" [first]="first"
        [totalRecords]="pagingComponent?.total"
        (onPageChange)="paginate($event)"></p-paginator>
      </div>
      <div class="col-sm-6 text-right">
        <div class="form-group">
          <label for="file-upload" class="custom-file-upload">
            <i class="fa fa-cloud-upload"></i> Upload ảnh
          </label>
          <input id="file-upload" type="file" accept="image/*" 
            (change)="onUploadOutput($event)" />
        </div>
      </div>
    </div>
</p-sidebar>

  <p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="showMedia" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Quản lý thư viện </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <!-- <app-media-list (save)="submitMedia($event)"></app-media-list> -->
</p-sidebar>

