<div class="grid end">
    <div class="fields small col-2">
        <!-- <p-dropdown appendTo="body"  
            [baseZIndex]="100" 
            [options]="filterTypeOptions" 
            [(ngModel)]="timeKeepingQuery.filter_type" 
            [autoDisplayFirst]="false" 
            (onChange)="changeTypeFilter()"
            placeholder="Select type to filter" 
            name="organizeId" [filter]="true">
            <ng-template let-item pTemplate="selectedItem">
                <span>{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                </div>
            </ng-template>
        </p-dropdown> -->

        <p-calendar  (onSelect)="getTimekeepingDaily()"  placeholder="Select date to filter"
        panelStyleClass="datepicker-default" placeholder="(DD/MM/YYYY)"
        [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.toDate" 
        [monthNavigator]="true" 
        [yearNavigator]="true" inputId="navigators" dateFormat="dd/mm/yy"
        name="toDate"></p-calendar>
    </div>
</div>
<div class="d-flex gap12 box-items em-activities">
    <div class="wrap-knod d-flex middle gap6" >
        <ul class="note">
            <li pTooltip="Chưa checkin">
                <span class=""></span>
                <span >{{ timekeepingDaily?.checkin.num_fail }}</span>
            </li>
            <li  pTooltip="Đã checkin">
                <span class=""></span>
                <span>{{ timekeepingDaily?.checkin.num_right }}</span>
            </li>
            
        </ul>
        <p-card header="{{timekeepingDaily?.checkin.name}}" [style]="{'height': '170px', 'width': 'auto'}" >
            <p-knob (click)="navigateWithState(timekeepingDaily?.checkin)" [max]="timekeepingDaily?.checkin.num_fail + timekeepingDaily?.checkin.num_right" [(ngModel)]="timekeepingDaily?.checkin.num_fail" [valueColor]="'red'" [readonly]="true"></p-knob>
        </p-card>
    </div>
    <div class="wrap-knod d-flex middle gap6" >
        <ul class="note">
            <li  pTooltip="Checkin muộn">
                <span class=""></span>
                <span>{{ timekeepingDaily?.checkin_late.num_fail }}</span>
            </li>
            <li  pTooltip="Đã giải trình">
                <span class=""></span>
                <span >{{ timekeepingDaily?.checkin_late.num_right }}</span>
            </li>
            
        </ul>
        <p-card header="{{timekeepingDaily?.checkin_late.name}}" [style]="{'height': '170px', 'width': 'auto'}" >
            <p-knob (click)="navigateWithState(timekeepingDaily?.checkin_late)" [max]="timekeepingDaily?.checkin_late.num_fail + timekeepingDaily?.checkin_late.num_right" [(ngModel)]="timekeepingDaily?.checkin_late.num_fail" [valueColor]="'red'" [readonly]="true"></p-knob>
        </p-card>
    </div>
    <div class="wrap-knod d-flex middle gap6" >
        <ul class="note">
            <li pTooltip="Chưa Checkout">
                <span class=""></span>
                <span >{{ timekeepingDaily?.checkout.num_fail }}</span>
            </li>
            <li pTooltip="Đã Checkout">
                <span class=""></span>
                <span >{{ timekeepingDaily?.checkout.num_right }}</span>
            </li>
            
        </ul>
        <p-card header="{{timekeepingDaily?.checkout.name}}" [style]="{'height': '170px', 'width': 'auto'}" >
            <p-knob (click)="navigateWithState(timekeepingDaily?.checkout)" [max]="timekeepingDaily?.checkout.num_fail + timekeepingDaily?.checkout.num_right" [(ngModel)]="timekeepingDaily?.checkout.num_fail" [valueColor]="'red'" [readonly]="true"></p-knob>
        </p-card>
    </div>
    <div class="wrap-knod d-flex middle gap6" >
        <ul class="note">
            <li pTooltip="Về sớm">
                <span class=""></span>
                <span >{{ timekeepingDaily?.checkout_early.num_fail }}</span>
            </li>
            <li pTooltip="Checkout đúng giờ">
                <span class=""></span>
                <span >{{ timekeepingDaily?.checkout_early.num_right }}</span>
            </li>
            
        </ul>
        <p-card header="{{timekeepingDaily?.checkout_early.name}}" [style]="{'height': '170px', 'width': 'auto'}" >
            <p-knob (click)="navigateWithState(timekeepingDaily?.checkout_early)" [max]="timekeepingDaily?.checkout_early.num_fail + timekeepingDaily?.checkout_early.num_right" [(ngModel)]="timekeepingDaily?.checkout_early.num_fail" [valueColor]="'red'" [readonly]="true"></p-knob>
        </p-card>
    </div>
    <div class="wrap-knod d-flex middle gap6" >
        <ul class="note">
            <li pTooltip="Nghỉ không lương">
                <span class=""></span>
                <span >{{ timekeepingDaily?.leaves.num_fail }}</span>
            </li>
            <li pTooltip="Nghỉ có lương">
                <span class=""></span>
                <span >{{ timekeepingDaily?.leaves.num_right }}</span>
            </li>
            
        </ul>
         
        <p-card header="{{timekeepingDaily?.leaves.name}}" [style]="{'height': '170px', 'width': 'auto'}" >
            <p-knob (click)="navigateWithState(timekeepingDaily?.leaves)" [max]="timekeepingDaily?.leaves.num_fail + timekeepingDaily?.leaves.num_right" [(ngModel)]="timekeepingDaily?.leaves.num_fail" [valueColor]="'red'" [readonly]="true"></p-knob>
        </p-card>
    </div>
    <div class="wrap-knod d-flex middle gap6" >
        <ul class="note">
            <li pTooltip="Tính nửa công">
                <span class=""></span>
                <span >{{ timekeepingDaily?.workdays.num_fail }}</span>
            </li>
            <li pTooltip="Đủ công">
                <span class=""></span>
                <span >{{ timekeepingDaily?.workdays.num_right }}</span>
            </li>
            
        </ul>
        <p-card header="{{timekeepingDaily?.workdays.name}}" [style]="{'height': '170px', 'width': 'auto'}" >
            <p-knob (click)="navigateWithState(timekeepingDaily?.workdays)" [max]="timekeepingDaily?.workdays.num_fail + timekeepingDaily?.workdays.num_right" [(ngModel)]="timekeepingDaily?.workdays.num_fail" [valueColor]="'red'" [readonly]="true"></p-knob>
        </p-card>
    </div>
</div>