<div class="row">
  <div class="col-sm-12 form-group">
    <div class="field-group select label-8">
      <label>Loại thông báo</label>
        <!-- <p-dropdown appendTo="body" [autoZIndex]="true" [autoDisplayFirst]="false" 
        [options]="actions" [required] [(ngModel)]="action"
        name="action" [filter]="true">
        <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle;">{{item.label}}</span>
        </ng-template>
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
            </div>
        </ng-template>
      </p-dropdown> -->
      <div class="field-group multi-select">
        <label class="text-nowrap label-text" >Loại thông báo</label>
        <p-multiSelect 
        [options]="actions" 
        [appendTo]="'body'"
        [(ngModel)]="action"
        name="action" defaultLabel="Chọn loại thông báo" display="chip">
      </p-multiSelect>
    </div>
  </div>
<!-- 
  <div class="col-sm-8 text-right form-group">
    <label class="opacity0"></label>
    <div>
      <button class="btn btn-dropbox" (click)="handleSendNotify()"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Gửi thông báo</button>
      <button class="btn btn-github" (click)="closeModal()"><i class="fa fa-close" aria-hidden="true"></i> Đóng lại</button>
    </div>
  </div> -->

  <div class="col-sm-12 ">
    <app-grid-push-list [notify]="notify" [indexTab]="indexTab" [hideAction]="true" (saveSend)="handleSendNotify($event)"></app-grid-push-list>
  </div>
</div>