<div class="row">
    <div class="col-sm-12">
        <div class="field-group date">
            <p-calendar appendTo="body" [(ngModel)] = "datereport" name="datereport"  placeholder="dd/mm/yyyy" dateFormat="dd/mm/yy" [style]="{'width':'100%'}"></p-calendar>
            <label for="">Chọn ngày</label>
        </div>
    </div>
    <div class="col-sm-12 form-group">
        <div class="field-group select label-8">
            <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
            [options]="companies" [(ngModel)]="companyId" name="companyId" [filter]="true">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item?.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{car?.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <label for="">Công ty</label>
        </div>
    </div>
    <div class="col-sm-12 form-group text-right mt-2">
        <p-button label="Xóa" (click)="handleSave()" icon="fa fa-plus" styleClass="p-button-sm ml-1"></p-button>
    </div>
</div>