
<div class="main-grid product-detail">
    <section>
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
   <div class="content">
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [dataView]="listViews"
        [optionsButtonsEdit]="optionsButtonsView" 
        (callback)="setWorkTimeInfo($event)" (callbackcancel)="cancelUpdate($event)"></app-edit-detail>
        <app-loading-detail 
                [id]="'area'" 
                *ngIf="listViews.length === 0">
            </app-loading-detail>

        <p-card styleClass="mt-1"
        >
         <ng-template pTemplate="header">
             <div class="row d-flex">
                 <div class="col-md-6">
                     <div class="panel-heading" style="padding: 10px;">
                         <h6 class="panel-title" style="color: black; font-weight: 500;">
                            Các ngày trong tuần <p-badge *ngIf="detailInfo?.weekdays.length > 0"
                               value="{{detailInfo?.weekdays.length}}" styleClass="p-mr-2">
                             </p-badge>
                         </h6>
                     </div>
                 </div>
             </div>
         </ng-template>
         <section>
            <div class="grid-default border">
                <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="columnDefs && columnDefs.length > 0" [heightRow]="40" [title]="'Danh sách liên hệ'" [defaultColDef]="defaultColDef" [floatingFilter]="false" 
                    [listsData]="detailInfo?.weekdays" [isConfig]="false" (rowDoubleClicked)="callback($event)"
                    [columnDefs]="columnDefs"></app-list-grid-angular>
                    <app-loading-grid 
                            [columnNumber]="9" 
                            gridtype="''" 
                            [value]="[1,2]" 
                            *ngIf="columnDefs.length === 0">
                        </app-loading-grid>

                </div>
            </section>
     </p-card>
   </div>
   
</div>