
<div class="main-grid product-detail">
    <section>
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
   <div class="content">
        
        <app-edit-detail  *ngIf="listViews.length> 0" 
            [manhinh]="'Edit'" 
            [isNested]="true"   [detailInfo]="detailInfo"  [buttons]="optionsButon"
           [listForms]="listViews" (callback)="setUserHiringInfo($event)" (close)="quaylai($event)"
         ></app-edit-detail>
    <app-loading-detail 
        [id]="'sections-1qnt-col-2'" 
        *ngIf="listViews.length === 0">
    </app-loading-detail>

   </div>
   
</div>