<form #supplier="ngForm">
    <p-panel>
        <ng-template pTemplate="header">
            <label for=""><span class="pi pi-home mr-1"></span>  {{this.modelSupplierToProduct.id ? 'Sửa sản phẩm hàng hóa theo NCC' : 'Thêm mới NCC vào sản phẩm'}} {{modelSupplierToProduct.product_Name}}</label>
               </ng-template>
        <div class="row mb-1">
            <div class="col-md-4 select-default">
                <label for="">Danh sách nhà cung cấp<span style="color: red;">*</span></label>
                <p-dropdown name="supplierId" id="supplierId" [autoDisplayFirst]="false" [options]="cloneSuppliers" [required]
                    [disabled]="modelSupplierToProduct?.id != ''" [(ngModel)]="modelSupplierToProduct.supplierId"
                 [filter]="true">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle; ">{{item.label}}</span>
                    </ng-template>
                    <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="col-md-4 input-group">
                <label for="">Mã vạch</label>
                    <input type="text" class="form-control" 
                        [(ngModel)]="modelSupplierToProduct.barcode" #barcode="ngModel" name="barcode">
                    <small id="username2-help" *ngIf="submited && !modelSupplierToProduct.barcode" class="p-invalid">Trường bắt
                        buộc nhập</small>
            </div>
            <div class="col-md-4 input-group">
                <label for="">Giá vốn<span style="color:red">*</span></label>
                <input type="text" class="form-control" (keypress)="onValidateCurrency1($event)" maxlength=18
                    (paste)="onValidateCurrency1($event)" currency 
                    [(ngModel)]="modelSupplierToProduct.buyPrice" #buyPrice="ngModel" name="buyPrice">
                <small id="username2-help" *ngIf="submited && !modelSupplierToProduct.buyPrice" class="p-invalid">Trường bắt
                    buộc nhập</small>
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-4 input-group">
                <label for="">Giá bán</label>
                <input type="text" class="form-control" maxLength=18 
                     (keypress)="onValidateCurrency1($event)"
                    (paste)="onValidateCurrency1($event)" currency [(ngModel)]="modelSupplierToProduct.sellPrice"
                    #sellPrice="ngModel" name="sellPrice">
            </div>
            <div class="col-md-4 select-default">
                <label for="">Đơn vị<span style="color:red">*</span></label>
                <p-dropdown name="unitId" id="unitId" [options]="units" [autoDisplayFirst]="false" [(ngModel)]="modelSupplierToProduct.unitId">
                <ng-template let-item pTemplate="selectedItem">
                    <!-- <img src="assets/showcase/images/demo/car/{{item.label}}.png" style="width:16px;vertical-align:middle" /> -->
                    <span style="vertical-align:middle; ">{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <!-- <img src="assets/showcase/images/demo/car/{{car.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/> -->
                        <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
            <small id="username2-help" *ngIf="submited && !modelSupplierToProduct.unitId" class="p-invalid">Trường bắt
                buộc nhập</small>
            </div>
            <div class="col-md-2 select-default">
                <label for="">Trạng thái</label>
                <select name="active" class="form-control" [(ngModel)]="modelSupplierToProduct.active" id="">
                    <option value="1">Bán đặt</option>
                    <option value="2">Ngừng đặt nhưng vẫn bán tồn</option>
                    <option value="3">Barcode </option>
                    <option value="0">Khóa</option>
                </select>
            </div>
            <div class="col-md-2 select-default">
                <label for="" style="visibility: hidden;">Trạng thái</label>
                <p-checkbox [(ngModel)]="modelSupplierToProduct.is_consignment" name="is_consignment" [binary]="true"
                    label="Ký gửi"></p-checkbox>
            </div>
    
        </div>
        <div class="row mt-1">
            <div class="col-md-4 input-group">
                <label for="">Tồn kho tối thiểu</label>
                <input type="text" class="form-control" maxLength=18 (keypress)="onValidateCurrency1($event)" (paste)="onValidateCurrency1($event)" currency  [(ngModel)]="modelSupplierToProduct.min_safety_stock" #min_safety_stock="ngModel"
                name="min_safety_stock">
            </div>
            <div class="col-md-4 input-group">
                <label for="">Tồn kho an toàn</label>
                <input type="text" class="form-control" maxLength=18 (keypress)="onValidateCurrency1($event)" (paste)="onValidateCurrency1($event)" currency  [(ngModel)]="modelSupplierToProduct.max_safety_stock" #max_safety_stock="ngModel"
                name="max_safety_stock">
            </div>
            <div class="col-md-2 input-group">
                <label for="">quy cách</label>
                <input type="text" class="form-control"  [(ngModel)]="modelSupplierToProduct.specification" #specification="ngModel"
                    name="specification">
            </div>
            <div class="col-md-2 text-right">
                <label for="" style="visibility: hidden;">Mã sản </label> <br>
                <!-- <p-button label="Lưu lại" icon="pi pi-check" styleClass="p-button-sm mr-1" (click)="saveSupplierToProduct()"></p-button> -->
                <!-- <p-button label="Hủy" *ngIf="modelSupplierToProduct?.id" icon="pi pi-times"  styleClass="p-button-danger p-button-sm" (click)="cancelEditSupplierProduct()"></p-button> -->
            </div>
        </div>
       
    </p-panel>

    <p-panel styleClass="mt-1">
        <ng-template pTemplate="header">
            <label for=""><span class="pi pi-home mr-1"></span>  Danh sách các nhà cung cấp</label>
        </ng-template>
        <div class="grid-default border">
            <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="columnDefs.length > 0"
                [listsData]="listSupplierProducts"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            </div>

        <!-- <ag-grid-angular #agGrid style="width: 100%" id="myGrid1" class="ag-theme-alpine" [modules]="modules"
        [rowData]="listSupplierProducts" [columnDefs]="columnDefs" (gridReady)="onGridReady($event)"
       [defaultColDef]="defaultColDef" [animateRows]="true" [domLayout]="'autoHeight'" (bodyScroll)="handleScroll($event)"
        [getRowHeight]="getRowHeight2" [frameworkComponents]="frameworkComponents"></ag-grid-angular> -->
    </p-panel>

    <!-- <footer class="text-right mt-1">
        <p-button label="Đóng" icon="pi pi-times" styleClass="p-button-secondary"
            (click)="displaySupplierToProduct = !displaySupplierToProduct"></p-button>
    </footer> -->
</form>



<p-dialog [(visible)]="displayDowloadTem" [modal]="true" [baseZIndex]="99" [style]="{width: '1300px', height: 'auto'}">
    <p-header>
        In tem
    </p-header>

    <form #supplier="ngForm">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    <label for="">Số lượng in</label> <br>
                    <input type="text" (change)="apiDowloadTem()" [(ngModel)]="modelStampPrint.quantity" name="quantity"
                        class="form-control">
                </div>
                <div class="row">
                    <label for="">Mã hàng</label> <br>
                    <input type="text" disabled [(ngModel)]="modelStampPrint.barCode" name="barCode"
                        class="form-control">
                </div>
                <div class="row mt-1">
                    <p-checkbox name="border" (onChange)="apiDowloadTem()" [(ngModel)]="modelStampPrint.border"
                        [binary]="true" label="Thêm khung"></p-checkbox>
                </div>
                <div class="row mt-1">
                    <p-checkbox name="includeCurrency" (onChange)="apiDowloadTem()"
                        [(ngModel)]="modelStampPrint.includeCurrency" [binary]="true" label="Giá kèm VNĐ"></p-checkbox>
                </div>
                <div class="row mt-1">
                    <p-checkbox name="includeUnit" (onChange)="apiDowloadTem()"
                        [(ngModel)]="modelStampPrint.includeUnit" [binary]="true" label="Giá kèm đơn vị tính">
                    </p-checkbox>
                </div>
                <div class="row mt-1">
                    <p-checkbox name="isStore" (onChange)="apiDowloadTem()" [(ngModel)]="modelStampPrint.isStore"
                        [binary]="true" label="Kèm tên siêu thị"></p-checkbox>
                </div>
            </div>
            <div class="col-md-9 flex-wrap">
                <div class="col-md-6 " style="display: flex;">
                    <div class="col-sm-4" style="border: 2px solid #ccc;border-radius: 5px;">
                        <img src="assets/app/images/BarCode1.jpg" alt="">
                    </div>
                    <div class="col-sm-8 flex-wrap align-items-end" style="display: flex;">
                        <div>Mẫu giấy cuộn 3 nhãn (Khổ giấy in nhãn 104x22mm/4.2x0.9 Inch)</div>
                        <div>
                            <a href={{urlPrint}} target="_blank" class="btn btn-primary btn-sm"
                                (click)="apiDowloadTem()">In Tem</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="text-right mt-1">
            <p-button label="Đóng" icon="pi pi-times" styleClass="p-button-secondary"
                (click)="displayDowloadTem = !displayDowloadTem"></p-button>
        </footer>
    </form>
</p-dialog>

<p-dialog [(visible)]="displaySupplierInfo" [autoZIndex]="true"styleClass="popup-section-p0 poup-edit-with-buttons" [appendTo]="'body'" [draggable]="false" [resizable]="false" [modal]="true" [style]="{width: '1300px', height: 'auto'}">
    <p-header>
        Quy đổi đơn vị tính - Hàng hóa [{{detailRow?.name}}]
    </p-header>
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailSupplierInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
        (callback)="saveUnitExchange($event)" [listBarcodes]="listBarcodes" (callbackcancel)="backpageUnitExchange()"></app-edit-detail>
    <!-- <app-common-form [dataForm]="detailSupplierInfo" *ngIf="displaySupplierInfo" [units]="units"
        [listBarcodes]="listBarcodes" (callback)="saveUnitExchange($event)" (back)="backpageUnitExchange()">
    </app-common-form> -->
    <h4>Danh sách đơn vị quy đổi [{{detailRow?.name}}]</h4>
    <ag-grid-angular #agGrid style="width: 100%; height: 350px" id="myGrid" class="ag-theme-alpine" [modules]="modules"
        [rowData]="listSupplierUnitChange" [columnDefs]="columnDefs2" (gridReady)="onGridReady2($event)"
        (firstDataRendered)="onFirstDataRendered($event)" [defaultColDef]="defaultColDef2" [animateRows]="true"
        [frameworkComponents]="frameworkComponents"></ag-grid-angular>
</p-dialog>


<p-dialog [(visible)]="displaydetailPromotion" [autoZIndex]="true" [appendTo]="'body'" [draggable]="false" [resizable]="false"  [modal]="true" [maximizable]="true"
    [style]="{width: '1200px', height: 'auto'}">
    <p-header>
        Chi tiết chính sách bán hàng
    </p-header>
    <div id="promotion">
        <ng-container *ngFor="let item of detailPromotion?.policy_on_bill">
            <p-card *ngIf="detailPromotion?.policy_on_bill.length > 0">
                <h5 style="border-bottom: 1px solid #ccc ; font-weight: 600;margin-top: -20px"><span
                        class="pi pi-id-card"></span> Chính sách hóa đơn [{{item?.theme}}]</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">- Mã code</label>: {{item?.code}}
                    </div>
                    <div class="col-md-6" *ngIf="item?.supplier_name">
                        <label for="">- Nhà cung cấp</label>: {{item?.supplier_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">- Ngày bắt đầu áp dụng</label>:
                        {{item?.start_date ? momentFormatDate(item?.start_date) : ''}}
                    </div>
                    <div class="col-md-6">
                        <label for="">- Loại Khuyến mại</label>: {{item?.promotion_type_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">- Ngày kết thúc áp dụng</label>:
                        {{item?.end_date ? momentFormatDate(item?.end_date) : ''}}
                    </div>
                    <div class="col-md-6">
                        <label for="">- %Giảm giá (Discount) </label>: {{ item?.discount}} %
                    </div>
                </div>
            </p-card>
        </ng-container>
        <ng-container *ngFor="let item of detailPromotion?.policy_on_product">
            <p-card *ngIf="detailPromotion?.policy_on_product.length > 0">
                <h5 style="border-bottom: 1px solid #ccc ; font-weight: 600;"><span class="pi pi-sitemap"></span> Chính
                    sách theo sản phẩm [{{item?.theme}}]</h5>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">- Mã code</label>: {{item?.code}}
                    </div>
                    <div class="col-md-6" *ngIf="item?.supplier_name">
                        <label for="">- Nhà cung cấp</label>: {{item?.supplier_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">- Ngày bắt đầu áp dụng</label>:
                        {{item?.start_date ? momentFormatDate(item?.start_date) : ''}}
                    </div>
                    <div class="col-md-6">
                        <label for="">- Loại Khuyến mại</label>: <span
                            class="bg-warning noti-number ml5">{{item?.promotion_type_name}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="">- Ngày kết thúc áp dụng</label>:
                        {{item?.end_date ? momentFormatDate(item?.end_date) : ''}}
                    </div>
                    <div class="col-md-6">
                        <label for="">- Trạng thái kích hoạt</label>: <span class="bg-success noti-number ml5">Kích
                            hoạt</span>
                    </div>
                </div>
                <h5 style="border-bottom: 1px solid #ccc ; font-weight: 500;margin-top: 5px"><span
                        class="pi pi-list"></span> Danh sách hàng hóa Theo chính sách</h5>
                <p-table [value]="item?.promotion_details" dataKey="name"
                    styleClass="p-datatable-gridlines p-datatable-sm mt-1">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 4rem">#</th>
                            <th pSortableColumn="name" style="width: 30rem">Hàng hóa</th>
                            <th style="width: 11rem">Mã HH</th>
                            <th pSortableColumn="price">Đơn vị</th>
                            <th pSortableColumn="price">%Giảm giá</th>
                            <th pSortableColumn="price">Giá áp dụng</th>
                            <th>% margin </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-product let-expanded="expanded">
                        <tr class="hover-row">
                            <td>
                                <button type="button" pButton pRipple [pRowToggler]="product"
                                    class="p-button-text p-button-rounded p-button-plain"
                                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>
                            <td>{{product.product_name}}</td>
                            <td>{{product.bar_code}}</td>
                            <td>{{product.unit_name }}</td>
                            <td>{{product.discount}}</td>
                            <td>{{product.price_after_discount === 0 ? 'Không áp dụng giá' :
                                formatNumberCurrency(product.price_after_discount)}}</td>
                            <td>{{product.margin | margin: 2}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-product>
                        <tr>
                            <td colspan="7">
                                <div class="p-p-3">
                                    <p-table [value]="product.promotion_by_quantities" dataKey="id">
                                        <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="name" style="width: 3rem"># </th>
                            <th pSortableColumn="name">Từ mấy </th>
                            <th pSortableColumn="name">Đến mấy </th>
                            <th pSortableColumn="price_after_discount">Giá áp dụng</th>
                            <th pSortableColumn="margin">% Margin</th>
                            <th pSortableColumn="name" style="width: 18rem">Hàng hóa tặng kèm </th>
                            <th style="width: 10rem">Mã HH</th>
                            <th pSortableColumn="price">Đơn vị</th>
                            <th pSortableColumn="price">Số lượng</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order let-rowIndex="rowIndex">
                        <tr [className]="order.product_name ? 'hover-row bg-f7ff7' : 'hover-row bg-689F38'">
                            <td>{{rowIndex + 1}}</td>
                            <td>{{order.from}}</td>
                            <td>{{order.to}}</td>
                            <td>{{order.price_after_discount === 0 ? 'Không áp dụng giá' :
                                formatNumberCurrency(order.price_after_discount)}}</td>
                            <td>{{order.margin | margin: 2 }}</td>
                            <td>{{order.product_name }}</td>
                            <td>{{order.bar_code }}</td>
                            <td>{{order.unit_name }}</td>
                            <td>{{order.quantity }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="6">There are no order for this product yet.</td>
                        </tr>
                    </ng-template>
                </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    </p-card>
    </ng-container>

    </div>

</p-dialog>



<p-dialog [(visible)]="displayHistoryProducts" [autoZIndex]="true" [appendTo]="'body'" [draggable]="false" [resizable]="false"  [modal]="true" [style]="{width: '1250px', height: 'auto',  overflow: 'visible'}" (onHide)="onHide()">
    <p-header>
       Chính sách giao dịch hàng hóa [{{modelHistoryProduct.product_name}}] <span *ngIf="modelHistoryProduct.supplier_name">- NCC [{{modelHistoryProduct.supplier_name}}]</span>
    </p-header>
    <p-tabView (onChange)="handleChange($event)" [activeIndex]="activeIndex">
      <p-tabPanel header="Giao dịch" [selected]="true">
        <app-exchange *ngIf="activeIndex === 0 && displayHistoryProducts" [modelHistoryProduct]="modelHistoryProduct" (changeDate)="handleDateChange($event)"></app-exchange>
      </p-tabPanel>
      <p-tabPanel header="Doanh số lợi nhuận">
        <app-revenue *ngIf="activeIndex === 1" [modelRevenue]="modelHistoryProduct" (changeDate)="handleDateChange($event)"></app-revenue>
      </p-tabPanel>
      <p-tabPanel header="Hàng hủy">
        <app-cancel-product *ngIf="activeIndex === 2" [modelCancel]="modelHistoryProduct" (changeDate)="handleDateChange($event)"></app-cancel-product>
      </p-tabPanel>
      <p-tabPanel header="Tỷ lệ thất thoát">
        <app-inventory-product *ngIf="activeIndex === 3" [modelInventory]="modelHistoryProduct" (changeDate)="handleDateChange($event)"></app-inventory-product>
      </p-tabPanel>
  </p-tabView>

</p-dialog>

<p-dialog [(visible)]="displaySupplierPricePlan" styleClass="poup-edit-with-buttons popup-section-p0" [autoZIndex]="true" [appendTo]="'body'" [draggable]="false" [resizable]="false"  [modal]="true" [style]="{width: '1300px', height: 'auto'}">
    <p-header>
      Danh sách kế hoạch giá
    </p-header>
    <div class="col-md-12">
        <app-supplier-price-plan *ngIf="dataSupplicePrice" (backPage)="backpagePricePlan()" [dataSupplicePrice]="dataSupplicePrice"></app-supplier-price-plan>
    </div>
</p-dialog>

<p-dialog [(visible)]="displayWarehouse" [autoZIndex]="true" [appendTo]="'body'" [draggable]="false" [resizable]="false"  [modal]="true" [style]="{width: '1200px', height: 'auto'}" (onHide)="onHideWarehouse()">
    <p-header>
       Thông tin thẻ kho sản phẩm {{modelSupplierToProduct.product_Name}}
    </p-header>
    <div class="row mb-1" style="margin-top: 10px;">
        <div class="col-md-3">
        </div>
  
        <div class="col-md-12 d-flex justify-content-end">
        <p-calendar placeholder="dd/mm/yyyy" [(ngModel)]="queryWarehouse.from_date" [maxDate]="queryWarehouse.to_date" name="fromDate" [appendTo]="'body'" [baseZIndex]="101" (onSelect)="getReportStockTag()" dateFormat="dd/mm/yy"></p-calendar>
        <span style="position: relative;top: 10px;"class="fa fa-arrows-h"></span>
        <p-calendar placeholder="dd/mm/yyyy" [(ngModel)]="queryWarehouse.to_date" [minDate]="queryWarehouse.from_date" name="toDate" [appendTo]="'body'" [baseZIndex]="101" (onSelect)="getReportStockTag()" dateFormat="dd/mm/yy"></p-calendar>
        </div>
    </div>
    <div class="row margin-top-10">
        <ag-grid-angular #agGrid style="width: 100%; height: 650px" id="myGrid" class="ag-theme-alpine" [modules]="modules" 
        [rowData]="listWarehouse" [columnDefs]="columnDefWarehouse" [groupDefaultExpanded]="groupDefaultExpanded"
        [detailCellRendererParams]="detailCellRendererParams" [overlayNoRowsTemplate]="noRowsTemplate" [tooltipShowDelay]="0"
        [detailRowHeight]="detailRowHeight" (firstDataRendered)="onFirstDataRendered($event)" (cellClicked)="cellClicked($event)"
        (gridReady)="onGridWarehouseReady($event)" [defaultColDef]="defaultColDef" [enableCellTextSelection]=true
        [groupUseEntireRow]="true" [enableRangeSelection]="true" [animateRows]="true"
        [getRowHeight]="getRowHeight2" [frameworkComponents]="frameworkComponents"></ag-grid-angular>
    </div>
  
  </p-dialog>
  
