<section>
    <div class="bg-grey base-info-em d-flex middle bet">
        <ul class="col-3">
            <li>
                <span class="label">Nhân viên:</span>
                <span class="value"> {{ detailInfo?.fullName }}</span>
            </li>
            <li class="spre"><svg width="1" height="20" viewBox="0 0 1 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.5" x2="0.5" y2="20" stroke="#A3A9B9"/>
                </svg>
                </li>
            <li>
                <span class="label">MNV:</span>
                <span class="value"> {{codeStaff}}</span>
            </li>
        </ul>
        <div class="col-6">
            <app-step-info [detailInfo]="detailInfo" *ngIf="listViews.length > 0"></app-step-info>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="content page-detail" style="padding: 0;">
        <p-panel styleClass="no-header">
            <div class="">
                <div class="row col-md-12">
                    <div class="page-detail-edit-detail" >
                        <app-edit-detail *ngIf="listViews.length> 0" 
                            [detail]="detailInfo" 
                            [detailInfo]="detailInfo" 
                            [thongtinnhanvienNew]="true" 
                            [manhinh]="'Edit'" 
                            [optionsButtonsEdit]="optionsButtonsView"  
                            [dataView]="listViews"
                            (callback)="setEmployeeInfo($event)" 
                            (callbackcancel)="cancelUpdate($event)">
                        </app-edit-detail>
                    </div>

                    </div>
                    </div>
        </p-panel>
        </div>

    </section>

    <section>
        <h6 class="title-section">Xe nhân viên </h6>
    </section>