
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
   <div class="content">
        <app-edit-detail *ngIf="listViews.length> 0" [manhinh]="'Edit'"   [detailInfo]="detailInfo"  [buttons]="optionsButon"
            [listForms]="listViews" (callback)="setLeaveInfo($event)" (close)="quaylai($event)"
          ></app-edit-detail>
  
  
    </div>
   
</div>