:host::ng-deep{
    .content{
        max-width: 1204px;
        margin: auto;   
    }
    .main{
        background: #fff;
    }
    .product-detail{
        background: #fff;
    }
    .p-panel-header{
        display: none;
    }
    .content .p-panel .p-panel-content{
        padding-left: 200px;
        .row{
            &>div{
                &:first-child{
                    position: absolute;
                    width: 200px;
                    height: 176px;
                    left: 0px;
                }
            }
        }
    }

    
}
:host::ng-deep{
    .delete-image{
        width: 42px;
        height: 41px;
        position: absolute;
        top: 0px;
        right: 0px;
        background: #fff;
        line-height: 41px;
        color: red;
        z-index: 7;
        cursor: pointer;
        border-radius: 4px;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 3px #ccc;
        text-align: center;
    }
    .field-group{
        &.checkbox{
            display: flex;
            align-items: center;
            min-height: 0px;
            flex-direction: row-reverse;
            justify-content: flex-end;
            gap: 12px;
            padding-left: 18px;
            label{
                position: static;
                margin-bottom: 0px;
            }
            .p-checkbox{
                position: static;
            }
        }
    }
}