
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
   <div class="content">
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'"  [dataView]="listViews"
        (callback)="setCompanyInfo($event)" [optionsButtonsEdit]="optionsButon" (callbackcancel)="cancelUpdate($event)"></app-edit-detail>
   </div>
   
</div>