<section>
    <div class="bg-grey base-info-em d-flex middle">
        <ul class="col-9">
            <li>
                <span class="label">Nhân viên:</span>
                <span class="value"> {{ dataEmployeeStatus?.fullName }}</span>
            </li>
            <li class="spre"><svg width="1" height="20" viewBox="0 0 1 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.5" x2="0.5" y2="20" stroke="#A3A9B9"/>
                </svg>
                </li>
            <li>
                <span class="label">MNV:</span>
                <span class="value"> {{dataEmployeeStatus?.code}}</span>
            </li>
        </ul>
           
<div class="col-3 gap-2 flex justify-content-end align-items-center" style="padding: 0;">
    <div class="field-group select " style="margin-bottom: 0;">
        <p-dropdown 
            *ngIf="listViews.length> 0 && status.length > 0" 
            [options]="status" 
            (onChange)="recruiUpdateStatus()"
            [(ngModel)]="selectedStatus" 
            [styleClass]="selectedStatus?.bgColor"  
            [style]="{'width': '180px'}" 
            optionLabel="name"  
            placeholder="Select a Country">
            <ng-template pTemplate="selectedItem" >
                <div class="flex align-items-center gap-2" *ngIf="selectedStatus" >
                    <div style="color: #fff">{{ selectedStatus.name}}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2" *ngIf="country.value != selectedStatus.value">
                    <div class="pb-2 pt-2" style="display: flex; align-items: center; width: 100%;justify-content: space-around;font-size: 13px;">
                        <span style="white-space:nowrap">{{ country.placeholder }} </span>
                        <span class="pi pi-arrow-right" style="font-size: 12px;"></span>
                        <span [class]="country.textColor" style="white-space:nowrap" class="pl-2 pr-2">{{ country.name }}</span>
                    </div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <p-splitButton  icon="pi pi-send" *ngIf="menuActions.length > 0 && listViews.length> 0" styleClass="p-button-sm ml-2" [appendTo]="'body'" (onClick)="actViewEdit(menuActions[0].value)" [label]="menuActions[0].label" [model]="menuActions"></p-splitButton>
    <p-button label="Quay lại" (click)="onBack()" styleClass="p-button-secondary p-button-sm ml-2" [style]="{'z-index': 9}" icon="pi pi-directions-alt"></p-button>
      </div>
  
    </div>

</section>
<section>
    <!-- <app-edit-detail *ngIf="listViews.length> 0" 
        [isShowAvatar] = true
        [detail]="detailInfo" 
        [detailInfo]="detailInfo" 
        [thongtinnhanvienNew]="true" 
        [manhinh]="'Edit'" 
        [optionsButtonsEdit]="optionsButtonsView"  
        [dataView]="listViews"
        (callback)="setEmployeeInfo($event)" 
        (callbackcancel)="cancelUpdate($event)">
    </app-edit-detail> -->
    <!-- Check lại điều kiện -->

    <app-edit-detail  *ngIf="listViews.length> 0"  [isNested]="true" [manhinh]="'Edit'"  [detailInfo]="detailInfo"  [buttons]="optionsButtonsView"
        [listForms]="listViews" (callback)="setEmployeeInfo($event)" (close)="cancelUpdate($event)"
      ></app-edit-detail>

    <app-loading-detail [id]="'employee-info-01'" *ngIf="listViews.length === 0"></app-loading-detail>
    
    <p-divider></p-divider>

    <app-giay-to-tuy-than [empId]="empId"></app-giay-to-tuy-than>

    <app-thong-tin-nguoi-lien-he [empId]="empId"></app-thong-tin-nguoi-lien-he>
    <app-thong-tin-ho-so-ca-nhan [empId]="empId" (dataChaged)="theFileChanged($event)"></app-thong-tin-ho-so-ca-nhan>
    <app-danh-sach-dinh-kem [empId]="empId"></app-danh-sach-dinh-kem>
</section>
<p-dialog [(visible)]="displayuploadcontract" [autoZIndex]="true" [modal]="true"  appendTo="body"
    [style]="{width: '800px', height: 'auto'}">
    <p-header>
        Tải lên hợp đồng [{{record?.meta_title}}]
    </p-header>
    <!-- <app-upload-file [multiple]="" (callback)="handleUpload($event)" *ngIf="displayuploadcontract"></app-upload-file> -->
</p-dialog>

<app-thong-tin-ca-nhan-edit-detail *ngIf="isEditDetail" [isEditDetail]="isEditDetail" [empId]="empId" (cancelSave)="cancelSetDetail($event)"></app-thong-tin-ca-nhan-edit-detail>