<div class="main-grid product-detail">
    <section>
        <app-hrm-breadcrumb [items]="items"></app-hrm-breadcrumb>
    </section>
    <section class="content" style="position: relative;">
        <!-- <div class="d-flex center" *ngIf="tabIndex === 0">
            <div class="col-12 lg:col-8 xl:col-8">
                <app-hrm-step [steps]="detailEdit?.flowStatuses" [flowSt]="detailEdit?.flow_st"
                    *ngIf="detailEdit"></app-hrm-step>
            </div>
        </div> -->
        <div class="col-3 pt-0 pb-0 gap-2 flex justify-content-end" *ngIf="tabIndex === 0" style="position: absolute;right: 0; top: 5px ">
        <div class="field-group select ">
            <p-dropdown 
                *ngIf="listViews.length> 0" 
                [options]="status" 
                (onChange)="recruiUpdateStatus()"
                [(ngModel)]="selectedCountry" 
                [styleClass]="selectedCountry?.bgColor"  
                [style]="{'width': '180px'}" 
                optionLabel="name"  
                placeholder="Select a Country">
                <ng-template pTemplate="selectedItem" >
                    <div class="flex align-items-center gap-2" *ngIf="selectedCountry" >
                        <div style="color: #fff">{{ selectedCountry.name}}</div>
                    </div>
                </ng-template>
                <ng-template let-country pTemplate="item">
                    <div class="flex align-items-center gap-2" *ngIf="country.value != selectedCountry.value">
                        <div class="pb-2 pt-2" style="display: flex; align-items: center; width: 100%;justify-content: space-around;font-size: 13px;">
                            <span style="white-space:nowrap">{{ country.placeholder }} </span>
                            <span class="pi pi-arrow-right" style="font-size: 12px;"></span>
                            <span [class]="country.textColor" style="white-space:nowrap" class="pl-2 pr-2">{{ country.name }}</span>
                        </div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
        <p-splitButton icon="pi pi-send" *ngIf="menuActions.length > 0" styleClass="p-button-sm ml-2" [appendTo]="'body'" (onClick)="callActions(menuActions[0].value)" [label]="menuActions[0].label" [model]="menuActions"></p-splitButton>
        <p-button label="Quay lại" styleClass="p-button-secondary p-button-sm ml-2" [style]="{'z-index': 9}" icon="pi pi-directions-alt"></p-button>
    </div>


        <p-tabView (onChange)="handleChange($event.index)" [(activeIndex)]="tabIndex">
            <p-tabPanel header="Thông tin tuyển dụng">
                <app-edit-detail *ngIf="listViews.length> 0" [isHideButton]="true" [detail]="detailInfo" [manhinh]="'Edit'" [isNested]="true"
                    [optionsButtonsEdit]="optionsButon" [dataView]="listViews" (callback)="setCandidateInfo($event)"
                    (callbackcancel)="quaylai($event)" (callBackForm)="callBackForm($event)"></app-edit-detail>
                <app-loading-detail [id]="'chi-tiet-tuyen-dung'" *ngIf="listViews.length === 0">
                </app-loading-detail>
            </p-tabPanel>
            <p-tabPanel header="Thông tin hồ sơ cá nhân" *ngIf="custId">
                <app-chi-tiet-ho-so-ca-nhan 
                    *ngIf="tabIndex === 1" 
                    [isDialog]="true" [displayCustomerProfile]="false" [custId]="custId"
                    [canId]="modelEdit.canId" 
                    (callback)="callbackSaveProfile()">
                </app-chi-tiet-ho-so-ca-nhan>
            </p-tabPanel>
        </p-tabView>


    </section>
    <section *ngIf="isView">
        <div class="d-flex bet middle">
            <h4>Lịch sử</h4>
        </div>
        <div class="grid-default">
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listData" [height]="heightGrid"
                [columnDefs]="columnDefs">
            </app-list-grid-angular>
        </div>
    </section>
</div>


<app-chi-tiet-ho-so-ca-nhan *ngIf="displayCustomerProfile" [displayCustomerProfile]="displayCustomerProfile" [isDialog]="true" [custId]="custId"
[canId]="modelEdit.canId" (callback)="callbackSaveProfile()"></app-chi-tiet-ho-so-ca-nhan>

<p-dialog header="  Tải lên CCCD,  Hộ chiếu" [(visible)]="displayAddCCCD" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{width: '50vw'}" [autoZIndex]=true [draggable]="false" [resizable]="false">
    <app-cung-cap-cccd *ngIf="displayAddCCCD" [canId]="modelEdit.canId" (callback)="saveCCCD($event)"></app-cung-cap-cccd>
</p-dialog>

<!-- Gửi email -->

<p-dialog styleClass="hideHeaderForm" header="Gửi mail" 
    [(visible)]="isSendMail" 
    [modal]="true" [style]="{width: '600px'}"
    [draggable]="false" [resizable]="false" [focusTrap]="false" >
    <div class="field-group select" >
        <label>Nội dung gửi <span style="color: red">*</span></label>
        <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
        [options]="mailsInput" placeholder="Chọn nội dung gửi" [(ngModel)]="mailInputValue" name="mailInputValue">
        </p-dropdown>
    </div>
        <ng-template pTemplate="footer">
            <div class="d-flex end" >
              <p-button (click)="sendEmail()" >Gửi email</p-button>
            </div>
        </ng-template>
</p-dialog>
