<div class="main-grid product-detail">
    <section>
        <app-hrm-breadcrumb [items]="items"></app-hrm-breadcrumb>
    </section>
    <div class="content">
        <div class="d-flex center" *ngIf="tabIndex === 0">
            <div class="col-8">
                <app-hrm-step [steps]="detailEdit?.flowStatuses" [flowSt]="detailEdit?.flow_st"
                    *ngIf="detailEdit"></app-hrm-step>
            </div>
        </div>
        <p-tabView (onChange)="handleChange($event.index)" [(activeIndex)]="tabIndex">
            <p-tabPanel header="Thông tin tuyển dụng">
                <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [isNested]="true"
                    [optionsButtonsEdit]="optionsButon" [dataView]="listViews" (callback)="setCandidateInfo($event)"
                    (callbackcancel)="quaylai($event)"></app-edit-detail>
                <app-loading-detail [id]="'chi-tiet-tuyen-dung'" *ngIf="listViews.length === 0">
                </app-loading-detail>
            </p-tabPanel>
            <p-tabPanel header="Thông tin hồ sơ cá nhân" *ngIf="custId">
                <app-chi-tiet-ho-so-ca-nhan *ngIf="tabIndex === 1" [isDialog]="true" [custId]="custId"
                [canId]="modelEdit.canId" (callback)="callbackSaveProfile()"></app-chi-tiet-ho-so-ca-nhan>
            </p-tabPanel>
        </p-tabView>


    </div>
    <section *ngIf="isView">
        <div class="d-flex bet middle">
            <h4>Lịch sử</h4>
        </div>
        <div class="grid-default">
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listData" [height]="heightGrid"
                [columnDefs]="columnDefs">
            </app-list-grid-angular>
        </div>
    </section>
</div>

<p-dialog header="Chi tiết hồ sơ cá nhân" [(visible)]="displayCustomerProfile" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{width: '70vw'}" [autoZIndex]=true [draggable]="false" [resizable]="false">
    <app-chi-tiet-ho-so-ca-nhan *ngIf="displayCustomerProfile" [isDialog]="true" [custId]="custId"
        [canId]="modelEdit.canId" (callback)="callbackSaveProfile()"></app-chi-tiet-ho-so-ca-nhan>
</p-dialog>