:host::ng-deep {
    .product-detail {
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .wrap-edit-detail {
        padding-left: 0px;
        padding-right: 0px;
    }

    .status-line {
        .p-steps-item {
            width: auto;
            min-width: 120px;
        }
    }

    .bgInprogress {
        background-color: var(--blue-500) !important;
        color: var(--surface-0) !important;
    }

    .bgTodo {
        background-color: var(--surface-500) !important;
        color: var(--surface-0) ;
        &:hover{
            border-color: #D1D4DC !important;
        }
        .p-dropdown-trigger-icon{
            color: #fff;
        }
    }

    .bgUndo {
        background-color: var(--green-500) !important;
        color: var(--surface-0) !important;
    }

    .bgDone {
        background-color: var(--primary-500) !important;
        color: var(--surface-0) !important;
    }

    .todo {
        background-color: var(--primary-color-text);
        color: var(--surface-500);
    }

    .undo {
        background-color: var(--primary-color-text);
        color: var(--green-500);
    }

    .done {
        background-color: var(--primary-color-text);
        color: var(--green-500);
    }

    .inprogress{
        background-color: var(--primary-color-text);
        color: var(--primary-500);
    }

    .field-group.select {
        .p-dropdown-item {
            padding-bottom: 0;
            padding-top: 0;
        }
    }

    p-splitbutton {
        z-index: 9;
       
        .p-splitbutton {
            border-radius: unset  !important;
            .p-splitbutton-defaultbutton{
                max-width: unset;
                min-width: unset;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            .p-splitbutton-menubutton {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }
}