:host::ng-deep{
    .position-btn-top{
        .p-tabview-panels{
            .btn-position{
                position: absolute;
                top: 15px;
                right: 15px;
            }
        }
    }
}