<div class="grid-default border">
    <app-list-grid-angular 
    [height]="heightGrid"
        *ngIf="columnDefs.length > 0" 
        [title]="'Chứng chỉ'"
        [idGrid]="gridKey + '_45dfs'"
        [listsData]="listsData" 
        (showConfig)="CauHinh()"
        (onCellClicked)="onCellClicked($event)"
        [columnDefs]="columnDefs">
    </app-list-grid-angular>
    <div class="paginator">
        <span>Từ {{ countRecord.currentRecordStart }} đến
            {{ countRecord.currentRecordEnd }}
            trên tổng số
            {{ countRecord.totalRecord }} kết quả</span>
        <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
            (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
        </p-paginator>
    </div>
    <app-loading-grid 
        [columnNumber]="9" 
        gridtype="''" 
        [value]="[1,2]" 
        *ngIf="columnDefs.length === 0">
    </app-loading-grid>
</div>