<div class="grid wrap-edit-detail pt-2">
    <div class="col-12 border-section ">
        <p-panel>
            <ng-template pTemplate="header">
                <div class="d-flex justify-content-between">
                    <h3 class="title-section">Thời gian làm việc</h3>
                </div>
            </ng-template>
            <div class="row" style="flex-wrap: wrap">
                <div class="grid-default border">
                    <app-list-grid-angular 
                        [domLayout]="'autoHeight'" 
                        *ngIf="columnDefs.length > 0" 
                        [title]="'Chứng chỉ'"
                        [idGrid]="gridKey + '_45dfs'"
                        [listsData]="listsData" 
                        (showConfig)="CauHinh()"
                        (onCellClicked)="onCellClicked($event)"
                        [columnDefs]="columnDefs">
                    </app-list-grid-angular>
                    <app-loading-grid 
                        [columnNumber]="9" 
                        gridtype="''" 
                        [value]="[1,2]" 
                        *ngIf="columnDefs.length === 0">
                    </app-loading-grid>

                </div>
            </div>
        </p-panel>
    </div>
</div>



<p-dialog header="Cài đặt cấu hình " [appendTo]="'body'" [focusTrap]="false" styleClass="popup-setting"
    (onHide)="getEmpWorkingPageByEmpId()" [(visible)]="displaySetting" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"
        [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>




<app-chi-tiet-thoi-gian-lam-viec *ngIf="displayFormEditDetail" [empId]="empId" [workingId]="workingId" (cancelSave)="saveInfo()" [displayFormEditDetail]="displayFormEditDetail"></app-chi-tiet-thoi-gian-lam-viec>


