<div class="main-grid product-detail" *ngIf="!isDialog">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="itemsMenu"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
</div>
<p-card>
    <div class="status-line steps-contract col-12 m-auto">
        <p-steps [model]="steps" *ngIf="listViews.length> 0" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    </div>
</p-card>
<p-divider></p-divider>
<p-card>
    <app-edit-detail *ngIf="listViews.length> 0" [isNested]="true" [detail]="detailInfo" [manhinh]="'Edit'"
        [optionsButtonsEdit]="optionsButtonsView" [dataView]="listViews" (callback)="setDetail($event)" (callBackForm)="callBackForm($event)"
        (callbackcancel)="cancel($event)"></app-edit-detail>
        <app-loading-detail 
            [id]="'app-chi-tiet-xu-ly-qt-cong-tac'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>
        <app-loading-detail 
            [id]="'sections-3qnt'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>

        
    <div>
    </div>
       
</p-card>



