<div class="main-grid product-detail" *ngIf="!isDialog">
    <section class="head-detail">
        <div class="grid">
            <div class="col-6">
                     <app-hrm-breadcrumb [items]="itemsMenu"></app-hrm-breadcrumb>
            </div>
            <div class="col-6  flex justify-content-end align-items-center" >
                <div class="field-group select " style="margin-bottom: 0;">
                    <p-dropdown 
                        *ngIf="listViews.length> 0" 
                        [options]="status" 
                        (onChange)="UpdateStatus()"
                        [(ngModel)]="selectedStatus" 
                        [styleClass]="selectedStatus?.bgColor"  
                        [style]="{'width': '180px'}" 
                        optionLabel="name"  
                        placeholder="Select a Country">
                        <ng-template pTemplate="selectedItem" >
                            <div class="flex align-items-center gap-2" *ngIf="selectedStatus" >
                                <div style="color: #fff">{{ selectedStatus.name}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center gap-2" *ngIf="country.value != selectedStatus?.value">
                                <div class="pb-2 pt-2" style="display: flex; align-items: center; width: 100%;justify-content: space-around;font-size: 13px;">
                                    <span style="white-space:nowrap">{{ country.placeholder }} </span>
                                    <span class="pi pi-arrow-right" style="font-size: 12px;"></span>
                                    <span [class]="country.textColor" style="white-space:nowrap" class="pl-2 pr-2">{{ country.name }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <p-splitButton icon="pi pi-send" *ngIf="menuActions.length > 0" styleClass="p-button-sm ml-2" [appendTo]="'body'" (onClick)="callActions(menuActions[0].value)" [label]="menuActions[0].label" [model]="menuActions"></p-splitButton>
                <p-button label="Quay lại" (onClick)="onBack()" styleClass="p-button-secondary p-button-sm ml-2" [style]="{'z-index': 9}" icon="pi pi-directions-alt"></p-button>
                  </div>
        </div>
    </section>
</div>
<section *ngIf="!isDialog">
    <app-edit-detail *ngIf="listViews.length> 0" [isNested]="true" [detail]="detailInfo" [manhinh]="'Edit'" [isHideButton]="true"
        [optionsButtonsEdit]="optionsButtonsView" [dataView]="listViews" (callback)="setDetail($event)"
        (callbackcancel)="cancel($event)"></app-edit-detail>
        <app-loading-detail 
            [id]="'app-chi-tiet-xu-ly-qt-cong-tac'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>
        <app-loading-detail 
            [id]="'sections-3qnt'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>

   
    <div>
    </div>
</section>

<p-dialog styleClass="popup-btngroup-edit-detail"  [(visible)]="displayFormEditDetail" [draggable]="false" (onHide)="callback.emit()"  [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1400px', height: 'auto'}">
    <p-header>
        Thêm mới quá trình công tác
    </p-header>

    <p-card >
        <app-edit-detail *ngIf="listViews.length> 0" [isNested]="true" [detail]="detailInfo" [manhinh]="'Edit'" [isHideButton]="true"
            [optionsButtonsEdit]="optionsButtonsView" [dataView]="listViews" (callback)="setDetail($event)"
            (callbackcancel)="cancel($event)"></app-edit-detail>
            <app-loading-detail 
                [id]="'app-chi-tiet-xu-ly-qt-cong-tac'" 
                *ngIf="listViews.length === 0">
            </app-loading-detail>
            <app-loading-detail 
                [id]="'sections-3qnt'" 
                *ngIf="listViews.length === 0">
            </app-loading-detail>
        <div>
        </div>
           
    </p-card>

    <ng-template pTemplate="footer">
        <div class="col-12  flex justify-content-end align-items-center" >
            <div class="field-group select " style="margin-bottom: 0;">
                <p-dropdown 
                    *ngIf="listViews.length> 0" 
                    [options]="status" 
                    (onChange)="UpdateStatus()"
                    [(ngModel)]="selectedStatus" 
                    [styleClass]="selectedStatus?.bgColor"  
                    [style]="{'width': '180px'}" 
                    optionLabel="name"  
                    placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem" >
                        <div class="flex align-items-center gap-2" *ngIf="selectedStatus" >
                            <div style="color: #fff">{{ selectedStatus.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2" *ngIf="country.value != selectedStatus?.value">
                            <div class="pb-2 pt-2" style="display: flex; align-items: center; width: 100%;justify-content: space-around;font-size: 13px;">
                                <span style="white-space:nowrap">{{ country.placeholder }} </span>
                                <span class="pi pi-arrow-right" style="font-size: 12px;"></span>
                                <span [class]="country.textColor" style="white-space:nowrap" class="pl-2 pr-2">{{ country.name }}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <p-splitButton icon="pi pi-send" *ngIf="menuActions.length > 0" styleClass="p-button-sm ml-2" [appendTo]="'body'" (onClick)="callActions(menuActions[0].value)" [label]="menuActions[0].label" [model]="menuActions"></p-splitButton>
            <p-button label="Đóng" (click)="callback.emit()" styleClass="p-button-secondary p-button-sm ml-2" [style]="{'z-index': 9}" icon="pi pi-directions-alt"></p-button>
              </div>
    </ng-template>
    

</p-dialog>



