<div class="main-grid">
    <section class="bread-crumb">
        <div class="d-flex bet bottom">
            <div class="p-0 col-12 md:col-12 lg:col-3 xl:col-3">
                <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
            </div>
        </div>
    </section>

    <!-- muốn có h3 để biết nó thuộc nhóm dữ liệu nào  xu ly giup tao -->



    <section class="content" *ngIf="detailDashboardTimekeeping">
        <div class="mb-3">
            <div class="grid">
                <div class="col-12 pb-0 sm:col-12 md:col-12 lg:col-12 xl:col-10">
                    <div class="box" style="height: 100%;">
                        <h3 style="padding-left: 11px;">Employee</h3>
                        <div class="box-items em-activities">
                            <div>
                                <p-card >
                                    <div class="head-title">
                                        <h3 class="p-card-title">
                                            Tổng nhân viên: 
                                        </h3>
                                        <span class="number">
                                            {{ detailDashboardTimekeeping.emp_total }}
                                        </span>
                                    </div>
                                    <div class="d-flex gap12 humans">
                                        <div class="human male">
                                            <span class="per" >{{ detailDashboardTimekeeping.emp_female }} NV</span>
                                            <img src="../../../../assets/images/male.png">
                                        </div>
                                        <div class="human female">
                                            <span class="per">{{ detailDashboardTimekeeping.emp_male }} NV</span>
                                            <img src="../../../../assets/images/fe-male.png">
                                        </div>
                                        <span class="bar male-bar" [style.width]="perMale + 'px'"></span>
                                        <span class="bar female-bar"></span>
                                    </div>
                                </p-card>
                            </div>
                            <div class="wrap-knod" *ngFor="let item  of  detailDashboardTimekeeping.overview; let i=index">
                                <p-card header="{{item.name}}" [style]="{'height': '170px', 'width': 'auto'}" >
                                    <p-knob (click)="navigateWithState(item)" [max]="800" [(ngModel)]="item.emp_num" [valueColor]="i === 1 ? 'CornflowerBlue' : i === 0 ? 'DarkOrange' : 'red'" [readonly]="true"></p-knob>
                                </p-card>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 sm:col-12 md:col-12 lg:col-12 xl:col-2 pb-0">
                    <div class="box" style="height: 100%;display: flex;flex-direction: column;justify-content: space-around;">
                        <h3>Leave Reasons</h3> 
                        <!-- <p-chart type="bar" [data]="dataChart" [options]="optionsChartPie"></p-chart> -->
                        <div class="chart d-flex gap12 middle">
                            <canvas  style="max-width: 160px; max-height: 160px; " id="doughnut" *ngIf="dataChart?.datasets"></canvas>
                            <div id="legend-doughnut" class="legend-default dou column">
                                <ul></ul>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid charts">
            <div class="col-4">
                <div class="box" style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            ">
                    <h3>agvLeaveMonths</h3>
                    <p-chart type="bar" [data]="dataChartEmpLeaveMonths" [options]="optionsChart"></p-chart>
                </div>
            </div>
            <div class="col-4">
                <div class="box">
                <h3>topTimeworks</h3>
                <div class="members grid">
                    <div class="item col-3" *ngFor="let item of detailDashboardTimekeeping.topTimeworks" (click)="getDetailEmployye(item)">
                        <p-avatar image="{{item.avatar_url ? item.avatar_url : 'https://placehold.co/64x64'}}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                        <div class="content">
                            <h4>{{item.fullname}}</h4>
                            <p>Works <span>{{item.num}}</span></p>
                        </div>
                    </div>
                </div>
                    <!-- <p-chart type="bar" [data]="dataChartEmpPositionType" [options]="optionsHorizontal"></p-chart> -->
                </div>
            </div>
            <div class="col-4">
                <div class="box">
                <h3>topLeaves</h3>
                <div class="members grid">
                    <div class="item col-3" *ngFor="let item of detailDashboardTimekeeping.topLeaves">
                        <p-avatar image="{{item.avatar_url ? item.avatar_url : 'https://placehold.co/64x64'}}" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                        <div class="content">
                            <h4>{{item.fullname}}</h4>
                            <p>Leave <span>{{item.num}}</span></p>
                        </div>
                    </div>
                </div>
                    <!-- <p-chart type="bar" [data]="dataChartEmpPositionType" [options]="optionsHorizontal"></p-chart> -->
                </div>
            </div>
         
         </div>
       
    </section>
</div>

