<div class="grid main-grid">
    <div class="col-12 right max-w-full">
        <div class="bread-filter">
            <div class="d-flex bet end middle">
                <div>
                    <app-hrm-breadcrumb [items]="items"></app-hrm-breadcrumb>
                </div>
                <div class="d-flex align-items-center">
                    <div class="filter filter-search">
                        <div class="field-group text search mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                            <input class="input-default" type="text" autocomplete="off" id="filter"
                                (click)="op.toggle($event)" (keydown.enter)="query.offSet = 0; first = 0;load()"
                                [(ngModel)]="query.filter">
                                <label>Vị trí, chuyển môn ...</label>
                                <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10.1305 11.2619C9.28558 11.8771 8.24518 12.24 7.12002 12.24C4.29231 12.24 2 9.94772 2 7.12002C2 4.29231 4.29231 2 7.12002 2C9.94772 2 12.24 4.29231 12.24 7.12002C12.24 8.24518 11.8771 9.28558 11.2619 10.1305L13.7657 12.6343C14.0781 12.9467 14.0781 13.4533 13.7657 13.7657C13.4533 14.0781 12.9467 14.0781 12.6343 13.7657L10.1305 11.2619ZM11.28 7.12002C11.28 9.41753 9.41753 11.28 7.12002 11.28C4.8225 11.28 2.96 9.41753 2.96 7.12002C2.96 4.8225 4.8225 2.96 7.12002 2.96C9.41753 2.96 11.28 4.8225 11.28 7.12002Z"
                                            fill="#808AA6" />
                                    </svg>
                                </span>
                            <p-overlayPanel #op [style]="{width: '700px'}" styleClass="advance-seach">
                                <ng-template pTemplate>
                                    <div class="header-filter-search  grid">
                                        <h3>Tìm kiếm nâng cao</h3>
                                    </div>
                                    <div class="header-filter-search grid mt-1">
                                        <div class="icon col-12 pl-0" style="display: flex; flex-wrap: wrap;">
                                            <div class="col-6">
                                                <div class="field-group select valid">
                                                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                                                    [options]="listOrgRoots" [(ngModel)]="query.organizeId"  (onChange)="find()"
                                                    name="organizeId" [filter]="true">
                                                    <ng-template let-item pTemplate="selectedItem">
                                                        <span>{{item.label}}</span>
                                                    </ng-template>
                                                    <ng-template let-car pTemplate="item">
                                                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                            <div style="font-size:14px;margin-top:4px">{{car.label}}</div>
                                                        </div>
                                                    </ng-template>
                                                </p-dropdown>
                                                <label>Công ty</label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="field-group text label-8 mb-0">
                                                    <input type="number" class="input-default" id="" placeholder="Tháng"
                                                        [(ngModel)]="query.month">
                                                    <label>Tháng</label>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="field-group text label-8 mb-0">
                                                    <input type="number" class="input-default" id="" placeholder="Năm"
                                                        [(ngModel)]="query.year">
                                                    <label>Năm</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="input-group icon col-12 select-default pr-0 text-right">
                                            <label for="" style="visibility: hidden;">Classid <span class="pi pi-info-circle"
                                                    style="font-size: 13px;color: orange;"></span></label>
                                            <p-button label="Tìm kiếm" styleClass="mr-1" icon="pi pi-search" (click)="load()">
                                            </p-button>
                                            <p-button label="Làm mới" icon="pi pi-times" (click)="cancel()"
                                                styleClass="p-button-secondary">
                                            </p-button>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-overlayPanel>
                        </div>
                    </div>
                    <p-button styleClass="p-button-sm mr-1 ml-1 height-56" icon="pi pi-cloud-download" label="Export" (click)="Export()"></p-button>
                    <p-button styleClass="p-button-sm height-56" icon="pi pi-plus" label="Cấu hình" (click)="cauhinh()"></p-button>
                </div>
               
            </div>
           
        </div>
        <div class="grid-default" #container>
            <app-list-grid-angular  *ngIf="columnDefs.length > 0"
                [listsData]="listsData" [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>