

.comment-wrapper .panel-body {
    /* max-height:650px; */
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #dbd7d7;
    box-shadow:inset 0 0 3px rgba(219, 219, 219, 0.7);
    border-radius: 10px;
    padding-bottom: 0px;
}


.btn-answer {
  bottom: -0.5rem;
  right: 1rem;
}

.answer-comment {
  margin-bottom: 2rem;
}

.sub-comment {
  visibility: hidden;
  height: 0px;
  overflow: hidden;
  transition: 1s;
  border: solid 1px #f3f3f3e6;
  border-radius: 10px;
}

.sub-comment-active {
  visibility: visible;
  height: 300px;
  overflow: scroll;
}

.pointer {
  cursor: pointer;
  color: dodgerblue;
}

.sub-comment::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.sub-comment::-webkit-scrollbar-thumb {
  background: #FF0000;
}
