:host::ng-deep{
    .btn-popup-top-right{
        position: absolute;
        top: 19px;
        right: 75px;
    }
    .btn-popup-bottom-right{
        position: absolute;
        bottom: 19px;
        right: 30px;
        z-index: 999;
    }
}