
<div class="main-grid product-detail">
    <div class="breadcrumb">
        <h3>{{titlePage}}</h3>
        <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
   <div class="content">
    <p-tabView [(activeIndex)]="indexTab" (onChange)="handleChange($event.index)">
        <p-tabPanel header="Thông tin chung">
              <div class="" *ngIf="detailInfo">
                  <app-edit-detail *ngIf="listViews.length> 0 && manhinh === 'Edit'" [thongtinnhanvienNew]="true"  [manhinh]="'Edit'" [dataView]="listViews" (callback)="setTerminateInfo($event)" (callbackcancel)="cancelUpdate()"></app-edit-detail>
              </div>
        </p-tabPanel>
        <p-tabPanel header="Danh sách hồ sơ">
            <p-card styleClass="mt-1">
            <ng-template pTemplate="header">
             <div class="row d-flex">
                <div class="col-md-6">
                    <div class="panel-heading" style="padding: 10px;"><h6 class="panel-title" style="color: black; font-weight: 500;">Danh sách hợp đồng<p-badge *ngIf="listsData.length > 0" value="{{listsData.length}}" styleClass="p-mr-2"></p-badge></h6></div>
                </div>
                <!-- <div class="col-md-6 justify-content-end text-right">
                    <p-button label="Thêm mới" styleClass="p-button-sm" (click)="addComAuthorizeInfo()"></p-button>
                </div> -->
             </div>
            </ng-template>
            <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="indexTab === 1 && columnDefs.length > 0"
            [title]="'Chứng chỉ'" [listsData]="listsData" (FnClick)="OnClick($event)"
            [columnDefs]="columnDefs"></app-list-grid-angular>
            </p-card>
        </p-tabPanel>
      </p-tabView>
   </div>
   
</div>