<div class="main-grid product-detail">
    <section>
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
    <div class="content">
        <p-tabView [(activeIndex)]="indexTab" (onChange)="handleChange($event.index)">
            <p-tabPanel header="Thông tin chung">
                <div class="row">
                   <div class="col-md-2"></div>
                   <div class="col-md-8">
                    <div class="status-line">
                        <p-steps [model]="stepsLine" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
                    </div>
                   </div>
                   <div class="col-md-2"></div>
                </div>
                <div class="mt-1" *ngIf="detailInfo">
                    <app-edit-detail [optionsButtonsEdit]="optionsButtonsView"
                        *ngIf="listViews.length> 0 && manhinh === 'Edit'" [thongtinnhanvienNew]="true"
                        [manhinh]="'Edit'" [detail]="detailInfo" [dataView]="listViews" (callback)="setTerminateInfo($event)"
                        (callbackcancel)="cancelUpdate($event)" (callbackButton)="callbackButton($event)"></app-edit-detail>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Danh sách hồ sơ">
                <p-card styleClass="mt-1">
                    <ng-template pTemplate="header">
                        <div class="row d-flex">
                            <div class="col-md-6">
                                <div class="panel-heading">
                                    <h6 class="panel-title" style="color: black; font-weight: 500;">Danh sách hợp đồng
                                        <p-badge *ngIf="listsData.length > 0" value="{{listsData.length}}"
                                            styleClass="p-mr-2 ml-1"></p-badge>
                                    </h6>
                                </div>
                            </div>
                            <!-- <div class="col-md-6 justify-content-end text-right">
                    <p-button label="Thêm mới" styleClass="p-button-sm" (click)="addComAuthorizeInfo()"></p-button>
                </div> -->
                        </div>
                    </ng-template>
                    <div class="grid-default border">
                        <app-list-grid-angular [domLayout]="'autoHeight'"
                            *ngIf="indexTab === 1 && columnDefs.length > 0" [title]="'Chứng chỉ'"
                            [listsData]="listsData" (FnClick)="OnClick($event)" [columnDefs]="columnDefs">
                        </app-list-grid-angular>
                    </div>
                </p-card>
            </p-tabPanel>
        </p-tabView>
    </div>

</div>

<p-dialog [(visible)]="displayuploadcontract" [autoZIndex]="true" [modal]="true" [position]="'top-right'"
    [appendTo]="'body'" [style]="{width: '800px', height: 'auto'}">
    <p-header>
        Tải lên hợp đồng [{{metafile?.meta_title}}]
    </p-header>
    <app-upload-file [multiple]="" (callback)="handleUpload($event)" *ngIf="displayuploadcontract"></app-upload-file>
</p-dialog>

<p-dialog styleClass="popup-btngroup-edit-detail" header="Tuyển dụng lại" [(visible)]="showRehire" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '95vw'}" [autoZIndex]=true [draggable]="false"
    [resizable]="false">
    <div class="pt-3" style="position: relative">
        <div *ngIf="showRehire">
            <app-edit-detail [isViewButtonTop] = "true" *ngIf="listViewsFormEmp.length> 0" [detail]="detailInfoEmp" [manhinh]="manhinh" [thongtinnhanvienNew]="true" [dataView]="listViewsFormEmp" (callback)="handleRehire($event)" (callbackcancel)="cancelRehire($event)"></app-edit-detail>
            <div class="col-md-6 mt-1">
                <div class="field-group text" [ngClass]=" modelDuyet.full_name ? 'valid' : 'invalid' ">
                    <label for="">Nhân viên</label>
                    <input type="text" [value]="modelDuyet.full_name || 'No name'" disabled name="full_name" class="form-control">
                </div>
            </div>
            <div class="col-md-6 mt-1 ">
                <div class="field-group date">
                    <label for="">Ngày xác nhận</label>
                    <p-calendar placeholder="DD/MM/YYYY" appendTo="body" [baseZIndex]="101" [(ngModel)]="modelDuyet.workDt"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"
                        dateFormat="dd/mm/yy" name="workDt"></p-calendar>
                </div>
            </div>
            <div class="col-md-12 mt-1">
                <div class="field-group textarea">
                    <label for="">Ghi chú</label>
                    <textarea [(ngModel)]="modelDuyet.comments" name="comments" cols="30" rows="10"
                        class="form-control"></textarea>
                </div>
            </div>
        </div>
    </div>
</p-dialog>