<div class="grid main-grid">
    <div class="col-12 right max-w-full">
        <div class="breadcrumb">
            <h3>Danh sách thiết lập tầng thang máy</h3>
            <p-breadcrumb [model]="items"></p-breadcrumb>
        </div>
        <div class="table-tool grid white-background black-box-shadow-005 filterInput">
            <div class="header-filter-search col-4 ">
                <div class="field-group text search" [ngClass]="model.filter ?'valid' : 'invalid'">
                    <input class="input-default" type="text" id="filter"
                        (keydown.enter)="model.offset = 0; first = 0;load()"
                        [(ngModel)]="model.filter">
                    <label>Mã, tên nhóm</label>
                        <svg class="placeholder-icon" width="16" height="16" viewBox="0 0 16 16" fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10.1305 11.2619C9.28558 11.8771 8.24518 12.24 7.12002 12.24C4.29231 12.24 2 9.94772 2 7.12002C2 4.29231 4.29231 2 7.12002 2C9.94772 2 12.24 4.29231 12.24 7.12002C12.24 8.24518 11.8771 9.28558 11.2619 10.1305L13.7657 12.6343C14.0781 12.9467 14.0781 13.4533 13.7657 13.7657C13.4533 14.0781 12.9467 14.0781 12.6343 13.7657L10.1305 11.2619ZM11.28 7.12002C11.28 9.41753 9.41753 11.28 7.12002 11.28C4.8225 11.28 2.96 9.41753 2.96 7.12002C2.96 4.8225 4.8225 2.96 7.12002 2.96C9.41753 2.96 11.28 4.8225 11.28 7.12002Z"
                                fill="#808AA6" />
                        </svg>
                    <i id="icon-search" class="pi pi-angle-down"></i>
                    <p-button class="search-button" icon="pi pi-search" (click)="model.offset = 0; first = 0; load()">
                    </p-button>

                    <!-- <p-overlayPanel #op [style]="{width: '700px'}" styleClass="advance-seach">
                        <ng-template pTemplate>
                            <div class="header-filter-search  grid">
                                <h3>Tìm kiếm nâng cao</h3>
                            </div>
                            <div class="header-filter-search grid mt-1">
                                <div class="input-group icon col-12 select-default pl-0 text-right">
                                    <label for="">Trạng thái </label>
                                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                                        [options]="listStatus" [(ngModel)]="model.can_st" name="can_st"
                                        (onChange)="find()" [filter]="true">
                                        <ng-template let-item pTemplate="selectedItem">
                                            <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                                        </ng-template>
                                        <ng-template let-car pTemplate="item">
                                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <label for="">Chuyên môn </label>
                                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                                        [options]="listJobTitles" [(ngModel)]="model.jobId" name="jobId"
                                        (onChange)="findVacancy()" [filter]="true">
                                        <ng-template let-item pTemplate="selectedItem">
                                            <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                                        </ng-template>
                                        <ng-template let-car pTemplate="item">
                                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <label for="">Vị trí tuyển dụng </label>
                                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                                        [options]="listVacancy" [(ngModel)]="model.vacancy_id" name="vacancy_id"
                                        (onChange)="find()" [filter]="true">
                                        <ng-template let-item pTemplate="selectedItem">
                                            <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                                        </ng-template>
                                        <ng-template let-car pTemplate="item">
                                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}
                                                </div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                                <div class="input-group icon col-12 select-default pr-0 text-right">
                                    <label for="" style="visibility: hidden;">Classid <span class="pi pi-info-circle"
                                            style="font-size: 13px;color: orange;"></span></label>
                                    <p-button label="Tìm kiếm" styleClass="mr-1" icon="pi pi-search" (click)="load()">
                                    </p-button>
                                    <p-button label="Làm mới" icon="pi pi-times" (click)="cancel()"
                                        styleClass="p-button-secondary">
                                    </p-button>
                                </div>
                            </div>
                        </ng-template>
                    </p-overlayPanel> -->
                </div>
                <div class="input-group-append dropdown">
                </div>
            </div>
            <div class="col-8 tools">
                <p-button styleClass="p-button-sm mr-1" icon="pi pi-plus" label="Thêm mới" (click)="addThietLapTang()">
                </p-button>
            </div>
        </div>
        <div class="grid-default" #container>
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="model.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </div>
</div>


<p-dialog [(visible)]="isDialog" header="{{titleModal}}" [style]="{width: '600px', height: 'auto'}">
    <form #createElevatorfloor="ngForm" class="form-horizontal ng-pristine ng-valid ng-scope">
        <div class="box-body" style="padding:10px;">
          <div class="select-default">
            <label class="control-label">Mã dự án
              <span style="color:red">*</span>
            </label>
              <select class="form-control" (change)="changeBuilding($event)" name="projectCd" [(ngModel)]="elevatorfloorModel.projectCd"
                id="projectCd" #projectCd="ngModel">
                <option value="">Chọn dự án</option>
                <option *ngFor="let advert of projects; let i = index" value="{{advert.projectCd}}">
                    {{advert.projectName}} </option>
                </select>
          </div>
          <div class="select-default">
            <label class="control-label">Tòa
              <span style="color:red">*</span>
            </label>
              <select class="form-control" (change)="changebuildName($event)" name="buildCd" [(ngModel)]="elevatorfloorModel.buildCd"
                id="buildCd" #buildCd="ngModel">
                <option value="">Chọn tòa</option>
                <option *ngFor="let advert of buidings; let i = index" value="{{advert.buildCd}}">
                    {{advert.buildName}} </option>
                </select>
          </div>
          <div class="select-default">
            <label class="control-label">Khu vực
              <span style="color:red">*</span>
            </label>
              <select class="form-control" name="buildZone" [(ngModel)]="elevatorfloorModel.buildZone"
                id="buildZone" #buildZone="ngModel">
                <option value="">Chọn khu vực</option>
                <option *ngFor="let advert of buildingZones; let i = index" value="{{advert.buildZoneName}}">
                    {{advert.buildZoneName}} </option>
                </select>
          </div>
          <div class="select-default">
            <label class="control-label">Tầng
              <span style="color:red">*</span>
            </label>
              <select class="form-control" name="floorNumber" [(ngModel)]="elevatorfloorModel.floorNumber"
                id="floorNumber" #floorNumber="ngModel">
                <option value="">Chọn tầng</option>
                <option *ngFor="let advert of floorsCreate; let i = index" value="{{advert.floorNumber}}">
                    {{advert.floorName}} </option>
                </select>
          </div>
          <div class="select-default">
            <label class="control-label">Loại tầng
              <span style="color:red">*</span>
            </label>
              <select class="form-control" name="floorType" [(ngModel)]="elevatorfloorModel.floorType"
                    id="floorType" #floorType="ngModel">
                    <option value="">Chọn loại tầng</option>
                    <option *ngFor="let advert of floorsTypes; let i = index" value="{{advert.floorTypeName}}">
                        {{advert.floorTypeName}} </option>
                    </select>
          </div>
          <div class="form-row">
            <p-button label="Lưu lại" (click)="onSave()" styleClass="mr-2"></p-button>
            <p-button label="Đóng" (click)="isDialog = !isDialog"></p-button>
      </div>
        </div>
      </form>
</p-dialog>