<div class="main-grid product-detail">
    <!-- <section class="bread-crumb">
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section> -->
    <section class="content" [hidden]="showChooseCalander">
        <!-- <button (click)="showChooseCalander = true">Thêm thời gian họp</button> -->
        <div>
            <app-edit-detail *ngIf="listViews && listViews.length> 0" [isNested]="true" [detail]="detailInfo"
                [thongtinnhanvienNew]="true" [manhinh]="'Edit'" [dataView]="listViews"
                (callbackcancel)="quaylai($event)"
                (callback)="setMeetRoomInfo($event)" (callback1)="getValueElemetn($event)" (callbackDataInfo)="getDataInfo($event)">
            </app-edit-detail>
            <app-loading-detail 
                [id]="'sections-3qnt'" 
                *ngIf="listViews.length === 0">
            </app-loading-detail>

        </div>
        <!-- <div class="members mt-2">
        <div class="row">
            <div class="col-sm-6">
                <h4>Thành viên cuộc họp</h4>
            </div>
            <div class="col-sm-6 text-right">
                <p-button icon="pi pi-plus" (click)="handleAddMember()" styleClass="p-button-sm mr5" label="Thêm mới"></p-button>
            </div> 
            <div class="col-sm-12">
                <div class="grid-default border">
                    <app-list-grid-angular [domLayout]="'autoHeight'" [title]="'Chứng chỉ'"
                        [listsData]="listsData" (FnClick)="handleRemoveMember($event)"
                        [columnDefs]="columnDefs">
                    </app-list-grid-angular>
                </div>
            </div>
        </div>
    </div> -->
    </section>
    <section *ngIf="showChooseCalander">
        <app-chon-lich-hop (chooseDate)="theDateChoosed($event)" [meetingInfo]="meetingInfo"></app-chon-lich-hop>
    </section>
</div>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="showChooseMember" 
    position="right">
    <ng-template pTemplate="header">
        <!-- #iconheader -->
        Thành viên cuộc họp </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <app-meeting-schedule-member *ngIf="showChooseMember" (save)="handleChooseMember($event)">
    </app-meeting-schedule-member>
</p-sidebar>