<div class="main-grid product-detail p-4">
    <div class="grid">
        <div class="col-6 ">
            <span (click) ="back()" class="pointer"><i class="pi pi-chevron-left"></i> Lịch họp phòng IT</span>
        </div>
        <div class="col-6 text-right">
            <button pButton type="button" label="Thêm giờ họp" class="pi pi-plus" (click) ="handleAdd()"></button>
        </div>
    </div>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>

<p-dialog header="Chọn thời gian" [(visible)]="showChooseDate" [style]="{width: '500px'}">
    <app-chon-thoi-gian *ngIf = 'showChooseDate' (chooseTime) = "handleChooseTime($event)"></app-chon-thoi-gian>
</p-dialog>