<div class="main-grid product-detail p-4">
    <div class="grid">
        <div class="col-6 ">
            <!-- <span (click) ="back()" class="pointer"><i class="pi pi-chevron-left"></i> Lịch họp phòng IT</span> -->
        </div>
        <div class="col-6 text-right">
            <button pButton pRipple type="button" label="Quay lại" 
            (click)="goBack()" icon = "pi pi-times-circle" class="p-button-secondary mr-2"></button>
            <p-button (click) ="handleAdd()" 
                styleClass="p-button-sm height-56 ">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6668 8.0886H8.0886V13.6668H5.91173V8.0886H0.333496V5.91173H5.91173V0.333496H8.0886V5.91173H13.6668V8.0886Z" fill="#F6FBFF"/>
                    </svg>
                     &nbsp;&nbsp;
                Thêm giờ họp
            </p-button>
        </div>
    </div>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</div>

<p-dialog header="Chọn thời gian" [(visible)]="showChooseDate" [style]="{width: '500px'}">
    <app-chon-thoi-gian *ngIf = 'showChooseDate' (chooseTime) = "handleChooseTime($event)" [forTime]="meetingInfo"></app-chon-thoi-gian>
</p-dialog>