<p-dialog 
styleClass="search-em-in {{ dataSearched?.length > 0 ? 'search-em-result' : '' }}"
[(visible)]="isSearch" 
[draggable]="false" 
[resizable]="false" 
[autoZIndex]="true" 
[modal]="true" 
(onHide)="cancelItem()"
>

<ng-template pTemplate="header">
    Tìm kiếm nhân viên
</ng-template>
    <div class="search-in" [ngClass]="{'res': dataSearched.length > 0}">
        <div class="search-group fields d-flex" style="display: flex">
            <div class="col-3 pd-0" style="padding-right: 10px !important;border-right: 1px solid #ebe8e8;">
                <p-dropdown 
                 (onChange)="changeKeyType($event)"
                  [(ngModel)]="query.keyType" 
                appendTo="body" 
                [baseZIndex]="100" 
                [options]="searchBys" 
                placeholder="Tìm kiếm theo" >
                </p-dropdown>
            </div>
            <div class="col-9 pd-0">
                <!-- <p-button styleClass="p-button-sm " icon=" pi pi-search" (click)="getStaffsAtStore()"></p-button> -->
                <span class="pi pi-search" (click)="searchEmp()"></span>
                <span class="number-res" *ngIf="dataSearched && dataSearched.length > 0 && isSearching">{{ dataSearched.length }} kết quả</span>
                <div class="uni-load " [ngClass]="isLoading ? 'loading' : ''"></div>
                <div class="field-group text mb-0">
                    <input type="text" class="form-control" 
                    [(ngModel)]="query.keyName" name="keyName" (keyup.enter)="searchEmp()">
                </div>
                <!-- <p-autoComplete 
                    type="search" 
                    appendTo="body" 
                    (onClear)="clearEvent($event)" 
                    placeholder="Nhập nhân viên" 
                    [(ngModel)]="modelStaff" 
                    [suggestions]="listStaff" 
                    (onSelect)="onSelectStaff($event)"
                    (completeMethod)="getStaffsAtStore($event)" emptyMessage="Không tìm thấy nhân viên" field="label">
                </p-autoComplete> -->
                </div>
        </div>
    </div>
    <div class="search-content grid" *ngIf="dataSearched && dataSearched.length > 0">
        <div [ngClass]="dataInfo ? 'col-4' : 'col-12'">
            <div class="list-em">
                <table class="table" cellspacing="0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Họ tên</th>
                            <th>Mã nhân viên</th>
                            <th>Số điện thoại</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let emInfo of dataSearched">
                            <tr (click)="getEmpInfo(emInfo)" [ngClass]="emInfo.custId === custId ? 'active' : ''">
                                <td>
                                    <p-checkbox 
                                        name="customerName" 
                                        value="{{ emInfo.custId }}"
                                        [(ngModel)]="custIdChoosed" 
                                        inputId="customerName-{{ emInfo.custId }}"
                                        (onChange)="checkValue($event, emInfo)"
                                    ></p-checkbox>
                                </td>
                                <td><b>{{ emInfo?.full_Name }}</b></td>
                                <td>{{ emInfo?.cif_No }}</td>
                                <td>{{ emInfo?.phone1 }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-8">
            <div class="d-flex search-res emInfo" *ngIf="dataInfo">
                <div class="uni-load " [ngClass]="isLoadingInfo ? 'loading' : ''"></div>
                <div class="col-3 text-center">
                    <p-image src="{{ dataInfo?.avatar_Url ? dataInfo.avatar_Url : '../../../../../assets/images/no-image2.png' }}" alt="Image" width="250"></p-image>
                    <span>Mã định danh: <b>{{ dataInfo?.cif_No }}</b></span>
                </div>
                <div class="col-9">
                    <div class="grid">
                        <label class="col-3">Họ tên</label>
                        <span class="col-9"><b>{{ dataInfo?.full_Name }}</b></span>
                    </div>
                    <div class="grid">
                        <label class="col-3">Giới tính</label>
                        <span class="col-9"><b>{{ dataInfo?.sexName }}</b></span>
                    </div>
                    <div class="grid">
                        <label class="col-3">Email</label>
                        <span class="col-9"><b>{{ dataInfo?.email1 }}</b></span>
                    </div>
                    <div class="grid">
                        <label class="col-3">Số điên thoại</label>
                        <span class="col-9"><b>{{ dataInfo?.phone1 }}</b></span>
                    </div>
                    <div class="grid">
                        <label class="col-3">Địa chỉ</label>
                        <span class="col-9"><b>{{ dataInfo?.trad_Add1 }}</b></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <ng-template pTemplate="footer">
        <div class="d-flex middle end">
            <div  *ngIf="custId">
                <button type="button" 
                    class="p-button-secondary btn-cancel " 
                    pButton icon="pi pi-times" label="Hủy bỏ" 
                    (click)="cancelItem()">
                </button>
                <p-button 
                    styleClass="p-button-sm mr-1 " 
                    (click)="getItem()">
                Xác nhận
                </p-button>
            </div>
            <p-button 
                styleClass="p-button-sm mr-1 " *ngIf="dataSearched.length > 1 && dataCusIdChoosed.length > 0"
                (click)="xacnhan()">
            Gộp tài khoản
            </p-button>
        </div>
    </ng-template>
</p-dialog>


<p-dialog header="Xác nhận gộp 2 tài khoản" [(visible)]="displayGop" [position]="'top-right'" [modal]="true" [style]="{width: '40vw'}"
    [draggable]="false" [resizable]="false">
   
    <div class="col-md-12">
        <p class="mb-1">{{modelXacnhan.message}}</p>
        <div class="fields">
            <label for="">Tài khoản được giữ lại</label>
            <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" [options]="listTargets_s"
                [required]="true"  [(ngModel)]="modelXacnhan.keep_custId" name="keep_custId" (onChange)="changeCifNo($event, 'keep_custId')">
                <ng-template let-item pTemplate="selectedItem">

                    <span style="vertical-align:middle; margin-left: .5em">{{item.label}} </span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">

                        <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>
    <div class="col-md-12 mt-1">
        <div class="fields">
            <label for="">Tài khoản sẽ hủy</label>
            <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" (onChange)="changeCifNo($event, 'remove_custId')" [options]="listTargets_s"
                [required]="true"  [(ngModel)]="modelXacnhan.remove_custId" name="remove_custId" >
                <ng-template let-item pTemplate="selectedItem">
                    <span style="vertical-align:middle; margin-left: .5em">{{item.label}} </span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">

                        <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>
    </div>

    <div class="col-md-12 mt-1">
        <div class="p-field-checkbox">
            <p-checkbox [(ngModel)]="modelXacnhan.overite" [binary]="true" inputId="binary" label="Thông tin tài khoản giữ lại sẽ tự động cập nhật vào tất cả hợp đồng của khách hàng ."></p-checkbox>
        </div>
    </div>
    

        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="xacnhangop()" label="Đồng ý" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
