<div class="content">
    <!-- <app-edit-detail
        *ngIf="listViews.length> 0"
        [detail]="detailInfo"
        [manhinh]="'Edit'"
        [idDetail]="'detail2'"
        (callBackForm)="callBackForm($event)"
        [optionsButtonsEdit]="optionsButon"
        [dataView]="listViews"
        (callback)="handleSave($event)"
        (callbackcancel)="quaylai($event)"
    ></app-edit-detail> -->


    <app-edit-detail *ngIf="listViews.length> 0"  [detailInfo]="detailInfo"  [buttons]="optionsButon"
        [listForms]="listViews" (callback)="handleSave($event)" (close)="quaylai($event)"
      ></app-edit-detail>
</div>
