
<div class="main-grid">
    <section class="bread-crumb">
        <div class="d-flex bet middle">
            <div class="p-0 col-12 md:col-12 lg:col-3 xl:col-3">
                <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
            </div>
            <div class="d-flex end p-0 wrap col-12 md:col-12 lg:col-9 xl:col-9 gap12">
                <div class="filter filter-search p-0 col-4 md:col-4 lg:col-4 xl:col-3">
                    <div class="fields search mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                        <input placeholder="Tìm kiếm ..." class="input-default" type="text" autocomplete="off" id="filter"
                            (keydown.enter)="query.offSet = 0; first = 0;load()"
                            [(ngModel)]="query.filter">
                            <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.02893 0.850098C4.51087 0.850098 0.849609 4.51552 0.849609 9.03539C0.849609 13.5553 4.51087 17.2207 9.02893 17.2207C10.8456 17.2207 12.5254 16.6271 13.8828 15.6241L17.1276 18.8716C17.4984 19.2427 18.0999 19.243 18.4711 18.8721C18.8422 18.5013 18.8425 17.8998 18.4716 17.5286L15.2709 14.3252C16.4787 12.8991 17.2083 11.0518 17.2083 9.03539C17.2083 4.51552 13.547 0.850098 9.02893 0.850098ZM2.74961 9.03539C2.74961 5.56338 5.56169 2.7501 9.02893 2.7501C12.4962 2.7501 15.3083 5.56338 15.3083 9.03539C15.3083 10.8568 14.5355 12.496 13.2976 13.645C12.1765 14.6858 10.6778 15.3207 9.02893 15.3207C5.56169 15.3207 2.74961 12.5074 2.74961 9.03539Z" fill="#2B2F33" fill-opacity="0.6"/>
                                    </svg>
                            </span>
                    </div>
                </div>
                <p-button styleClass="p-button-sm btn-option" (click)="op.toggle($event)">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 14V16H6V14H0ZM0 2V4H10V2H0ZM10 18V16H18V14H10V12H8V18H10ZM4 6V8H0V10H4V12H6V6H4ZM18 10V8H8V10H18ZM12 6H14V4H18V2H14V0H12V6Z" fill="#76809B"/>
                    </svg>
                    <span class="dot"></span>
                </p-button>
                <p-button (click)="approved()" label="Phê duyệt" [disabled]="!isShowButtonApprove"
                    styleClass="p-button-sm  p-button-success" icon="pi pi-check">
                </p-button>
                <p-button  (click)="menuButton.toggle($event)" label="Cài đặt" icon="pi pi-cog" styleClass="p-button-sm "></p-button>
                <p-menu [model]="menuItem" [appendTo]="'body'" [popup]="true" #menuButton></p-menu>
            </div>
        </div>
    </section>
    <section>
        <div class="grid-default" #container>
            <app-list-grid-angular  *ngIf="columnDefs.length > 0"
                [listsData]="listsData" [height]="heightGrid"
                (showConfig)="cauhinh()"  [rowSelection]="'multiple'" (callback)="rowSelected($event)"
                [columnDefs]="columnDefs"></app-list-grid-angular>

                <app-loading-grid  [gridtype]="'hsnv'" *ngIf="columnDefs.length === 0" [columnNumber]="17"></app-loading-grid>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </section>
</div>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="isShowAvatar" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Ảnh Avartar </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <p-image class="img-popup" [src]="imgAvatar" alt="Image" [preview]="false" ></p-image>
</p-sidebar>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="displayChangeStatus" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Thay đổi trạng thái </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <app-cap-nhat-trang-thai-nghi-viec [terminateId]="modelPheDuyet.id" *ngIf="displayChangeStatus"></app-cap-nhat-trang-thai-nghi-viec>
    <!-- <div class="col-md-12 mt-1" style="padding: 0"> 
        <div class="field-group multi-select" [ngClass]=" modelPheDuyet.status_key ? 'valid' : 'invalid' ">
            <label for="">status_key</label>
            <p-multiSelect [autoZIndex]="true" [options]="listTerminateKey" [(ngModel)]="modelPheDuyet.status_key" optionLabel="name"></p-multiSelect>
        </div>
    </div>
    
    <div class="col-md-12 mt-1" style="padding: 0">
        <div class="field-group date valid">
            <label for="">Ngày xác nhận</label>
            <p-calendar placeholder="DD/MM/YYYY" appendTo="body" [baseZIndex]="101" [(ngModel)]="modelPheDuyet.status_dt"
                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"
                dateFormat="dd/mm/yy" name="status_dt"></p-calendar>
            </div>
    </div>

    <div class="col-md-12 mt-1" style="padding: 0">
        <div class="field-group textarea">
            <label for="">Ghi chú</label>
            <textarea name="comment" [(ngModel)]="modelPheDuyet.comment"  class="form-control" cols="30" rows="10"></textarea>
        </div>
    </div>

    <div class="col-md-12 mt-1 text-right d-flex justify-content-end">
        <p-button label="Xác nhận" styleClass="p-button-sm mr-1" (click)="xacnhan()"> </p-button>
        <p-button label="Hủy bỏ" styleClass="p-button-sm p-button-secondary mr-1" (click)="displayChangeStatus = !displayChangeStatus"> </p-button>
    </div> -->
</p-sidebar>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="displayDialog" 
    styleClass="popup-btngroup-edit-detail"
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Tuyển dụng lại </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <app-edit-detail
    *ngIf="listViews.length> 0 && displayDialog"
    [detail]="detailInfoEmployee" [thongtinnhanvienNew]="true" [dataView]="listViews"
    (callback)="xacNhanTuyenDungLai($event)" (callbackcancel)="displayDialog = !displayDialog"></app-edit-detail>
    <div class="col-md-6 mt-1">
        <div class="field-group text" [ngClass]="modelDuyet?.full_name ? 'valid' : 'invalid' ">
            <label for="">Nhân viên</label>
            <input type="text" [value]="modelDuyet?.full_name || 'No name'" disabled name="full_name" class="form-control">
        </div>
    </div>
    <div class="col-md-6 mt-1 ">
        <div class="field-group date">
            <label for="">Ngày xác nhận</label>
            <p-calendar placeholder="DD/MM/YYYY" appendTo="body" [baseZIndex]="101" [(ngModel)]="modelDuyet.workDt"
                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"
                dateFormat="dd/mm/yy" name="workDt"></p-calendar>
        </div>
    </div>
    <div class="col-md-12 mt-1">
        <div class="field-group textarea">
            <label for="">Ghi chú</label>
            <textarea [(ngModel)]="modelDuyet.comments" name="comments" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>
</p-sidebar>

<p-sidebar
    [style]="{ width: '80%' }"
    styleClass="hr-diagram"
    [(visible)]="isHrDiagram" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Lọc nhân sự theo sơ đồ tổ chức </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    
    <p-organizationChart [value]="listAgencyMap" *ngIf="isHrDiagram" [preserveSpace]="false"  selectionMode="single"  [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
            styleClass="company">
            <ng-template let-node pTemplate="person">
                <div class="node-header p-corner-top">{{node.data.position ? node.data.position : 'No position'}}</div>
                <div class="node-content">
                    <img src="{{node.data.avatarUrl ? node.data.avatarUrl : '../../../../../assets/images/img_avatar.png'}}" width="32">
                    <div>{{node.data.full_name ? node.data.full_name : 'No name'}}</div>
                </div>
            </ng-template>
            <ng-template let-node pTemplate="department">
                {{node.label}}
            </ng-template>
        </p-organizationChart>
</p-sidebar>

<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>

<p-overlayPanel #op [style]="{'width': '40rem'}" [dismissable]="false" appendTo="body" >
    <ng-template pTemplate>
        <app-form-filter *ngIf="listViewsFilter.length > 0" [listFields]="listViewsFilter" [detailInfoFilter]="detailInfoFilter" [buttonsFilters] ="optionsButonFilter" (callback)="filterLoad($event);op.hide()" (close)="close($event);op.hide()"></app-form-filter>
    </ng-template>
</p-overlayPanel>

<p-sidebar
styleClass="popup-btngroup-edit-detail"
    [style]="{ width: '80%' }"
    [(visible)]="displayLock" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        {{modelLock.app_lock_st ? 'Đóng ứng dụng': 'Mở khóa ứng dụng'}} [{{modelLock.employeeName}}] </ng-template>
        <div class="col-md-12 mt-1">
            <div class="field-group textarea">
                <label for="">Ghi chú</label>
                <textarea [(ngModel)]="modelLock.comment" name="comments" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>
        <ng-template pTemplate="footer">
            <p-button styleClass="p-button-sm" label="Gửi" icon="pi pi-send" (click)="saveOnLock()"></p-button>
            <p-button styleClass="p-button-sm ml-1 p-button-secondary" icon="pi pi-times" label="Đóng" (click)="displayLock = false"></p-button>
        </ng-template> 
</p-sidebar>