<div class="main-grid product-detail" *ngIf="!isDialog">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="itemsMenu"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
    <section>

        <app-edit-detail *ngIf="listViews.length> 0" [manhinh]="'Edit'" [isNested]="true" [detailInfo]="detailInfo" [buttons]="optionsButtonsView"
            [listForms]="listViews" (callback)="setDetail($event)" (close)="cancel($event)"
          ></app-edit-detail>

        <app-loading-detail 
            [id]="'chi-tiet-tuyen-dung'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>
        <p-divider align="center">
            <span class="p-tag">Danh sách kế hoạch</span>
        </p-divider>
        <app-plan-detail *ngIf="modelEdit.recruitPlanId" [recruitPlantId]="modelEdit.recruitPlanId"></app-plan-detail>
    </section>
</div>


