/* :host::ng-deep .p-fileupload-buttonbar{
    display: none;
} */
:host::ng-deep .wrap-upload{
    border: 1px dashed #4C97E4;
    border-radius: 4px;
}
:host::ng-deep .wrap-upload .p-fileupload-content{
    border: none;
    padding-top: 0px;
    padding-bottom: 20px;
}
:host::ng-deep .wrap-upload .p-fileupload-content p-progressbar,
:host::ng-deep .wrap-upload .p-fileupload-content .p-fileupload-files{
    display: none;
}
:host::ng-deep .wrap-upload .p-fileupload-buttonbar{
    text-align: center;
}
:host::ng-deep .wrap-upload .content-upload h3{
    margin-top: 0px;
}
:host::ng-deep .wrap-upload .p-fileupload-buttonbar .p-fileupload-choose{
    background-image: url("data:image/svg+xml,%3Csvg width='33' height='32' viewBox='0 0 33 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.3333 20.4999V27.8333H3.66667V20.4999H0V31.4999H33V20.4999H29.3333Z' fill='%234C97E4'/%3E%3Cpath d='M23.0817 12.0849L18.3333 7.35492V22.3333H14.6667V7.35492L9.91833 12.0849L7.33333 9.49992L16.5 0.333252L25.6667 9.49992L23.0817 12.0849Z' fill='%234C97E4'/%3E%3C/svg%3E%0A");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    width: 33px;
    height: 33px;
    padding: 0px;
    margin: 0px;
    min-width: 0px;
}
:host::ng-deep .wrap-upload .p-fileupload-buttonbar .p-fileupload-choose .p-button-label{
    display: none;
}
/* :host::ng-deep .upload-attact-detail .wrap-edit-detail>.grid{
    display: none;
} */
:host::ng-deep .upload-attact-detail .wrap-edit-detail .btn-group-edit-detail{
    position: absolute !important;
    bottom: 12px !important;
    right: 20px !important;
}
:host::ng-deep .upload-attact-detail{
    padding-bottom: 40px;
}
:host::ng-deep .linkurl-drag{
    border: none;
    padding: 0px;
}