<div class="upload-attact-detail">
   <!-- <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [thongtinnhanvienNew]="true" [dataView]="listViews"
      (callback)="setUploadFile($event)" (callback1)="getFilesDetail($event)" (callbackcancel)="huy()"></app-edit-detail> -->
      <!-- Check lại điều kiện -->

      <app-edit-detail  *ngIf="listViews.length> 0 " [isNested]="true" [manhinh]="'Edit'"  [detailInfo]="detailInfo"  [buttons]="[]"
         [listForms]="listViews" (callback)="setUploadFile($event)" (close)="huy()"
       ></app-edit-detail>

<!-- <div class="wrap-upload">
   <p-fileUpload [chooseLabel]="''" [chooseIcon]="''" [showUploadButton]="false" [showCancelButton]="false" [customUpload]="true" name="demo[]" url="./upload.php" 
      [multiple]="false" accept="" (onSelect)="uploadHandler($event)" [maxFileSize]="10000000">
      <ng-template pTemplate="toolbar">

      </ng-template>
      <ng-template pTemplate="content">
         <div class="content-upload text-center">
               <h3 style="color: #182850;">Tải tệp & Kéo tệp</h3>
               <p>Supported formates: JPEG, PNG, GIF, MP4, PDF, PSD, AI, Word, PPT</p>
         </div>
      </ng-template>
   </p-fileUpload>
</div> -->
<!-- <div class="file-uploaded" *ngIf="uploadedFiles.length">
   <h3 class="uploaded-title">Đã upload xong</h3>
   <ul>
      <li class="d-flex middle bet" *ngFor="let file of uploadedFiles">{{file.name}} 
         <span (click)="removeImage()">
            <svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg">
               <path d="M9.33366 5.33341V12.0001H2.66699V5.33341H9.33366ZM8.33366 0.666748H3.66699L3.00033 1.33341H0.666992V2.66675H11.3337V1.33341H9.00033L8.33366 0.666748ZM10.667 4.00008H1.33366V12.0001C1.33366 12.7334 1.93366 13.3334 2.66699 13.3334H9.33366C10.067 13.3334 10.667 12.7334 10.667 12.0001V4.00008Z" fill="#FF3B49"/>
               <path fill-rule="evenodd" clip-rule="evenodd" d="M4.00033 10.3334V6.66675H5.33366V10.3334H4.00033Z" fill="#FF3B49"/>
               <path fill-rule="evenodd" clip-rule="evenodd" d="M6.66699 10.3334V6.66675H8.00033V10.3334H6.66699Z" fill="#FF3B49"/>
            </svg>
         </span>
      </li>
   </ul>
</div> -->
<!-- <div class="field-group textarea mt-3">
   <label>Ghi chú</label>
   <textarea [(ngModel)]="note"></textarea>
</div> -->
</div>