<div class="section-box border-section pt-2">
    <div class="d-flex bet col-12 pl-0 pr-0">
        <h3 class="title-section">Danh sách chính sách</h3>
        <p-button styleClass="p-button-sm" icon="pi pi-plus" label="Thêm mới" (click)="addSchemeByEmpid()"></p-button>
    </div>
    <app-list-grid-angular 
        [domLayout]="'autoHeight'" 
        *ngIf="columnDefs.length > 0" 
        [title]="'Chứng chỉ'"
        [listsData]="listsData" 
        (showConfig)="CauHinh()"
        (onCellClicked)="onCellClicked($event)"
        [idGrid]="gridKey + '_45dfs'"
        [columnDefs]="columnDefs">
    </app-list-grid-angular>
    <app-loading-grid 
    [columnNumber]="9" 
    gridtype="''" 
    [value]="[1,2]" 
    *ngIf="columnDefs?.length === 0">
</app-loading-grid>
</div>


<p-dialog header="Cài đặt cấu hình " [appendTo]="'body'" [focusTrap]="false" styleClass="popup-setting"
    (onHide)="getSchemeEmpPage()" [(visible)]="displaySetting" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"
        [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="displayAddSchemeByEmpId" 
    styleClass="popup-btngroup-edit-detail"
    position="right">
    <ng-template pTemplate="header">
        <!-- #iconheader -->
        Thêm mới chính sách </ng-template>
        <app-list-grid-angular 

            [height]="heightGrid" 
            *ngIf="columnDefs2.length > 0 && displayAddSchemeByEmpId" 
            [idGrid]="gridKey + '_45dfs34343'"
            [title]="'Chứng chỉ'"
            [listsData]="listsData2" 
            (showConfig)="CauHinh()"
            [rowSelection]="'multiple'"
            (onCellClicked)="onCellClicked($event)"
            (callback)="rowSelected($event)"
            [columnDefs]="columnDefs2">
        </app-list-grid-angular>
    <!-- <app-loading-grid [columnNumber]="10" *ngIf="columnDefs2.length === 0"  [gridtype]="'hsnv'" [value]="[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7]"></app-loading-grid> -->
    <ng-template pTemplate="footer">
        <div class="grid bet middle">
            <div></div>
            <div class="pl-2 box-view d-flex align-items-center" style="border: 1px solid #ccc;">
                <label class="col-3">Ngày áp dụng:</label>
                <div class="col-9 d-flex middle bet " *ngIf="columnDefs2.length > 0">
                    <div class="fields no-border" style="margin: auto;">
                        <p-calendar placeholder="Từ ngày" 
                        panelStyleClass="datepicker-default" placeholder="Từ ngày (DD/MM/YYYY)"
                        [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.from_date" 
                        [monthNavigator]="true"
                        [yearNavigator]="true" inputId="navigators" dateFormat="dd/mm/yy"
                        name="fromdate"></p-calendar>
                    </div>
                    <span class="pi pi-arrow-right"></span>
                    <div class="fields no-border" style="margin: auto;">
                        <p-calendar placeholder="Đến ngày" 
                        panelStyleClass="datepicker-default" placeholder="Đến ngày (DD/MM/YYYY)"
                        [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.to_date" 
                        [monthNavigator]="true" 
                        [yearNavigator]="true" inputId="navigators" dateFormat="dd/mm/yy"
                        name="fromdate"></p-calendar>
                    </div>
                </div>
            </div> 
            <div class="col-3 d-flex gap12 end p-0">
                <button type="button" pButton class="p-button-primary mr-1 p-button-text"  label="{{listsData2.length}} kết quả"></button>
                <button type="button" pButton icon="pi pi-check" label="Lưu lại ({{listSelects.length}})" (click)="save()"></button>
                <button type="button" class="p-button-secondary p-button-sm p-button" pButton icon="pi pi-times" label="Hủy bỏ" (click)="displayAddSchemeByEmpId = !displayAddSchemeByEmpId"></button>
            </div>
        </div>
    </ng-template>
</p-sidebar>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="displayChangeStatus" 
    styleClass="popup-btngroup-edit-detail"
    position="right">
    <ng-template pTemplate="header">
        <!-- #iconheader -->
        Cập nhật trạng thái hiện tại </ng-template>

        <div class="pl-2 pr-2 box-view d-flex mt-4">
            <span style="font-weight: 600;">Trạng thái </span>:  
            <div class="d-flex relative bet ml-2" style="width: 60%;" >
                <div class="fields no-border">
                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" placeholder="Tìm kiếm theo công ty" 
                    [options]="listStatus" [(ngModel)]="query.app_st" name="searchBy" >
                    <ng-template let-item pTemplate="selectedItem">
                        <span>{{item.label}}</span>
                    </ng-template>
                    <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div>{{car.label}}</div>
                        </div>
                    </ng-template>
                    </p-dropdown>
                </div>
            </div>
        </div> 
        <div class="col-12 box-view d-flex mt-4" style="border: 1px solid #ccc;">
            <span style="font-weight: 600;">Áp dụng đến ngày </span>:  
            <div class="d-flex relative bet ml-1" style="width: 60%;" >
                <div class="fields no-border">
                    <p-calendar placeholder="Đến ngày" 
                    panelStyleClass="datepicker-default" placeholder="Đến ngày (DD/MM/YYYY)"
                    [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.to_date" 
                    [monthNavigator]="true" 
                    [yearNavigator]="true" inputId="navigators" dateFormat="dd/mm/yy"
                    name="fromdate"></p-calendar>
                </div>
            </div>
        </div> 
        <!-- <app-loading-grid [columnNumber]="10" *ngIf="columnDefs2.length === 0"  [gridtype]="'hsnv'" [value]="[1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7]"></app-loading-grid> -->
        <ng-template pTemplate="footer">
            <div class="grid">
                <div class="col-9">
                </div> 
                <div class="col-3">
                    <button type="button" pButton icon="pi pi-check" label="Lưu lại" (click)="saveStatus()"></button>
                    <button type="button" class="p-button-secondary btn-cancel" pButton icon="pi pi-times" label="Hủy bỏ" (click)="displayChangeStatus = !displayChangeStatus"></button>
                </div>
            </div>
        </ng-template>
</p-sidebar>





