<div class="content">
    <!-- <app-edit-detail 
        *ngIf="listViews.length> 0" 
        [detail]="detailInfo" [manhinh]="'Edit'" 
        [optionsButtonsEdit]="optionsButon"  
        [dataView]="listViews"
        (callback)="setCandidateInfo($event)" 
        (callbackcancel)="quaylai($event)"
        (callBackForm)="callBackForm($event)">
    </app-edit-detail> -->

    <app-edit-detail  *ngIf="listViews.length> 0" 
        [manhinh]="'Edit'" 
        [isNested]="true"   [detailInfo]="detailInfo"  [buttons]="optionsButon"
       [listForms]="listViews" (callback)="setCandidateInfo($event)" (close)="quaylai($event)"
     ></app-edit-detail>
        <app-loading-detail 
                [id]="'sections-1qnt'" 
                *ngIf="listViews.length === 0"
                >
            </app-loading-detail>

   </div>