$colorIcon: rgb(82, 91, 115);
$IconHover: rgb(0, 82, 204);
$orangerColor: rgb(255, 124, 89);
$redColor: rgb(255, 59, 72);
$greenColor:rgb(52, 199, 89);
.uni-icon{
    position: relative;
    line-height: 1;
    display: inline-block;
    &:hover{
        cursor: pointer;
    }
    &::after{
        width: 18px;
        height: 18px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        content: '';
        display: block;
    }
    &.uni-overview{
        &::after { background-image: overview($colorIcon); }
        &:hover{ &::after{ background-image: overview($IconHover); } }
    }
    &.uni-users{
        &::after { background-image: users($colorIcon); }
        &:hover{ &::after{ background-image: users($IconHover); } }
    }
    &.uni-calendar{
        &::after { background-image: calendar($colorIcon); }
        &:hover{ &::after{ background-image: calendar($IconHover); } }
    }
    &.uni-note-money{
        &::after { background-image: noteMoney($colorIcon); }
        &:hover{ &::after{ background-image: noteMoney($IconHover); } }
    }
    &.uni-setting{
        &::after { background-image: setting($colorIcon); }
        &:hover{ &::after{ background-image: setting($IconHover); } }
    }
    &.uni-user-rate{
        &::after { background-image: userRate($colorIcon); }
        &:hover{ &::after{ background-image: userRate($IconHover); } }
    }
    &.uni-home-building{
        &::after { background-image: homeBuilding($colorIcon); }
        &:hover{ &::after{ background-image: homeBuilding($IconHover); } }
    }
    &.uni-note{
        &::after { background-image: note($colorIcon); }
        &:hover{ &::after{ background-image: note($IconHover); } }
    }
    &.uni-note-user{
        &::after { background-image: noteUser($colorIcon); }
        &:hover{ &::after{ background-image: noteUser($IconHover); } }
    }
    &.uni-learning-tools{
        &::after { background-image: learningTools($colorIcon); }
        &:hover{ &::after{ background-image: learningTools($IconHover); } }
    }
    &.uni-money{
        &::after { background-image: money($colorIcon); }
        &:hover{ &::after{ background-image: money($IconHover); } }
    }
    &.uni-user-group{
        &::after { background-image: getUserGroup($colorIcon); }
        &:hover{ &::after{ background-image: getUserGroup($IconHover); } }
    }
    &.uni-user-plus{
        &::after { background-image: getUserPlus($colorIcon); }
        &:hover{ &::after{ background-image: getUserPlus($IconHover); } }
    }
    &.uni-user-ban{
        &::after { background-image: getUserBan($colorIcon); }
        &:hover{ &::after{ background-image: getUserBan($IconHover); } }
    }
    &.uni-setting{
        &::after { background-image: getSetting($colorIcon); }
        &:hover{ &::after{ background-image: getSetting($IconHover); } }
    }
    &.uni-full-screen{
        &::after { background-image: getFullScreen($colorIcon); }
        &:hover{ &::after{ background-image: getFullScreen($IconHover); } }
    }
    &.uni-home{
        &::after { background-image: home($colorIcon); }
        &:hover{ &::after{ background-image: home($IconHover); } }
    }
    &.uni-user{
        &::after { background-image: user($colorIcon); }
        &:hover{ &::after{ background-image: user($IconHover); } }
    }
    &.uni-noti{
        &::after { background-image: noti($colorIcon); }
        &:hover{ &::after{ background-image: noti($IconHover); } }
    }
    &.uni-note-checked{
        &::after { background-image: noteChecked($colorIcon); }
        &:hover{ &::after{ background-image: noteChecked($IconHover); } }
    }
    &.uni-money-cicle{
        &::after { background-image: moneyCicle($colorIcon); }
        &:hover{ &::after{ background-image: moneyCicle($IconHover); } }
    }
    &.uni-protect{
        &::after { background-image: protect($colorIcon); }
        &:hover{ &::after{ background-image: protect($IconHover); } }
    }
    &.uni-setting-transparent{
        &::after { background-image: settingTransparent($colorIcon); }
        &:hover{ &::after{ background-image: settingTransparent($IconHover); } }
    }
    &.uni-narrow-down{
        &::after { background-image: narrowDown($colorIcon); }
        &:hover{ &::after{ background-image: narrowDown($IconHover); } }
    }
    &.uni-delete{
        &::after { background-image: delete($colorIcon); }
        &:hover{ &::after{ background-image: delete($IconHover); } }
    }
    &.uni-edit{
        &::after { background-image: edit($colorIcon); }
        &:hover{ &::after{ background-image: edit($IconHover); } }
    }
    &.uni-plus-cicle{
        &::after { background-image: plusCicle($colorIcon); }
        &:hover{ &::after{ background-image: plusCicle($IconHover); } }
    }
    &.uni-plus{
        &::after { background-image: plus($colorIcon); }
        &:hover{ &::after{ background-image: plus($IconHover); } }
    }
    &.uni-upload{
        &::after { background-image: upload($colorIcon); }
        &:hover{ &::after{ background-image: upload($IconHover); } }
    }
    &.uni-calendar{
        &::after { background-image: calendar($colorIcon); }
        &:hover{ &::after{ background-image: calendar($IconHover); } }
    }
    &.uni-config{
        &::after { background-image: config($colorIcon); }
        &:hover{ &::after{ background-image: config($IconHover); } }
    }
    &.uni-cancel-cicle{
        &::after { background-image: cancelCicle($colorIcon); }
        &:hover{ &::after{ background-image: cancelCicle($IconHover); } }
    }
    &.uni-checked-cicle{
        &::after { background-image: checkedCicle($colorIcon); }
        &:hover{ &::after{ background-image: checkedCicle($IconHover); } }
    }
    &.uni-close{
        &::after { background-image: close($colorIcon); }
        &:hover{ &::after{ background-image: close($IconHover); } }
    }
    &.uni-narrow-long-left{
        &::after { background-image: narrowLongLeft($colorIcon); }
        &:hover{ &::after{ background-image: narrowLongLeft($IconHover); } }
    }
    &.uni-file-attach{
        &::after { background-image: fileAttach($colorIcon); }
        &:hover{ &::after{ background-image: fileAttach($IconHover); } }
    }
    &.uni-envelope{
        &::after { background-image: envelope($colorIcon); }
        &:hover{ &::after{ background-image: envelope($IconHover); } }
    }
    &.uni-reload{
        &::after { background-image: reload($colorIcon); }
        &:hover{ &::after{ background-image: reload($IconHover); } }
    }
    &.uni-config-table{
        &::after { background-image: configTable($colorIcon); }
        &:hover{ &::after{ background-image: configTable($IconHover); } }
    }
    &.uni-warning-cicle{
        &::after { background-image: warningCicle($colorIcon); }
        &:hover{ &::after{ background-image: warningCicle($IconHover); } }
    }
    &.uni-options{
        &::after { background-image: options($colorIcon); }
        &:hover{ &::after{ background-image: options($IconHover); } }
    }
    &.uni-search{
        &::after { background-image: search($colorIcon); }
        &:hover{ &::after{ background-image: search($IconHover); } }
    }
    &.uni-save{
        &::after { background-image: save($colorIcon); }
        &:hover{ &::after{ background-image: save($IconHover); } }
    }
    &.uni-create-contract{
        &::after { background-image: createContract($colorIcon); }
        &:hover{ &::after{ background-image: createContract($IconHover); } }
    }
    &.uni-work-off{
        &::after { background-image: workOff($colorIcon); }
        &:hover{ &::after{ background-image: workOff($IconHover); } }
    }
    &.uni-shuffle{
        &::after { background-image: shuffle($colorIcon); }
        &:hover{ &::after{ background-image: shuffle($IconHover); } }
    }
    &.uni-exit-cicle-fill{
        &::after { background-image: exitCicleFill($colorIcon); }
        &:hover{ &::after{ background-image: exitCicleFill($IconHover); } }
    }
    &.uni-import{
        &::after { background-image: import($colorIcon); }
        &:hover{ &::after{ background-image: import($IconHover); } }
    }
    &.uni-caculator{
        &::after { background-image: caculator($colorIcon); }
        &:hover{ &::after{ background-image: caculator($IconHover); } }
    }
    &.uni-pen-line{
        &::after { background-image: penLine($colorIcon); }
        &:hover{ &::after{ background-image: penLine($IconHover); } }
    }
    &.uni-check-square-line{
        &::after { background-image: checkSquareLine($colorIcon); }
        &:hover{ &::after{ background-image: checkSquareLine($IconHover); } }
    }
    &.uni-document-note{
        &::after { background-image: documentNote($colorIcon); }
        &:hover{ &::after{ background-image: documentNote($IconHover); } }
    }
    &.uni-structure-fill{
        &::after { background-image: structureFill($colorIcon); }
        &:hover{ &::after{ background-image: structureFill($IconHover); } }
    }
    &.uni-refresh{
        &::after { background-image: refresh($colorIcon); }
        &:hover{ &::after{ background-image: refresh($IconHover); } }
    }
    &.uni-arrow-down-fill{
        &::after { background-image: arrowDownFill($colorIcon); }
        &:hover{ &::after{ background-image: arrowDownFill($IconHover); } }
    }
    &.uni-update{
        &::after { background-image: update($colorIcon); }
        &:hover{ &::after{ background-image: update($IconHover); } }
    }
    &.uni-note-basic{
        &::after { background-image: noteBasic($colorIcon); }
        &:hover{ &::after{ background-image: noteBasic($IconHover); } }
    }
    &.uni-lock-open-fill{
        &::after { background-image: lockOpenFill($colorIcon); }
        &:hover{ &::after{ background-image: lockOpenFill($IconHover); } }
    }
    &.uni-lock-fill{
        &::after { background-image: lockFill($colorIcon); }
        &:hover{ &::after{ background-image: lockFill($IconHover); } }
    }
    &.uni-copy-line{
        &::after { background-image: copyLine($colorIcon); }
        &:hover{ &::after{ background-image: copyLine($IconHover); } }
    }
    &.uni-gmail-line{
        &::after { background-image: gmailLine($colorIcon); }
        &:hover{ &::after{ background-image: gmailLine($IconHover); } }
    }
    &.uni-icon-square{
        &::after { background-image: iconSquare($colorIcon); }
        &:hover{ &::after{ background-image: iconSquare($IconHover); } }
    }
    &.uni-chevron-right{
        &::after { background-image: chevronRight($colorIcon); }
        &:hover{ &::after{ background-image: chevronRight($IconHover); } }
    }
    &.uni-folder{
        &::after { background-image: folder($colorIcon); }
        &:hover{ &::after{ background-image: folder($IconHover); } }
    }
    &.uni-phone{
        &::after { background-image: phone($colorIcon); }
        &:hover{ &::after{ background-image: phone($IconHover); } }
    }
    &.uni-door{
        &::after { background-image: door($colorIcon); }
        &:hover{ &::after{ background-image: door($IconHover); } }
    }
    &.uni-notify-fill{
        &::after { background-image: notifyFill($colorIcon); }
        &:hover{ &::after{ background-image: notifyFill($IconHover); } }
    }
    &.uni-clock{
        &::after { background-image: clock($colorIcon); }
        &:hover{ &::after{ background-image: clock($IconHover); } }
    }
    &.uni-camera{
        &::after { background-image: camera($colorIcon); }
        &:hover{ &::after{ background-image: camera($IconHover); } }
    }
    &.uni-send{
        &::after { background-image: send($colorIcon); }
        &:hover{ &::after{ background-image: send($IconHover); } }
    }
    &.uni-document-money{
        &::after { background-image: documentMoney($colorIcon); }
        &:hover{ &::after{ background-image: documentMoney($IconHover); } }
    }
    &.uni-caculator-fill{
        &::after { background-image: caculatorFill($colorIcon); }
        &:hover{ &::after{ background-image: caculatorFill($IconHover); } }
    }
    &.uni-vector{
        &::after { background-image: vector($colorIcon); }
        &:hover{ &::after{ background-image: vector($IconHover); } }
    }
    
}
.p-highlight, a:hover{
    .uni-icon{
        &.uni-tongquan{ &::after { background-image: overview($IconHover); } }
        &.uni-nhansu{ &::after { background-image: users($IconHover); } }
        &.uni-chamcong{ &::after { background-image: calendar($IconHover); } }
        &.uni-tinhluong{ &::after { background-image: noteMoney($IconHover); } }
        &.uni-quantri{ &::after { background-image: setting($IconHover); } }
        &.uni-thongtinchung{ &::after { background-image: userRate($IconHover); } }
        &.uni-qhgd{ &::after { background-image: homeBuilding($IconHover); } }
        &.uni-hopdong{ &::after { background-image: note($IconHover); } }
        &.uni-qtbonhiem{ &::after { background-image: noteUser($IconHover); } }
        &.uni-qtdaotao{ &::after { background-image: learningTools($IconHover); } }
        &.uni-dienbienluong{ &::after { background-image: money($IconHover); } }
        &.uni-user-group{ &::after { background-image: getUserGroup($IconHover); } }
        &.uni-user-plus{ &::after { background-image: getUserPlus($IconHover); } }
        &.uni-user-ban{ &::after { background-image: getUserBan($IconHover); } }
        &.uni-setting{ &::after { background-image: getSetting($IconHover); } }
        &.uni-full-screen{ &::after { background-image: getFullScreen($IconHover); } }
        &.uni-home{ &::after { background-image: home($IconHover); } }
        &.uni-user{ &::after { background-image: user($IconHover); } }
        &.uni-noti{ &::after { background-image: noti($IconHover); } }
        &.note-checked{ &::after { background-image: noteChecked($IconHover); } }
        &.uni-money-cicle{ &::after { background-image: moneyCicle($IconHover); } }
        &.uni-protect{ &::after { background-image: protect($IconHover); } }
        &.uni-setting-transparent{ &::after { background-image: settingTransparent($IconHover); } }
        &.uni-narrow-down{ &::after { background-image: narrowDown($IconHover); } }
        &.uni-delete{ &::after { background-image: delete($IconHover); } }
        &.uni-edit{ &::after { background-image: edit($IconHover); } }
        &.uni-plus-cicle{ &::after { background-image: plusCicle($IconHover); } }
        &.uni-plus{ &::after { background-image: plus($IconHover); } }
        &.uni-upload{ &::after { background-image: upload($IconHover); } }
        &.uni-calendar{ &::after { background-image: calendar($IconHover); } }
        &.uni-config{ &::after { background-image: config($IconHover); } }
        &.uni-cancel-cicle{ &::after { background-image: cancelCicle($IconHover); } }
        &.uni-checked-cicle{ &::after { background-image: checkedCicle($IconHover); } }
        &.uni-close{ &::after { background-image: close($IconHover); } }
        &.uni-narrow-long-left{ &::after { background-image: narrowLongLeft($IconHover); } }
        &.uni-file-attach{ &::after { background-image: fileAttach($IconHover); } }
        &.uni-envelope{ &::after { background-image: envelope($IconHover); } }
        &.uni-reload{ &::after { background-image: reload($IconHover); } }
        &.uni-config-table{ &::after { background-image: configTable($IconHover); } }
        &.uni-warning-cicle{ &::after { background-image: warningCicle($IconHover); } }
        &.uni-options{ &::after { background-image: options($IconHover); } }
        &.uni-search{ &::after { background-image: search($IconHover); } }
        &.uni-save{ &::after { background-image: save($IconHover); } }
        &.uni-create-contract{ &::after { background-image: createContract($IconHover); } }
        &.uni-work-off{ &::after { background-image: workOff($IconHover); } }
        &.uni-shuffle{ &::after { background-image: shuffle($IconHover); } }
        &.uni-exit-cicle-fill{ &::after { background-image: exitCicleFill($IconHover); } }
        &.uni-import{ &::after { background-image: import($IconHover); } }
        &.uni-caculator{ &::after { background-image: caculator($IconHover); } }
        &.uni-pen-line{ &::after { background-image: penLine($IconHover); } }
        &.uni-check-square-line{ &::after { background-image: checkSquareLine($IconHover); } }
        &.uni-document-note{ &::after { background-image: documentNote($IconHover); } }
        &.uni-structure-fill{ &::after { background-image: structureFill($IconHover); } }
        &.uni-refresh{ &::after { background-image: refresh($IconHover); } }
        &.uni-arrow-down-fill{ &::after { background-image: arrowDownFill($IconHover); } }
        &.uni-update{ &::after { background-image: update($IconHover); } }
        &.uni-note-basic{ &::after { background-image: noteBasic($IconHover); } }
        &.uni-lock-fill{ &::after { background-image: lockFill($IconHover); } }
        &.uni-copy-line{ &::after { background-image: copyLine($IconHover); } }
        &.uni-gmail-line{ &::after { background-image: gmailLine($IconHover); } }
        &.uni-icon-square{ &::after { background-image: iconSquare($IconHover); } }
        &.uni-chevron-right{ &::after { background-image: chevronRight($IconHover); } }
        &.uni-folder{ &::after { background-image: folder($IconHover); } }
        &.uni-phone{ &::after { background-image: phone($IconHover); } }
        &.uni-door{ &::after { background-image: door($IconHover); } }
        &.uni-notify-fill{ &::after { background-image: notifyFill($IconHover); } }
        &.uni-clock{ &::after { background-image: clock($IconHover); } }
        &.uni-camera{ &::after { background-image: camera($IconHover); } }
        &.uni-send{ &::after { background-image: send($IconHover); } }
        &.uni-document-money{ &::after { background-image: documentMoney($IconHover); } }
        &.uni-caculator-fill{ &::after { background-image: caculatorFill($IconHover); } }
        &.uni-vector{ &::after { background-image: vector($IconHover); } }
    }
}

.uni-icon{
    &.uni-orange-color{
        &.uni-tongquan{ &::after { background-image: overview($orangerColor); } }
        &.uni-nhansu{ &::after { background-image: users($orangerColor); } }
        &.uni-chamcong{ &::after { background-image: calendar($orangerColor); } }
        &.uni-tinhluong{ &::after { background-image: noteMoney($orangerColor); } }
        &.uni-quantri{ &::after { background-image: setting($orangerColor); } }
        &.uni-thongtinchung{ &::after { background-image: userRate($orangerColor); } }
        &.uni-qhgd{ &::after { background-image: homeBuilding($orangerColor); } }
        &.uni-hopdong{ &::after { background-image: note($orangerColor); } }
        &.uni-qtbonhiem{ &::after { background-image: noteUser($orangerColor); } }
        &.uni-qtdaotao{ &::after { background-image: learningTools($orangerColor); } }
        &.uni-dienbienluong{ &::after { background-image: money($orangerColor); } }
        &.uni-user-group{ &::after { background-image: getUserGroup($orangerColor); } }
        &.uni-user-plus{ &::after { background-image: getUserPlus($orangerColor); } }
        &.uni-user-ban{ &::after { background-image: getUserBan($orangerColor); } }
        &.uni-setting{ &::after { background-image: getSetting($orangerColor); } }
        &.uni-full-screen{ &::after { background-image: getFullScreen($orangerColor); } }
        &.uni-home{ &::after { background-image: home($orangerColor); } }
        &.uni-user{ &::after { background-image: user($orangerColor); } }
        &.uni-noti{ &::after { background-image: noti($orangerColor); } }
        &.note-checked{ &::after { background-image: noteChecked($orangerColor); } }
        &.uni-money-cicle{ &::after { background-image: moneyCicle($orangerColor); } }
        &.uni-protect{ &::after { background-image: protect($orangerColor); } }
        &.uni-setting-transparent{ &::after { background-image: settingTransparent($orangerColor); } }
        &.uni-narrow-down{ &::after { background-image: narrowDown($orangerColor); } }
        &.uni-delete{ &::after { background-image: delete($orangerColor); } }
        &.uni-edit{ &::after { background-image: edit($orangerColor); } }
        &.uni-plus-cicle{ &::after { background-image: plusCicle($orangerColor); } }
        &.uni-plus{ &::after { background-image: plus($orangerColor); } }
        &.uni-upload{ &::after { background-image: upload($orangerColor); } }
        &.uni-calendar{ &::after { background-image: calendar($orangerColor); } }
        &.uni-config{ &::after { background-image: config($orangerColor); } }
        &.uni-cancel-cicle{ &::after { background-image: cancelCicle($orangerColor); } }
        &.uni-checked-cicle{ &::after { background-image: checkedCicle($orangerColor); } }
        &.uni-close{ &::after { background-image: close($orangerColor); } }
        &.uni-narrow-long-left{ &::after { background-image: narrowLongLeft($orangerColor); } }
        &.uni-file-attach{ &::after { background-image: fileAttach($orangerColor); } }
        &.uni-envelope{ &::after { background-image: envelope($orangerColor); } }
        &.uni-reload{ &::after { background-image: reload($orangerColor); } }
        &.uni-config-table{ &::after { background-image: configTable($orangerColor); } }
        &.uni-warning-cicle{ &::after { background-image: warningCicle($orangerColor); } }
        &.uni-options{ &::after { background-image: options($orangerColor); } }
        &.uni-search{ &::after { background-image: search($orangerColor); } }
        &.uni-save{ &::after { background-image: save($orangerColor); } }
        &.uni-create-contract{ &::after { background-image: createContract($orangerColor); } }
        &.uni-work-off{ &::after { background-image: workOff($orangerColor); } }
        &.uni-shuffle{ &::after { background-image: shuffle($orangerColor); } }
        &.uni-exit-cicle-fill{ &::after { background-image: exitCicleFill($orangerColor); } }
        &.uni-import{ &::after { background-image: import($orangerColor); } }
        &.uni-caculator{ &::after { background-image: caculator($orangerColor); } }
        &.uni-pen-line{ &::after { background-image: penLine($orangerColor); } }
        &.uni-check-square-line{ &::after { background-image: checkSquareLine($orangerColor); } }
        &.uni-document-note{ &::after { background-image: documentNote($orangerColor); } }
        &.uni-structure-fill{ &::after { background-image: structureFill($orangerColor); } }
        &.uni-refresh{ &::after { background-image: refresh($orangerColor); } }
        &.uni-arrow-down-fill{ &::after { background-image: arrowDownFill($orangerColor); } }
        &.uni-update{ &::after { background-image: update($orangerColor); } }
        &.uni-note-basic{ &::after { background-image: noteBasic($orangerColor); } }
        &.uni-lock-fill{ &::after { background-image: lockFill($orangerColor); } }
        &.uni-copy-line{ &::after { background-image: copyLine($orangerColor); } }
        &.uni-gmail-line{ &::after { background-image: gmailLine($orangerColor); } }
        &.uni-icon-square{ &::after { background-image: iconSquare($orangerColor); } }
        &.uni-chevron-right{ &::after { background-image: chevronRight($orangerColor); } }
        &.uni-folder{ &::after { background-image: folder($orangerColor); } }
        &.uni-phone{ &::after { background-image: phone($orangerColor); } }
        &.uni-door{ &::after { background-image: door($orangerColor); } }
        &.uni-notify-fill{ &::after { background-image: notifyFill($orangerColor); } }
        &.uni-clock{ &::after { background-image: clock($orangerColor); } }
        &.uni-camera{ &::after { background-image: camera($orangerColor); } }
        &.uni-send{ &::after { background-image: send($orangerColor); } }
        &.uni-document-money{ &::after { background-image: documentMoney($orangerColor); } }
        &.uni-caculator-fill{ &::after { background-image: caculatorFill($orangerColor); } }
        &.uni-vector{ &::after { background-image: vector($orangerColor); } }
    }
    &.uni-red-color{
        &.uni-tongquan{ &::after { background-image: overview($redColor); } }
        &.uni-nhansu{ &::after { background-image: users($redColor); } }
        &.uni-chamcong{ &::after { background-image: calendar($redColor); } }
        &.uni-tinhluong{ &::after { background-image: noteMoney($redColor); } }
        &.uni-quantri{ &::after { background-image: setting($redColor); } }
        &.uni-thongtinchung{ &::after { background-image: userRate($redColor); } }
        &.uni-qhgd{ &::after { background-image: homeBuilding($redColor); } }
        &.uni-hopdong{ &::after { background-image: note($redColor); } }
        &.uni-qtbonhiem{ &::after { background-image: noteUser($redColor); } }
        &.uni-qtdaotao{ &::after { background-image: learningTools($redColor); } }
        &.uni-dienbienluong{ &::after { background-image: money($redColor); } }
        &.uni-user-group{ &::after { background-image: getUserGroup($redColor); } }
        &.uni-user-plus{ &::after { background-image: getUserPlus($redColor); } }
        &.uni-user-ban{ &::after { background-image: getUserBan($redColor); } }
        &.uni-setting{ &::after { background-image: getSetting($redColor); } }
        &.uni-full-screen{ &::after { background-image: getFullScreen($redColor); } }
        &.uni-home{ &::after { background-image: home($redColor); } }
        &.uni-user{ &::after { background-image: user($redColor); } }
        &.uni-noti{ &::after { background-image: noti($redColor); } }
        &.note-checked{ &::after { background-image: noteChecked($redColor); } }
        &.uni-money-cicle{ &::after { background-image: moneyCicle($redColor); } }
        &.uni-protect{ &::after { background-image: protect($redColor); } }
        &.uni-setting-transparent{ &::after { background-image: settingTransparent($redColor); } }
        &.uni-narrow-down{ &::after { background-image: narrowDown($redColor); } }
        &.uni-delete{ &::after { background-image: delete($redColor); } }
        &.uni-edit{ &::after { background-image: edit($redColor); } }
        &.uni-plus-cicle{ &::after { background-image: plusCicle($redColor); } }
        &.uni-plus{ &::after { background-image: plus($redColor); } }
        &.uni-upload{ &::after { background-image: upload($redColor); } }
        &.uni-calendar{ &::after { background-image: calendar($redColor); } }
        &.uni-config{ &::after { background-image: config($redColor); } }
        &.uni-cancel-cicle{ &::after { background-image: cancelCicle($redColor); } }
        &.uni-checked-cicle{ &::after { background-image: checkedCicle($redColor); } }
        &.uni-close{ &::after { background-image: close($redColor); } }
        &.uni-narrow-long-left{ &::after { background-image: narrowLongLeft($redColor); } }
        &.uni-file-attach{ &::after { background-image: fileAttach($redColor); } }
        &.uni-envelope{ &::after { background-image: envelope($redColor); } }
        &.uni-reload{ &::after { background-image: reload($redColor); } }
        &.uni-config-table{ &::after { background-image: configTable($redColor); } }
        &.uni-warning-cicle{ &::after { background-image: warningCicle($redColor); } }
        &.uni-options{ &::after { background-image: options($redColor); } }
        &.uni-search{ &::after { background-image: search($redColor); } }
        &.uni-save{ &::after { background-image: save($redColor); } }
        &.uni-create-contract{ &::after { background-image: createContract($redColor); } }
        &.uni-work-off{ &::after { background-image: workOff($redColor); } }
        &.uni-shuffle{ &::after { background-image: shuffle($redColor); } }
        &.uni-exit-cicle-fill{ &::after { background-image: exitCicleFill($redColor); } }
        &.uni-import{ &::after { background-image: import($redColor); } }
        &.uni-caculator{ &::after { background-image: caculator($redColor); } }
        &.uni-pen-line{ &::after { background-image: penLine($redColor); } }
        &.uni-check-square-line{ &::after { background-image: checkSquareLine($redColor); } }
        &.uni-document-note{ &::after { background-image: documentNote($redColor); } }
        &.uni-structure-fill{ &::after { background-image: structureFill($redColor); } }
        &.uni-refresh{ &::after { background-image: refresh($redColor); } }
        &.uni-arrow-down-fill{ &::after { background-image: arrowDownFill($redColor); } }
        &.uni-update{ &::after { background-image: update($redColor); } }
        &.uni-note-basic{ &::after { background-image: noteBasic($redColor); } }
        &.uni-lock-fill{ &::after { background-image: lockFill($redColor); } }
        &.uni-copy-line{ &::after { background-image: copyLine($redColor); } }
        &.uni-gmail-line{ &::after { background-image: gmailLine($redColor); } }
        &.uni-icon-square{ &::after { background-image: iconSquare($redColor); } }
        &.uni-chevron-right{ &::after { background-image: chevronRight($redColor); } }
        &.uni-folder{ &::after { background-image: folder($redColor); } }
        &.uni-phone{ &::after { background-image: phone($redColor); } }
        &.uni-door{ &::after { background-image: door($redColor); } }
        &.uni-notify-fill{ &::after { background-image: notifyFill($redColor); } }
        &.uni-clock{ &::after { background-image: clock($redColor); } }
        &.uni-camera{ &::after { background-image: camera($redColor); } }
        &.uni-send{ &::after { background-image: send($redColor); } }
        &.uni-document-money{ &::after { background-image: documentMoney($redColor); } }
        &.uni-caculator-fill{ &::after { background-image: caculatorFill($redColor); } }
        &.uni-vector{ &::after { background-image: vector($redColor); } }



    }
    &.uni-green-color{
        &.uni-vector{ &::after { background-image: vector($greenColor); } }
    }
}