
<div class="main-grid product-detail">
   <div class="content">
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [dataView]="listViews"
        [optionsButtonsEdit]="optionsButtonsView"
        (callback)="setContractTypeInfo($event)" (callbackcancel)="cancelUpdate($event)"></app-edit-detail>
        <app-loading-detail 
            [id]="'area'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>

        
           <app-add-contract *ngIf="contractTypeId" [contractTypeId]="contractTypeId"></app-add-contract>

        <!-- <p-card styleClass="mt-1">
            <ng-template pTemplate="header">
             <div class="row d-flex">
                <div class="col-md-6">
                    <div class="panel-heading" style="padding: 10px 0;">
                        <h6 class="panel-title" style="color: black; font-weight: 500; margin-bottom: 0px;">Danh sách hợp đồng<p-badge *ngIf="listsData.length > 0" value="{{listsData.length}}" styleClass="ml-2 p-mr-2"></p-badge></h6></div>
                </div>
             
             </div>
            </ng-template>
            <section>
                <div class="grid-default border">
                        <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="columnDefs.length > 0"
                        [title]="'Chứng chỉ'" [listsData]="listsData" 
                        [columnDefs]="columnDefs"></app-list-grid-angular>
                </div>
            </section>
            </p-card> -->
   </div>
   
</div>