

<div class="grid main-grid">
    <div class="col-12 right max-w-full">
        <div class="grid bread-filter">
            <div class="breadcrumb col-7">
                <h3>Danh sách đăng ký lịch làm việc</h3>
                <p-breadcrumb [model]="items"></p-breadcrumb>
            </div>
            <div class="col-5 justify-content-end d-flex">
                <div class="field-group header-filter-search text search mb-0 mr-2" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                    <input style="min-width: 400px;" class="input-default" type="text" id="filter"
                    (keydown.enter)="query.offSet = 0; first = 0;load()"
                        [(ngModel)]="query.filter">
                        <label>Mã, tên nhóm</label>
                        <svg class="placeholder-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1305 11.2619C9.28558 11.8771 8.24518 12.24 7.12002 12.24C4.29231 12.24 2 9.94772 2 7.12002C2 4.29231 4.29231 2 7.12002 2C9.94772 2 12.24 4.29231 12.24 7.12002C12.24 8.24518 11.8771 9.28558 11.2619 10.1305L13.7657 12.6343C14.0781 12.9467 14.0781 13.4533 13.7657 13.7657C13.4533 14.0781 12.9467 14.0781 12.6343 13.7657L10.1305 11.2619ZM11.28 7.12002C11.28 9.41753 9.41753 11.28 7.12002 11.28C4.8225 11.28 2.96 9.41753 2.96 7.12002C2.96 4.8225 4.8225 2.96 7.12002 2.96C9.41753 2.96 11.28 4.8225 11.28 7.12002Z" fill="#808AA6"/>
                        </svg>
                    <i id="icon-search" (click)="op.toggle($event)" class="pi pi-angle-down"></i>
                    <p-button class="search-button" styleClass="h-56" icon="pi pi-search" (click)="query.offSet = 0; first = 0; load()"></p-button>
                </div>
                <p-overlayPanel #op [style]="{width: '700px'}" styleClass="advance-seach">
                    <ng-template pTemplate>
                        <div class="header-filter-search  grid">
                            <h3>Tìm kiếm nâng cao</h3>
                        </div>
                        <div class="grid">
                            <div class="col-6">
                                <div class="field-group select mb-0 label-8">
                                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                                    (onChange)="handleChangeOrganize()"
                                    [options]="organizes" [(ngModel)]="query.organizeId" name="organizeId" [filter]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <span style="vertical-align:middle;">{{item?.label}}</span>
                                    </ng-template>
                                    <ng-template let-car pTemplate="item">
                                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                        <div style="font-size:14px;float:right;margin-top:4px">{{car?.label}}</div>
                                        </div>
                                    </ng-template>
                                    </p-dropdown>
                                    <label>Tổ chức</label>
                                </div>
                            </div>
                                            
                            <!-- phòng ban -->
                            <div class="col-6">
                                <div class="field-group select mb-0 label-8">
                                    <p-treeSelect [(ngModel)]="query.orgId" [ngClass]="[ departmentFiltes.length <= 0 ? 'tree-empty' : '' ]" [options]="departmentFiltes" selectionMode="single" name="orgId"
                                    (onNodeSelect)="onChangeTree($event)" placeholder="Chọn phòng ban"></p-treeSelect>
                                    <label>Bộ phận</label>
                                </div>
                            </div>
                            <!-- trang thai -->
                            <div class="col-6">
                                <div class="field-group select mb-0 label-8">
                                        <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"  (onChange)="find()"
                                            [options]="listWorkCds" [(ngModel)]="query.work_cd" name="work_cd" [filter]="true">
                                            <ng-template let-item pTemplate="selectedItem">
                                            <span style="vertical-align:middle;">{{item.label}}</span>
                                            </ng-template>
                                            <ng-template let-car pTemplate="item">
                                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                            </div>
                                            </ng-template>
                                        </p-dropdown>
                                    <label>Lịch làm việc</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="field-group select mb-0 label-8">
                                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"  (onChange)="find()"
                                        [options]="listAppSt" [(ngModel)]="query.app_st" name="app_st" [filter]="true">
                                        <ng-template let-item pTemplate="selectedItem">
                                        <span style="vertical-align:middle;">{{item.label}}</span>
                                        </ng-template>
                                        <ng-template let-car pTemplate="item">
                                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                        </div>
                                        </ng-template>
                                    </p-dropdown>
                                    <label>Trạng thái</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="field-group select mb-0 label-8">
                                        <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"  (onChange)="find()"
                                            [options]="listIsFlexible" [(ngModel)]="query.is_flexible" name="is_flexible" [filter]="true">
                                            <ng-template let-item pTemplate="selectedItem">
                                            <span style="vertical-align:middle;">{{item.label}}</span>
                                            </ng-template>
                                            <ng-template let-car pTemplate="item">
                                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                            </div>
                                            </ng-template>
                                        </p-dropdown>
                                    <label>Loại thời gian</label>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-overlayPanel>
                <p-button class="btn-with-filter" icon="pi pi-refresh" (click)="cancel()" styleClass="p-button-secondary h-56 p-button-sm"></p-button>
                <p-button label="Tạo lịch" *ngIf="listDataSelect.length > 0" styleClass="p-button-sm h-56 ml-2" icon="pi pi-check" (click)="taolichlamviec()"></p-button>
            </div>
        </div>
        <div class="grid-default" #container>
            <app-list-grid-angular  *ngIf="columnDefs.length > 0"
                [listsData]="listsData" [height]="heightGrid"
                [rowSelection]="'multiple'"
                (callback)="rowSelected($event)"
                [columnDefs]="columnDefs"></app-list-grid-angular>
                <div class="paginator">
                    <span>Từ {{ countRecord.currentRecordStart }} đến
                        {{ countRecord.currentRecordEnd }}
                        trên tổng số
                        {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]"></p-paginator>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="displayChangeStatus" [autoZIndex]="true" [modal]="true" [style]="{width: '1300px', height: 'auto'}">
    <p-header>
      Đổi lịch làm việc nhân viên [{{modelChangeStatus.full_name}}]
    </p-header>
   <div class="grid ">
    <div class="col-4">
        <div class="field-group select mb-0 label-8">
            <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"  (onChange)="find()"
                [options]="listWorkCds" [(ngModel)]="modelChangeStatus.work_cd" name="work_cd" [filter]="true">
                <ng-template let-item pTemplate="selectedItem">
                <span style="vertical-align:middle;">{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                </div>
                </ng-template>
            </p-dropdown>
        <label>Lịch làm việc</label>
    </div>
    </div>
    <div class="col-3">
        <div class="field-group date mb-0">
            <p-calendar
            panelStyleClass="datepicker-default" 
            placeholder="DD/MM/YYYY" [appendTo]="'body'" [baseZIndex]="101"
            [(ngModel)]="modelChangeStatus.start_dt" [monthNavigator]="true" [yearNavigator]="true"
            yearRange="2010:2030" inputId="navigators"
            dateFormat="dd/mm/yy" name="start_dt"></p-calendar>
            <label>Ngày áp dụng</label>
        </div>
    </div>
    <div class="col-1">
        <p-button label="Gửi" styleClass="btn-h56" (click)="saveForm()"></p-button>
    </div>
   </div>
   <!-- <app-store-notify  [isNotifi]="false" [moduleLists]="organizes" *ngIf="displayChangeStatus"  (reload)="changeStatus($event)"></app-store-notify> -->
  </p-dialog>

  <p-dialog styleClass="popup-btngroup-edit-detail" [(visible)]="displayFormEditDetail" [draggable]="false"  [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1200px', height: 'auto'}">
    <p-header>
        Chỉnh sửa lịch làm việc
    </p-header>
    <app-edit-detail *ngIf="listViewsDependent.length> 0 && detailDependentInfo"
        [detail]="detailDependentInfo" [manhinh]="'Edit'" [thongtinnhanvienNew]="true"
        [dataView]="listViewsDependent" (callback)="setEmpDependen($event)"
        (callbackcancel)="displayFormEditDetail = !displayFormEditDetail"></app-edit-detail>
</p-dialog>


  <p-dialog [modal]="true" [(visible)]="isTheOrganToMove" header="Chuyển tổ chức" [style]="{width: '60vw'}">
    <div class="grid ">
        <div class="col-4">
            <div class="field-group select mb-0 label-8">
                <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                    [options]="listWorkCds" [(ngModel)]="modelChangeStatus.work_cd" name="work_cd" [filter]="true">
                    <ng-template let-item pTemplate="selectedItem">
                    <span style="vertical-align:middle;">{{item.label}}</span>
                    </ng-template>
                    <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                    </ng-template>
                </p-dropdown>
            <label>Lịch làm việc</label>
        </div>
        </div>
        <div class="col-3">
            <div class="field-group date mb-0">
                <p-calendar
                panelStyleClass="datepicker-default" 
                placeholder="DD/MM/YYYY" [appendTo]="'body'" [baseZIndex]="101"
                [(ngModel)]="modelChangeStatus.start_dt" [monthNavigator]="true" [yearNavigator]="true"
                yearRange="2010:2030" inputId="navigators"
                dateFormat="dd/mm/yy" name="start_dt"></p-calendar>
                <label>Ngày áp dụng</label>
            </div>
        </div>
        <div class="col-1">
            <p-button label="Gửi" styleClass="btn-h56" (click)="saveForm()"></p-button>
        </div>
     
        <div class="col-12">
            <div class="grid-default border">
                <app-list-grid-angular *ngIf="listUsers.length > 0" 
                    [listsData]="listUsers" 
                    [height]="500"
                    [idGrid]="'theOrganToMoveData'"
                    [domLayout]="'autoHeight'" 
                    [columnDefs]="columnDefsMoveOrgan"
                    [rowSelection]="'multiple'"
                    >
                </app-list-grid-angular>
            </div>
        </div>
    </div>
</p-dialog>
  