<div class="row">
  <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailProductInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
    (callback)="saveSupplierPricePlan($event)" (callbackcancel)="backpage()"></app-edit-detail>
  <p-panel styleClass="mt-1">
    <ng-template pTemplate="header">
   <label for=""><span class="pi pi-home mr-1"></span>Danh sách kế hoạch</label>
    </ng-template>
    <div class="row">
        <div class="col-md-6 d-flex">
          <div class="form-group input-group mr-2">
              <label class="mr-1">Từ ngày: </label>
              <p-calendar placeholder="dd/mm/yyyy" [(ngModel)]="query.fromDate" [maxDate]="query.toDate" name="fromDate" [appendTo]="'body'" (onSelect)="load()" [baseZIndex]="101" dateFormat="dd/mm/yy"></p-calendar>
          </div>
          <div class="form-group input-group">
            <label class="mr-1">Đến ngày: </label>
            <p-calendar styleClass="mr-1" placeholder="dd/mm/yyyy" [(ngModel)]="query.toDate" name="toDate" (onSelect)="load()" [appendTo]="'body'" [baseZIndex]="101" dateFormat="dd/mm/yy"></p-calendar>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="form-group input-group">
            <label class="mr-1" style="visibility: hidden;">Đến ngày: </label>
          <p-button label="Thêm mới" icon="pi pi-plus" [hidden]="displayProductInfo" styleClass="p-button-sm mr-1" (click)="addSupplierPricePlan()"></p-button>
          <p-button label="Đóng" icon="pi pi-times" [hidden]="displayProductInfo" styleClass="p-button-sm p-button-secondary" (click)="backpage()"></p-button>
          </div>
        </div>

      <div class="col-md-12">
        <app-list-grid-angular [height]="500" *ngIf="columnDefs.length > 0"
          [listsData]="listsData" 
          [columnDefs]="columnDefs"></app-list-grid-angular>
      </div>
    </div>
    </p-panel>
</div>

<!-- <div class="row" style="margin-bottom: 15px;">
 
</div>
<div class="row margin-top-10">
    <ag-grid-angular #agGrid style="width: 100%; height: 650px" id="myGrid" class="ag-theme-alpine" [modules]="modules"
    [rowData]="pricePlans" [columnDefs]="columnDefs" [groupDefaultExpanded]="groupDefaultExpanded"
    [detailCellRendererParams]="detailCellRendererParams" 
    [detailRowHeight]="detailRowHeight"  [rowClassRules]="rowClassRules" [tooltipShowDelay]="0"
    (gridReady)="onGridReady($event)" [defaultColDef]="defaultColDef" [enableCellTextSelection]=true
    [groupUseEntireRow]="true" [enableRangeSelection]="true" [animateRows]="true"
    [getRowHeight]="getRowHeight" [frameworkComponents]="frameworkComponents"></ag-grid-angular>
</div> -->

