:host::ng-deep {
    .main-grid {
        .bread-crumb {
            padding-bottom: 0px;
            .col-3 {
                padding-bottom: 0px;
                padding-top: 0;
            }
        }

        app-form-filter {
            .hrm-filter {
                .border-section {
                    padding: 0;
                }

                .button-filter {
                    .close {
                        display: none;
                    }

                    // padding-left: 15px
                }
            }
        }
    }
}