<div class="row">
  <!-- <div class="col-md-3"> -->
          <!-- <div class="header-filter-search">
              <div class="input-group">
                  <input type="text"
                  placeholder="Số hóa đơn"
                  [(ngModel)]="query.filter"
                  (keydown.enter)="getProductHistoryPage()"
                  (keyup)="onProcessValue($event)"
                  (paste)="onProcessValue($event)"
                  (keypress)="onProcessValue($event)"
                  class="form-control input-focus ng-pristine ng-valid ng-empty ng-touched">
              </div>
              <div class="input-group-append dropdown">
              </div>
          </div> -->

  <!-- </div> -->
  <!-- <div class="col-md-1"> -->
      <!-- <p-button icon="pi pi-search" (click)="getStockDiaryByProductPage()" styleClass="p-button-sm"></p-button> -->
  <!-- </div> -->
  <div class="d-flex">
    <div class="button-bar">
      <div class="form-group">
        <div class="form-inline d-flex">
              <div class="input-group mr-2">
                  <label class="mr-1">Từ ngày</label>
                  <p-calendar
                  placeholder="dd/mm/yyyy"
                  [(ngModel)]="modelRevenue.fromDate"
                  [maxDate]="modelRevenue.toDate"
                  [appendTo]="'body'" [baseZIndex]="101"
                  (ngModelChange)="detectChange('from_date', $event)"
                  dateFormat="dd/mm/yy"
                  ></p-calendar>
              </div>
              <div class="input-group ">
                <label class="mr-1">Đến ngày</label>
                <p-calendar placeholder="yyyy-mm-dd"
                placeholder="dd/mm/yyyy"
                dateFormat="dd/mm/yy"
                [minDate]="modelRevenue.fromDate"
                [appendTo]="'body'" [baseZIndex]="101"
                (ngModelChange)="detectChange('to_date', $event)"
                [(ngModel)]="modelRevenue.toDate" ></p-calendar>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row margin-top-10">
  <ag-grid-angular #agGrid style="width: 100%; height: 650px" id="myGrid" class="ag-theme-alpine" [modules]="modules"
  [rowData]="items" [columnDefs]="columnDefs" [groupDefaultExpanded]="groupDefaultExpanded" [tooltipShowDelay]="0"
  [detailCellRendererParams]="detailCellRendererParams" (cellDoubleClicked)="cellDoubleClicked($event)"
  [detailRowHeight]="detailRowHeight" (firstDataRendered)="onFirstDataRenderer($event)"
  (gridReady)="onGridReady($event)" [defaultColDef]="defaultColDef" [enableCellTextSelection]=true
  [groupUseEntireRow]="true" [enableRangeSelection]="true" [animateRows]="true"
  [getRowHeight]="getRowHeight" [frameworkComponents]="frameworkComponents"></ag-grid-angular>
</div>
<div class="mt-1">
<div class="row">
  <div class="col-md-8 padding-0">
      <label class="mr-1">
          Hiển thị:
          <select class="dropdown-custom shadow-border" name="pageSize" [(ngModel)]="query.pageSize"
            #modelHistoryProduct.pageSize="ngModel" (change)="changePageSize()" class="">
            <option [value]="15">15</option>
            <option [value]="25">25</option>
            <option [value]="50">50</option>
            <option [value]="100">100</option>
            <option [value]="1000000000">All</option>
          </select>
      </label>
      <span>Từ {{ countRecord.currentRecordStart }} đến {{ countRecord.currentRecordEnd }}
          trên tổng số
          {{ countRecord.totalRecord }} kết quả</span>
  </div>
  <div class="col-md-4 padding-0 d-flex justify-content-end">
    <p-paginator [rows]="query.pageSize" [first]="first" [totalRecords]="totalRecords" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]"></p-paginator>
  </div>
</div>
</div>


<p-dialog [(visible)]="displaydetailreport" [baseZIndex]="99" [modal]="true"
  [style]="{ width: '1300px', height: 'auto' }">
  <!-- <ngx-loading [show]="loading1" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->
  <p-header>
    Chi tiết doanh thu hàng hóa [{{queryDetail.product_name}}]
  </p-header>
  <div class="row d-flex justify-content-end">
    <p-calendar placeholder="yy-mm-dd" [appendTo]="'body'" [baseZIndex]="100" [(ngModel)]="fromDateDetail" name="fromDateDetail" [maxDate]="toDateDetail"
      (ngModelChange)="detectChangeDetail('from_date', $event)" dateFormat="yy-mm-dd"></p-calendar><span
      style="display: flex;align-items: center;" class="fa fa-arrows-h"></span>
    <p-calendar placeholder="yyyy-mm-dd" [appendTo]="'body'" [baseZIndex]="100" placeholder="yy-mm-dd" name="toDateDetail" dateFormat="yy-mm-dd" [minDate]="fromDateDetail"
      (ngModelChange)="detectChangeDetail('to_date', $event)" [(ngModel)]="toDateDetail"></p-calendar>
  </div>
  <div class="row">
    <ag-grid-angular #agGrid1 style="width: 100%; height: 570px" id="myGrid1" class="ag-theme-alpine" [modules]="modules"
    [rowData]="dataDetails" [columnDefs]="columnDefsDetail" (firstDataRendered)="onFirstDataRendererdetail($event)"
    (gridReady)="onGridReadyDetail($event)"  [getRowHeight]="getRowHeight"
    [defaultColDef]="defaultDetailColDef"[animateRows]="true" [tooltipShowDelay]="0"
    [frameworkComponents]="frameworkComponents"></ag-grid-angular>
  </div>

</p-dialog>
