<div class="main-grid product-detail" *ngIf="!isDialog">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="itemsMenu"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
</div>
<p-card styleClass="chi-tiet-tien-luong">
    <div class="status-line steps-contract col-12 m-auto">
        <p-steps [model]="steps" *ngIf="listViews.length> 0" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    </div>
</p-card>
<p-divider></p-divider>
<p-card>
        <p-tabView [(activeIndex)]="indexTab" (onChange)="handleChange($event.index)">
            <p-tabPanel header="Thông tin chung">
                        <app-edit-detail *ngIf="listViews.length> 0" [manhinh]="'Edit'" [detailInfo]="detailInfo"  [buttons]="optionsButtonsView"
                            [listForms]="listViews" (callback)="setSchemeInfo($event)" (close)="cancel($event)"
                          ></app-edit-detail>

                    <app-loading-detail 
                        [id]="'markdown'" 
                        *ngIf="listViews.length === 0">
                    </app-loading-detail>

            </p-tabPanel>
            <p-tabPanel header="Áp dụng chính sách" *ngIf="modelEdit.schemeId">
                <app-ap-dung-cs *ngIf="indexTab === 1" [schemeId]="modelEdit.schemeId"></app-ap-dung-cs>
            </p-tabPanel>
          </p-tabView>
</p-card>

