<div class="main-grid product-detail">
  <section class="bread-crumb">
    <div class="breadcrumb">
      <h3>{{titlePage}}</h3>
      <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
  </section>
  <div class="content">
    <!-- <app-edit-detail *ngIf="listViews.length> 0 && manhinh === 'Edit'" [thongtinnhanvienNew]="true"
      [modelMarkdow]="modelMarkdow" [manhinh]="'Edit'" [dataView]="listViews" (callback)="setNotifyTemp($event)"
      (callbackcancel)="cancelUpdate()"></app-edit-detail> -->



      
      <app-edit-detail  
      *ngIf="listViews.length> 0 " [manhinh]="'Edit'" 
      [isNested]="true"   [detailInfo]="detailInfo"  [buttons]="[]"
     [listForms]="listViews" (callback)="setNotifyTemp($event)" (close)="cancelUpdate()"
   ></app-edit-detail>
  </div>
</div>