<div class="field">
            <p-dropdown [options]="listOptions" (onChange)="to.change && to.change(field, $event)" [formControl]="formControl" [formlyAttributes]="field"
            [autoDisplayFirst]="false"
            [styleClass]="((formControl.touched || options.formState.submitted) && formControl.getError('required'))
             ? 'ng-pristine ng-invalid ng-star-inserted ng-dirty ng-touched w-full text-base text-color surface-overlay  surface-border border-round outline-none focus:border-primary'
             : 'w-full text-base text-color surface-overlay border-1 border-solid surface-border border-round outline-none focus:border-primary'"
            optionLabel="name" optionValue="value" [appendTo]="'body'" [filter]="true" filterBy="label">
        </p-dropdown>
</div>