<!-- <p-card>
    <div class="status-line steps-contract col-12 m-auto">
        <p-steps [model]="steps" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    </div>
</p-card>
<p-divider></p-divider> -->
<p-card>
      <app-edit-detail  *ngIf="listViews.length> 0" [isNested]="true" [manhinh]="'Edit'"  [detailInfo]="detailInfo"  [buttons]="optionsButtonsView"
        [listForms]="listViews" (callback)="setDetail($event)" (close)="canceDetail($event)"
      ></app-edit-detail>
</p-card>