.logo{
  // max-width: 148px;
  min-height: 52px;
  height: auto;
  &:hover{
      cursor: pointer;
  }
  &:focus{
      outline: none;
  }
}

.change-password{
  .input-group{
    margin-bottom: 25px;
  }
}
:host::ng-deep{
  [styleclass="my-account-menu"]{
    .p-menu{
      top: 100% !important;
    }
  }
}
.go-to-home{
  cursor: pointer;
}
:host::ng-deep{ p-toolbar .field-group.select .p-disabled{
    background: #d9d9d9;
  }
}