.box{
    background: #FFFFFF;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.0705882353), 0 2px 9px 0 rgba(62, 57, 107, 0.0588235294);
    border-radius: 8px;
    padding: 15px;
}
ul{
    padding-left: 0px;
    margin: 0px;
    li{
        list-style: none;
    }
}

// #chart
.legend-default{
    ul{
        padding: 0px;
        margin: 0px;
        display: flex;
        li{
            list-style: none;
            display: flex;
            align-items: center;
            margin-right: 12px;
            &:hover{
                cursor: pointer;
            }
            span{
                font-size: 12px;
                margin: 0px;
                color: rgba(51, 51, 51, 0.6);
                &:first-child{
                    width: 8px;
                    height: 8px;
                    border-radius: 75px;
                    margin-right: 5px;
                    display: inline-block;
                }
            }
        }
    }
    &.dou{
        ul{
            display: block;
            li{
                margin-bottom: 20px;
                span{
                    &:first-child{
                        width: 16px;
                        height: 16px;
                        min-width: 16px;
                        border-radius: 2px;
                        margin-right: 5px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

// breadcrumb
.bread-crumb{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    border-bottom: 3px solid #F6FBFF;
    
    .fields{
        .p-dropdown,
        input{
            height: 34px; 
        }
        &.search{
            svg{
                top: 9px;
            }
        }
    }
}
.p-breadcrumb{
    background: none;
    box-shadow: none;
    border: none;
    margin-bottom: 0px;
    padding: 0px;
    li{
        font-size: 8px;
        font-weight: 500;
        a{
            padding-left: 0px !important;
            padding-right: 0px !important;
            .p-menuitem-text{
                font-size: 13px;
                font-weight: 400;
                color: #A3A9B9 !important;
                font-family: $fontRegular;
                white-space: nowrap;
            }
        }
        &.p-breadcrumb-chevron{
            color: rgba(43, 47, 51, 0.4) !important;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 4px;
        }
        &:last-child{
            a{
                .p-menuitem-text{
                    color: $C-212633 !important;
                }
            }
        }
    }
}


// #button
button{
    &.p-button{
        background: $mainBg;
        border-radius: 4px;
        height: 34px;
        padding: 9px 12px !important;
        border-color: transparent !important;
        min-width: 0px;
        box-shadow: none !important;
        .p-button-label{
            font-size: 13px;
            font-weight: 500;
        }
        &:enabled{
            &:hover{
                background: $mainBg;
                color: $white;
                border-color: transparent;
            }
        }
        svg {
            height: 14px;
            width: auto;
        }
        &.box-icon{
            border: 1px solid #E2E6F2;
            border-radius: 4px !important;
            background: none !important;
            width: auto;
            &:hover{
                border: 1px solid #E2E6F2 !important;
            }
        }
        &.p-button-secondary{
            border-color: $C-99A2BC !important
        }
    }
    &.btn-option{
        border: 1px solid $C-E2E6F2 !important;
        background: none;
        width: auto;
        min-width: 0;
        overflow: visible;
        svg{
            path{
                fill: $grey;
            }
        }
        &:hover{
            svg{
                path{
                    fill: $white
                }
            }
        }
        &:focus,
        &:active{
            background: $mainBg !important;
            color: $white !important;
            border-color: transparent !important;
            svg{
                path{
                    fill: $white
                }
            }
        }
    }
    &.btn-trans{
        border: 1px solid $C-E2E6F2;
        background: none;
        color: $grey;
        &:hover{
            svg{
                path{
                    fill: $white
                }
            }
            color: $grey;
        }
    }
    .dot{
        position: absolute;
        right: -3px;
        top: -3px;
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 100%;
        background-color: $C-FF3B49;
        z-index: 1;
    }
}

// #flex
.flex,
.d-flex,
.grid{
    display: flex;
    &.d-right{
        justify-content: right;
    }
    &.bet{
        justify-content: space-between;
    }
    &.end{
        justify-content: flex-end;
    }
    &.middle{
        align-items: center;
    }
    &.center{
        justify-content: center;
    }
    &.bottom{
        align-items: flex-end;
    }
    &.wrap{
        flex-wrap: wrap;
    }
}

// #gap
.gap16{
    gap: 16px;
}
.gap14{
    gap: 14px;
}
.gap12{
    gap: 12px;
}
.gap10{
    gap: 10px;
}
.gap8{
    gap: 8px;
}
.gap6{
    gap: 6px;
}
.gap4{
    gap: 4px
}
.gap2{
    gap: 2px
}


// #header
.header{
    background: $white;
}


section{
    padding: 12px 12px;
}


ag-grid-angular{
    .ag-root-wrapper{
        border-color: transparent !important;
        border-radius: 3px;
        .ag-header-row {
            border-bottom: 1px solid #e2e2e2;
            box-shadow: 1px 1px 1px #b9b9b9f0;
        }
        .ag-root{
            .ag-header{
                background: none;
                .ag-header-cell-label {
                    .ag-header-cell-text{
                        font-family: "SFProTextRegular";
                        font-size: .800rem;
                        color: rgba(0,0,0,0.8);
                    }
                }
                .ag-floating-filter{
                    .ag-input-wrapper{
                        input{
                            border: 1px solid #E2E6F2;
                            border-radius: 4px;
                        }
                    }
                    .ag-floating-filter-button-button{
                        padding: 0px !important;
                    }
                }
            }
            .ag-row{
                border-color: #f5f5f5;
            }
            .ag-cell{
                border: 1px solid transparent;
                .ag-cell-wrapper{
                    .ag-cell-value{
                        font-family: 'SFProTextRegular';
                        font-weight: 400;
                        font-size: 14px;
                        color: #212633;
                    }
                }
                &.ag-cell-range-selected{
                    background:$white !important;
                }
            }
            .ag-row-focus{
                .ag-cell{
                    border-top: 1px solid #9abdf5 !important;
                    border-bottom: 1px solid #9abdf5 !important;
                    border-left: transparent !important;
                    border-right: transparent !important;
                    background: #fff!important;
                    &.ag-cell-range-selected{
                        background: $white !important;
                    }
                }
                
            }
            .ag-cell-range-selected{
                background: $white !important;
            }
        }
        .ag-row-hover{
            .ag-cell {
                background: #eee;
            }
        }
    }
}


.border-right {
    border-right: 1px solid rgb(221, 226, 235) !important;
}
// paginator
.paginator{
    color: $grey;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #FFFFFF;
    .p-paginator{
        padding: 0px;
        .p-paginator-first, .p-paginator-last {
            display: none !important;
        }
    }
    .p-paginator-rpp-options{
        height: 24px;
        background: $mainBg;
        border-radius: 3px;
        border: none;
        padding: 0px !important;
        .p-dropdown-label{
            padding: 0px 8px;
            line-height: 24px;
            font-size: 14px;
            color: $white;
        }
        .p-dropdown-trigger-icon{
            color: $white;
        }
        .p-dropdown-trigger{
            width:2rem;
        }
    }
    button{
        border-radius: 2px !important;
        font-size: 14px;
        width: 24px;
        height: 24px !important;
        display: inline-block;
        text-align: center;
        margin: 0px !important;
        min-width: 0px !important;
        font-weight: 500;
        padding: 0px !important;
        line-height: 25px;
        .p-paginator-icon{
            line-height: 24px;
            margin-right: 0px;
        }
        &.p-highlight{
            background: $mainBg !important;
            color: $white !important;
        }
        &.p-paginator-first,
        &.p-paginator-prev,
        &.p-paginator-last,
        &.p-paginator-next{
            .p-paginator-icon{
                color: $C-525B73
            }
        }
       
    }
}

// #filter
.hrm-filter{
    .p-card{
        box-shadow: none;
    }
}


// #tabview
p-tabview{
    .p-tabview-nav-container{
        .p-tabview-nav-content{
            margin-bottom: 12px;
            .p-tabview-nav{
                border-bottom: 1px solid $C-E2E6F2;
                padding-top: 0px;
                background: $white;
                &>li{
                    a{
                        padding: 8px 16px;
                        border-radius: 0;
                        &:hover,
                        &:focus{
                            background: none !important;
                            outline: none;
                            box-shadow: none !important;
                        }
                        &:hover{
                            span{
                                color: $activeColor
                            }
                        }
                        .uni-icon{
                            margin-right: 5px;
                        }
                        span{
                            font-weight: 500;
                            color: #212633;
                            white-space: nowrap;
                        }
                        @media screen and (max-width: 1440px) {
                            padding: 8px 12px;
                        }
                    }
                    span{
                        &.p-tabview-title{
                            font-weight: 400;
                            line-height: 20px;
                            font-size: 14px;
                            color: $C-212633;
                        }
                    }
                    &.p-tabview-ink-bar{
                        background: $mainBg;
                        bottom: 11px;
                        display: none;
                    }
                    &.p-highlight{
                        a{
                            span{
                                color: $activeColor;
                            }
                        }
                    }
                }
            }
        }
    }
    .p-tabview-panels{
        padding: 0px !important;
        background: none !important;
    }
    section{
        padding-left: 0px;
        padding-right: 0px;
    }
    .p-tabview-nav-btn{
        height: 36px;
        box-shadow: 1px 1px 8px #ccc !important;
        border-radius: 0px !important;
        display: block;
        text-align: center;
        border: 1px solid #e9e9e9;
        &:hover{
            background: #f1f1f1 !important;
        }
        .pi{
            color: #212633;
            margin-right: 0px;
        }
    }
    .p-tabview-nav-prev{

    }
    .tab-ver{
        display: flex;
        .p-tabview-nav{
            display: block;
            padding: 12px 0px;
            overflow: auto;
            &::-webkit-scrollbar {
                width: 8px;
              }
              &::-webkit-scrollbar-track {
                border-radius: 99px;
                cursor: pointer;
                box-shadow: inset 0 0 2px #80808078; 
            }
        
            /* Handle */
            &::-webkit-scrollbar-thumb {
                border-radius: 99px;
                    background:#c4c4c5; 
            }
            &::-webkit-scrollbar-thumb:hover {
                background: #919192;
            }
            li{
                counter-increment: custom;
                position: relative;
                a{
                    margin-bottom: 0px !important;
                    border-bottom: 1px solid #f5f5f5 !important;
                    span{
                        white-space: unset !important;
                        line-height: 1;
                    }
                    .uni-icon{
                        &::after{
                            background: none;
                        }
                    }
                }
                &[role="presentation"]{
                    &:last-child{
                        a{
                            border-bottom: none !important;
                        }
                    }
                }
                &:before{
                    content: counter(custom) ". ";
                    position: absolute;
                    left: 13px;
                    z-index: 1;
                    top: 8px;
                    font-weight: 500;
                }
                &.p-highlight{
                    &:before{
                        color: $activeColor;
                    }
                }
                &:hover{
                    &:before{
                        color: $activeColor;
                    }
                }
            }
        }
        .p-tabview-nav-content{
            margin-bottom: 0px;
        }
        .p-tabview-nav-container{
            width: 15%;
            padding-left: 12px;
        }
        .p-tabview-panels{
            width: 85%;
        }
        @media screen and (max-width: 1600px) {
            .p-tabview-nav-container{
                width: 18%;
                padding-left: 12px;
            }
            .p-tabview-panels{
                width: 82%;
            }
        }
        @media screen and (max-width: 1366px) {
            .p-tabview-nav-container{
                width: 22%;
                padding-left: 12px;
            }
            .p-tabview-panels{
                width: 78%;
            }
        }
    }
}


// #app-edit-detail
app-edit-detail{
    .border-section{
        background: #fff;
        padding: 13px;
        box-shadow: 0px 0px 3px #e8e8e8;
        border-radius: 2px;
        transition: all 0.3s;
        height: 100%;
        &:hover{
            box-shadow: 4px 2px 5px #e8e8e8;
            transition: all 0.3s;
        }
        .p-panel-header{
            .title-section{
                color: $mainBg;
                margin-bottom: 16px;
                position: relative;
                padding-bottom: 5px;
                font-weight: 700;
                &::after{
                    content: '';
                    width: 32px;
                    height: 4px;
                    background: rgb(0 84 219 / 72%);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}


// #section
.section-box{
    background: #fff;
    padding: 13px;
    box-shadow: 0px 0px 3px #e8e8e8;
    border-radius: 2px;
    transition: all 0.3s;
    &:hover{
        box-shadow: 4px 2px 5px #e8e8e8;
        transition: all 0.3s;
    }
}

// #grid buton
app-button-renderer {
    p-splitbutton {
        .p-splitbutton{
            border: 1px solid #b3b3b3;
            border-radius: 4px;
            width: 100%;
            background: none;
            button{
                background: none;
                color: #b3b3b3 !important;
                border: none !important;
                width: auto !important;
                padding: 0 4px !important;
            }
        }
        .p-splitbutton-defaultbutton {
            // border: 1px solid #999797;
            background-color: unset;
            color: #ccc;
            height: 25px !important;
            .p-button-label {
                font-size: 13px
            }
        }

        .p-splitbutton-menubutton {
            height: 25px !important;
            .pi-chevron-down {
                font-size: 11px !important;
                margin-right: 4px !important;
            }
        }
    }
}
