<div class="d-flex" style="position: absolute;
z-index: 9999;
top: 0;
right: 0;">
  <p-toolbar styleClass="new-toolbar-style d-flex p-0 middle">
    <div class="p-toolbar-group-left">
      <!-- <div class="field-group mr-2">
        <input type="text" id="filter" [(ngModel)]="filter.filter" >
        <label>Tìm kiếm...</label>
        <p-button class="search-button" icon="pi pi-search" (click)="load()"></p-button>
      </div> -->
      <!-- <div class="mr-1 x-1">
        <div class="field-group select label-8 mr-2 mb-0">
          <label>Trạng thái Push</label>
          <select class="form-control" name="push_st" [(ngModel)]="filter.push_st" #push_st="ngModel" (change)="load()">
            <option *ngFor="let type of notifyTypes" value={{type.statusId}}>
              {{type.statusName}} </option>
          </select>
        </div>
      </div>
      <div class="mr-1 x-1">
        <div class="field-group select label-8 mr-2 mb-0">
          <label>Trạng thái gửi Email</label>
          <select class="form-control" name="email_st" [(ngModel)]="filter.email_st" #email_st="ngModel" (change)="load()">
            <option *ngFor="let type of notifyTypes" value={{type.statusId}}>
              {{type.statusName}} </option>
          </select>
        </div>
      </div>
      <div class=" x-1">
        <div class="field-group select label-8 mb-0">
          <label>Trạng thái gửi Sms</label>
          <select class="form-control" name="sms_st" [(ngModel)]="filter.sms_st" #sms_st="ngModel" (change)="load()">
            <option *ngFor="let type of notifyTypes" value={{type.statusId}}>
              {{type.statusName}} </option>
          </select>
        </div>
      </div> -->
    </div>
    <div class="p-toolbar-group-right" [hidden]="hideAction">
      <div class="group-btns text-right">
        <!-- <label style="visibility: hidden;">Buttons</label> -->
        <!-- <p-button label="Cài đặt danh sách gửi" 
        [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetAppNotifyPage.url, action: ACTIONS.CAI_DAT_DANH_SACH_GUI}"
        (click)="storeNotify()" icon="fa fa-save" styleClass="p-button-sm mr-1"></p-button> -->
        <p-button label="Gửi thông báo" (click)="sendNotify()" icon="fa fa-paper-plane" styleClass="p-button-sm mr-1"
        [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetAppNotifyPage.url, action: ACTIONS.GUI_THONG_BAO}"
        ></p-button>
        <p-button label="Xóa nhân viên" (click)="deleteMultipleApartment()" icon="pi pi-trash" 
        [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetAppNotifyPage.url, action: ACTIONS.XOA_NHAN_VIEN}"
        styleClass="p-button-sm p-button-danger mr-1"></p-button>
        <p-button label="Thoát" (click)="closePage()" icon="pi pi-times" styleClass="p-button-sm p-button-secondary"></p-button>
      </div>
    </div>
    <div class="p-toolbar-group-right" *ngIf="hideAction">
      <div class="group-btns text-right">
        <!-- <label style="visibility: hidden;">Buttons</label> -->
        <p-button label="Gửi lại thông báo" (click)="reSendNotify()" icon="fa fa-reply" styleClass="p-button-sm mr-1"></p-button>
        <p-button label="Gửi thông báo" (click)="saveSendNotify()" icon="fa fa-save" styleClass="p-button-sm mr-1"></p-button>
        <p-button label="Đóng lại" (click)="closeModal()" icon="pi pi-times" styleClass="p-button-sm p-button-secondary"></p-button>
      </div>
    </div>
</p-toolbar>
 
</div>
<div class="mt-5">
  <div class="grid-default border">
    <app-list-grid-angular *ngIf="columnDefs.length > 0" 
      [listsData]="items?.dataList?.data" 
      [domLayout]="'autoHeight'"
      [columnDefs]="columnDefs" 
      [rowSelection]="'multiple'" 
      [idGrid]="'myGridList'" 
      (callback)="selectRow($event)"></app-list-grid-angular>
      <app-loading-grid 
        [columnNumber]="9" 
        gridtype="''" 
        *ngIf="columnDefs.length === 0">
    </app-loading-grid>

    </div>
<div class="paginator pl-3">
    <span>Từ {{ countRecord.currentRecordStart }} đến
        {{ countRecord.currentRecordEnd }}
        trên tổng số
        {{ countRecord.totalRecord }} kết quả</span>
    <p-paginator [rows]="filter.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first" 
        (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
    </p-paginator>
</div>


  <!-- <ag-grid-angular [modules]="modules" [suppressCsvExport]="true"
 [suppressExcelExport]="true"  enableCellTextSelection=true  suppressCopyRowsToClipboard=true #agGrid style="width: 100%; height: 600px" id="myGrid" class="ag-theme-balham"
      [rowData]="items?.dataList?.data" [columnDefs]="columnDefs" floatingFilter
      [detailCellRendererParams]="detailCellRendererParams"
      (gridReady)="onGridReady($event)" [defaultColDef]="defaultColDef" groupUseEntireRow="true" [animateRows]="true"
      [frameworkComponents]="frameworkComponents" [getRowHeight]="getRowHeight"
      [rowSelection]="rowSelection"  [suppressRowClickSelection]="true">
    </ag-grid-angular> -->
</div>
<!-- <div class="mt-1">
  <div class="col-md-12 d-flex">
      <div class="col-md-8 padding-0">
          <label class="mr-1">
              Hiển thị:
              <select class="dropdown-custom shadow-border" name="pageSize"
                  [(ngModel)]="filter.pageSize" (change)="changePageSize()" class="">
                  <option [value]="15">15</option>
                  <option [value]="25">25</option>
                  <option [value]="50">50</option>
                  <option [value]="100">100</option>
                  <option [value]="1000000000">All</option>
              </select>
          </label>
          <span>Từ {{ countRecord.currentRecordStart }} đến
              {{ countRecord.currentRecordEnd }}
              trên tổng số
              {{ countRecord.totalRecord }} kết quả</span>
      </div>
      <div class="col-md-4 padding-0 d-flex justify-content-end">
          <p-paginator [rows]="filter.pageSize" [first]="first"
              [totalRecords]="pagingComponent?.total"
              (onPageChange)="paginate($event)"></p-paginator>
      </div>
  </div>
</div> -->

