<p-table [value]="[1,2,3,4,5,6,7,84,4,3,4,5,6,7,45,67]" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>
        <p-skeleton></p-skeleton>
      </th>
      <th>
        <p-skeleton></p-skeleton>
      </th>
      <th>
        <p-skeleton></p-skeleton>
      </th>
      <th>
        <p-skeleton></p-skeleton>
      </th>
      <th>
        <p-skeleton></p-skeleton>
      </th>
      <th>
        <p-skeleton></p-skeleton>
      </th>
      <th>
        <p-skeleton></p-skeleton>
      </th>
      <th>
        <p-skeleton></p-skeleton>
      </th>
      <th>
        <p-skeleton></p-skeleton>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
      <td>
        <p-skeleton></p-skeleton>
      </td>
    </tr>
  </ng-template>
</p-table>