
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
   <section>
        <app-edit-detail *ngIf="listViews.length> 0" [manhinh]="'Edit'"   [detailInfo]="detailInfo"  [buttons]="[]"
            [listForms]="listViews" (callback)="setCompanyInfo($event)" (close)="cancelUpdate($event)"
          ></app-edit-detail>


    </section>
   
    <section>
     <div class="grid-default border">
        <app-list-grid-angular 
        [height]="480" *ngIf="columnDefs?.length > 0"
                [listsData]="listsData"
                [columnDefs]="columnDefs"></app-list-grid-angular>
        </div>
    </section>
</div>