

<div class="main-grid">
    <section class="bread-crumb">
        <app-hrm-breadcrumb [items]="items"></app-hrm-breadcrumb>
    </section>
    <section class="bread-filter">
        <div class="d-flex bet end bottom gap-16">
            <div class="col-item">
                
                <div class="filter filter-search">
                    <div class="field-group text search mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                        <input placeholder="Tìm kiếm" class="input-default" type="text" autocomplete="off" id="filter"
                            (click)="op.toggle($event)" (keydown.enter)="query.offSet = 0; first = 0;load()"
                            [(ngModel)]="query.filter">
                            <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.02893 0.850098C4.51087 0.850098 0.849609 4.51552 0.849609 9.03539C0.849609 13.5553 4.51087 17.2207 9.02893 17.2207C10.8456 17.2207 12.5254 16.6271 13.8828 15.6241L17.1276 18.8716C17.4984 19.2427 18.0999 19.243 18.4711 18.8721C18.8422 18.5013 18.8425 17.8998 18.4716 17.5286L15.2709 14.3252C16.4787 12.8991 17.2083 11.0518 17.2083 9.03539C17.2083 4.51552 13.547 0.850098 9.02893 0.850098ZM2.74961 9.03539C2.74961 5.56338 5.56169 2.7501 9.02893 2.7501C12.4962 2.7501 15.3083 5.56338 15.3083 9.03539C15.3083 10.8568 14.5355 12.496 13.2976 13.645C12.1765 14.6858 10.6778 15.3207 9.02893 15.3207C5.56169 15.3207 2.74961 12.5074 2.74961 9.03539Z" fill="#2B2F33" fill-opacity="0.6"/>
                                    </svg>
                            </span>
                        <p-overlayPanel #op [style]="{width: '700px'}" styleClass="advance-seach">
                            <ng-template pTemplate>
                                <div class="header-filter-search  grid">
                                    <h3>Tìm kiếm nâng cao</h3>
                                </div>
                                <div class="header-filter-search grid mt-1">
                                    <div class="icon col-12 pl-0" style="display: flex; flex-wrap: wrap;">
                                        <!-- <div class="col-6">
                                            <div class="field-group select valid">
                                                <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                                                [options]="orgRoots" [(ngModel)]="query.organizeId" name="organizeId" (onChange)="find()">
                                                <ng-template let-item pTemplate="selectedItem">
                                                    <span style="vertical-align:middle;">{{item.label}}</span>
                                                </ng-template>
                                                <ng-template let-car pTemplate="item">
                                                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                        <div style="">{{car.label}}</div>
                                                    </div>
                                                </ng-template>
                                            </p-dropdown>
                                            <label  for=""> Tổ chức: </label>
                                            </div>
                                        </div> -->
                                      
                                    </div>
                                    <div class="input-group icon col-12 select-default text-right">
                                        <label for="" style="visibility: hidden;">Classid <span class="pi pi-info-circle"
                                                style="font-size: 13px;color: orange;"></span></label>
                                        <p-button label="Tìm kiếm" styleClass="mr-1" icon="pi pi-search" (click)="load()">
                                        </p-button>
                                        <p-button label="Làm mới" icon="pi pi-times" (click)="cancel()"
                                            styleClass="p-button-secondary">
                                        </p-button>
                                    </div>
                                </div>
                            </ng-template>
                        </p-overlayPanel>
                    </div>
                </div>
            </div>
            <div class="col-item">
                <div class="d-flex align-items-center gap-16">
                    <p-button styleClass="p-button-sm height-56" (click)="addNoiLamViec()">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11 5H9V9H5V11H9V15H11V11H15V9H11V5ZM10 0C4.48 0 0 4.48 0 10C0 15.52 4.48 20 10 20C15.52 20 20 15.52 20 10C20 4.48 15.52 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z" fill="#F3F8FF"/>
                            </svg>
                            &nbsp;
                            Thêm mới
                    </p-button>
                    <p-button styleClass="p-button-sm height-56" (click)="cauhinh()">
                        <svg width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5 17V0H0.50855L0.5 17H19.5ZM6.675 15.3187H2.21V6.81868H6.675V15.3187ZM8.575 15.3187V6.81868H17.79V15.3187H8.575ZM2.21 1.68132V5.13736H17.79V1.68132H2.21Z" fill="#F3F8FF"/>
                        </svg>
                        &nbsp;
                        Cấu hình
                    </p-button>
                </div>
            </div>
        </div>
    </section>
    <section class="content pb-0">
        <div class="grid-default" #container>
            <app-list-grid-angular  *ngIf="columnDefs.length > 0"
                [listsData]="listsData" [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </section>
</div>


<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>
