<div class="main-grid product-detail" *ngIf="url === 'chi-tiet-xu-ly-hop-dong'" >
    <section class="head-detail">
        <div class="grid">
            <div class="col-6">
                <app-hrm-breadcrumb [items]="itemsMenu" ></app-hrm-breadcrumb>
            </div>
            <div class="col-6  flex justify-content-end align-items-center" >
                <div class="field-group select " style="margin-bottom: 0;">
                    <p-dropdown 
                        *ngIf="listViews.length> 0" 
                        [options]="status" 
                        (onChange)="UpdateStatus()"
                        [(ngModel)]="selectedStatus" 
                        [styleClass]="selectedStatus?.bgColor"  
                        [style]="{'width': '180px'}" 
                        optionLabel="name"  
                        placeholder="Select a Country">
                        <ng-template pTemplate="selectedItem" >
                            <div class="flex align-items-center gap-2" *ngIf="selectedStatus" >
                                <div style="color: #fff">{{ selectedStatus.name}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center gap-2" *ngIf="country.value != selectedStatus.value">
                                <div class="pb-2 pt-2" style="display: flex; align-items: center; width: 100%;justify-content: space-around;font-size: 13px;">
                                    <span style="white-space:nowrap">{{ country.placeholder }} </span>
                                    <span class="pi pi-arrow-right" style="font-size: 12px;"></span>
                                    <span [class]="country.textColor" style="white-space:nowrap" class="pl-2 pr-2">{{ country.name }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <p-splitButton icon="pi pi-send" *ngIf="menuActions.length > 0" styleClass="p-button-sm ml-2" [appendTo]="'body'" (onClick)="callActions(menuActions[0].value)" [label]="menuActions[0].label" [model]="menuActions"></p-splitButton>
                <p-button label="Quay lại" (onClick)="onBack()" styleClass="p-button-secondary p-button-sm ml-2"  [style]="{'z-index': 9}" icon="pi pi-directions-alt"></p-button>
                  </div>
        </div>
    </section>
</div>
<p-card *ngIf="url === 'chi-tiet-xu-ly-hop-dong'" >
    <div [ngClass]="{'hsns' : url !== 'chi-tiet-xu-ly-hop-dong'}">
        <app-edit-detail *ngIf="listViews.length> 0" [isNested]="true" [detail]="detailInfo" [manhinh]="'Edit'" [isHideButton]="true"
            [optionsButtonsEdit]="optionsButtonsView" [dataView]="listViews" (callback)="setContractInfo($event)" (callBackForm)="callBackForm($event)"
            (callbackcancel)="cancel($event)"></app-edit-detail>
                <app-loading-detail 
                [id]="'app-contract-detail'" 
                *ngIf="listViews.length === 0">
                </app-loading-detail>
    </div>
        <p-divider></p-divider>
        <div class="grid wrap-edit-detail">
            <div class="col-12 border-section " *ngIf="this.detailInfo?.flow_st > 0 && detailInfo?.flow_st < 4">
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="grid d-flex justify-content-between">
                            <h3 class="title-section">Thành phần lương</h3>
                            <!-- <p-button label="Thêm mới" icon="pi pi-plus" (click)="addWorked()" styleClass="p-button-sm mr-1"></p-button> -->
                        </div>
                    </ng-template>
                    <div class="row" style="flex-wrap: wrap">
                        <div class="grid-default border">
                            <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="columnDefs_1.length > 0" [title]="'Chứng chỉ'"
                                [listsData]="listsData_1" (showConfig)="CauHinh(1)" [columnDefs]="columnDefs_1"></app-list-grid-angular>
                                <app-loading-grid 
                                    [columnNumber]="9" 
                                    gridtype="''" 
                                    [value]="[1,2]" 
                                    *ngIf="columnDefs_1.length === 0">
                                </app-loading-grid>

                            </div>
                    </div>
                </p-panel>
            </div>
        </div>  
        <app-hop-dong [contractId]="detailInfo?.contractId" [empId]="modelContractInfo.empId" *ngIf="this.detailInfo?.flow_st > 1" (cancelSave)="getContractInfo()" ></app-hop-dong>
     
</p-card>

<p-dialog 
    styleClass="popup-btngroup-edit-detail"  
    [(visible)]="displayFormEditDetail" 
    [draggable]="false"  
    [resizable]="false" 
    [autoZIndex]="true" 
    [modal]="true" 
    [style]="{width: '1400px', height: 'auto'}"
    (onHide)="hideFormDetail()"
    >
        <p-header>
            {{modelContractInfo.contractId === null ? ' Tạo hợp đồng': 'Thông tin chi tiết hợp đồng'}}
        </p-header>
        <p-card >
            <div [ngClass]="{'hsns' : url !== 'chi-tiet-xu-ly-hop-dong'}">
                <app-edit-detail 
                    *ngIf="listViews.length> 0" 
                    [isNested]="true" 
                    [detail]="detailInfo" 
                    [manhinh]="'Edit'" 
                    [isHideButton]="true"
                    [optionsButtonsEdit]="optionsButtonsView" 
                    [dataView]="listViews" 
                    (callback)="setContractInfo($event)" 
                    (callBackForm)="callBackForm($event)"
                    (callbackcancel)="cancel($event)">
                </app-edit-detail>
                <app-loading-detail 
                    [id]="'app-contract-detail'" 
                    *ngIf="listViews.length === 0">
                </app-loading-detail>
            </div>
                <p-divider></p-divider>
                <div class="grid wrap-edit-detail">
                    <div class="col-12 border-section " *ngIf="this.detailInfo?.flow_st > 0 && detailInfo?.flow_st < 4">
                        <p-panel>
                            <ng-template pTemplate="header">
                                <div class="grid d-flex justify-content-between">
                                    <h3 class="title-section">Thành phần lương</h3>
                                    <!-- <p-button label="Thêm mới" icon="pi pi-plus" (click)="addWorked()" styleClass="p-button-sm mr-1"></p-button> -->
                                </div>
                            </ng-template>
                            <div class="row" style="flex-wrap: wrap">
                                <div class="grid-default border">
                                    <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="columnDefs_1.length > 0" [title]="'Chứng chỉ'"
                                        [listsData]="listsData_1" (showConfig)="CauHinh(1)" [columnDefs]="columnDefs_1"></app-list-grid-angular>
                                        <app-loading-grid 
                                            [columnNumber]="9" 
                                            gridtype="''" 
                                            [value]="[1,2]" 
                                            *ngIf="columnDefs_1.length === 0">
                                        </app-loading-grid>
        
                                    </div>
                            </div>
                        </p-panel>
                    </div>
                </div>  
                <app-hop-dong [contractId]="detailInfo?.contractId" [empId]="modelContractInfo.empId" *ngIf="this.detailInfo?.flow_st > 1" (cancelSave)="getContractInfo()" ></app-hop-dong>
        </p-card>
        <ng-template pTemplate="footer">
            <div class="col-12  flex justify-content-end align-items-center" >
                <div class="field-group select " style="margin-bottom: 0;">
                    <p-dropdown 
                        *ngIf="listViews.length> 0" 
                        [options]="status" 
                        (onChange)="UpdateStatus()"
                        [(ngModel)]="selectedStatus" 
                        [styleClass]="selectedStatus?.bgColor"  
                        [style]="{'width': '180px'}" 
                        optionLabel="name"  
                        placeholder="Select a Country">
                        <ng-template pTemplate="selectedItem" >
                            <div class="flex align-items-center gap-2" *ngIf="selectedStatus" >
                                <div style="color: #fff">{{ selectedStatus.name}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center gap-2" *ngIf="country.value != selectedStatus.value">
                                <div class="pb-2 pt-2" style="display: flex; align-items: center; width: 100%;justify-content: space-around;font-size: 13px;">
                                    <span style="white-space:nowrap">{{ country.placeholder }} </span>
                                    <span class="pi pi-arrow-right" style="font-size: 12px;"></span>
                                    <span [class]="country.textColor" style="white-space:nowrap" class="pl-2 pr-2">{{ country.name }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <p-splitButton icon="pi pi-send" *ngIf="menuActions.length > 0" styleClass="p-button-sm ml-2" [appendTo]="'body'" (onClick)="callActions(menuActions[0].value)" [label]="menuActions[0].label" [model]="menuActions"></p-splitButton>
                <p-button label="Đóng" (onClick)="callback.emit()" styleClass="p-button-secondary p-button-sm ml-2" [style]="{'z-index': 9}" icon="pi pi-directions-alt"></p-button>
                    </div>
        </ng-template>
    </p-dialog>

<p-dialog [(visible)]="displayuploadcontract" [autoZIndex]="true" [modal]="true"  appendTo="body"
    [style]="{width: '800px', height: 'auto'}">
    <p-header>
        Tải lên hợp đồng [{{metafile?.meta_title}}]
    </p-header>
    <app-upload-file [maxFileSize]="8000000" [multiple]="" (callback)="handleUpload($event)" *ngIf="displayuploadcontract"></app-upload-file>
</p-dialog>


<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="gridKeyForm === 'view_hrm_contract_files' ? getContractMetaPage() : getSalaryComponentPage()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKeyForm" [typeConfig]="'TableInfo'"   [gridKey]="gridKeyForm"></app-config-grid-table-form>
</p-dialog>