:host::ng-deep{
    .p-card .p-card-body{
        padding: 0;
        .p-card .p-card-content {
            padding: 0;
        }
    }
    .p-panel{
        box-shadow: unset;
        .p-panel-footer {
            display: flex;
            justify-content: flex-end;
            padding: unset;
        }
    }
   
}