:host::ng-deep{
    .p-card .p-card-body{
        padding: 0;
        .p-card .p-card-content {
            padding: 0;
        }
    }
    .p-panel{
        box-shadow: unset;
        .p-panel-footer {
            display: flex;
            justify-content: flex-end;
            padding: unset;
        }
    }

    // .hsns {
    //     .btn-group-edit-detail{
    //         position: absolute !important;
    //         top: 5px !important;
    //         right: 100px !important;
    //         bottom: inherit !important;
    //     }
    
    // }
   
}