<div class="main-grid product-detail" *ngIf="url === 'chi-tiet-xu-ly-hop-dong'" >
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="itemsMenu"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
</div>
<p-card>
    <div class="status-line steps-contract col-12 m-auto">
        <p-steps [model]="steps" *ngIf="listViews.length> 0" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    </div>
</p-card>
<p-divider></p-divider>
<p-card>
   
    <div [ngClass]="{'hsns' : url !== 'chi-tiet-xu-ly-hop-dong'}">
        <app-edit-detail *ngIf="listViews.length> 0" [isNested]="true" [detail]="detailInfo" [manhinh]="'Edit'"
            [optionsButtonsEdit]="optionsButtonsView" [dataView]="listViews" (callback)="setContractInfo($event)" (callBackForm)="callBackForm($event)"
            (callbackcancel)="cancel($event)"></app-edit-detail>
    </div>
        <p-divider></p-divider>
        <div class="grid wrap-edit-detail">
            <div class="col-12 border-section " *ngIf="this.detailInfo?.flow_st > 0 && detailInfo?.flow_st < 4">
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="grid d-flex justify-content-between">
                            <h3 class="title-section">Thành phần lương</h3>
                            <!-- <p-button label="Thêm mới" icon="pi pi-plus" (click)="addWorked()" styleClass="p-button-sm mr-1"></p-button> -->
                        </div>
                    </ng-template>
                    <div class="row" style="flex-wrap: wrap">
                        <div class="grid-default border">
                            <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="columnDefs_1.length > 0" [title]="'Chứng chỉ'"
                                [listsData]="listsData_1" (showConfig)="CauHinh(1)" [columnDefs]="columnDefs_1"></app-list-grid-angular>
                            </div>
                    </div>
                </p-panel>
            </div>
        </div>  
        <app-hop-dong [contractId]="detailInfo?.contractId" *ngIf="this.detailInfo?.flow_st > 1"></app-hop-dong>
        <!-- <div class="grid wrap-edit-detail">
            <div class="col-12 border-section " *ngIf="this.detailInfo?.flow_st > 2">
                <p-panel>
                    <ng-template pTemplate="header">
                        <div class="grid d-flex justify-content-between">
                            <h3 class="title-section">Danh sách hồ sơ hợp đồng</h3>
                        </div>
                    </ng-template>
                    <div class="row" style="flex-wrap: wrap">
                        <div class="grid-default border">
                            <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="columnDefs.length > 0" [title]="'Chứng chỉ'"
                                [listsData]="listsData" [columnDefs]="columnDefs"  (showConfig)="CauHinh(0)"></app-list-grid-angular>
                            </div>
                    </div>
                </p-panel>
            </div>
        </div> -->
</p-card>


<p-dialog [(visible)]="displayuploadcontract" [autoZIndex]="true" [modal]="true"  appendTo="body"
    [style]="{width: '800px', height: 'auto'}">
    <p-header>
        Tải lên hợp đồng [{{metafile?.meta_title}}]
    </p-header>
    <app-upload-file [maxFileSize]="8000000" [multiple]="" (callback)="handleUpload($event)" *ngIf="displayuploadcontract"></app-upload-file>
</p-dialog>


<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="gridKeyForm === 'view_hrm_contract_files' ? getContractMetaPage() : getSalaryComponentPage()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKeyForm" [typeConfig]="'TableInfo'"   [gridKey]="gridKeyForm"></app-config-grid-table-form>
</p-dialog>