<section>
    <div class="col-md-12">
        <div class="fields col-12 text valid" >
            <label for="">Tên tiến trình: </label>
            <input type="text" class="form-control" [(ngModel)]="modelAddNode.title"
            name="title">
          </div>
          <div class="fields  col-12 text valid" >
            <label for="">Loại tiến trình: </label>
            <input type="text" class="form-control" [(ngModel)]="modelAddNode.type"
            name="typeNode">
          </div>
     </div>
</section>
<!-- <div class="col-12 flex justify-content-end">
    <p-button label="Thêm tiến trình" (click)="saveNode()" styleClass="p-button-sm mr-1 p-button-info" icon="pi pi-check"></p-button>
</div> -->