    <div class="main-grid">
        <section class="bread-crumb">
            <div class="d-flex bet middle">
                <div class="col-3 pd-0">
                    <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
                </div>
                <div class="d-flex end mid bottom gap-12 col-9 pd-0">
                    <div class="filter filter-search col-2 pd-0">
                        <div class="field-group text search mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                            <input class="input-default" placeholder="Tìm kiếm" type="text" autocomplete="off" id="filter"
                                (keydown.enter)="query.offSet = 0; first = 0;getXemCongInfo()"
                                [(ngModel)]="query.filter">
                                <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; getXemCongInfo()">
                                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M10.1305 11.2619C9.28558 11.8771 8.24518 12.24 7.12002 12.24C4.29231 12.24 2 9.94772 2 7.12002C2 4.29231 4.29231 2 7.12002 2C9.94772 2 12.24 4.29231 12.24 7.12002C12.24 8.24518 11.8771 9.28558 11.2619 10.1305L13.7657 12.6343C14.0781 12.9467 14.0781 13.4533 13.7657 13.7657C13.4533 14.0781 12.9467 14.0781 12.6343 13.7657L10.1305 11.2619ZM11.28 7.12002C11.28 9.41753 9.41753 11.28 7.12002 11.28C4.8225 11.28 2.96 9.41753 2.96 7.12002C2.96 4.8225 4.8225 2.96 7.12002 2.96C9.41753 2.96 11.28 4.8225 11.28 7.12002Z"
                                            fill="#808AA6" />
                                    </svg>
                                </span>
                        </div>
                    </div>
                    <p-button (click)="op.toggle($event)" 
                    styleClass="p-button-sm height-56 ">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.2913 3.47726H0.769231C0.344396 3.47726 0 3.14148 0 2.72726C0 2.31305 0.344396 1.97726 0.769231 1.97726H11.4465C11.8523 0.96494 12.8427 0.25 14 0.25C15.1573 0.25 16.1477 0.96494 16.5535 1.97726H19.2309C19.6557 1.97726 20.0001 2.31305 20.0001 2.72726C20.0001 3.14148 19.6557 3.47726 19.2309 3.47726H16.7087C16.4828 4.76856 15.356 5.75 14 5.75C12.644 5.75 11.5172 4.76856 11.2913 3.47726ZM12.7587 2.85147C12.753 2.90017 12.75 2.94974 12.75 3C12.75 3.69036 13.3096 4.25 14 4.25C14.6904 4.25 15.25 3.69036 15.25 3C15.25 2.30964 14.6904 1.75 14 1.75C13.3762 1.75 12.8591 2.20697 12.7652 2.80443C12.7636 2.82026 12.7614 2.83594 12.7587 2.85147Z" fill="#F3F8FF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.64647 9.24997C9.32 8.09573 8.25877 7.25 7 7.25C5.74123 7.25 4.68 8.09573 4.35352 9.24997H0.769231C0.344396 9.24997 0 9.58576 0 9.99997C0 10.4142 0.344396 10.75 0.769231 10.75H4.35351C4.67996 11.9042 5.74121 12.75 7 12.75C8.25879 12.75 9.32004 11.9042 9.64649 10.75H19.2308C19.6557 10.75 20.0001 10.4142 20.0001 9.99997C20.0001 9.58576 19.6557 9.24997 19.2308 9.24997H9.64647ZM7 8.75C6.30964 8.75 5.75 9.30964 5.75 10C5.75 10.6904 6.30964 11.25 7 11.25C7.64529 11.25 8.17638 10.761 8.24297 10.1334C8.23499 10.0901 8.23083 10.0455 8.23083 9.99997C8.23083 9.95444 8.23499 9.90985 8.24296 9.86656C8.17636 9.23895 7.64528 8.75 7 8.75Z" fill="#F3F8FF"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.44645 18.0227H0.769231C0.344396 18.0227 0 17.6869 0 17.2727C0 16.8585 0.344396 16.5227 0.769231 16.5227H9.29127C9.51724 15.2314 10.644 14.25 12 14.25C13.356 14.25 14.4827 15.2314 14.7087 16.5227H19.2308C19.6557 16.5227 20.0001 16.8585 20.0001 17.2727C20.0001 17.6869 19.6557 18.0227 19.2308 18.0227H14.5536C14.1477 19.035 13.1574 19.75 12 19.75C10.8426 19.75 9.85227 19.035 9.44645 18.0227ZM10.75 17C10.75 16.3096 11.3096 15.75 12 15.75C12.6904 15.75 13.25 16.3096 13.25 17C13.25 17.6904 12.6904 18.25 12 18.25C11.3096 18.25 10.75 17.6904 10.75 17Z" fill="#F3F8FF"/>
                    </svg> &nbsp;&nbsp;
                    Bộ Lọc
                </p-button>
                <p-button styleClass="p-button-sm height-56" icon="pi pi-cloud-download" label="Export" (click)="Export()"
                    [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetTimekeepingDetail.url, action: ACTIONS.EXPORT}"
                ></p-button>
                </div>
            </div>
            <p-overlayPanel #op [style]="{'width': '40rem'}" [style]="{width: '700px'}" styleClass="advance-seach">
                <ng-template pTemplate>
                    <div class="header-filter-search  grid">
                        <h3>Tìm kiếm nâng cao</h3>
                    </div>
                    <div class="header-filter-search grid mt-1">
                        <div class="icon col-12 pl-0" style="display: flex; flex-wrap: wrap;">
                            <!-- <div class="col-6">
                                <div class="field-group select valid">
                                    <label>Công ty</label>
                                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                                        [options]="listOrgRoots" [(ngModel)]="query.organizeId" (onChange)="changeOrgani()"
                                        name="organizeId" [filter]="true">
                                        <ng-template let-item pTemplate="selectedItem">
                                            <span>{{item.label}}</span>
                                        </ng-template>
                                        <ng-template let-car pTemplate="item">
                                            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                                <div style="font-size:14px;margin-top:4px">{{car.label}}</div>
                                            </div>
                                        </ng-template>
                                    </p-dropdown>
                                </div>
                            </div> -->

                            <div class="col-6">
                                <div class="field-group select mb-0 label-8">
                                    <label>Bộ phận</label>
                                    <p-treeSelect [(ngModel)]="query.orgId" 
                                    [filterInputAutoFocus]="true" 
                                    [filter]="true" [metaKeySelection]="false" 
                                    [ngClass]="[ departmentFiltes.length <= 0 ? 'tree-empty' : '' ]" 
                                    [options]="departmentFiltes" selectionMode="single" name="orgId"
                                    (onNodeSelect)="onChangeTree()" placeholder="Chọn phòng ban"></p-treeSelect>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="field-group date mb-0 valid">
                                    <label>Từ ngày</label>
                                    <p-calendar  panelStyleClass="datepicker-default" placeholder="DD/MM/YYYY"
                                        [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.fromdate" [monthNavigator]="true"
                                        [yearNavigator]="true" inputId="navigators" dateFormat="dd/mm/yy"
                                        name="fromdate"></p-calendar>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="field-group date mb-0 valid">
                                    <label>Đến ngày</label>
                                    <p-calendar  panelStyleClass="datepicker-default" placeholder="DD/MM/YYYY"
                                        [appendTo]="'body'" [baseZIndex]="101" [(ngModel)]="query.todate" [monthNavigator]="true"  inputId="navigators" dateFormat="dd/mm/yy"
                                        name="todate"></p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="input-group icon col-12 select-default text-right">
                            <label for="" style="visibility: hidden;">Classid <span class="pi pi-info-circle"
                                    style="font-size: 13px;color: orange;"></span></label>
                            <p-button label="Tìm kiếm" styleClass="mr-1" icon="pi pi-search" (click)="getXemCongInfo()">
                            </p-button>
                            
                            <p-button label="Làm mới" icon="pi pi-times" (click)="cancel()"
                                styleClass="p-button-secondary">
                            </p-button>
                        </div>
                    </div>
                </ng-template>
            </p-overlayPanel>
        </section>

    <section class="content pb-0">
        <div class="grid-default border">
            <app-list-grid-angular 
            [height]="heightGrid" *ngIf="columnDefs?.length > 0"
                    [listsData]="listsData"
                    [columnDefs]="columnDefs"></app-list-grid-angular>
                    <div class="paginator">
                        <span>Từ {{ countRecord.currentRecordStart }} đến
                            {{ countRecord.currentRecordEnd }}
                            trên tổng số
                            {{ countRecord.totalRecord }} kết quả</span>
                        <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                            (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
                        </p-paginator>
                    </div>
            </div>
    </section>
</div>
<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="getXemCongInfo()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>