<div class="section" style="margin-top: 5px;">
  <ag-grid-angular
    [style.height]="heightAuto + 'px'"
    [excelStyles]="excelStyles"
    [getContextMenuItems]="getContextMenuItems"
     #agGrid style="width: 100% "
    id="myGrid"
    class="ag-theme-alpine"
    [pinnedTopRowData]="pinnedTopRowData"
    [domLayout]="domLayout"
    [defaultExcelExportParams]="excelExportParams"
    [defaultCsvExportParams]="csvExportParams"
    [rowData]="listsData"
    [columnDefs]="columnDefs"
    [skipHeaderOnAutoSize]="false"
    [floatingFilter]="floatingFilter"
    [isRowMaster]="isRowMaster"
    [groupDefaultExpanded]="groupDefaultExpanded"
    [masterDetail]="true"
    [sideBar]="sideBar"
    [modules]="modules"
    [rowClassRules]="rowClassRules"
    [overlayNoRowsTemplate]="noRowsTemplate"
    [detailCellRendererParams]="detailCellRendererParams"
    [tooltipShowDelay]="tooltipShowDelay"
    [suppressRowClickSelection]="true"
    (bodyScroll)="handleScroll($event)"
    [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)"
    (rowDoubleClicked)="RowDoubleClicked($event)"
    (cellDoubleClicked)="CellDoubleClicked($event)"
    [defaultColDef]="defaultColDef"
    [enableCellTextSelection]="false"
    [groupDisplayType]="'groupRows'"
    [enableRangeSelection]="false"
    [getRowHeight]="getRowHeight"
    [accentedSort]="true"
    [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</div>