<div *ngIf="url === 'chi-tiet-xu-ly-hop-dong'; else taoHopDong">
    
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="itemsMenu"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>


   
</div>
</div>

<ng-template #taoHopDong>
    <div class=" tao-hop-dong" *ngIf="listViews.length > 0">
        <!-- <app-edit-detail *ngIf="listViews.length> 0" [detail]="modelContractInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon" [thongtinnhanvienNew]="true" [dataView]="listViews"
            (callback)="setContractInfo($event)" (callback1)="saveCallback1($event)" (callbackcancel)="huy($event)"></app-edit-detail>
 -->
                <!-- Check lại điều kiện -->
            <app-edit-detail  *ngIf="listViews.length> 0 " [isNested]="true" [manhinh]="'Edit'"  [detailInfo]="modelContractInfo"  [buttons]="optionsButon"
                [listForms]="listViews" (callback)="setContractInfo($event)" (close)="huy($event)"
              ></app-edit-detail>
        <p-card styleClass="" *ngIf="listViews.length> 0">
            <!-- <ng-template pTemplate="header">
                <div class="panel-heading" style="padding: 10px;">
                    <h6 class="panel-title" style="color: black; font-weight: 500;">Danh sách đính kèm <p-badge
                            *ngIf="listsData.length > 0" [value]="listsData.length" styleClass="p-mr-2"></p-badge>
                    </h6>
                </div>
            </ng-template> -->
            <div class="wrap-edit-detail">
                <div class="col-12">
                    <div class="panel-heading p-panel-header">
                        <h6 class="panel-title p-panel-title" >Hồ sơ hợp đồng</h6>
                    </div>
                    <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="indexTab === 0 && this.listsData.length > 0" [title]="'Chứng chỉ'"
                        [listsData]="dataMetafiles" (FnClick)="OnClick($event)" [columnDefs]="columnDefsMetafiles"></app-list-grid-angular>
                </div>
                <div class="col-12">
                    <div class="panel-heading p-panel-header">
                        <h6 class="panel-title p-panel-title" >Thành phần lương</h6>
                    </div>
                    <app-list-grid-angular [domLayout]="'autoHeight'" *ngIf="indexTab === 1" [title]="'Chứng chỉ'"
                [listsData]="dataSalary" (FnClick)="OnClick($event)" [columnDefs]="columnDefsSalaryComponents"></app-list-grid-angular>
                </div>
            </div>
          
           
        </p-card>
    
    </div>
</ng-template>





<p-dialog [(visible)]="displayuploadcontractall" [appendTo]="'body'" [autoZIndex]="true" [modal]="true"   appendTo="body"
    [style]="{width: '800px', height: 'auto'}">
    <p-header>
        Tải lên hợp đồng
    </p-header>
    <app-upload-file [maxFileSize]="8000000" [multiple]="" (callback)="handleUploadAll($event)" *ngIf="displayuploadcontractall"></app-upload-file>
</p-dialog>





<p-dialog [(visible)]="displayuploadcontract" [autoZIndex]="true" [modal]="true"  appendTo="body"
    [style]="{width: '800px', height: 'auto'}">
    <p-header>
        Tải lên hợp đồng [{{metafile?.meta_title}}]
    </p-header>
    <app-upload-file [maxFileSize]="8000000" [multiple]="" (callback)="handleUpload($event)" *ngIf="displayuploadcontract"></app-upload-file>
</p-dialog>