<div class="main-grid">
    
  <section class="bread-crumb">
    <app-hrm-breadcrumb [items]="itemsBreadcrumb"></app-hrm-breadcrumb>
  </section>
  
  <section class="bread-filter">
    <div class="d-flex bottom gap-16">
        <div class="col-item">
          <div class="field-group text mb-0 " [ngClass]="key_car ? 'valid' : 'invalid' ">
              <p-autoComplete placeholder="Nhập mã thẻ để tìm kiếm" [(ngModel)]="key_car" name="key_car" [suggestions]="listCars" (onSelect)="selectedItem1($event)"
              (completeMethod)="getCardCustomers($event)" field="fullNameAndCar"></p-autoComplete>
          </div>
        </div>
        <div class="col-item">
          <div class="d-flex align-items-center gap-16">
            <p-button  (click)="menuButton.toggle($event)" label="Quản lý" icon="pi pi-cog" styleClass="p-button-sm"></p-button>
            <p-menu [model]="menuItem" [appendTo]="'body'" [popup]="true" #menuButton></p-menu>
          </div>
        </div>
    </div>
  </section>
  <section>
        <p-card header="Thông tin chi tiết" styleClass="card-title-part">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12">
                  <div>
                    <label for="">Mã thẻ: <strong>{{detailcar?.cardCd}}</strong></label>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-12">
                  <div class="checkbox-default d-flex mb-0">
                    <input id="noi-bo" class="form-check-input mr-2 ml-0" [checked]="detailcar?.isNoiBo"
                      name="isNoiBo" type="checkbox">
                    <label for="noi-bo" class="">Nội bộ </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12">
                  <div>
                    <label for="">Mã kỹ thuật: <strong>{{detailcar?.cardNumber}}</strong></label>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-12">
                  <div class="checkbox-default d-flex mb-0">
                    <input id="co-xe" class="form-check-input mr-2 ml-0" [checked]="detailcar?.isVehicle"
                      name="isCalByMap" type="checkbox" value="">
                    <label for="co-xe" class="">Có xe </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12">
                  <div>
                    <label for="">Loại thẻ: <strong>{{detailcar?.cardTypeName}}</strong></label>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-12">
                  <div class="checkbox-default d-flex mb-0">
                    <input id="the-khach" class="form-check-input ml-0 mr-2"[checked]="detailcar?.isTheKhach"
                      name="isTheKhach" type="checkbox" value="">
                    <label for="the-khach" class="">Thẻ khách </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12">
                  <div class="mb-2">
                    <label for="">Chủ thẻ: <strong>{{detailcar?.fullName}}</strong></label>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-12">
                  <div>
                    <label for="">Ngày cấp: <strong>{{detailcar?.issueDate}}</strong></label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-12">
                  <div>
                    <label for="">Căn hộ: <strong>{{detailcar?.roomCode}}</strong></label>
                  </div>
                </div>
                <div class="col-xl-2 col-lg-6 col-md-12 mb-2">
                  <div>
                    <label for="">Trạng thái: <strong>{{detailcar?.status}}</strong></label>
                  </div>
                </div>
              </div>
        </p-card>
        <!-- //grid1 -->
        <p-button 
          label="Thêm mới" 
          [disabled]="!detailcar" 
          styleClass="p-button-sm" 
          (onClick)="AddNew();" 
          icon="pi pi-plus"></p-button>
        <div class="grid-default border" #container> 
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="rowData" [height]="500"
                [domLayout]="'autoHeight'" [columnDefs]="columnDefs"></app-list-grid-angular>

        </div>
        <p-card header="Kiểm tra quyền">
            <div class="row" style="margin-top: 10px;">
                <div class="col-xl-3 col-lg-2 col-md-3 mb-1">
                  <div class="field-group select label-8" [ngClass]="modelElevator.projectCd ? 'valid' : 'invalid' ">
                    <label for="status">Dự án</label>
                    <select class="form-control" (change)="getBuidingsSearch();load1()" name="projectCd"
                      [(ngModel)]="modelElevator.projectCd" id="projectCd" #projectCd="ngModel">
                      <option value="">Chọn dự án</option>
                      <option *ngFor="let advert of projects; let i = index" value="{{advert.projectCd}}">
                        {{advert.projectName}} </option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-3 mb-1">
                  <div class="field-group select label-8" [ngClass]="modelElevator.buildCd ? 'valid' : 'invalid' ">
                    <label for="status">Tòa</label>
                    <select class="form-control" (change)="getBuildingZones($event);load1()" name="buildCd"
                      [(ngModel)]="modelElevator.buildCd" id="buildCd" #buildCd="ngModel">
                      <option value="">Chọn tòa</option>
                      <option *ngFor="let objBuilding of builds" value={{objBuilding.buildCd}}>
                        {{objBuilding.buildName}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-3 mb-1">
                  <div class="field-group select label-8" [ngClass]="modelElevator.buildZone ? 'valid' : 'invalid' ">
                    <label for="status">Khu vực</label>
                    <select class="form-control" name="buildZone" (change)="getFloors($event);load1()"
                      [(ngModel)]="modelElevator.buildZone" id="buildZone" #buildZone="ngModel">
                      <option value="">Chọn khu vực</option>
                      <option *ngFor="let advert of buildingZones; let i = index" value="{{advert.buildZoneName}}">
                        {{advert.buildZoneName}} </option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-3 mb-1">
                  <div class="field-group select label-8" [ngClass]="modelElevator.floorNumber ? 'valid' : 'invalid' ">
                    <label for="status">Tầng</label>
                    <select class="form-control" (change)="getHardware();load1()" name="floor"
                      [(ngModel)]="modelElevator.floorNumber" id="floor" #floor="ngModel">
                      <option value=null>---</option>
                      <option *ngFor="let advert of floors; let i = index" value="{{advert.floorNumber}}">
                        {{advert.floorName}} </option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-3 col-lg-2 col-md-3 mb-1">
                  <div class="field-group select label-8" [ngClass]="modelElevator.hardwareId ? 'valid' : 'invalid' ">
                    <label for="status">Thiết bị</label>
                    <select class="form-control" name="hardwareId" (change)="load1()"
                      [(ngModel)]="modelElevator.hardwareId" id="hardwareId" #hardwareId="ngModel">
                      <option value=null>---</option>
                      <option *ngFor="let advert of devices; let i = index" value="{{advert.hardwareId}}">
                        {{advert.hardwareId}} </option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-1 col-lg-2 col-md-12 ssg-btn-search">
                  <label style="visibility: hidden">&nbsp;</label>
                  <div class="group-btns">
                    <button type="button" (click)="load1()" class="btn btn-primary mr-2 h-56">
                      <i _ngcontent-c4="" class="fa fa-search"></i>
                    </button>
                    <button type="button" (click)="cancelTestdevices()" class="btn btn-default h-56">
                      <i _ngcontent-c4="" class="fa fa-repeat"></i>
                    </button>
                  </div>
                </div>
              </div>
        </p-card>
        
      </section>
          <!-- //grid2 -->
      <section class="content">
        <div class="grid-default border" #container> 
            <app-list-grid-angular *ngIf="columnDefs1.length > 0" [listsData]="rowData1" [height]="500"
                [domLayout]="'autoHeight'" [columnDefs]="columnDefs1"></app-list-grid-angular>
        </div>
    </section>
</div>


<p-dialog [(visible)]="isDialog" header="{{titleModal}}" [autoZIndex]="true" [style]="{width: '800px', height: 'auto'}">
    <form #createSMSF="ngForm" class="form-horizontal ng-pristine ng-valid ng-scope">
        <div class="box-body" style="padding:10px;">
          <div class="form-row input-group" style="margin:10px 0px;">
            <label class=" control-label">Mã thẻ</label>
            <p-autoComplete [(ngModel)]="modelcar" name="modelcar" placeholder="Nhập mã thẻ để tìm kiếm" [suggestions]="listCars" (onSelect)="selectedItem($event)"
            (completeMethod)="getCardCustomers($event)" field="fullNameAndCar"></p-autoComplete> 
          </div>

          <div class="form-row input-group" style="margin:10px 0px;">
            <label class=" control-label">Tên chủ thẻ</label>
            <input [disabled]="true" type="text" class="form-control" name="fullNameCust" id="fullNameCust"
            [(ngModel)]="cardinfo.fullName" placeholder="Tên chủ thẻ">
          </div>

          <div class="form-row field-group select" *ngIf="modelCR" style="margin:10px 0px;">
            <label class=" control-label">Quyền của thẻ</label>
            <select class="form-control" name="cardRole" [(ngModel)]="cardinfo.cardRole">
              <option *ngFor="let objcardRole of modelCR" value={{objcardRole.id}}>
                {{objcardRole.roleName}}
              </option>
            </select>
          </div>

          <div class="form-row field-group select" *ngIf="modelCardType" style="margin:10px 0px;">
            <label class=" control-label">Loại thẻ</label>
            <select class="form-control" name="cardType" [(ngModel)]="cardinfo.cardType">
              <option *ngFor="let objCardType of modelCardType" value={{objCardType.cardTypeId}}>
                {{objCardType.cardTypeName}}
              </option>
            </select>
          </div>

          <div class="form-row field-group select" *ngIf="modelProject" style="margin:10px 0px;">
            <label class=" control-label">Dự án</label>
            <select class="form-control" name="projectCd" [(ngModel)]="cardinfo.projectCd"
            (change)="loadGetBuildings()">
            <option *ngFor="let objProject of modelProject" value={{objProject.projectCd}}>
              {{objProject.projectName}}
            </option>
          </select>
          </div>

          <div class="form-row field-group select" *ngIf="modelBuilding" style="margin:10px 0px;">
            <label class="control-label">Tòa nhà</label>
            <select class="form-control" name="buildCd" [(ngModel)]="cardinfo.buildCd"
            (change)="loadGetFloors()">
            <option value=null>---</option>
            <option *ngFor="let objBuilding of modelBuilding" value={{objBuilding.buildCd}}>
              {{objBuilding.buildName}}
            </option>
          </select>
          </div>

          <div class="form-row field-group select" style="margin:10px 0px;">
            <label class="control-label">Tầng</label>
            <select class="form-control" name="floorNumber" [(ngModel)]="cardinfo.floorNumber">
              <option value=null>---</option>
              <option *ngFor="let objFloor of modelFloor" value={{objFloor.floorNumber}}>
                {{objFloor.floorName}}
              </option>
            </select>
          </div>
          <div class="form-row" style="margin:10px 0px;">
                <p-button styleClass="p-button-sm mr-1" (click)="SaveRoleCard(1)" icon="pi pi-check"></p-button>
                <p-button styleClass="p-button-sm p-button-secondary" (click)="cancelForm()" icon="pi pi-times"></p-button>
          </div>
        </div>

      </form>
</p-dialog>













  