<div class="field">
    <p-inputNumber inputId="minmaxfraction" mode="decimal" [showButtons]="false" inputId="minmax-buttons"  [formControl]="formControl" (change)="to.change && to.change(field, $event)"
         [formlyAttributes]="field"  [ngClass]="{'ng-pristine ng-invalid ng-star-inserted ng-dirty ng-touched': ((formControl.touched || options.formState.submitted) && formControl.getError('required')) }"
          class="text-base text-color focus:border-primary w-full text-right"></p-inputNumber>
</div>