

<p-tabView (onChange)="handleChange($event.index)" [style]="{'position': 'relative'}" [(activeIndex)]="tabIndex">
    <p-tabPanel header="Thông tin chi tiết bảng lương" >
        <div class="content">
            <app-edit-detail
                *ngIf="listViews.length> 0"
                [detail]="detailInfo"
                [manhinh]="'Edit'"
                [optionsButtonsEdit]="optionsButon"
                [dataView]="listViews"
                (callback)="handleSave($event)"
                (callbackcancel)="quaylai($event)"
            ></app-edit-detail>
            <app-loading-detail 
                [id]="'area'" 
                *ngIf="listViews.length === 0">
            </app-loading-detail>

            
        </div>
    </p-tabPanel>
    <p-tabPanel header="Thành phần lương">
        <div class="grid">
            <div class="col-6"></div>
            <div class="col-6 text-right btns-sidebar-top">
                <p-button label="Thêm mới" icon="pi pi-plus" (click)="addPayroll()" styleClass="p-button-sm mr-1"></p-button>
                <p-button label="Cấu hình" icon="pi pi-cog" (click)="cauhinh()" styleClass="p-button-sm"></p-button>
            </div>
        </div>
        <div class="section-box">
            <app-list-grid-angular *ngIf="columnDefs.length > 0" 
                [columnDefs]="columnDefs"
                [height]="heightGrid" 
                [listsData]="listsData"
                >
            </app-list-grid-angular>
            <app-loading-grid 
                    [columnNumber]="9" 
                    gridtype="''" 
                    [value]="[1,2]" 
                    *ngIf="columnDefs?.length === 0">
                </app-loading-grid>
        </div>

    </p-tabPanel>
</p-tabView>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="isFormDetail" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Thêm thành phần lương </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    
    <app-edit-detail
        *ngIf="listViewsDetail.length> 0"
        [detail]="detailInfoDetail"
        [manhinh]="'Edit'"
        [optionsButtonsEdit]="optionsButon"
        [dataView]="listViewsDetail"
        (callback)="handleSaveTab1($event)"
        (callbackcancel)="quaylaiDetail($event)"
    ></app-edit-detail>
    <app-loading-detail 
        [id]="'long-field'" 
        *ngIf="listViewsDetail.length === 0">
    </app-loading-detail>
</p-sidebar>

<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" [appendTo]="'body'" (onHide)="getPayrollComponentPage()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'" [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>