
<div class="main-grid product-detail">
    <section *ngIf="orgId && !isDialog">
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
   <div class="content">
        <div class="">
            <app-edit-detail *ngIf="listViews.length> 0"  [manhinh]="'Edit'" [detailInfo]="detailInfo"  [buttons]="optionsButtonsView"
                [listForms]="listViews" (callback)="setOrganizeInfo($event)" (close)="cancelUpdate($event)"
              ></app-edit-detail>
            <app-loading-detail 
                [id]="'sections-1qnt'" 
                *ngIf="listViews.length === 0">
            </app-loading-detail>

        </div>
        <p-divider></p-divider>
        <app-cong-ty-orgid [orgId]="orgId" *ngIf="orgId"></app-cong-ty-orgid>
        <app-chuc-vu-orgid [orgId]="orgId" *ngIf="orgId"></app-chuc-vu-orgid>
        <app-chuyen-mon-orgid [orgId]="orgId" *ngIf="orgId"></app-chuyen-mon-orgid>
   </div>
   
</div>