
<div class="main-grid product-detail">
    <section>
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
   <div class="content">
        <div class="">
            <app-edit-detail [optionsButtonsEdit]="optionsButtonsView" [detail]="detailInfo" *ngIf="listViews.length> 0" [thongtinnhanvienNew]="true" [manhinh]="'Edit'" [dataView]="listViews" (callback)="setOrganizeInfo($event)" (callbackcancel)="cancelUpdate($event)"></app-edit-detail>
        </div>
        <p-divider></p-divider>
        <app-cong-ty-orgid [orgId]="orgId"></app-cong-ty-orgid>
        <app-chuc-vu-orgid [orgId]="orgId"></app-chuc-vu-orgid>
        <app-chuyen-mon-orgid [orgId]="orgId"></app-chuyen-mon-orgid>
   </div>
   
</div>