<div class="grid main-grid">
    <div class="col-12 right max-w-full">
        <div class="bread-filter grid">
            <div class="breadcrumb col-2">
                <h3>Danh sách phép bù</h3>
                <p-breadcrumb [model]="items"></p-breadcrumb>
            </div>
            <div class="col-2">
                <p-button styleClass="p-button-sm h-56" icon="pi pi-plus" label="Thêm mới phép bù phòng ban" (click)="addNewPhepBuDep()">
                </p-button>
            </div>
                <div class="header-filter-search col-2">
                    <div class="field-group search text mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                        <input class="input-default" type="text" autocomplete="off" id="filter"
                            (keydown.enter)="query.offSet = 0; first = 0;load()"
                            [(ngModel)]="query.filter">
                            <label>Phép bù</label>
                            <svg class="placeholder-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.1305 11.2619C9.28558 11.8771 8.24518 12.24 7.12002 12.24C4.29231 12.24 2 9.94772 2 7.12002C2 4.29231 4.29231 2 7.12002 2C9.94772 2 12.24 4.29231 12.24 7.12002C12.24 8.24518 11.8771 9.28558 11.2619 10.1305L13.7657 12.6343C14.0781 12.9467 14.0781 13.4533 13.7657 13.7657C13.4533 14.0781 12.9467 14.0781 12.6343 13.7657L10.1305 11.2619ZM11.28 7.12002C11.28 9.41753 9.41753 11.28 7.12002 11.28C4.8225 11.28 2.96 9.41753 2.96 7.12002C2.96 4.8225 4.8225 2.96 7.12002 2.96C9.41753 2.96 11.28 4.8225 11.28 7.12002Z" fill="#808AA6"/>
                            </svg>
                    </div>
                </div>
                <div class="col-1">
                    <div class="field-group text label-8 mb-0">
                        <input type="number" class="input-default" id="" placeholder="Tháng"
                            [(ngModel)]="query.month">
                        <label>Tháng</label>
                    </div>
                </div>
                <div class="col-1">
                    <div class="field-group text label-8 mb-0">
                        <input type="number" class="input-default" id="" placeholder="Năm"
                            [(ngModel)]="query.year">
                        <label>Năm</label>
                    </div>
                </div>
                <div class="col-2">
                    <div class="field-group select mb-0 valid" [ngClass]="">
                        <p-dropdown placeholder="Chọn tổ chức" appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                            [options]="orgRoots" [(ngModel)]="query.organizeId" name="organizeId" (onChange)="find()">
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle;">{{item.label}}</span>
                            </ng-template>
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div style="">{{car.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <label  for=""> Tổ chức: </label>
                    </div>
                </div>
                <div class="col-2">
                    <p-button styleClass="btn-56-56 search-button mr-2" icon="pi pi-search" (click)="query.offSet = 0; first = 0; load()">
                    </p-button>
                    <p-button styleClass="p-button-sm mr-1 h-56" icon="pi pi-plus" label="Thêm mới" (click)="addNewPhepBu()">
                    </p-button>
                </div>
        </div>
        <div class="grid-default" #container>
            <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </div>
</div>

<p-dialog [(visible)]="isShowAddPhepBuDep" [draggable]="false" [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1200px', height: 'auto'}">
    <p-header>
        Thêm mới Phép bù phòng ban 
    </p-header>
    <div class="grid">
        <div class="col-3">
            <div class="field-group select mb-0 valid">
                <p-dropdown panelStyleClass="mh-300" [style]="{maxHeight: '300px'}" placeholder="Chọn tổ chức" appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                    [options]="orgRoots" [required] [(ngModel)]="organizeIdForDep" name="organizeIdForDep" (onChange)="chonToChuc()">
                    <ng-template let-item pTemplate="selectedItem">
                        <span style="vertical-align:middle;">{{item.label}}</span>
                    </ng-template>
                    <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                            <div style="">{{car.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <label  for=""> Tổ chức: </label>
            </div>
        </div>
        <div class=" col-3 mb-0">
            <div class="field-group select treeselect label-8">
                <!-- <p-dropdown placeholder="Chọn Phòng ban" appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                  [options]="departments" [required] [(ngModel)]="querAddNewPhepBuDep.orgId" name="orgId" [filter]="true">
                  <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                  </ng-template>
                  <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                      <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>(onNodeSelect)="onNodeSelectAdd($event)
                <label for="">Phòng ban</label> -->
                <p-treeSelect placeholder="Chọn Phòng ban" appendTo="body" [(ngModel)]="querAddNewPhepBuDep.orgId" [options]="departments"
          selectionMode="single" placeholder="Select Item"></p-treeSelect>
          <label for="">Phòng ban</label>
              </div>
          </div>
        <div class="col-2">
            <div class="field-group label-8">
                <input class="form-control" min="1" type="number" [(ngModel)]="querAddNewPhepBuDep.annualAdd" placeholder="Nhập số phép được bù" name="annualAdd">
                    <label>Số phép được bù</label>
            </div>
        </div>
        <div class="col-2">
            <div class="field-group select label-8">
                <p-dropdown placeholder="Nhập số phép được bù" appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                  [options]="months" [required] [(ngModel)]="querAddNewPhepBuDep.annualMonth" name="annualMonth" [filter]="true">
                  <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                  </ng-template>
                  <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                      <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
                <label for="">Tháng thêm phép bù</label>
              </div>
        </div>
        <div class="col-1">
            <p-button styleClass="p-button-sm mr-1 h-56" icon="pi pi-plus" label="Thêm" (click)="setPhepBuDep()">
            </p-button>
        </div>
    </div>
</p-dialog>

