<div class="content-body p-3">

    <!-- row 1 -->
    <div class="grid">
      <div class="col-2">
        <div class="fields">
          <p-calendar 
              (onSelect)="onSelectMonth()"
              [(ngModel)]="selectBaseQuery" 
              view="month" 
              dateFormat="mm/yy" 
              placeholder="Chọn tháng năm"
              [readonlyInput]="true">
          </p-calendar>
          <span class="uni-icon uni-calendar"> </span>
        </div>
      </div>
    </div>
    <div class="grid boxs">
      <div class="col-9 md:col-12 lg:col-9 xl:col-9">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-4 xl:col-3" *ngFor="let tongQuanNhanSu of dashboardData?.tongquan">
              <div class="card">
                <div class="card-content">
                  <div class="icon d-flex middle center">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.414 7.02347C8.414 5.07744 10.0196 3.5 12 3.5C13.9804 3.5 15.586 5.07744 15.586 7.02347V7.92546C15.586 9.87149 13.9804 11.4489 12 11.4489C10.0196 11.4489 8.414 9.87149 8.414 7.92546V7.02347Z" fill="#FF7C59"/>
                      <path d="M6.18961 13.2051C6.16381 13.2046 6.13793 13.2043 6.11198 13.2043H3.89606C2.02054 13.2043 0.5 14.6982 0.5 16.5411V17.412C0.5 18.293 1.22686 19.0071 2.12333 19.0071H4.50679V16.8126C4.50679 15.3702 5.15924 14.0781 6.18961 13.2051Z" fill="#FF7C59"/>
                      <path d="M17.8104 13.2051C18.8408 14.0781 19.4932 15.3702 19.4932 16.8126V19.0071H21.8767C22.7731 19.0071 23.5 18.293 23.5 17.412V16.5411C23.5 14.6982 21.9795 13.2043 20.1039 13.2043H17.888C17.8621 13.2043 17.8362 13.2046 17.8104 13.2051Z" fill="#FF7C59"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M18.0362 19.0918V16.8126C18.0362 16.0106 17.7472 15.2746 17.2657 14.6998C16.6445 13.9582 15.703 13.4851 14.6483 13.4851H9.35166C7.47946 13.4851 5.9638 14.976 5.9638 16.8126V19.0918C6.20934 19.906 6.97642 20.5 7.88472 20.5H16.1153C17.0236 20.5 17.7907 19.906 18.0362 19.0918Z" fill="#FF7C59"/>
                      <path d="M5.00402 6.20445C3.49565 6.20445 2.27274 7.4059 2.27274 8.88812V9.5724C2.27274 11.0546 3.49565 12.2561 5.00402 12.2561C6.5124 12.2561 7.73531 11.0546 7.73531 9.5724V8.88812C7.73531 7.4059 6.5124 6.20445 5.00402 6.20445Z" fill="#FF7C59"/>
                      <path d="M16.2647 8.88812C16.2647 7.4059 17.4876 6.20445 18.996 6.20445C20.5044 6.20445 21.7273 7.4059 21.7273 8.88812V9.5724C21.7273 11.0546 20.5044 12.2561 18.996 12.2561C17.4876 12.2561 16.2647 11.0546 16.2647 9.5724V8.88812Z" fill="#FF7C59"/>
                      </svg>
                  </div>
                  <div class="media align-items-stretch">
                      <p>{{ tongQuanNhanSu?.name }}</p>

                      <div class="">
                        <div class="qan d-flex gap12 middle">
                            <div class="d-flex gap12">
                              <h1 class="mb-0">{{ tongQuanNhanSu?.tongnv }}</h1>
                              <label>Người</label>
                            </div>
                            <div class="per"> <span>-10% </span></div>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
              <!--card-->
            </div>
        </div>
          <div class="grid">
              <div class="col-6 pt-3">
                <div class="chart-section">
                  <div class="d-flex bet ">
                      <div class="des">
                        <h3 class="mb-3" style="color:#0a58ca;">Số lượng nhân sự </h3>
                        <!-- <p>Công ty KSFinance</p> -->
                      </div>
                  </div>
                  <div class="chart" >
                    <!-- <div id="legend-so-luong-nhan-su" class="legend-default">
                        <ul></ul>
                    </div> -->
                    <canvas style="max-height: 250px" id="so-luong-nhan-su" *ngIf="dashboardData"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-6 pt-3 ">
                <div class="chart-section">
                  <div class="d-flex bet middle">
                    <div class="desc">
                      <h3 class="mb-3" style="color:#0a58ca;">Biến động nhân sự </h3>
                      <p>{{ selectedNode?.label }}</p>
                    </div>
                    <div id="legend-bien-dong-nhan-su" class="legend-default line">
                        <ul class="d-flex center"></ul>
                    </div>
                  </div>
                  <div class="chart">
                    <canvas style="max-height: 200px" id="bien-dong-nhan-su" *ngIf="dashboardData"></canvas>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <div class="box">
                  <h3 class="mb-3" style="color:#0a58ca;">Thống kê hợp đồng theo loại hợp đồng</h3>
                  <div class="chart d-flex middle">
                    <canvas  style="max-height: 240px; max-width: 240px; margin: auto" id="doughnut" *ngIf="dashboardData"></canvas>
                    <div id="legend-doughnut" class="legend-default dou">
                        <ul></ul>
                    </div>
                  </div>
                  <ul>
                    <li class="d-flex bet">Hợp đồng sắp hết hạn: {{ dashboardData?.hd_saphethan }}
                      <span class="icon">
                          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.259459 0.278481C0.54816 0.00352719 1.01624 0.00352719 1.30494 0.278481L5.74054 4.50286C6.02924 4.77781 6.02924 5.2236 5.74054 5.49856L1.30494 9.72293C1.01624 9.99789 0.54816 9.99789 0.259459 9.72293C-0.029243 9.44798 -0.029243 9.00219 0.259459 8.72724L4.17232 5.00071L0.259459 1.27418C-0.029243 0.999223 -0.029243 0.553435 0.259459 0.278481Z" fill="#99A2BC"/>
                          </svg>
                      </span>
                    </li>
                    <li class="d-flex bet">Hợp đồng quá hạn: {{ dashboardData?.hd_quahan }}
                      <span class="icon">
                          <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.259459 0.278481C0.54816 0.00352719 1.01624 0.00352719 1.30494 0.278481L5.74054 4.50286C6.02924 4.77781 6.02924 5.2236 5.74054 5.49856L1.30494 9.72293C1.01624 9.99789 0.54816 9.99789 0.259459 9.72293C-0.029243 9.44798 -0.029243 9.00219 0.259459 8.72724L4.17232 5.00071L0.259459 1.27418C-0.029243 0.999223 -0.029243 0.553435 0.259459 0.278481Z" fill="#99A2BC"/>
                          </svg>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-6">
                <div class="box h-100">
                  <h3 class="mb-3" style="color:#0a58ca;">Nhân viên chưa ký hợp đồng</h3>
                  <app-list-grid-angular  
                    *ngIf="empSignContractColumnDef.length > 0"
                    [listsData]="dataEmpSignContract" 
                    [height]="heightGrid" 
                    [idGrid]="'dataEmpSignContract'"
                    [columnDefs]="empSignContractColumnDef">
                  </app-list-grid-angular>
                  <div class="p-6 text-center" *ngIf="empSignContractColumnDef && empSignContractColumnDef.length < 1">
                    <p style="opacity: 0.6;">Không có dữ liệu</p>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-3 md:col-12 lg:col-3 xl:col-3">
        <div class="box mb-3">
          <h3 class="mb-3" style="color:#0a58ca;">Sinh nhật nhân viên</h3>
          <ul class="birth-day" *ngIf="empBirthDays && empBirthDays.length > 0">
            <li *ngFor="let birthDay of empBirthDays" class="mb-2">
              <div class="d-flex gap12">
                <div><img src="{{ birthDay.avatar_url ? birthDay.avatar_url : '../../../../../assets/images/avatar.jpg' }}"></div>
                <div>
                  <div><label>Họ tên: </label>{{ birthDay.full_name }}</div>
                  <div><label>Ngày sinh: </label>{{ birthDay.birth_day }}</div>
                  <div><label>Tuổi: </label>{{ birthDay.age }}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="box mb-3">
          <h3 class="mb-3" style="color:#0a58ca;">Nhân viên hết hạn hợp đồng</h3>
          <app-list-grid-angular  
            *ngIf="empContractExpColumnDef.length > 0"
            [listsData]="dataEmpContractExp" 
            [height]="heightGrid" 
            [idGrid]="'dataEmpContractExp'"
            [columnDefs]="empContractExpColumnDef">
          </app-list-grid-angular>
          <div class="p-6 text-center" *ngIf="empContractExpColumnDef && empContractExpColumnDef.length < 1">
            <p style="opacity: 0.6;">Không có dữ liệu</p>
          </div>
        </div>
        <div class="box mb-3">
          <h3 class="mb-3" style="color:#0a58ca;">Nhân viên hết hạn hộ chiếu/chứng minh thư</h3>
          <app-list-grid-angular  
            *ngIf="empIdCardExpColumnDef.length > 0"
            [listsData]="dataEmpIdCardExp" 
            [height]="heightGrid" 
            [idGrid]="'dataEmpIdCardExp'"
            [columnDefs]="empIdCardExpColumnDef">
          </app-list-grid-angular>
          <div class="p-6 text-center" *ngIf="empIdCardExpColumnDef && empIdCardExpColumnDef.length < 1">
            <p style="opacity: 0.6;">Không có dữ liệu</p>
          </div>
        </div>
      </div>
      <!-- <div class="chart" style="max-width: 300px; margin: auto">
        <p-chart type="doughnut" [data]="dataDou" [style]="{'width': '40%'}"></p-chart>
      </div> -->
      <!-- <div class="chart">
        <canvas  style="max-width: 180px; margin: auto" id="doughnut-2" *ngIf="dashboardData"></canvas>
        <div id="legend-doughnut-2" class="legend-default dou">
          <ul></ul>
      </div>
      </div> -->
    </div>
</div>

<p-sidebar
styleClass="hr-diagram"
    [style]="{ width: '80%' }"
    [(visible)]="isHrDiagram" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;</ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <p-organizationChart [value]="listAgencyMap" #mydiv  [preserveSpace]="false" selectionMode="single" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
    styleClass="company">
    <ng-template let-node pTemplate="person">
        <div class="node-header p-corner-top">{{node.data.position ? node.data.position : 'No position'}}</div>
        <div class="node-content">
            <img src="{{node.data.avatarUrl ? node.data.avatarUrl : '../../../../../assets/images/img_avatar.png'}}" width="32">
            <div>{{node.data.full_name ? node.data.full_name : 'No name'}}</div>
        </div>
    </ng-template>
    <ng-template let-node pTemplate="department" >
        {{node.label}}
    </ng-template>
 
</p-organizationChart>
</p-sidebar>