
.section{
    border-radius: 4px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    .title{
        font-weight: 500;
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    &.activites{
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 16px;
        .title{
            margin-top: 0px;
            margin-bottom: 15px;
        }
    }
    &.chart{
        padding-left: 24px;
        padding-right: 24px;
        margin-bottom: 7px;
        .the-chart{
            padding-top: 30px;
        }
        .head{
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 767px) {
                display: block;
                .title{
                    margin-bottom: 20px;
                }
            }
        }
    }
    .time{
        display: flex;
        align-items: flex-end;
    }
    &.document{
        svg{
            max-width: 100%;
        }
        text-align: center;
        .title{
            margin-top: 0px;
            margin-bottom: 30px;
        }
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .readmore{
        display: block;
        font-size: 16px;
        cursor: pointer;
    }
    .line{
        margin-top: 35px;
        margin-bottom: 22px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
:host::ng-deep{
    .menu-timeline{
        &.menu-tab{
            margin-right: 24px;
        }
        .p-tabmenu-nav{
            background: none;
            li{
                a{
                    background: none !important;
                    border: none !important;
                    padding: 4px 12px 6px !important;
                    span{
                        font-size: 12px;
                        line-height: 16px;
                        font-weight: 500;
                    }
                }
                &.p-tabmenu-ink-bar{
                    top: calc(100% - 1px) !important;
                    bottom: auto !important;
                }
            }
        }
        .p-dropdown{
            border: none;
            padding-left: 8px;
            .p-dropdown-label{
                padding: 5px 0px;
                font-size: 12px;
                line-height: 16px;
            }
            .p-dropdown-trigger-icon{
                font-size: 10px;
            }
            &.p-focus{
                box-shadow: none;
            }
        }
    }
    .p-timeline-event{
        .p-timeline-event-opposite{
            display: none;
        }
        .p-timeline-event-content{
            font-size: 12px;
            line-height: 16px;
            p{
                margin: 0px;
            }
        }
    }
    
    .timeline-default{
        .p-timeline-event-separator{
            .p-timeline-event-marker{
                width: 10px;
                height: 10px;
                background: none;
            }
            .p-timeline-event-connector{
                margin-bottom: 0px;
                margin-top: 0px;
                width: 1px;
            }
        }
    }
    .boxs{
        .card{
            p{
                margin-top: 0;
                font-size: 14px;
                color: #8E9ABB;
            }
            .icon{
                width: 40px;
                height: 40px;
                min-width: 40px;
                background: #FFEFEB;
                border-radius: 8px;
                text-align: center;
            }
            .media{
                padding-left: 15px;
                width: 100%;
            }
            .per{
                span{
                    min-height: 24px;
                    background: #FFEFEB;
                    border-radius: 4px;
                    color: #FF7C59;
                    font-size: 12px;
                    padding: 4px;
                    display: block;
                    &.green{
                        color: #0a58ca;
                        background: #E2F9E3;
                    }
                }
            }
            .per-50{
                &>div{
                    width: 50%;
                }
                .the-month{
                    width: auto;
                }
            }
        }
    }
}
.timeline-item{
    i{
        display: block;
        margin-top: 4px;
    }
}
.home{
    padding: 20px;
    .grid{
        margin-left: -8px;
        margin-right: -8px;
        .col-3,
        .col-9{
            padding-left: 8px;
            padding-right: 8px;
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }
    .boxs{
        display: flex;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
        .box{
            height: 100%;
            .desc{
                font-size: 14px;
            }
            border-radius: 4px;
            padding: 20px 44px 24px;
            display: flex;
            align-items: flex-start;
            @media screen and (max-width: 1199px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            h5{
                font-size: 14px;
                margin-top: 0px;
                margin-bottom: 4px;
            }
            .quan{
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                margin-bottom: 4px;
                display: flex;
                align-items: flex-start;
                .number{
                    margin-right: 25px;
                    label{
                        display: block;
                        font-size: 14px;
                    }
                    @media screen and (max-width: 1024px) {
                        text-align: left;
                    }
                }
                .percen{
                    font-size: 12px;
                    padding: 4px;
                    border-radius: 4px;
                    line-height: 1;
                    margin-top: 5px;
                }
                @media screen and (max-width: 1024px) {
                    justify-content: center;
                }
            }
            @media screen and (max-width: 1024px) {
                display: block;
                text-align: center;
            }
        }
        .icon{
            width: 40px;
            height: 40px;
            border-radius: 4px;
            margin-right: 24px;
            position: relative;
            &.icon3,
            &.icon2{
                svg{
                    top: 12px;
                    left: 10px;
                }
            }
            svg{
                position: absolute;
                top: 10px;
                left: 12px;
            }
            @media screen and (max-width: 1024px) {
                margin: 0px auto 10px;
            }
        }
        @media screen and (max-width: 1024px) {
            display: block;
            .col-4{
                width: 100%;
            }
        }
    }
}
.home-notice{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    padding: 20px;
    @media screen and (max-width: 991px) {
        display: block;
        text-align: center;
        .number-day-use{
            margin-bottom: 10px;
        }
    }
    .number-day-use{
        label{
            margin-right: 30px;
            font-size: 14px ;
        }
    }
    .contact{
        .btn{
            &:first-child{
                margin-right: 15px;
            }
        }
    }
}
.card{
    .card-content{
        display: flex;
        width: 100%;
        padding: 15px;
        align-items: flex-start;
        background: #fff;
        border: none;
        box-shadow: 0 10px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
        border-radius: 5px;
        .text-center{
            i{
                font-size: 35px;
            }
        }
        
        h1{
            margin-top: 0px;
            margin-bottom: 10px;
        }
    }
    .card-content1{
        width: 100%;
        justify-content: space-between;
        padding: 10px 30px;
        align-items: flex-start;
        background: #fff;
        border: none;
        box-shadow: 0 10px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
        border-radius: 5px;
        .text-center{
            i{
                font-size: 35px;
            }
        }
        
        h1{
            margin-top: 0px;
        }
    }
   
    .card-header{
        padding: 0px 30px;
    }
}
.custom-card{
    margin-top: 15px;
    .card{
        background: #fff;
        .card-header{
            padding: 20px 30px;
            background: #fff;
            h4{
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        .card-content{
            box-shadow: none;
        }
        .card-header-custom{
            background: #fff;
            border-bottom: 1px solid #e7e7e7;
            h4{
                margin: 0px;
            }
        }
    }
}
.boxs{
    display: flex;
    .text-center{
        i{
            color: #0979fd;
        }
    }
    .card-content{
        h1{
            color: #212633;
            font-size: 24px;
            font-weight: 500;
        }
        height: 100%;
        background: #fff;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 8px;
    }
    .card{
        height: 100%;
    }
}
.read-more{
    margin-top: 5px;
    display: inline-block;
    &:hover{
        cursor: pointer;
        color: #0979fd;
    }
}
.sidebar{
    .box{
        background: #FFFFFF;
        box-shadow: 0 10px 40px 0 #3e396b12, 0 2px 9px 0 #3e396b0f;
        border-radius: 8px;
        padding: 15px;
        p{
            color: #76809B;
            font-size: 14px;
        }
        h3{
            margin: 0px;
        }
    }
    ul{
        li{
            color: rgba(43, 47, 51, 0.8);
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
}
.chart-section{
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 30px 20px;
    margin-bottom: 15px;
    height: 100%;
    h3{
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
    }
}
.birth-day{
    max-height: 235px;
    overflow: auto;
    img{
        width: 55px;
        border-radius: 100%;
        height: 55px;
        object-fit: cover;
    }
    label{
        font-weight: 600;
    }
}
.h-100{
    height: 100%;
}