<div class="main-grid">
    <section class="bread-crumb flex gap-1">
         <i class="pi pi-angle-left" style="font-size: 1.3rem; cursor: pointer;" (click)="goBack()"></i>
        <div class="d-flex bet bottom flex-1">
            <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
            <p-button styleClass="p-button-sm " icon="pi pi-file-excel" label="Export" (click)="exportData()"
            [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetEatingPage.url, action: ACTIONS.EXPORT}"
            ></p-button>
        </div>
    </section>

    <section class="content">
        <div class="grid-default" #container>
            <app-list-grid-angular 
                *ngIf="columnDefs.length > 0"
                [listsData]="listsData" 
                [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
                <app-loading-grid 
                    [columnNumber]="9" 
                    gridtype="''" 
                    *ngIf="columnDefs.length === 0">
                </app-loading-grid>

            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </section>
</div>

<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="isDetail" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Chi tiết </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
        (callback)="setChitiet($event)" (callbackcancel)="quaylai($event)"></app-edit-detail>
</p-sidebar>