<div class="main-grid">
    <section class="bread-crumb">
        <div class="d-flex bet bottom">
            <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
            <p-button styleClass="p-button-sm " icon="pi pi-file-excel" label="Export" (click)="exportData()"
            [CheckHideActions]="{url:  MENUACTIONROLEAPI.GetEatingPage.url, action: ACTIONS.EXPORT}"
            ></p-button>
        </div>
    </section>

    <section class="content">
        <div class="grid-default" #container>
            <app-list-grid-angular 
                *ngIf="columnDefs.length > 0"
                [listsData]="listsData" 
                [height]="heightGrid"
                [columnDefs]="columnDefs"></app-list-grid-angular>
                <app-loading-grid 
                    [columnNumber]="9" 
                    gridtype="''" 
                    *ngIf="columnDefs.length === 0">
                </app-loading-grid>

            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </section>
</div>

<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>
<p-dialog header="Chi tiết" [(visible)]="isDetail" [modal]="true" [style]="{width: '50vw'}" >
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
        (callback)="setChitiet($event)" (callbackcancel)="quaylai($event)"></app-edit-detail>
</p-dialog>
