


<div class="loading-detail" *ngIf="isLoad">
  <!-- chi tiết hồ sơ - thông tin cá nhân -->
  <div class="" *ngIf="id === 'employee-info-01'">
      <!-- <div>
        <p-skeleton height="65px" styleClass="p-mb-2"></p-skeleton>
      </div> -->
      <div class="row mt-4 mb-2">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div class="col-md-2">
              <p-skeleton height="290px" styleClass="p-mb-2"></p-skeleton>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div class="col-md-12">
              <p-skeleton height="160px"></p-skeleton>
              <p-skeleton height="160px"></p-skeleton>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <p-skeleton width="120px" height="26px"></p-skeleton>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <p-skeleton width="120px" height="26px"></p-skeleton>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
  </div>
   <!-- end chi tiết hồ sơ - thông tin cá nhân -->
    <!-- chi tiết hồ sơ - Vị trí công việc -->
    <div class="" *ngIf="id === 'employee-info-02'">
      <div class="row mt-4 mb-2">
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-1">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-1">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box mb-2">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <p-skeleton width="120px" height="26px"></p-skeleton>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- chi tiết hồ sơ - quan he lao dong -->
    <div class="" *ngIf="id === 'employee-info-03'">
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-1">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-1">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-1">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
    
    <!-- chi tiết hồ sơ - thue bao hiem -->
    <div class="" *ngIf="id === 'employee-info-04'">
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->
    <!-- chi tiết hồ sơ - chuyen mon -->
    <div class="" *ngIf="id === 'employee-info-05'">
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-12">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->

    
    <!-- chi tiết hồ sơ - thue bao hiem -->
    <div class="" *ngIf="id === 'employee-info-06'">
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="20px" width="20px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="20px" width="20px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="20px" width="20px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
    <!-- end -->

    <!-- tuyển dụng -- chi tiết -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'chi-tiet-tuyen-dung'">
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-12">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="108px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>
    <!-- end tuyển dụng -- chi tiết -->

    <!-- Chi tiết vị trí tuyển dụng -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'chi-tiet-vi-tri-tuyen-dung'">
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-6">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-12">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-12">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="400px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>

    <!-- chi-tiet-ns-cau-hinh-mail -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'chi-tiet-ns-cau-hinh-mail'">
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-12">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="400px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>

    <!-- app-chi-tiet-vong-tuyen-dung -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'app-chi-tiet-vong-tuyen-dung'">
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
    </div>

    <!-- app-chi-tiet-xu-ly-qt-cong-tac -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'app-chi-tiet-xu-ly-qt-cong-tac'">
      <div class="row mt-4 mb-2">
        <!-- Thông tin nhân sự -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-1">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-1">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-1">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-1">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
      </div>
      <!-- Vị trí công việc  -->
      <div class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-1">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="80px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="20px" width="20px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-3">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-8">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-8">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-4">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
        <div class="col-md-2">
          <div class="fields-lazy">
            <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
            <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
          </div>
        </div>
    </div>
    <!-- Thời gian làm việc -->
    <div class="row mt-4 mb-2">
      <div class="col-md-12 mb-2">
        <p-skeleton width="120px" height="26px"></p-skeleton>
      </div>
      <div class="col-md-1">
        <div class="fields-lazy">
          <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
          <p-skeleton height="20px" width="20px" styleClass="p-mb-2"></p-skeleton>
        </div>
      </div>
      <div class="col-md-2">
        <div class="fields-lazy">
          <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
          <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
        </div>
      </div>
      <div class="col-md-3">
        <div class="fields-lazy">
          <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
          <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
        </div>
      </div>
      <div class="col-md-2">
        <div class="fields-lazy">
          <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
          <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fields-lazy">
          <p-skeleton height="10px" width="160px" styleClass="mb2"></p-skeleton>
          <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
        </div>
      </div>
    </div>
  </div>
    
    <!-- app-contract-detail -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'app-contract-detail'">
      <div class="row mt-4 mb-2">
        <!-- Thông tin hợp đồng -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataLongField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <!-- Thông tin lương -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <div class="col-md-6">
          <!-- Bên A -->
          <div class="row">
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div *ngFor="let field of dataFieldArea" class="col-md-{{ field.col }}">
              <app-loading-field [height]="field?.height"></app-loading-field>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Bên B -->
          <div class="row">
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div *ngFor="let field of dataFieldArea" class="col-md-{{ field.col }}">
              <app-loading-field [height]="field?.height"></app-loading-field>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- app-detail-terminate -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'app-detail-terminate'">
      <div class="row mt-4 mb-2">
        <!-- Thông tin nhân sự -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataLongField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
      <!-- Xử lý nghỉ việc -->
      <div class="row">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataFieldArea" class="col-md-{{ field.col }}">
          <app-loading-field [height]="field?.height"></app-loading-field>
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <!-- Bàn giao -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
    </div>
    
    <!-- 3 sections -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'sections-3qnt'">
      <div class="row mt-4 mb-2">
        <!-- title -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataLongField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
      <!-- title -->
      <div class="row">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>

      <!-- title -->
      <div class="row">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataFieldArea" class="col-md-{{ field.col }}">
          <app-loading-field [height]="field?.height"></app-loading-field>
        </div>
      </div>
    </div>
    
    <!-- 2 sections -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'sections-2qnt'">
      <div class="row mt-4 mb-2">
        <!-- title -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataLongField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
      <!-- title -->
      <div class="row">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
    </div>

    <!-- 1 seciton -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'sections-1qnt'">
      <div class="row mt-4 mb-2">
        <!-- title -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataLongField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
    </div>

     <!-- 1 seciton 2 col -->
     <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'sections-1qnt-col-2'">
      <div class="row mt-4 mb-2">
        <div class="col-md-6">
          <div class="row">
            <!-- title -->
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
              <app-loading-field></app-loading-field>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <!-- title -->
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
              <app-loading-field></app-loading-field>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- markdown -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'markdown'">
      <div class="row mt-4 mb-2">
        <!-- title -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataMarkdown" class="col-md-{{ field.col }}">
          <app-loading-field [height]="field?.height"></app-loading-field>
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <!-- title -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <!-- title -->
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
    </div>

    <!-- area -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'area'">
      <!-- title -->
      <div  class="row mt-4 mb-2">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataFieldArea" class="col-md-{{ field.col }}">
          <app-loading-field [height]="field?.height"></app-loading-field>
        </div>
      </div>
    </div>
    
    <!-- long-field -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'long-field'">
      <!-- title -->
      <div class="row">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataLongField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
    </div>

    <!-- short-field -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'short-field'">
      <!-- title -->
      <div class="row">
        <div class="col-md-12 mb-2">
          <p-skeleton width="120px" height="26px"></p-skeleton>
        </div>
        <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
          <app-loading-field></app-loading-field>
        </div>
      </div>
    </div>

    <!-- phong hop -->
    <div style="padding-left: 30px; padding-right: 30px;" *ngIf="id === 'phong-hop'">
      <!-- title -->
      <div class="row">
        <div class="col-md-2">
          <p-skeleton width="180px" height="180px"></p-skeleton>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
              <app-loading-field></app-loading-field>
            </div>
            <div *ngFor="let field of dataShortField" class="col-md-{{ field.col }}">
              <app-loading-field></app-loading-field>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>