<div class="loading-detail">
  <!-- chi tiết hồ sơ - thông tin cá nhân -->
  <div class="" *ngIf="id === 'employee-info-01'">
      <!-- <div>
        <p-skeleton height="65px" styleClass="p-mb-2"></p-skeleton>
      </div> -->
      <div class="row mt-4 mb-2">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div class="col-md-2">
              <p-skeleton height="290px" styleClass="p-mb-2"></p-skeleton>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="row">
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div class="col-md-12">
              <p-skeleton height="160px"></p-skeleton>
              <p-skeleton height="160px"></p-skeleton>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <p-skeleton width="120px" height="26px"></p-skeleton>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <p-skeleton width="120px" height="26px"></p-skeleton>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
        </div>
      </div>
  </div>
   <!-- end chi tiết hồ sơ - thông tin cá nhân -->
    <!-- chi tiết hồ sơ - Vị trí công việc -->
    <div class="" *ngIf="id === 'employee-info-02'">
      <div class="row mt-4 mb-2">
            <div class="col-md-12 mb-2">
              <p-skeleton width="120px" height="26px"></p-skeleton>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-2">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-1">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-1">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
            <div class="col-md-4">
              <div class="fields-lazy">
                <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
              </div>
            </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="box mb-2">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12 mb-2">
                    <p-skeleton width="120px" height="26px"></p-skeleton>
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-2">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
              <div class="col-md-3">
                <div class="fields-lazy">
                  <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
                  <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- chi tiết hồ sơ - Vị trí công việc -->
      <div class="" *ngIf="id === 'employee-info-03'">
        <div class="row mt-4 mb-2">
          <div class="col-md-12 mb-2">
            <p-skeleton width="120px" height="26px"></p-skeleton>
          </div>
          <div class="col-md-3">
            <div class="fields-lazy">
              <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
              <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
          <div class="col-md-2">
            <div class="fields-lazy">
              <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
              <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
          <div class="col-md-2">
            <div class="fields-lazy">
              <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
              <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
          <div class="col-md-1">
            <div class="fields-lazy">
              <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
              <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
          <div class="col-md-1">
            <div class="fields-lazy">
              <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
              <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
          <div class="col-md-2">
            <div class="fields-lazy">
              <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
              <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
          <div class="col-md-1">
            <div class="fields-lazy">
              <p-skeleton height="10px" width="40%" styleClass="mb2"></p-skeleton>
              <p-skeleton height="34px" styleClass="p-mb-2"></p-skeleton>
            </div>
          </div>
    </div>
  </div>



</div>