<ul>
    <li><span><i class="uni-icon uni-overview"></i><span>uni-icon uni-overview</span></span></li>
    <li><span><i class="uni-icon uni-users"></i><span>uni-icon uni-users</span></span></li>
    <li><span><i class="uni-icon uni-calendar"></i><span>uni-icon uni-calendar</span></span></li>
    <li><span><i class="uni-icon uni-note-money"></i><span>uni-icon uni-note-money</span></span></li>
    <li><span><i class="uni-icon uni-setting"></i><span>uni-icon uni-setting</span></span></li>
    <li><span><i class="uni-icon uni-user-rate"></i><span>uni-icon uni-user-rate</span></span></li>
    <li><span><i class="uni-icon uni-home-building"></i><span>uni-icon uni-home-building</span></span></li>
    <li><span><i class="uni-icon uni-note"></i><span>uni-icon uni-note</span></span></li>
    <li><span><i class="uni-icon uni-note-user"></i><span>uni-icon uni-note-user</span></span></li>
    <li><span><i class="uni-icon uni-learning-tools"></i><span>uni-icon uni-learning-tools</span></span></li>
    <li><span><i class="uni-icon uni-money"></i><span>uni-icon uni-money</span></span></li>
    <li><span><i class="uni-icon uni-user-group"></i><span>uni-icon uni-user-group</span></span></li>
    <li><span><i class="uni-icon uni-user-plus"></i><span>uni-icon uni-user-plus</span></span></li>
    <li><span><i class="uni-icon uni-user-ban"></i><span>uni-icon uni-user-ban</span></span></li>
    <li><span><i class="uni-icon uni-full-screen"></i><span>uni-icon uni-full-screen</span></span></li>
    <li><span><i class="uni-icon uni-home"></i><span>uni-icon uni-home</span></span></li>
    <li><span><i class="uni-icon uni-user"></i><span>uni-icon uni-user</span></span></li>
    <li><span><i class="uni-icon uni-noti"></i><span>uni-icon uni-noti</span></span></li>
    <li><span><i class="uni-icon uni-note-checked"></i><span>uni-icon uni-note-checked</span></span></li>
    <li><span><i class="uni-icon uni-money-cicle"></i><span>uni-icon uni-money-cicle</span></span></li>
    <li><span><i class="uni-icon uni-protect"></i><span>uni-icon uni-protect</span></span></li>
    <li><span><i class="uni-icon uni-setting-transparent"></i><span>uni-icon uni-setting-transparent</span></span></li>
    <li><span><i class="uni-icon uni-narrow-down"></i><span>uni-icon uni-narrow-down</span></span></li>
    <li><span><i class="uni-icon uni-delete"></i><span>uni-icon uni-delete</span></span></li>
    <li><span><i class="uni-icon uni-edit"></i><span>uni-icon uni-edit</span></span></li>
    <li><span><i class="uni-icon uni-plus-cicle"></i><span>uni-icon uni-plus-cicle</span></span></li>
    <li><span><i class="uni-icon uni-plus"></i><span>uni-icon uni-plus</span></span></li>
    <li><span><i class="uni-icon uni-upload"></i><span>uni-icon uni-upload</span></span></li>
    <li><span><i class="uni-icon uni-calendar"></i><span>uni-icon uni-calendar</span></span></li>
    <li><span><i class="uni-icon uni-config"></i><span>uni-icon uni-config</span></span></li>
    <li><span><i class="uni-icon uni-cancel-cicle"></i><span>uni-icon uni-cancel-cicle</span></span></li>
    <li><span><i class="uni-icon uni-checked-cicle"></i><span>uni-icon uni-checked-cicle</span></span></li>
    <li><span><i class="uni-icon uni-close"></i><span>uni-icon uni-close</span></span></li>
    <li><span><i class="uni-icon uni-narrow-long-left"></i><span>uni-icon uni-narrow-long-left</span></span></li>
    <li><span><i class="uni-icon uni-file-attach"></i><span>uni-icon uni-file-attach</span></span></li>
    <li><span><i class="uni-icon uni-envelope"></i><span>uni-icon uni-envelope</span></span></li>
    <li><span><i class="uni-icon uni-config-table"></i><span>uni-icon uni-config-table</span></span></li>
    <li><span><i class="uni-icon uni-warning-cicle"></i><span>uni-icon uni-warning-cicle</span></span></li>
    <li><span><i class="uni-icon uni-options"></i><span>uni-icon uni-options</span></span></li>
    <li><span><i class="uni-icon uni-search"></i><span>uni-icon uni-search</span></span></li>
    <li><span><i class="uni-icon uni-save"></i><span>uni-icon uni-save</span></span></li>
    <li><span><i class="uni-icon uni-create-contract"></i><span>uni-icon uni-create-contract</span></span></li>
    <li><span><i class="uni-icon uni-work-off"></i><span>uni-icon uni-work-off</span></span></li>
    <li><span><i class="uni-icon uni-shuffle"></i><span>uni-icon uni-shuffle</span></span></li>
    <li><span><i class="uni-icon uni-exit-cicle-fill"></i><span>uni-icon uni-exit-cicle-fill</span></span></li>
    <li><span><i class="uni-icon uni-import"></i><span>uni-icon uni-import</span></span></li>
    <li><span><i class="uni-icon uni-caculator"></i><span>uni-icon uni-caculator</span></span></li>
    <li><span><i class="uni-icon uni-pen-line"></i><span>uni-icon uni-pen-line</span></span></li>
    <li><span><i class="uni-icon uni-check-square-line"></i><span>uni-icon uni-check-square-line</span></span></li>
    <li><span><i class="uni-icon uni-document-note"></i><span>uni-icon uni-document-note</span></span></li>
    <li><span><i class="uni-icon uni-structure-fill"></i><span>uni-icon uni-structure-fill</span></span></li>
    <li><span><i class="uni-icon uni-refresh"></i><span>uni-icon uni-refresh</span></span></li>
    <li><span><i class="uni-icon uni-arrow-down-fill"></i><span>uni-icon uni-arrow-down-fill</span></span></li>
    <li><span><i class="uni-icon uni-update"></i><span>uni-icon uni-update</span></span></li>
    <li><span><i class="uni-icon uni-note-basic"></i><span>uni-icon uni-note-basic</span></span></li>
    <li><span><i class="uni-icon uni-lock-open-fill"></i><span>uni-icon uni-lock-open-fill</span></span></li>
    <li><span><i class="uni-icon uni-lock-fill"></i><span>uni-icon uni-lock-fill</span></span></li>
    <li><span><i class="uni-icon uni-copy-line"></i><span>uni-icon uni-copy-line</span></span></li>
    <li><span><i class="uni-icon uni-gmail-line"></i><span>uni-icon uni-gmail-line</span></span></li>
    <li><span><i class="uni-icon uni-icon-square"></i><span>uni-icon uni-icon-square</span></span></li>
    <li><span><i class="uni-icon uni-chevron-right"></i><span>uni-icon uni-chevron-right</span></span></li>
    <li><span><i class="uni-icon uni-folder"></i><span>uni-icon uni-folder</span></span></li>
    <li><span><i class="uni-icon uni-phone"></i><span>uni-icon uni-phone</span></span></li>
    <li><span><i class="uni-icon uni-door"></i><span>uni-icon uni-door</span></span></li>
    <li><span><i class="uni-icon uni-notify-fill"></i><span>uni-icon uni-notify-fill</span></span></li>
    <li><span><i class="uni-icon uni-clock"></i><span>uni-icon uni-clock</span></span></li>
    <li><span><i class="uni-icon uni-camera"></i><span>uni-icon uni-camera</span></span></li>
    <li><span><i class="uni-icon uni-send"></i><span>uni-icon uni-send</span></span></li>
    <li><span><i class="uni-icon uni-document-money"></i><span>uni-icon uni-document-money</span></span></li>
    <li><span><i class="uni-icon uni-caculator-fill"></i><span>uni-icon uni-caculator-fill</span></span></li>
    <li><span><i class="uni-icon uni-vector"></i><span>uni-icon uni-vector</span></span></li>
    <li><span><i class="uni-icon uni-contact-fill"></i><span>uni-icon uni-contact-fill</span></span></li>
    <li><span><i class="uni-icon uni-connect"></i><span>uni-icon uni-connect</span></span></li>
    <li><span><i class="uni-icon uni-check-fill"></i><span>uni-icon uni-check-fill</span></span></li>
    <li><span><i class="uni-icon uni-money-fill"></i><span>uni-icon uni-money-fill</span></span></li>
    <li><span><i class="uni-icon uni-user-setting-fill"></i><span>uni-icon uni-user-setting-fill</span></span></li>
    <li><span><i class="uni-icon uni-note-fill"></i><span>uni-icon uni-note-fill</span></span></li>
    <li><span><i class="uni-icon uni-language-fill"></i><span>uni-icon uni-language-fill</span></span></li>
    <li><span><i class="uni-icon uni-user-contact-fill"></i><span>uni-icon uni-user-contact-fill</span></span></li>
</ul>