
<div class="main-grid product-detail chi-tiet-ho-so-nhan-su">
    <section class="head-detail">
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3 class="d-flex middle"><svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.3337 5.33341H3.22033L6.94699 1.60675L6.00033 0.666748L0.666992 6.00008L6.00033 11.3334L6.94033 10.3934L3.22033 6.66675H11.3337V5.33341Z" fill="#2B2F33" fill-opacity="0.6"/>
                </svg> &nbsp;
                {{titlePage}}</h3>
        </div>
        <p-tabView (onChange)="handleChange($event.index)" [(activeIndex)]="tabIndex">
            <p-tabPanel header="Thông tin cá nhân" >
                <app-thong-tin-ca-nhan [empId]="empId" *ngIf="tabIndex ===0"></app-thong-tin-ca-nhan>
            </p-tabPanel>
             <p-tabPanel header="Vị trí công việc">
                <app-vi-tri-cong-viec [empId]="empId" *ngIf="tabIndex ===1"></app-vi-tri-cong-viec>
            </p-tabPanel>
           <p-tabPanel header="Quan hệ lao động C&B">
                <app-quan-he-lao-dong-c [empId]="empId" *ngIf="tabIndex ===2"></app-quan-he-lao-dong-c>
            </p-tabPanel>
             <p-tabPanel header="Thuế bảo hiểm">
                <app-thue-bao-hiem [empId]="empId" *ngIf="tabIndex ===3"></app-thue-bao-hiem>
            </p-tabPanel>
            <p-tabPanel header="Chuyên Môn">
                <app-chuyen-mon [empId]="empId" *ngIf="tabIndex ===4"></app-chuyen-mon>
            </p-tabPanel>
            <p-tabPanel header="Tiện ích">
                <app-tien-ich [empId]="empId" *ngIf="tabIndex ===5"></app-tien-ich>
            </p-tabPanel>
          <p-tabPanel header="Quản lý tài khoản">
                <app-quan-ly-tai-khoan [empId]="empId" *ngIf="tabIndex ===6"></app-quan-ly-tai-khoan>
            </p-tabPanel>
        </p-tabView>
    </section>
   
        </div>