:host::ng-deep{
    .p-panel-footer {
        display: flex;
        justify-content: flex-end;
    }

    .p-card-footer{
        display: flex;
        justify-content: flex-end;
    }

    .pi-check-circle {
        color: #0072f9;
    }

    p-splitbutton {
        z-index: 9;
       
        .p-splitbutton {
            border-radius: unset  !important;
            .p-splitbutton-defaultbutton{
                max-width: unset;
                min-width: unset;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
            }
            .p-splitbutton-menubutton {
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
            }
        }
    }
}