:host::ng-deep{
    .p-panel-footer {
        display: flex;
        justify-content: flex-end;
    }

    .p-card-footer{
        display: flex;
        justify-content: flex-end;
    }

    .pi-check-circle {
        color: #0072f9;
    }
}