
<div class="main-grid product-detail chi-tiet-ho-so-nhan-su single-page">
    <section class="bread-crumb">
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
    <section>
        <p-tabView styleClass="tab-ver" (onChange)="handleChange($event.index)" [(activeIndex)]="tabIndex">
            <p-tabPanel header="Thông tin cá nhân" leftIcon="{{dataEmployeeStatus?.profile_st ? 'pi pi-check-circle' : ''}} ">
                <app-thong-tin-ca-nhan [empId]="empId" *ngIf="tabIndex ===0 && dataEmployeeStatus" [dataEmployeeStatus]="dataEmployeeStatus" (reloadEdit)="reloadEdit()"></app-thong-tin-ca-nhan>
            </p-tabPanel>
             <p-tabPanel header="Vị trí công việc" leftIcon="{{dataEmployeeStatus?.working_st ? 'pi pi-check-circle' : ''}} ">
                <app-vi-tri-cong-viec [empId]="empId" *ngIf="tabIndex ===1 && dataEmployeeStatus" [dataEmployeeStatus]="dataEmployeeStatus" (reloadEdit)="reloadEdit()"></app-vi-tri-cong-viec>
            </p-tabPanel>
           <p-tabPanel header="Quan hệ lao động C&B" leftIcon="{{dataEmployeeStatus?.contract_st ? 'pi pi-check-circle' : ''}} ">
                <app-quan-he-lao-dong-c [empId]="empId" *ngIf="tabIndex ===2 && dataEmployeeStatus" [dataEmployeeStatus]="dataEmployeeStatus"  (reloadEdit)="reloadEdit()"></app-quan-he-lao-dong-c>
            </p-tabPanel>
             <p-tabPanel header="Thuế bảo hiểm" leftIcon="{{dataEmployeeStatus?.insurance_st ? 'pi pi-check-circle' : ''}}" >
                <app-thue-bao-hiem [empId]="empId" *ngIf="tabIndex ===3" [dataEmployeeStatus]="dataEmployeeStatus"></app-thue-bao-hiem>
            </p-tabPanel>
            <p-tabPanel header="Chuyên Môn" leftIcon="{{dataEmployeeStatus?.train_st ? 'pi pi-check-circle' : ''}}" >
                <app-chuyen-mon [empId]="empId" *ngIf="tabIndex ===4" [dataEmployeeStatus]="dataEmployeeStatus"></app-chuyen-mon>
            </p-tabPanel>
            <p-tabPanel header="Thông tin khác" leftIcon="pi pi-check-circle">
                <app-tien-ich [empId]="empId" *ngIf="tabIndex ===5"></app-tien-ich>
            </p-tabPanel>
          <!-- <p-tabPanel header="Quản lý tài khoản">
                <app-quan-ly-tai-khoan [empId]="empId" *ngIf="tabIndex ===6"></app-quan-ly-tai-khoan>
            </p-tabPanel> -->
        </p-tabView>
    </section>
   
        </div>