<p-panel>
    <ng-template pTemplate="header">
        <div class="d-flex col-12 pl-0 pr-0 bet">
            <h3 class="title-section">Danh sách quá trình làm việc</h3>
            <p-button styleClass="p-button-sm" icon="pi pi-plus" label="Thêm mới" (click)="addComAuth()"></p-button>
        </div>
    </ng-template>
    <div class="row" style="flex-wrap: wrap">
        <div class="grid-default border">
            <app-list-grid-angular 
                [domLayout]="'autoHeight'" 
                *ngIf="columnDefs.length > 0" 
                [idGrid]="gridKey + '_45dfs'"
                [title]="'Chứng chỉ'"
                [listsData]="listsData" 
                (showConfig)="CauHinh()"
                (onCellClicked)="onCellClicked($event)"
                [columnDefs]="columnDefs">
            </app-list-grid-angular>
            <app-loading-grid 
                [columnNumber]="9" 
                gridtype="''" 
                *ngIf="columnDefs.length === 0">
            </app-loading-grid>

        </div>
    </div>
</p-panel>

<p-dialog header="Cài đặt cấu hình " [appendTo]="'body'" [focusTrap]="false" styleClass="popup-setting"
    (onHide)="getComAuthorizePage()" [(visible)]="displaySetting" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"
        [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="displayFormEditDetail" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Thêm mới người phê duyệt </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <app-edit-detail [optionsButtonsEdit]="optionsButtonsPopup" *ngIf="listViewsDetail.length> 0 && displayFormEditDetail" [detailInfo]="dataDetailInfo"
        [detail]="dataDetailInfo" [manhinh]="'Edit'" [thongtinnhanvienNew]="true"
        [dataView]="listViewsDetail" (callback)="setDetailInfo($event)"
        (callbackcancel)="cancelDetailInfo($event)"></app-edit-detail>
</p-sidebar>

<app-hrm-search-emp 
    *ngIf="isSearchEmp" 
    [isSearch]="isSearchEmp" 
    (seachEmValue)="seachEmValue($event)">
</app-hrm-search-emp>

