<div class="grid-default" #container>
    <div class="wrap-grid grid-full-height">
        <app-list-grid-angular [idGrid]="'editGrid'" *ngIf="columnDefs.length > 0" [isShowButton] ="true" [domLayout] = "'autoHeight'" [rowSelection]="'multiple'" [typeConfig]="typeConfig"
        [listsData]="listsData" (doubleClicked)="doubleClicked($event)"
        [columnDefs]="columnDefs"></app-list-grid-angular>
    </div>
</div>

<div class="btns" style="position: fixed;
right: 130px;
    top: 8px;">
    <p-button label="Xác nhận lưu cấu hình" styleClass="p-button-success" icon="uni-icon uni-send uni-white-color" (onClick)="Save()"></p-button>
</div>

<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>
