
<section class="pb-0 pt-0">
    <app-list-grid-angular *ngIf="columnDefs.length > 0" 
        [height]="heightGrid"
        [columnDefs]="columnDefs"
        [rowSelection]="'multiple'"
        [idGrid]="gridKey + '_45dfs'"
        [listsData]="listsData"
        [height]="heightGrid"
        (showConfig)="cauhinh()"
        (onCellClicked)="onCellClicked($event)"
        >
    </app-list-grid-angular>
    <div class="paginator">
        <span>Từ {{ countRecord.currentRecordStart }} đến
            {{ countRecord.currentRecordEnd }}
            trên tổng số
            {{ countRecord.totalRecord }} kết quả</span>
        <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
            (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
        </p-paginator>
    </div>
</section>
<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'" [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>
<!-- <p-menu [model]="itemsToolOfGrid" [appendTo]="'body'" [popup]="true"
        styleClass="menu-option-right" #menuButton></p-menu> -->