
<div class="main-grid product-detail">
    <div class="breadcrumb">
        <h3>{{titlePage}}</h3>
        <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
   <div class="content">

    <p-tabView [(activeIndex)]="indexTab" (onChange)="handleChange($event.index)">
        <p-tabPanel header="Nhân viên [{{detailInfo?.fullName}}]">
            <p-panel>
                <ng-template pTemplate="header">
                    <div class="col-md-6"> {{detailMenu.name}}</div>
                    <div class="col-md-6 text-right"> <span [innerHTML]="detailInfo?.emp_status"></span>
                    </div>
                </ng-template>
                <div class="row">
                    <div class="col-md-10">
                        <div class="">
                            <div class="row col-md-12">
                                <!-- <p-selectButton [options]="optionsButtonsView"
                                *ngIf="listViews.length> 0 && manhinh === 'View'" optionLabel="label"
                                optionValue="value" (onChange)="onChangeButtonView($event)"> -->
                            <!-- </p-selectButton> <p-button *ngIf="selectedMenuCode === API_PROFILE.QUAN_HE_LAO_DONG && manhinh === 'View'" label="Tạo hợp đồng" (click)="taohopdong()" styleClass="p-button-outlined ml-1 p-button-secondary"></p-button> -->
                            <p-overlayPanel #op [style]="{width: '450px'}">
                                <ng-template pTemplate>
                                    <label for="" >Chọn loại hợp đồng</label> <br>
                                    <p-dropdown [autoZIndex]="true" [autoDisplayFirst]="false" [style]="{'width': '100%'}" [options]="listContractTypes"
                                    [(ngModel)]="modelContractInfo.contractType" name="contractType" (onChange)="taohopdong();op.hide()">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                                    </ng-template>
                                    <ng-template let-car pTemplate="item">
                                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                                </ng-template>
                            </p-overlayPanel>
                            </div>
                            <!-- <app-view-detail *ngIf="listViews.length> 0 && manhinh === 'View'"
                                [detail]="detailInfo" [manhinh]="manhinh" [thongtinnhanvienNew]="true"
                                [dataView]="listViews" (callback)="setEmployeeInfo($event)">
                            </app-view-detail>
                            <app-edit-detail *ngIf="listViews.length> 0 && manhinh === 'Edit'"
                                [detail]="detailInfo" [manhinh]="manhinh" [thongtinnhanvienNew]="true"
                                [dataView]="listViews" (callback)="setEmployeeInfo($event)"
                                (callbackcancel)="cancelUpdate()"></app-edit-detail> -->



                                
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [thongtinnhanvienNew]="true" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
        (callback)="setEmployeeInfo($event)" (callbackcancel)="cancelUpdate($event)"></app-edit-detail>
                        </div>

                        <div class="row d-flex" *ngIf="selectedMenuCode === API_PROFILE.CONG_VIEC ">
                            <div class="col-md-8">
                                <p-card styleClass="mt-1" >
                                    <ng-template pTemplate="header">
                                        <div class="row d-flex">
                                            <div class="col-md-6">
                                                <div class="panel-heading" style="padding: 10px;">
                                                    <h6 class="panel-title" style="color: black; font-weight: 500;">
                                                        {{titles[0]}} <p-badge *ngIf="listsData[0].length > 0"
                                                            value="listsData[0].length" styleClass="p-mr-2">
                                                        </p-badge>
                                                    </h6>
                                                </div>
                                            </div>
                                            <div class="col-md-6 justify-content-end text-right"
                                                style="padding-right: 30px;">
                                                <p-button *ngIf="selectedMenuCode === API_PROFILE.CONG_VIEC" 
                                                    label="Thêm mới" styleClass="p-button-sm"
                                                    icon="pi pi-plus" (click)="addType0()"></p-button>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Danh sách liên hệ'" *ngIf="listsData[0].length > 0"
                                        [listsData]="listsData[0]"  (FnClick)="OnClick($event)"
                                        [columnDefs]="columnDefs[0]"></app-list-grid-angular>
                                </p-card>
                            </div>
                            <div class="col-md-4">
                                <p-card styleClass="mt-1" >
                                    <ng-template pTemplate="header">
                                        <div class="panel-heading" style="padding: 10px;">
                                            <h6 class="panel-title" style="color: black; font-weight: 500;">Dòng
                                                thời gian<p-badge *ngIf="listsData[0].length > 0"
                                                    value="{{listsData[0].length}}" styleClass="p-mr-2"></p-badge>
                                            </h6>
                                        </div>
                                    </ng-template>
                                  
                                    <p-timeline [value]="detailInfo?.timelines" styleClass="customized-timeline mt-4 nhan-vien-timeline"
                                       >
                                        <ng-template pTemplate="marker" let-event>
                                            <span class="custom-marker p-shadow-2"
                                                [style.backgroundColor]="event.color">
                                                <i class="pi pi-{{event.icon}}"></i>
                                            </span>
                                        </ng-template>
                                        <ng-template pTemplate="content" let-event>
                                            <p-card [header]="event.status" [subheader]="event.date">
                                                <p class="mt-1">{{event.note}}</p>
                                                <!-- <button pButton label="Read more" class="p-button-text"></button> -->
                                            </p-card>
                                        </ng-template>
                                    </p-timeline>
                                </p-card>
                            </div>
                        </div>
                      


                        <p-card styleClass="mt-1"
                            *ngIf="selectedMenuCode === API_PROFILE.TIEN_ICH || selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN
                    || selectedMenuCode === API_PROFILE.NGUOI_QUAN_LY
                    || selectedMenuCode === API_PROFILE.QUAN_HE_LAO_DONG || selectedMenuCode === API_PROFILE.THUE_BAO_HIEM
                   || selectedMenuCode === API_PROFILE.CHUYEN_MON 
                    || selectedMenuCode === API_PROFILE.NGUOI_DUNG">
                            <ng-template pTemplate="header">
                                <div class="row d-flex">
                                    <div class="col-md-6">
                                        <div class="panel-heading" style="padding: 10px;">
                                            <h6 class="panel-title" style="color: black; font-weight: 500;">
                                                {{titles[0]}} <p-badge *ngIf="listsData[0].length > 0"
                                                    value="{{listsData[0].length}}" styleClass="p-mr-2">
                                                </p-badge>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6 justify-content-end text-right"
                                        style="padding-right: 30px;">
                                        <p-button *ngIf="selectedMenuCode === API_PROFILE.THUE_BAO_HIEM || selectedMenuCode === API_PROFILE.LIEN_HE
                                        || selectedMenuCode === API_PROFILE.NGUOI_DUNG" 
                                            label="Thêm mới" styleClass="p-button-sm"
                                            icon="pi pi-plus" (click)="addType0()"></p-button>
                                            <!-- <p-button label="Thêm mới CMND/CCCD/HC" *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN" icon="pi pi-plus" styleClass="p-button-sm p-button-info"
                                             (click)="showPopupUploadCard()"></p-button> -->
                                    </div>
                                </div>
                            </ng-template>
                            <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Danh sách liên hệ'" *ngIf="listsData[0].length > 0"
                                [listsData]="listsData[0]"  (FnClick)="OnClick($event)"
                                [columnDefs]="columnDefs[0]"></app-list-grid-angular>
                        </p-card>


                        <p-card styleClass="mt-1"
                            *ngIf="selectedMenuCode === API_PROFILE.CHUYEN_MON 
                        || selectedMenuCode === API_PROFILE.THUE_BAO_HIEM
                        || selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN
                        || selectedMenuCode === API_PROFILE.NGUOI_QUAN_LY
                        || selectedMenuCode === API_PROFILE.QUAN_HE_LAO_DONG ">

                            <ng-template pTemplate="header">
                                <div class="row d-flex">
                                    <div class="col-md-6">
                                        <div class="panel-heading" style="padding: 10px;">
                                            <h6 class="panel-title" style="color: black; font-weight: 500;">
                                                {{titles[1]}} <p-badge *ngIf="listsData[1].length > 0"
                                                    value="{{listsData[1].length}}" styleClass="p-mr-2">
                                                </p-badge>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6 justify-content-end text-right"
                                        style="padding-right: 30px;">
                                        <p-button *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN"
                                            label="Thông tin hồ sơ" icon="pi pi-book"
                                            styleClass="p-button-sm" (click)="createContract()"></p-button>
                                        <p-button
                                            *ngIf=" selectedMenuCode === API_PROFILE.THUE_BAO_HIEM"
                                            label="Thêm mới" icon="pi pi-file" styleClass="p-button-sm"
                                            (click)="createAttach()"></p-button>
                                            <p-button
                                            *ngIf=" selectedMenuCode === API_PROFILE.NGUOI_QUAN_LY"
                                            label="Thêm mới" icon="pi pi-plus" styleClass="p-button-sm"
                                            (click)="onAddUserLogin()"></p-button>    
                                    </div>
                                </div>
                            </ng-template>
                            <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Danh sách liên hệ'" *ngIf="listsData[1].length > 0"
                                [listsData]="listsData[1]" (FnClick)="OnClick($event)"
                                [columnDefs]="columnDefs[1]"></app-list-grid-angular>
                        </p-card>

                        <p-card styleClass="mt-1"
                            *ngIf="selectedMenuCode === API_PROFILE.CHUYEN_MON || selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN">

                            <ng-template pTemplate="header">
                                <div class="row d-flex">
                                    <div class="col-md-6">
                                        <div class="panel-heading" style="padding: 10px;">
                                            <h6 class="panel-title" style="color: black; font-weight: 500;">
                                                {{titles[2]}} <p-badge *ngIf="listsData[2].length > 0"
                                                    value="{{listsData[2].length}}" styleClass="p-mr-2"></p-badge>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6 justify-content-end text-right"
                                        style="padding-right: 30px;">
                                        <p-button
                                            *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN"
                                            label="Thêm mới" icon="pi pi-plus" styleClass="p-button-sm"
                                            (click)="createAttach()"></p-button>
                                    </div>
                                </div>
                            </ng-template>
                            <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Danh sách liên hệ'" *ngIf="listsData[2].length > 0"
                                [listsData]="listsData[2]" (FnClick)="OnClick($event)"
                                [columnDefs]="columnDefs[2]"></app-list-grid-angular>
                        </p-card>


                        <p-card styleClass="mt-1" *ngIf="selectedMenuCode === API_PROFILE.CHUYEN_MON || selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN">
                            <ng-template pTemplate="header">
                                <div class="row d-flex">
                                    <div class="col-md-6">
                                        <div class="panel-heading" style="padding: 10px;">
                                            <h6 class="panel-title" style="color: black; font-weight: 500;">
                                                {{titles[3]}} <p-badge *ngIf="listsData[3].length > 0"
                                                    value="{{listsData[3].length}}" styleClass="p-mr-2"></p-badge>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-6 justify-content-end text-right"
                                        style="padding-right: 30px;">
                                        <p-button *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN" 
                                            label="Thêm mới" styleClass="p-button-sm"
                                            icon="pi pi-plus" (click)="addType3()"></p-button>
                                            <!-- <p-button label="Thêm mới CMND/CCCD/HC" *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN" icon="pi pi-plus" styleClass="p-button-sm p-button-info"
                                             (click)="showPopupUploadCard()"></p-button> -->
                                    </div>
                                </div>

                            </ng-template>
                            <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Chứng chỉ'" *ngIf="listsData[3].length > 0"
                                [listsData]="listsData[3]" (FnClick)="OnClick($event)"
                                [columnDefs]="columnDefs[3]"></app-list-grid-angular>
                        </p-card>

                        <!-- <p-card styleClass="mt-1" *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN">
                            <ng-template pTemplate="header">
                                <div class="panel-heading" style="padding: 10px;">
                                    <h6 class="panel-title" style="color: black; font-weight: 500;">
                                        {{titles[4]}} <p-badge *ngIf="listsData[4].length > 0"
                                            [value]="listsData[4].length" styleClass="p-mr-2"></p-badge>
                                    </h6>
                                </div>
                            </ng-template>
                            <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Chứng chỉ'" *ngIf="listsData[4].length > 0"
                                [listsData]="listsData[4]" [indexTab]="indexTab" (FnClick)="OnClick($event)"
                                [columnDefs]="columnDefs[4]"></app-list-grid-angular>
                        </p-card> -->


                    </div>

                    <div class="col-md-2" style="padding: 0">
                        <p-image
                            src="{{detailInfo?.avatarUrl ? detailInfo?.avatarUrl : 'https://avatarfiles.alphacoders.com/103/103373.png'}}"
                            [preview]="true" alt="Image" width="200"></p-image>
                        <!-- <p-listbox [options]="menuItems" [(ngModel)]="selectedMenuCode" optionLabel="name" (onChange)="onChangeMenu($event.value)" optionValue="code"></p-listbox> -->


                        <p-listbox [options]="menuItems" [(ngModel)]="selectedMenuCode"
                            (onChange)="onChangeMenu($event.value)" optionLabel="name" optionValue="code">
                            <ng-template let-country pTemplate="item">
                                <div class="country-item">
                                    <div><span style="font-weight: 500;">{{country.name}} </span>
                                        <span *ngIf="country.code === 'GetEmployeeByJob'"
                                            [innerHTML]="detailInfo?.emp_status"></span>
                                        <span
                                            *ngIf="country.code === 'GetEmployeeByContract'"
                                            [innerHTML]="detailInfo?.contract_status"></span>
                                        <span
                                            *ngIf="country.code === 'GetEmployeeByQualification' && !detailInfo?.isProfileFull"
                                            class="bg-danger noti-number ml5">Chưa tạo</span>
                                    </div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                </div>
            </p-panel>

        </p-tabPanel>
    </p-tabView>


































   </div>
   
</div>