
<div class="main-grid product-detail">
    <div class="breadcrumb">
        <h3>{{titlePage}}</h3>
        <p-breadcrumb [model]="items"></p-breadcrumb>
    </div>
   <div class="content page-detail">

    <p-panel>
        <ng-template pTemplate="header">
            <div class="col-md-6"> {{detailMenu.name}} [{{detailInfo?.fullName}}]</div>
            <div class="col-md-6 text-right"> <span [innerHTML]="detailInfo?.emp_status"></span>
            </div>
        </ng-template>
        <div class="row">
            <div class="col-md-10">
                <div class="">
                    <div class="row col-md-12">
                        <!-- <p-selectButton [options]="optionsButtonsView"
                        *ngIf="listViews.length> 0 && manhinh === 'View'" optionLabel="label"
                        optionValue="value" (onChange)="onChangeButtonView($event)"> -->
                    <!-- </p-selectButton> <p-button *ngIf="selectedMenuCode === API_PROFILE.QUAN_HE_LAO_DONG && manhinh === 'View'" label="Tạo hợp đồng" (click)="taohopdong()" styleClass="p-button-outlined ml-1 p-button-secondary"></p-button> -->
                    <p-overlayPanel #op [style]="{width: '450px'}">
                        <ng-template pTemplate>
                            <label for="" >Chọn loại hợp đồng</label> <br>
                            <p-dropdown [autoZIndex]="true" [autoDisplayFirst]="false" [style]="{'width': '100%'}" [options]="listContractTypes"
                            [(ngModel)]="modelContractInfo.contractType" name="contractType" (onChange)="taohopdong();op.hide()">
                            <ng-template let-item pTemplate="selectedItem">
                                <span style="vertical-align:middle;">{{item.label}}</span>
                            </ng-template>
                            <ng-template let-car pTemplate="item">
                                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                    <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        </ng-template>
                    </p-overlayPanel>
                    </div>
                    <!-- <app-view-detail *ngIf="listViews.length> 0 && manhinh === 'View'"
                        [detail]="detailInfo" [manhinh]="manhinh" [thongtinnhanvienNew]="true"
                        [dataView]="listViews" (callback)="setEmployeeInfo($event)">
                    </app-view-detail>
                    <app-edit-detail *ngIf="listViews.length> 0 && manhinh === 'Edit'"
                        [detail]="detailInfo" [manhinh]="manhinh" [thongtinnhanvienNew]="true"
                        [dataView]="listViews" (callback)="setEmployeeInfo($event)"
                        (callbackcancel)="cancelUpdate()"></app-edit-detail> -->
                    <div class="page-detail-edit-detail">
                        <app-edit-detail *ngIf="listViews.length> 0" 
                            [detail]="detailInfo" 
                            [thongtinnhanvienNew]="true" 
                            [manhinh]="'Edit'" 
                            [optionsButtonsEdit]="optionsButtonsView"  
                            [dataView]="listViews"
                            (callback)="setEmployeeInfo($event)" 
                            (callbackcancel)="cancelUpdate($event)">
                        </app-edit-detail>
                    </div>
            </div>

                <div class="row d-flex mt-4 timelines" *ngIf="selectedMenuCode === API_PROFILE.CONG_VIEC ">
                    <div class="col-md-8">
                        <div class="box">
                            <p-card styleClass="mt-1" >
                                <ng-template pTemplate="header">
                                    <div class="row d-flex">
                                        <div class="col-md-6">
                                            <div class="panel-heading">
                                                <h6 class="panel-title mb-0" style="color: black; ">
                                                    {{titles[0]}} <p-badge *ngIf="listsData[0].length > 0"
                                                        value="listsData[0].length" styleClass="p-mr-2">
                                                    </p-badge>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="col-md-6 justify-content-end text-right"
                                            style="padding-right: 15px;">
                                            <p-button *ngIf="selectedMenuCode === API_PROFILE.CONG_VIEC" 
                                                label="Thêm mới" styleClass="p-button-sm"
                                                icon="pi pi-plus" (click)="addType0()"></p-button>
                                        </div>
                                    </div>
                                </ng-template>
                                <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Danh sách liên hệ'" *ngIf="listsData[0].length > 0"
                                    [listsData]="listsData[0]"  (FnClick)="OnClick($event)"
                                    [columnDefs]="columnDefs[0]"></app-list-grid-angular>
                            </p-card>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <p-card styleClass="mt-1" >
                                <ng-template pTemplate="header">
                                    <div class="panel-heading">
                                        <h6 class="panel-title mb-0" style="color: black; ">Dòng
                                            thời gian<p-badge *ngIf="listsData[0].length > 0"
                                                value="{{listsData[0].length}}" styleClass="p-mr-2"></p-badge>
                                        </h6>
                                    </div>
                                </ng-template>
                            
                                <p-timeline [value]="detailInfo?.timelines" styleClass="customized-timeline mt-4 nhan-vien-timeline"
                                >
                                    <ng-template pTemplate="marker" let-event>
                                        <span class="custom-marker p-shadow-2" >
                                            <i class="pi pi-{{event.icon}}"></i>
                                        </span>
                                    </ng-template>
                                    <ng-template pTemplate="content" let-event>
                                        <p-card [header]="event.status" [subheader]="event.date">
                                            <p class="mt-1">{{event.note}}</p>
                                            <!-- <button pButton label="Read more" class="p-button-text"></button> -->
                                        </p-card>
                                    </ng-template>
                                </p-timeline>
                            </p-card>
                        </div>
                    </div>
                </div>
              


                <p-card styleClass="mt-1 mb-4 p-card-header-custom"
                    *ngIf="selectedMenuCode === API_PROFILE.TIEN_ICH || selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN
            || selectedMenuCode === API_PROFILE.NGUOI_QUAN_LY
            || selectedMenuCode === API_PROFILE.QUAN_HE_LAO_DONG || selectedMenuCode === API_PROFILE.THUE_BAO_HIEM
           || selectedMenuCode === API_PROFILE.CHUYEN_MON 
            || selectedMenuCode === API_PROFILE.NGUOI_DUNG">

                        <ng-template pTemplate="header">
                            <div class="row d-flex">
                                <div class="col-md-6">
                                    <div class="panel-heading" >
                                        <h6 class="panel-title mb-0" style="color: black; ">
                                            {{titles[0]}} <p-badge *ngIf="listsData[0].length > 0"
                                                value="{{listsData[0].length}}" styleClass="p-mr-2">
                                            </p-badge>
                                        </h6>
                                    </div>
                                </div>
                                <div class="col-md-6 justify-content-end text-right">
                                    <p-button *ngIf="selectedMenuCode === API_PROFILE.THUE_BAO_HIEM || selectedMenuCode === API_PROFILE.LIEN_HE
                                    || selectedMenuCode === API_PROFILE.NGUOI_DUNG" 
                                        label="Thêm mới" styleClass="p-button-sm"
                                        icon="pi pi-plus" (click)="addType0()"></p-button>
                                </div>
                            </div>
                        </ng-template>
                    <div class="grid-default border mb-7">
                        <app-list-grid-angular [height]="0" [domLayout]="'autoHeight'"  [title]="'Danh sách liên hệ'" *ngIf="listsData[0].length > 0"
                            [listsData]="listsData[0]"  (FnClick)="OnClick($event)"
                            [columnDefs]="columnDefs[0]"></app-list-grid-angular>
                    </div>
                </p-card>


                <p-card styleClass="mt-1 mb-4 p-card-header-custom"
                    *ngIf="selectedMenuCode === API_PROFILE.CHUYEN_MON 
                || selectedMenuCode === API_PROFILE.THUE_BAO_HIEM
                || selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN
                || selectedMenuCode === API_PROFILE.NGUOI_QUAN_LY
                || selectedMenuCode === API_PROFILE.QUAN_HE_LAO_DONG ">

                    <ng-template pTemplate="header">
                        <div class="row d-flex">
                            <div class="col-md-6">
                                <div class="panel-heading" >
                                    <h6 class="panel-title mb-0" style="color: black; ">
                                        {{titles[1]}} <p-badge *ngIf="listsData[1].length > 0"
                                            value="{{listsData[1].length}}" styleClass="p-mr-2">
                                        </p-badge>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-md-6 justify-content-end text-right">
                                <p-button *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN"
                                    label="Thông tin hồ sơ" icon="pi pi-book"
                                    styleClass="p-button-sm" (click)="createContract()"></p-button>
                                <p-button
                                    *ngIf=" selectedMenuCode === API_PROFILE.THUE_BAO_HIEM"
                                    label="Thêm mới" icon="pi pi-file" styleClass="p-button-sm"
                                    (click)="createAttach()"></p-button>
                                    <p-button
                                    *ngIf=" selectedMenuCode === API_PROFILE.NGUOI_QUAN_LY"
                                    label="Thêm mới" icon="pi pi-plus" styleClass="p-button-sm"
                                    (click)="onAddUserLogin()"></p-button>    
                            </div>
                        </div>
                    </ng-template>
                    <div class="grid-default border" *ngIf="listsData[1].length > 0">
                        <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Danh sách liên hệ'"
                            [listsData]="listsData[1]" (FnClick)="OnClick($event)"
                            [columnDefs]="columnDefs[1]"></app-list-grid-angular>
                        </div>
                </p-card>

                <p-card styleClass="mt-1 mb-4 p-card-header-custom"
                    *ngIf="selectedMenuCode === API_PROFILE.CHUYEN_MON || selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN">

                    <ng-template pTemplate="header">
                        <div class="row d-flex">
                            <div class="col-md-6">
                                <div class="panel-heading">
                                    <h6 class="panel-title" style="color: black; ">
                                        {{titles[2]}} <p-badge *ngIf="listsData[2].length > 0"
                                            value="{{listsData[2].length}}" styleClass="p-mr-2"></p-badge>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-md-6 justify-content-end text-right">
                                <p-button
                                    *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN"
                                    label="Thêm mới" icon="pi pi-plus" styleClass="p-button-sm"
                                    (click)="createAttach()"></p-button>
                            </div>
                        </div>
                    </ng-template>
                    <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Danh sách liên hệ'" *ngIf="listsData[2].length > 0"
                        [listsData]="listsData[2]" (FnClick)="OnClick($event)"
                        [columnDefs]="columnDefs[2]"></app-list-grid-angular>
                </p-card>


                <p-card styleClass="mt-1" *ngIf="selectedMenuCode === API_PROFILE.CHUYEN_MON || selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN">
                    <ng-template pTemplate="header">
                        <div class="row d-flex">
                            <div class="col-md-6">
                                <div class="panel-heading">
                                    <h6 class="panel-title" style="color: black; ">
                                        {{titles[3]}} <p-badge *ngIf="listsData[3].length > 0"
                                            value="{{listsData[3].length}}" styleClass="p-mr-2"></p-badge>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-md-6 justify-content-end text-right">
                                <p-button *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN" 
                                    label="Thêm mới" styleClass="p-button-sm"
                                    icon="pi pi-plus" (click)="addType3()"></p-button>
                                    <!-- <p-button label="Thêm mới CMND/CCCD/HC" *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN" icon="pi pi-plus" styleClass="p-button-sm p-button-info"
                                     (click)="showPopupUploadCard()"></p-button> -->
                            </div>
                        </div>

                    </ng-template>
                    <div class="grid-default mt-4">
                        <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Chứng chỉ'" *ngIf="listsData[3].length > 0"
                            [listsData]="listsData[3]" (FnClick)="OnClick($event)"
                            [columnDefs]="columnDefs[3]"></app-list-grid-angular>
                        </div>
                </p-card>

                <!-- <p-card styleClass="mt-1" *ngIf="selectedMenuCode === API_PROFILE.THONG_TIN_CA_NHAN">
                    <ng-template pTemplate="header">
                        <div class="panel-heading" style="padding: 10px;">
                            <h6 class="panel-title" style="color: black; ">
                                {{titles[4]}} <p-badge *ngIf="listsData[4].length > 0"
                                    [value]="listsData[4].length" styleClass="p-mr-2"></p-badge>
                            </h6>
                        </div>
                    </ng-template>
                    <app-list-grid-angular  [domLayout]="'autoHeight'" [title]="'Chứng chỉ'" *ngIf="listsData[4].length > 0"
                        [listsData]="listsData[4]" [indexTab]="indexTab" (FnClick)="OnClick($event)"
                        [columnDefs]="columnDefs[4]"></app-list-grid-angular>
                </p-card> -->


            </div>

            <div class="col-md-2" style="padding: 0">
                <p-image
                    src="{{detailInfo?.avatarUrl ? detailInfo?.avatarUrl : 'https://avatarfiles.alphacoders.com/103/103373.png'}}"
                    [preview]="true" alt="Image" width="200"></p-image>
                <!-- <p-listbox [options]="menuItems" [(ngModel)]="selectedMenuCode" optionLabel="name" (onChange)="onChangeMenu($event.value)" optionValue="code"></p-listbox> -->


                <p-listbox [options]="menuItems" [(ngModel)]="selectedMenuCode"
                    (onChange)="onChangeMenu($event.value)" optionLabel="name" optionValue="code">
                    <ng-template let-country pTemplate="item">
                        <div class="country-item">
                            <div><span style="">{{country.name}} </span>
                                <span *ngIf="country.code === 'GetEmployeeByJob'"
                                    [innerHTML]="detailInfo?.emp_status"></span>
                                <span
                                    *ngIf="country.code === 'GetEmployeeByContract'"
                                    [innerHTML]="detailInfo?.contract_status"></span>
                                <span
                                    *ngIf="country.code === 'GetEmployeeByQualification' && !detailInfo?.isProfileFull"
                                    class="bg-danger noti-number ml5">Chưa tạo</span>
                            </div>
                        </div>
                    </ng-template>
                </p-listbox>
            </div>
        </div>
    </p-panel>

    <p-dialog header="{{titleForm.title}}" [(visible)]="displayDialog" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{width: '60vw'}" [autoZIndex]=true [draggable]="false" [resizable]="false">
    <app-edit-detail
        *ngIf="listViewsForm.length> 0 && displayDialog &&  (titleForm.type === 'DuyetHoSo' || titleForm.type === 'TuyenDungLai' || titleForm.type === 'ChuyenCongTac')"
        [detail]="detailInfo" [manhinh]="manhinh" [thongtinnhanvienNew]="true" [dataView]="listViewsForm"
        (callback)="xacNhan($event)" (callbackcancel)="displayDialog = !displayDialog"></app-edit-detail>
    <!-- <p-selectButton [options]="optionsButtonsSave"
        *ngIf="titleForm.type === 'HuyHoSo' || titleForm.type === 'MoLaiHoSo' || titleForm.type === 'NghiViec'"
        optionLabel="label" optionValue="value" (onChange)="onChangeButtonSave($event)"></p-selectButton> -->
    <div class="row col-md-12 mt-1 select-default"  *ngIf="titleForm.type === 'NghiViec'">
        <label for="">Lý do</label>
        <p-dropdown [autoZIndex]="true" [autoDisplayFirst]="false" [style]="{'width': '100%'}" [options]="terminateReasons"
        [(ngModel)]="modelDuyet.reason_id" name="reason_id">
        <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle; margin-left: .5em">{{item.name}}</span>
        </ng-template>
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <div style="font-size:14px;float:right;margin-top:4px">{{car.name}}</div>
            </div>
        </ng-template>
        </p-dropdown>
    </div>
    <div class="row col-md-12 mt-1 input-group">
        <label for="">Nhân viên</label>
        <input type="text" [value]="modelDuyet.full_name || 'No name'" disabled name="full_name" class="form-control">
    </div>
    <div class="row col-md-12 mt-1  input-group">
        <label for="">Ngày xác nhận</label>
        <p-calendar placeholder="DD/MM/YYYY" appendTo="body" [baseZIndex]="101" [(ngModel)]="modelDuyet.workDt"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"
            dateFormat="dd/mm/yy" name="workDt"></p-calendar>
    </div>
    <div class="row col-md-12 mt-1 input-group" *ngIf="titleForm.type === 'NghiViec'">
        <label for="">Ngày chốt nghỉ</label>
        <p-calendar placeholder="DD/MM/YYYY" appendTo="body" [baseZIndex]="101" [(ngModel)]="modelDuyet.exprire_date"
            [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"
            dateFormat="dd/mm/yy" name="exprire_date"></p-calendar>
    </div>
    <div class="row col-md-12 mt-1">
        <div class="textarea-default">
            <label for="">Ghi chú</label>
            <textarea [(ngModel)]="modelDuyet.comments" name="comments" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>
    <div class="row col-md-12 mt-1 text-right"  *ngIf="titleForm.type === 'HuyHoSo' || titleForm.type === 'MoLaiHoSo' || titleForm.type === 'NghiViec'">
        <p-button label="Hủy" (click)="onChangeButtonSave('Back')" icon="pi pi-times" styleClass="p-button-sm p-button-secondary mr-1"></p-button>
        <p-button label="Lưu lại" (click)="onChangeButtonSave('Save')" icon="pi pi-check" styleClass="p-button-sm "></p-button>
    </div>
</p-dialog>

<p-dialog header="Duyệt hợp đồng" [(visible)]="displayApproveContract" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{width: '40vw'}" [autoZIndex]=true [draggable]="false" [resizable]="false">
    <div class="row col-md-12 mt-1 select-default" >
        <label for="">Trạng thái duyệt</label>
        <p-dropdown [autoZIndex]="true" [autoDisplayFirst]="false" [style]="{'width': '100%'}" [options]="statusApprover"
        [(ngModel)]="modelDuyetHopDong.status" name="status">
        <ng-template let-item pTemplate="selectedItem">
            <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
        </ng-template>
        <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
            </div>
        </ng-template>
        </p-dropdown>
    </div>
    <div class="row col-md-12 mt-1" style="margin-top: 5px;">
        <div class="textarea-default">
            <label for="">Ghi chú</label>
            <textarea [(ngModel)]="modelDuyetHopDong.comment" name="comment" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="duyetHoSo()" label="Xác nhận" styleClass=" p-button-sm mr-1">
        </p-button>
        <p-button icon="pi pi-times" (click)="displayApproveContract= !displayApproveContract" label="Hủy"
            styleClass="p-button-secondary p-button-sm"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Thông tin hồ sơ cá nhân" [(visible)]="displayCreateContract" [modal]="true" [draggable]="false"
    [resizable]="false" [style]="{width: '70vw'}" [autoZIndex]=true [draggable]="false" [resizable]="false">
    <div class="grid-default border" *ngIf="displayCreateContract">
        <app-list-grid-angular [domLayout]="'autoHeight'" [title]="'Chứng chỉ'"
            [listsData]="listsData[3]" (FnClick)="OnClick($event)" [columnDefs]="columnDefs[3]"></app-list-grid-angular>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="saveCreateContract()" label="Xác nhận" styleClass=" p-button-sm mr-1">
        </p-button>
        <p-button icon="pi pi-times" (click)="displayCreateContract= !displayCreateContract" label="Hủy"
            styleClass="p-button-secondary p-button-sm"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="{{modelContractInfo.contract_id === 0 ? ' Tạo hợp đồng': 'Thông tin chi tiết hợp đồng'}}" [(visible)]="hienthihopdong" [modal]="true"  [draggable]="false" [resizable]="false"
    [style]="{width: '80vw'}" [autoZIndex]=true [draggable]="false" [resizable]="false">
    <app-create-contract-info *ngIf="hienthihopdong" [modelContractInfo]="modelContractInfo"
        (callback)="emitContract($event)" (back)="hienthihopdong = !hienthihopdong"></app-create-contract-info>
</p-dialog>

<p-dialog header="{{modelAttach.meta_id > 0 ? 'Xem chi tiết file đính kèm' : 'Thêm file đính kèm'}}" [(visible)]="displayAttach" [modal]="true" [draggable]="false" [resizable]="false"
    [style]="{width: '600px'}" [autoZIndex]=true [draggable]="false" [resizable]="false">

    <app-emp-attach-file *ngIf="displayAttach" [modelAttach]="modelAttach" (callback)="emitAttach($event)"
        (back)="displayAttach = !displayAttach"></app-emp-attach-file>
</p-dialog>

<p-dialog [(visible)]="displayuploadcontract" [autoZIndex]="true" [modal]="true"  appendTo="body"
    [style]="{width: '800px', height: 'auto'}">
    <p-header>
        Tải lên hợp đồng [{{record?.meta_title}}]
    </p-header>
    <app-upload-file [multiple]="" (callback)="handleUpload($event)" *ngIf="displayuploadcontract"></app-upload-file>
</p-dialog>

<p-dialog [(visible)]="isShowCustIndiCreate" (onHide)="onHideCreate()" [draggable]="false"  [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1000px', height: 'auto'}">
    <p-header>
      Xem thông tin giấy tờ
    </p-header>
    <app-detect-card *ngIf="isShowCustIndiCreate" [isShowRegister]="isShowRegister" (reset)="isShowRegister =!isShowRegister"  (callback)="confirmCheckCard($event)" [thongtinchitietthe]="thongtinchitietthe"></app-detect-card>
    <app-card-info *ngIf="isShowRegister" [thongtinchitietthe]="thongtinchitietthe" (back)="onReloadCard()"></app-card-info>
</p-dialog>

<p-dialog [(visible)]="isShowAddress" [draggable]="false" [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1200px', height: 'auto'}">
    <p-header>
        {{thongtinlienhe.cont_id > 0 ? 'Xem chi tiết liên hệ' :  'Thêm mới người liên hệ'}}
    </p-header>
    <app-add-address-contact *ngIf="isShowAddress" [thongtinlienhe]="thongtinlienhe" (back)="reloaddanhsachlienhe()"></app-add-address-contact>
</p-dialog>

<p-dialog [(visible)]="displayFormEditDetail" [draggable]="false"  [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1200px', height: 'auto'}">
    <p-header>
        {{titleType0}}
    </p-header>
    <app-edit-detail *ngIf="listViewsDependent.length> 0" [detailInfo]="detailInfo"
        [detail]="detailDependentInfo" [manhinh]="'Edit'" [thongtinnhanvienNew]="true"
        [dataView]="listViewsDependent" (callback)="setEmpDependen($event)"
        (callbackcancel)="displayFormEditDetail = !displayFormEditDetail"></app-edit-detail>
</p-dialog>


<p-dialog [(visible)]="isShowEditUserLogin" [draggable]="false" [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1200px', height: 'auto'}">
    <p-header>
        Chi tiết tài khoản
    </p-header>
    <app-user-detail [keyName]="keyName" *ngIf="isShowEditUserLogin" [isDialog]="true" (back)="saveUserLoginEdit()"></app-user-detail>
</p-dialog>

<p-dialog [(visible)]="displayNguoiDung" [draggable]="false"  [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1200px', height: 'auto'}">
    <p-header>
      {{detailInfo?.account_no ? 'Chỉnh sửa' : 'Thêm'}} tài khoản người dùng [{{detailInfo?.fullName}}]
    </p-header>
   <app-detail-account *ngIf="displayNguoiDung" [detailAccount]="detailAccount" [isModal]="false" (back)="displayNguoiDung = !displayNguoiDung"></app-detail-account>
</p-dialog>

<p-dialog [(visible)]="isShowAddUserLogin" [draggable]="false" [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '600px', height: 'auto'}">
    <p-header>
      {{keyName === '' ? 'Thêm mới' : 'Chỉnh sửa'}}  tài khoản login
    </p-header>
    <div class="row">
        <div class="input-group">
            <label for="">Tên tài khoản</label>
            <input class="form-control" type="text"
            placeholder="Nhập tên user" id="filter" name="filter" [(ngModel)]="keyName" />
        </div>
    </div>
    <div class="row mt-1">
       <div class="col-md-6"></div>
       <div class="col-md-6 text-right">
           <p-button styleClass="p-button-sm" icon="pi pi-check" label="Lưu lại" (click)="saveUserLogin()"></p-button>
       </div>
    </div>
</p-dialog>    


































   </div>
   
</div>