

<div class="grid main-grid">
    <div class="col-12 right max-w-full">
        <div class="bread-filter">
            <div class="d-flex bet middle">            
                <app-hrm-breadcrumb [items]="items"></app-hrm-breadcrumb>
                <p-button styleClass="p-button-sm mr-1" icon="pi pi-plus" label="Thêm mới" (click)="create()"></p-button>
                <p-button styleClass="p-button-sm mr-1" icon="pi pi-plus" label="Cấu hình" (click)="cauhinh()"></p-button>
            </div>
            </div>
            <div class="grid filter">
                <div class="header-filter-search x-2">
                    <div class="field-group text search multi-field mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                        <input class="input-default" type="text" id="filter"
                        (keydown.enter)="query.offSet = 0; first = 0;load()"
                            [(ngModel)]="query.filter">
                            <label>Mã, Tên Lý do</label>
                            <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M10.1305 11.2619C9.28558 11.8771 8.24518 12.24 7.12002 12.24C4.29231 12.24 2 9.94772 2 7.12002C2 4.29231 4.29231 2 7.12002 2C9.94772 2 12.24 4.29231 12.24 7.12002C12.24 8.24518 11.8771 9.28558 11.2619 10.1305L13.7657 12.6343C14.0781 12.9467 14.0781 13.4533 13.7657 13.7657C13.4533 14.0781 12.9467 14.0781 12.6343 13.7657L10.1305 11.2619ZM11.28 7.12002C11.28 9.41753 9.41753 11.28 7.12002 11.28C4.8225 11.28 2.96 9.41753 2.96 7.12002C2.96 4.8225 4.8225 2.96 7.12002 2.96C9.41753 2.96 11.28 4.8225 11.28 7.12002Z"
                                        fill="#808AA6" />
                                </svg>
                            </span>
                        <!-- <i id="icon-search" class="pi pi-angle-down"></i> -->
                    <!-- <p-button class="search-button btn-with-filter mr-2" styleClass=" btn-56-56" icon="pi pi-search" (click)="query.offSet = 0; first = 0; load()"></p-button> -->
                    </div>
                    <div class="input-group-append dropdown">
                    </div>
                </div>
                <p-button class="btn-with-filter" icon="pi pi-refresh" (click)="cancel()" styleClass="p-button-secondary p-button-sm h-56 mr-2"></p-button>
               
            </div>
            <div class="grid-default" #container>
                <app-list-grid-angular  *ngIf="columnDefs.length > 0"
                    [listsData]="listsData" [height]="heightGrid"
                    [columnDefs]="columnDefs"></app-list-grid-angular>
                    <div class="paginator">
                        <span>Từ {{ countRecord.currentRecordStart }} đến
                            {{ countRecord.currentRecordEnd }}
                            trên tổng số
                            {{ countRecord.totalRecord }} kết quả</span>
                    <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200,{ showAll: 'ALL' }]"></p-paginator>
                </div>
            </div>
        </div>
       
    </div>

<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="find()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"   [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>