<section>
    <div class="bg-grey base-info-em d-flex middle bet">
        <ul class="col-9">
            <li>
                <span class="label">Nhân viên:</span>
                <span class="value"> {{ dataEmployeeStatus?.fullName }}</span>
            </li>
            <li class="spre"><svg width="1" height="20" viewBox="0 0 1 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="0.5" x2="0.5" y2="20" stroke="#A3A9B9"/>
                </svg>
                </li>
            <li>
                <span class="label">MNV:</span>
                <span class="value"> {{dataEmployeeStatus?.code}}</span>
            </li>
        </ul>

        <div class="col-3 gap-2 flex justify-content-end align-items-center" style="padding: 0;">
            <div class="field-group select " style="margin-bottom: 0;">
                <p-dropdown 
                    *ngIf="listViews.length> 0" 
                    [options]="status" 
                    (onChange)="recruiUpdateStatus()"
                    [(ngModel)]="selectedStatus" 
                    [styleClass]="selectedStatus?.bgColor"  
                    [style]="{'width': '180px'}" 
                    optionLabel="name"  
                    placeholder="Select a Country">
                    <ng-template pTemplate="selectedItem" >
                        <div class="flex align-items-center gap-2" *ngIf="selectedStatus" >
                            <div style="color: #fff">{{ selectedStatus.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2" *ngIf="country.value != selectedStatus.value">
                            <div class="pb-2 pt-2" style="display: flex; align-items: center; width: 100%;justify-content: space-around;font-size: 13px;">
                                <span>{{ country.placeholder }} </span>
                                <span class="pi pi-arrow-right" style="font-size: 12px;"></span>
                                <span [class]="country.textColor" class="pl-2 pr-2">{{ country.name }}</span>
                            </div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <p-splitButton icon="pi pi-send" *ngIf="menuActions.length > 0" styleClass="p-button-sm ml-2" [appendTo]="'body'" (onClick)="callActions(menuActions[0].value)" [label]="menuActions[0].label" [model]="menuActions"></p-splitButton>
            <p-button label="Quay lại" styleClass="p-button-secondary p-button-sm ml-2" [style]="{'z-index': 9}" icon="pi pi-directions-alt"></p-button>
              </div>
    </div>
</section>
<section>
    <div class="page-detail-edit-detail" >
        <app-edit-detail *ngIf="listViews.length> 0" 
            [detail]="detailInfo" 
            [detailInfo]="detailInfo" 
            [thongtinnhanvienNew]="true" 
            [manhinh]="'Edit'" 
            [optionsButtonsEdit]="optionsButtonsView"  
            [dataView]="listViews"
            (callback)="setEmpByInsuranceInfo($event)" 
            (callbackcancel)="cancelUpdate($event)">
        </app-edit-detail>
        <app-loading-detail 
            [id]="'employee-info-04'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>
        <p-divider></p-divider>
        <app-tbh-ds-dinh-kem  [empId]="empId"></app-tbh-ds-dinh-kem>
        <app-tbh-qt-dong-bt  [empId]="empId"></app-tbh-qt-dong-bt>
    </div>
</section>
    
<p-dialog [(visible)]="isEditDetail" [autoZIndex]="true" [modal]="true"  appendTo="body"
[style]="{width: '1300px', height: 'auto'}">
<p-header>
    Sửa thông tin thuế bảo hiểm
</p-header>
    <app-chi-tiet-thue-bao-hiem *ngIf="isEditDetail" [empId]="empId" (cancelSave)="cancelSetDetail($event)"></app-chi-tiet-thue-bao-hiem>
</p-dialog>

    <!-- <p-dialog styleClass="popup-btngroup-edit-detail" [(visible)]="displayFormEditDetail" [draggable]="false"  [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '800px', height: 'auto'}">
        <p-header>
            {{titleEmpTrain}}
        </p-header>
        <app-edit-detail [optionsButtonsEdit]="optionsButtonsPopup" *ngIf="listViewsForm.length> 0 && detailFormInfo" [detailInfo]="detailInfo"
            [detail]="detailFormInfo" [manhinh]="'Edit'" [thongtinnhanvienNew]="true"
            [dataView]="listViewsForm" (callback)="setFormInfo($event)"
            (callbackcancel)="cancelFormInfo($event)"></app-edit-detail>
    </p-dialog> -->

    <!-- <p-dialog header="Cài đặt cấu hình " [appendTo]="'body'" [focusTrap]="false" styleClass="popup-setting"
    (onHide)="reloadGetEmpTrainPage()" [(visible)]="displaySetting" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <app-config-grid-table-form *ngIf="displaySetting && gridKeyForm.gridKey" [typeConfig]="'TableInfo'"
        [gridKey]="gridKeyForm.gridKey"></app-config-grid-table-form>
</p-dialog> -->

    
