
<div class="main-grid product-detail">
    <section>
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section>
   <div class="content">
    <div class="d-flex center">
        <div class="col-8">
            <app-hrm-step [steps]="detailInfo?.flowStatuses" [flowSt]="detailInfo?.flow_st" *ngIf="detailInfo"></app-hrm-step>
        </div>
    </div>

        <app-edit-detail  *ngIf="listViews.length> 0" 
            [manhinh]="'Edit'" 
            [isNested]="true"   [detailInfo]="detailInfo"  [buttons]="optionsButon"
           [listForms]="listViews" (callback)="setVacancyInfo($event)" (close)="callBackForm($event)"
         ></app-edit-detail>
        <app-loading-detail 
            [id]="'chi-tiet-vi-tri-tuyen-dung'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>
   </div>
   
</div>