
<div class="main-grid product-detail">
    <!-- <section class="bread-crumb">
        <app-hrm-breadcrumb [items]="items" ></app-hrm-breadcrumb>
    </section> -->
   <div class="content">
    <div class="d-flex center" *ngIf="detailInfo.flowStatuses">
        <div class="col-8">
            <app-hrm-step [steps]="detailInfo?.flowStatuses" [flowSt]="detailInfo?.flow_st" *ngIf="detailInfo"></app-hrm-step>
        </div>
    </div>
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
        (callback)="setVacancyInfo($event)" (callbackcancel)="quaylai($event)" (callBackForm)="callBackForm($event)"></app-edit-detail>
        <app-loading-detail 
            [id]="'chi-tiet-vi-tri-tuyen-dung'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>
   </div>
   
</div>