:host::ng-deep {
    .upload_file{
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px;
        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    }
    // label {
    //     font-weight: 500;
    // }
} 
:host::ng-deep {
    .p-button{
        &.p-highlight{
            background: var(--main-background-hover) !important;
            color: var(--white-color) !important;
        }
    }

    .button-customer {
        height: 55px;
    }
}
:host::ng-deep {
    .hrm-filter{
        .p-card-body{
            padding: 0px;
            padding-top: 10px;
            .p-card-content{
                padding: 0px;
            }
        }
    }
    .p-chip-text {
        line-height: 1;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
}