

<div class="grid main-grid">
    <div class="col-12 right max-w-full">
        <div class="bread-filter">
            <div class="d-flex bet end middle">
                <app-hrm-breadcrumb [items]="items"></app-hrm-breadcrumb>
                <div class="d-flex middle">
                    <p-button type="button" class="p-button-sm mr-2" (click)="toggleGrid()" icon="pi pi-th-large" pTooltip="{{isFullScreen ? 'Ẩn toàn màn hình' : 'Hiển thị toàn màn hình'}}" tooltipPosition="top"></p-button>
                    <p-button styleClass="p-button-sm mr-2" (click)="getTemfileImport()" icon="pi pi-download" label="Tải file mẫu" *ngIf="isShowUpload"></p-button>
                    <p-fileUpload mode="basic" 
                    name="demo[]" 
                    chooseLabel="Tạo mới import" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
                    *ngIf="isShowUpload" 
                    [showCancelButton]="true" (onSelect)="onSelectFile($event)"></p-fileUpload>
                    <p-button styleClass="p-button-sm p-button-secondary ml-2" (click)="back()" icon="pi pi-times" label="Quay lại" *ngIf="isShowUpload"></p-button>
                    <p-button styleClass="p-button-sm p-button-secondary" (click)="refetchFile()" icon="pi pi-times" label="làm mới" *ngIf="!isShowUpload"></p-button>
                </div>
            </div>

        </div>

        <div class="grid-default" #container *ngIf="listsData && listsData.length > 0">
            <app-list-grid-angular  
                [listsData]="listsData" *ngIf="columnDefs.length > 0 && heightGrid > 0"
                 [height]="heightGrid"
                 [getContextMenuItems]="getContextMenuItems"
                [columnDefs]="columnDefs"></app-list-grid-angular >
                <div class="paginator" style="margin-top: 10px; text-align: right; margin-right: 25px; font-weight: 600;">
                    Tổng số {{ listsData.length }}
                </div>
                <!-- <div class="paginator">
                    <span>Từ {{ countRecord.currentRecordStart }} đến
                        {{ countRecord.currentRecordEnd }}
                        trên tổng số
                        {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first" (onPageChange)="paginate($event)" [rowsPerPageOptions]="[15,30,45,100,200]"></p-paginator>
            </div> -->
        </div>
    </div>
            


 
