<div class="main-grid product-detail" *ngIf="!isDialog">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="itemsMenu"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
</div>
<p-card>
    <div class="status-line steps-contract col-12 m-auto">
        <p-steps [model]="steps" *ngIf="listViews.length> 0" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    </div>
</p-card>
<p-divider></p-divider>
<p-card>

    <p-tabView [(activeIndex)]="indexTab" (onChange)="handleChange($event.index)">
        <p-tabPanel header="Thông tin chung">
            <app-edit-detail *ngIf="listViews.length> 0" [isNested]="true" [detail]="detailInfo" [manhinh]="'Edit'"
                [optionsButtonsEdit]="optionsButtonsView" [dataView]="listViews" (callback)="setTerminateInfo($event)" (callBackForm)="callBackForm($event)"
                (callbackcancel)="cancel($event)"></app-edit-detail>
                <app-loading-detail 
                            [id]="'app-detail-terminate'" 
                            *ngIf="listViews.length === 0">
                        </app-loading-detail>

            
        </p-tabPanel>
        <p-tabPanel header="Danh sách hồ sơ">
           <app-ho-so [terminateId]="modelEdit.terminateId" *ngIf="indexTab === 1 && modelEdit.terminateId"></app-ho-so>
        </p-tabPanel>
    </p-tabView>






   
    <div>
       
            <!-- <p-divider></p-divider> -->

            <!-- <app-thanh-phan-luong [salaryInfoId]="modelEdit.id" *ngIf="detailInfo && detailInfo?.flow_cur > 1"></app-thanh-phan-luong> -->
    </div>
       
</p-card>


<!-- <p-dialog [(visible)]="displayuploadcontract" [autoZIndex]="true" [modal]="true"  appendTo="body"
    [style]="{width: '800px', height: 'auto'}">
    <p-header>
        Tải lên hợp đồng [{{metafile?.meta_title}}]
    </p-header>
    <app-upload-file [maxFileSize]="8000000" [multiple]="" (callback)="handleUpload($event)" *ngIf="displayuploadcontract"></app-upload-file>
</p-dialog>


<p-dialog header="Cài đặt cấu hình" [(visible)]="displaySetting" (onHide)="gridKeyForm === 'view_hrm_contract_files' ? getContractMetaPage() : getSalaryComponentPage()" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" [focusTrap]="false" styleClass="popup-setting">
    <app-config-grid-table-form *ngIf="displaySetting && gridKeyForm" [typeConfig]="'TableInfo'"   [gridKey]="gridKeyForm"></app-config-grid-table-form>
</p-dialog> -->

<p-dialog header="Xử lý bàn giao" [(visible)]="displayChangeStatus" [modal]="true" [style]="{width: '1300px'}"
    [draggable]="false" [resizable]="false">
    <app-cap-nhat-trang-thai-nghi-viec [terminateId]="modelPheDuyet.id" (back)="xacnhan()" *ngIf="displayChangeStatus"></app-cap-nhat-trang-thai-nghi-viec>
    <!-- <div class="col-md-12 mt-1" style="padding: 0"> 
        <div class="field-group multi-select" [ngClass]=" modelPheDuyet.status_key ? 'valid' : 'invalid' ">
            <label for="">status_key</label>
            <p-multiSelect [autoZIndex]="true" [options]="listTerminateKey" [(ngModel)]="modelPheDuyet.status_key" optionLabel="name"></p-multiSelect>
        </div>
    </div>
    
    <div class="col-md-12 mt-1" style="padding: 0">
        <div class="field-group date valid">
            <label for="">Ngày xác nhận</label>
            <p-calendar placeholder="DD/MM/YYYY" appendTo="body" [baseZIndex]="101" [(ngModel)]="modelPheDuyet.status_dt"
                [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2030" inputId="navigators"
                dateFormat="dd/mm/yy" name="status_dt"></p-calendar>
            </div>
    </div>

    <div class="col-md-12 mt-1" style="padding: 0">
        <div class="field-group textarea">
            <label for="">Ghi chú</label>
            <textarea name="comment" [(ngModel)]="modelPheDuyet.comment"  class="form-control" cols="30" rows="10"></textarea>
        </div>
    </div>

    <div class="col-md-12 mt-1 text-right d-flex justify-content-end">
        <p-button label="Xác nhận" styleClass="p-button-sm mr-1" (click)="xacnhan()"> </p-button>
        <p-button label="Hủy bỏ" styleClass="p-button-sm p-button-secondary mr-1" (click)="displayChangeStatus = !displayChangeStatus"> </p-button>
    </div> -->

</p-dialog>
