
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
   <div class="content">
    <!-- <div class="text-right">
        <p-button label="Phê duyệt" (click)="pheDuyet()"></p-button>
    </div> -->
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
    (callback)="setWorkApprove($event)" (callbackcancel)="quaylai($event)"></app-edit-detail>
    <app-loading-detail 
        [id]="'sections-2qnt'" 
        *ngIf="listViews.length === 0">
    </app-loading-detail>

   </div>
</div>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="displayPheDuyet" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Phê duyệt </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <div class="row">
        <div class="col-md-6">
            <div class="fields" [ngClass]="setWorkQuery.approve_st ? 'valid' : 'invalid'">
                <label>Trạng thái</label>
                 <select name="status" [(ngModel)]="setWorkQuery.approve_st">
                     <option value=true>Hoạt động</option>
                     <option value=false>Không hoạt động</option>
                 </select>
            </div>
        </div>
        <div class="col-md-6">
             <div class="field-group textarea" [(ngModel)]="setWorkQuery.reason" name="reason">
                 <textarea ></textarea>
                 <label>Lý do</label>
             </div>
        </div>
       </div>
</p-sidebar>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="displayChangeStatus" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Xử lý bàn giao </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <app-cap-nhat-trang-thai-nghi-viec [terminateId]="modelPheDuyet.id" (back)="xacnhan()" *ngIf="displayChangeStatus"></app-cap-nhat-trang-thai-nghi-viec>

</p-sidebar>


