
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
   <div class="content">
    <!-- <div class="text-right">
        <p-button label="Phê duyệt" (click)="pheDuyet()"></p-button>
    </div> -->
    <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButon"  [dataView]="listViews"
    (callback)="setWorkApprove($event)" (callbackcancel)="quaylai($event)"></app-edit-detail>
   </div>
   <p-dialog header="Phê duyệt" [(visible)]="displayPheDuyet" [style]="{width: '50vw'}">
       <div class="row">
        <div class="col-md-6">
            <div class="field-group select" [ngClass]="setWorkQuery.approve_st ? 'valid' : 'invalid'">
                <label>Trạng thái</label>
                 <select name="status" [(ngModel)]="setWorkQuery.approve_st">
                     <option value=true>Hoạt động</option>
                     <option value=false>Không hoạt động</option>
                 </select>
            </div>
        </div>
        <div class="col-md-6">
             <div class="field-group textarea" [(ngModel)]="setWorkQuery.reason" name="reason">
                 <textarea ></textarea>
                 <label>Lý do</label>
             </div>
        </div>
       </div>
    </p-dialog>
</div>

