:host::ng-deep{
    .p-card .p-card-body{
        padding: 0 !important;
    }
    .wrap-edit-detail{
        &>.grid{
            &>.col-12{
                padding-left: 0px;
                padding-right: 0px;
            }
        }

    }
}