

<div class="main-grid product-detail">
  <section>
    <div class="breadcrumb">
        <p-breadcrumb [model]="items"></p-breadcrumb>
        <h3>{{titlePage}}</h3>
    </div>
  </section>
  <section>
    <div class="content">
      <p-tabView [(activeIndex)]="indexTab" (onChange)="handleChange($event.index)">
        <p-tabPanel header="Thông tin chung">
          <div class="field-group select col-3" *ngIf="!notiId">
            <label for="">Mẫu thông báo</label>
            <p-dropdown placeholder="Chọn mẫu thông báo" appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                [options]="notifyTempList" [required] [(ngModel)]="notifyTempId"
                (onChange)="changeNotiTem()"
                name="tempId" [filter]="true">
                <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-car pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                    </div>
                </ng-template>
            </p-dropdown>
          </div>
          <app-edit-detail *ngIf="listViews.length> 0 && manhinh === 'Edit'"  
            [manhinh]="manhinh" [modelMarkdow]="modelMarkdow" [dataView]="listViews" 
            [optionsButtonsEdit]="optionsButon"
            (callback)="saveNotifyInfo($event)" (callbackcancel)="cancelUpload()"></app-edit-detail>
            <app-loading-detail 
                [id]="'markdown'" 
                *ngIf="listViews.length === 0">
            </app-loading-detail>

          <app-notify-comments [notify]="dataInfo"></app-notify-comments>
        </p-tabPanel>
        <p-tabPanel header="Danh sách gửi thông báo" *ngIf="notiId" leftIcon="pi pi-calendar">
            <app-grid-push-list 
              [notify]="dataInfo" 
              *ngIf="indexTab === 1" 
              [indexTab]="indexTab" 
              (send)="displayDsThongBao($event)" 
              [loadForm]="loadForm" 
              (saveStore)="displayDsCaiDatDS($event)" 
              (deleteRooms)="deleteRooms($event)"></app-grid-push-list>
          </p-tabPanel>
      </p-tabView>
    </div>
  </section>
</div>
    <p-dialog [(visible)]="displaySend" styleClass="paginator-bottom" [autoZIndex]="true" [modal]="true" [style]="{width: '1300px', height: 'auto'}">
        <p-header>
          Gửi thông báo
        </p-header>
       <app-send-notify [notify]="dataInfo" [moduleLists]="moduleLists" *ngIf="displaySend" (reload)="backpageSend()"></app-send-notify>
      </p-dialog>
      
      <p-dialog [(visible)]="displayStore" [autoZIndex]="true" [modal]="true" [style]="{width: '1300px', height: 'auto'}">
        <p-header>
          Gửi thông báo
        </p-header>
       <app-store-notify [notify]="dataInfo" [isNotifi]="true" [moduleLists]="moduleLists" *ngIf="displayStore"  (reload)="backpagestore()"></app-store-notify>
      </p-dialog>
      
  