:host::ng-deep .wrap-edit-detail{
        padding: 0
    }
:host::ng-deep .p-tabview-panel{
    padding: 0
}
:host::ng-deep .new-toolbar-style{
    margin-bottom: 15px;
}
:host::ng-deep p-tabview .p-tabview-nav-container .p-tabview-nav-content .p-tabview-nav{
    margin-bottom: 20px;
}
:host::ng-deep .border-section {
    padding-left: 0;
}