

<div class="main-grid product-detail">
  <div class="breadcrumb">
      <h3>{{titlePage}}</h3>
      <p-breadcrumb [model]="items"></p-breadcrumb>
  </div>
 <div class="content">
  <p-tabView [(activeIndex)]="indexTab" (onChange)="handleChange($event.index)">
    <p-tabPanel header="Thông tin chung">
      <app-edit-detail *ngIf="listViews.length> 0 && manhinh === 'Edit'"  [manhinh]="manhinh" [modelMarkdow]="modelMarkdow" [dataView]="listViews" (callback)="saveNotifyInfo($event)" (callbackcancel)="cancelUpload()"></app-edit-detail>
      <app-notify-comments [notify]="dataInfo"></app-notify-comments>
    </p-tabPanel>
    <p-tabPanel header="Danh sách gửi thông báo" *ngIf="notiId" leftIcon="pi pi-calendar">
        <app-grid-push-list [notify]="dataInfo" *ngIf="indexTab === 1" [indexTab]="indexTab" (send)="displayDsThongBao($event)" [loadForm]="loadForm" (saveStore)="displayDsCaiDatDS($event)" (deleteRooms)="deleteRooms($event)"></app-grid-push-list>
       </p-tabPanel>
  </p-tabView>
 </div>
 
</div>
    <p-dialog [(visible)]="displaySend" [autoZIndex]="true" [modal]="true" [style]="{width: '1300px', height: 'auto'}">
        <p-header>
          Gửi thông báo
        </p-header>
       <app-send-notify [notify]="dataInfo" [moduleLists]="moduleLists" *ngIf="displaySend" (reload)="backpageSend()"></app-send-notify>
      </p-dialog>
      
      <p-dialog [(visible)]="displayStore" [autoZIndex]="true" [modal]="true" [style]="{width: '1300px', height: 'auto'}">
        <p-header>
          Gửi thông báo
        </p-header>
       <app-store-notify [notify]="dataInfo" [moduleLists]="moduleLists" *ngIf="displayStore"  (reload)="backpagestore()"></app-store-notify>
      </p-dialog>
      
  