
<div class="content-header">
    <div class="content-header-left col-md-6 col-12">
        <h5 class="content-header-title">Danh sách loại thông báo</h5>
    </div>
    <div class="content-header-right breadcrumbs-right breadcrumbs-top col-md-6 col-12">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/dashbroad">Trang chủ</a>
                </li>
                <li class="breadcrumb-item">
                    <a routerLink="/thong-bao">Thông báo</a>
                </li>
                <li class="breadcrumb-item active">Danh sách loại thông báo
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="content-body">
    <section id="configuration">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <p-toolbar>
                        <div class="p-toolbar-group-left">
                            <fieldset class="form-group mr-1">
                                <label for="">Nhập nội dung tìm kiếm <span style="visibility: hidden;">ddddddddddssssssssssssss</span></label>
                                <input class="form-control" type="text" (keydown.enter)="load()"
                                    placeholder="Tên chức vụ..." id="filter" name="filter"
                                    [(ngModel)]="query.filter" />
                            </fieldset>
                            <!-- <fieldset class="form-group mr-1" >
                                <label for="">Cấp áp dụng</label>
                                <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false"
                                    [options]="listLevers" [(ngModel)]="query.org_level" name="org_level" (onChange)="find()"
                                    [filter]="true">
                                    <ng-template let-item pTemplate="selectedItem">
                                        <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
                                    </ng-template>
                                    <ng-template let-car pTemplate="item">
                                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                                            <div style="font-size:14px;float:right;margin-top:4px">{{car.label}}</div>
                                        </div>
                                    </ng-template>
                                </p-dropdown>
                            </fieldset> -->
                            <fieldset class="form-group">
                                <label for="" style="visibility: hidden;">Nhập </label> <br>
                                <!-- <p-button label="Tìm kiếm tài khoản" (click)="searchAcountbtn()" icon="pi pi-plus " styleClass="p-button-sm mr5">
                                </p-button> -->
                                <p-button icon="pi pi-search" (click)="load()" styleClass="p-button-sm mr5"></p-button>
                                <p-button icon="pi pi-refresh" (click)="handleReset()"
                                    styleClass="p-button-secondary p-button-sm mr5">
                                </p-button>
                            </fieldset>
                        </div>

                        <div class="p-toolbar-group-right">
                            <p-button styleClass="p-button-sm mr-1" icon="pi pi-plus" label="Thêm mới" (click)="addNotifyRef()"></p-button>
                            <p-button styleClass="p-button-sm p-button-secondary" icon="pi pi-times" label="Thông báo" [routerLink]="'/thong-bao'"></p-button>
                            <!-- <p-button styleClass="p-button-sm p-button-secondary" icon="pi pi-times" label="Quay lại danh sách phòng ban" (click)="backdepartment()"></p-button> -->
                        </div>
                    </p-toolbar>
                </div>
                <div class="card" style="margin-top: -10px;">
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard">
                            <div id="DataTables_Table_0_wrapper"
                                class="dataTables_wrapper container-fluid dt-bootstrap4">
                                <div class="row margin-top-10">
                                    <!-- <ag-grid-angular [modules]="modules" [suppressCsvExport]="true" [suppressExcelExport]="true"
                                    #agGrid style="width: 100%; height: 640px" id="myGrid"
                                           class="ag-theme-balham" [rowData]="dataNotifyRef?.dataList?.data"
                                        [columnDefs]="columnDefs" [groupDefaultExpanded]="groupDefaultExpanded"
                                        [masterDetail]="true" [detailCellRendererParams]="detailCellRendererParams"
                                        [detailRowHeight]="detailRowHeight" rowSelection="single"
                                        (gridReady)="onGridReady($event)" [defaultColDef]="defaultColDef"
                                        enableCellTextSelection=true floatingFilter groupUseEntireRow="true"
                                        [enableRangeSelection]="true" [animateRows]="true" [getRowHeight]="getRowHeight"
                                        [frameworkComponents]="frameworkComponents"></ag-grid-angular> -->
                                </div>
                                <div class="mt-1">
                                    <div class="row">
                                        <div class="col-md-8 padding-0">
                                            <label class="mr-1">
                                                Hiển thị:
                                                <select class="dropdown-custom shadow-border" name="pageSize"
                                                    [(ngModel)]="query.pageSize" (change)="changePageSize()" class="">
                                                    <option [value]="15">15</option>
                                                    <option [value]="25">25</option>
                                                    <option [value]="50">50</option>
                                                    <option [value]="100">100</option>
                                                    <option [value]="1000000000">All</option>
                                                </select>
                                            </label>
                                            <span>Từ {{ countRecord.currentRecordStart }} đến
                                                {{ countRecord.currentRecordEnd }}
                                                trên tổng số
                                                {{ countRecord.totalRecord }} kết quả</span>
                                        </div>
                                        <div class="col-md-4 padding-0 d-flex justify-content-end">
                                            <p-paginator [rows]="query.pageSize" [first]="first"
                                                [totalRecords]="pagingComponent?.total"
                                                (onPageChange)="paginate($event)"></p-paginator>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--card-->

            </div>
        </div>
    </section>
</div>

<!-- <p-dialog [(visible)]="displaysearchUserMaster" [autoZIndex]="true"
[draggable]="false" [resizable]="false" [modal]="true" [style]="{width: '1000px', height: 'auto'}">
    <p-header>
      Tìm kiếm thông tin khách hàng
    </p-header>
   <app-search-user-master (callbackformSearch)="callbackformSearch($event)"
    (back)="displaysearchUserMaster = !displaysearchUserMaster" *ngIf="displaysearchUserMaster"
    [button]="['Select']"></app-search-user-master>
</p-dialog> -->


