<form >
    <div class="modal-body row">
        <ng-container [formGroup]="cardForm">
            <div class="col-sm-6 form-group">
                <div class="field-group text label-8">
                    <input type="text" class="form-control" name="cardName" [disabled]="true" formControlName="cardName"
                        placeholder="Loại thẻ">
                        <label>Loại thẻ</label>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="field-group text label-8">
                    <input type="text" class="form-control" name="cardCd" formControlName="cardCd" placeholder="Mã thẻ">
                    <label>Mã thẻ</label>
                    <div class="text-danger"
                        *ngIf="(cardForm?.controls?.cardCd?.touched || submitted) && cardForm?.controls?.cardCd?.errors?.required">
                        Mã thẻ là bắt buộc
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="field-group select label-8">
                    <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
                    [options]="organizes" formControlName="org_id"  [filter]="true">
                    <ng-template let-item pTemplate="selectedItem">
                        <span>{{item?.label}}</span>
                    </ng-template>
                    <ng-template let-car pTemplate="item">
                        <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <div style="font-size:14px;float:right;margin-top:4px">{{car?.label}}</div>
                        </div>
                    </ng-template>
                    </p-dropdown>
                    <label for="">Chọn tổ chức</label>
                </div>
              </div>
            <div class="col-sm-6 form-group">
                <div class="field-group text label-8">
                    <p-autoComplete formControlName="employeeId" [suggestions]="results" [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}" (completeMethod)="search($event)" field="name" >
                        <ng-template let-employee pTemplate="item">
                            <div class="country-item">
                                <div>{{employee?.name}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                    <label>Tìm kiếm tên nhân viên</label> 
                    <div class="text-danger"
                        *ngIf="(cardForm?.controls?.employeeId?.touched || submitted) && cardForm?.controls?.employeeId?.errors?.required">
                        Nhân viên là bắt buộc
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="field-group text label-8">
                    <input placeholder="Số điện thoại" type="text" class="form-control" [disabled]="true" name="phone" [value]="cardForm.value?.employeeId?.phone">
                    <label>Số điện thoại</label>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="field-group text label-8">
                    <input placeholder="Thư điện tử" type="text" class="form-control" [disabled]="true" name="email" [value]="cardForm.value?.employeeId?.email">
                    <label>Thư điện tử</label>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="field-group label-8 text">
                    <input placeholder="Phòng ban" type="text" class="form-control" [disabled]="true" name="departmentName" [value]="cardForm.value?.employeeId?.departmentName">
                    <label>Phòng ban</label>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="checkbox-default d-flex">
                    <label for="isCardVehicle">Vé gửi xe</label>
                    <input id="isCardVehicle" type="checkbox" name="isCardVehicle" formControlName="isCardVehicle" placeholder="Vé gửi xe"
                        (change)="handleShowCardVehicle($event)">
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="cardForm?.get('isCardVehicle')?.value" [formGroup]="vehicleForm">
            <div class="col-sm-6 form-group" style="clear: left;">
                <div class="field-group select label-8">
                    <label>Loại xe</label>
                    <select name="vehicleTypeId" class="form-control" formControlName="vehicleTypeId">
                        <option [ngValue]="1">Ô tô</option>
                        <option [ngValue]="2">Xe máy</option>
                        <option [ngValue]="3">Xe máy điện</option>
                        <option [ngValue]="4">Xe đạp điện</option>
                        <option [ngValue]="5">Xe đạp</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="field-group text label-8">
                    <input type="text" class="form-control" name="vehicleName" formControlName="vehicleName"
                        placeholder="Tên xe">
                        <label>Tên xe</label>
                    <div class="text-danger"
                        *ngIf="(vehicleForm?.controls?.vehicleName?.touched || submitted) && vehicleForm?.controls?.vehicleName?.errors?.required">
                        Tên xe là bắt buộc
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="field-group text label-8">
                    <input type="text" class="form-control" name="vehicleNo" formControlName="vehicleNo"
                        placeholder="Biển số xe">
                        <label>Biển số xe</label>
                    <div class="text-danger"
                        *ngIf="(vehicleForm?.controls?.vehicleNo?.touched || submitted) && vehicleForm?.controls?.vehicleNo?.errors?.required">
                        Biển số xe là bắt buộc
                    </div>
                </div>
            </div>
            <div class="col-sm-6 form-group">
                <div class="field-group date label-8">
                    <label>Ngày bắt đầu</label>
                    <p-calendar formControlName="startTime" name="startTime" dateFormat="dd/mm/yy"
                        [style]="{'width':'100%'}"></p-calendar>
                    <!-- <input type="date" class="form-control" name="startTime" formControlName="startTime"> -->
            </div>
            </div>
            <div class="col-sm-6 form-group">
                <label>Ngày hết hạn</label>
                <div class="d-flex mt-2">
                    <div class="radio-default mr-3">
                        <input id="vo-han" type="radio" [value]="false" name="endTimeType" formControlName="endTimeType"
                            (change)="handleChange($event)"> 
                        <label for="vo-han">Vô hạn</label>
                    </div>
                    <div class="radio-default">
                        <input id="co-han" type="radio" [value]="true" name="endTimeType" formControlName="endTimeType"
                            (change)="handleChange($event)"> 
                        <label for="co-han">Có hạn</label>
                    </div>
                </div>
                <div class="field-group date mt-3 label-8" *ngIf="vehicleForm?.get('endTimeType')?.value">
                    <p-calendar formControlName="endTime" name="endTime" dateFormat="dd/mm/yy"
                        [style]="{'width':'100%'}"></p-calendar>
                    <label>Ngày hạn</label>
                    <!-- <input type="date" class="form-control" name="endTime" formControlName="endTime"> -->
                </div>
            </div>
        </ng-container>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <p-button label="Xác nhận" styleClass="p-button-sm" icon="pi pi-check" (click)="handleSave()"></p-button>
               <!-- <button type="submit" class="btn btn-dropbox">Xác nhận</button> -->
        </div>
    </div>
   
</form>