<!-- <google-chart [data]="timelineChartData"></google-chart> -->
<!-- <p-timeline [value]="dataTimeline" class="w-full md:w-20rem" align="alternate">
    <ng-template pTemplate="marker" let-event>
        <span class="p-timeline-event-marker" [style.backgroundColor]="event.color">
            <i [ngClass]="event.icon"></i>
        </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
        <small class="p-text-secondary">{{ event.date }}</small>
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
        {{ event.status }}
    </ng-template>
</p-timeline> -->



<p-timeline [value]="dataTimeline"  class="w-full md:w-20rem" align="alternate">
    <ng-template pTemplate="content" let-event>
        <small class="p-text-secondary">{{ event.date }}</small>
    </ng-template>
    <ng-template pTemplate="opposite" let-event>
        {{ event.status }}
    </ng-template>
</p-timeline>