<section>
    <div class="bg-grey base-info-em d-flex middle bet">
        <div class="d-flex middle">
            <ul>
                <li>
                    <span class="label">Nhân viên:</span>
                    <span class="value"> {{ detailInfo?.fullName }}</span>
                </li>
                <li class="spre"><svg width="1" height="20" viewBox="0 0 1 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <line x1="0.5" x2="0.5" y2="20" stroke="#A3A9B9" />
                    </svg>
                </li>
                <li>
                    <span class="label">MNV:</span>
                    <span class="value"> {{codeStaff}}</span>
                </li>
            </ul>
            <div>
                <app-step-info [detailInfo]="detailInfo" *ngIf="detailInfo"></app-step-info>
            </div>
        </div>
        <div></div>
    </div>
    <div class="content page-detail" style="padding: 0;">
        <p-panel styleClass="no-header">
            <div class="">
                <div class="row col-md-12">
                    <div class="page-detail-edit-detail">
                        <app-edit-detail *ngIf="listViews.length> 0" [detail]="detailInfo" [detailInfo]="detailInfo"
                            [thongtinnhanvienNew]="true" [manhinh]="'Edit'" [optionsButtonsEdit]="optionsButtonsView"
                            [dataView]="listViews" (callback)="setEmpQualification($event)"
                            (callbackcancel)="cancelUpdate($event)">
                        </app-edit-detail>
                        <p-divider></p-divider>
                        <div class="grid wrap-edit-detail">
                            <div class="col-12 border-section ">
                                <p-panel header="Quá trình làm việc">
                                    <div class="row" style="flex-wrap: wrap">
                                        <div class="grid-default border">
                                            <app-list-grid-angular [domLayout]="'autoHeight'"
                                                [idGrid]="'qtlv'"
                                                *ngIf="columnDefs.length > 0" [title]="'Chứng chỉ'"
                                                [listsData]="listsData" [columnDefs]="columnDefs">
                                            </app-list-grid-angular>
                                        </div>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <p-button label="Thêm mới" icon="pi pi-plus" (click)="addWorked()" styleClass="p-button-sm mr-1"></p-button>
                                        <p-button label="Cấu hình" icon="pi pi-cog" (click)="CauHinh(0)"
                                            styleClass="p-button-sm"></p-button>
                                    </ng-template>
                                </p-panel>
                            </div>
                        </div>
                        <p-divider></p-divider>
                        <div class="grid wrap-edit-detail">
                            <div class="col-12 border-section ">
                                <p-panel header="Quá trình học vấn">
                                    <div class="row" style="flex-wrap: wrap">
                                        <div class="grid-default border">
                                            <app-list-grid-angular [domLayout]="'autoHeight'"
                                                [idGrid]="'qthv'"
                                                *ngIf="columnDefs1.length > 0" [title]="'Chứng chỉ'"
                                                [listsData]="listsData1" [columnDefs]="columnDefs1">
                                            </app-list-grid-angular>
                                        </div>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <p-button label="Thêm mới" icon="pi pi-plus" (click)="AddEducation()" styleClass="p-button-sm mr-1"></p-button>
                                        <p-button label="Cấu hình" icon="pi pi-cog" (click)="CauHinh(1)"
                                            styleClass="p-button-sm"></p-button>
                                    </ng-template>
                                </p-panel>
                            </div>
                        </div>
                        <p-divider></p-divider>
                        <div class="grid wrap-edit-detail">
                            <div class="col-12 border-section ">
                                <p-panel header="Quá trình đào tạo">
                                    <div class="row" style="flex-wrap: wrap">
                                        <div class="grid-default border">
                                            <app-list-grid-angular [domLayout]="'autoHeight'"
                                                [idGrid]="'qtdt'"
                                                *ngIf="columnDefs2.length > 0" [title]="'Chứng chỉ'"
                                                [listsData]="listsData2" [columnDefs]="columnDefs2">
                                            </app-list-grid-angular>
                                        </div>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <p-button label="Thêm mới" icon="pi pi-plus" (click)="addTraining()" styleClass="p-button-sm mr-1"></p-button>
                                        <p-button label="Cấu hình" icon="pi pi-cog" (click)="CauHinh(2)"
                                            styleClass="p-button-sm"></p-button>
                                    </ng-template>
                                </p-panel>
                            </div>
                        </div>
                        <p-divider></p-divider>
                        <div class="grid wrap-edit-detail">
                            <div class="col-12 border-section ">
                                <p-panel header="Kỹ năng">
                                    <div class="row" style="flex-wrap: wrap">
                                        <div class="grid-default border">
                                            <app-list-grid-angular [domLayout]="'autoHeight'"
                                                [idGrid]="'kynang'"
                                                *ngIf="columnDefs3.length > 0" [title]="'Chứng chỉ'"
                                                [listsData]="listsData3" [columnDefs]="columnDefs3">
                                            </app-list-grid-angular>
                                        </div>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <p-button label="Thêm mới" icon="pi pi-plus" (click)="addSkill()" styleClass="p-button-sm mr-1"></p-button>
                                        <p-button label="Cấu hình" icon="pi pi-cog" (click)="CauHinh(3)"
                                            styleClass="p-button-sm"></p-button>
                                    </ng-template>
                                </p-panel>
                            </div>
                        </div>
                        <p-divider></p-divider>
                        <div class="grid wrap-edit-detail">
                            <div class="col-12 border-section ">
                                <p-panel header="Chứng chỉ">
                                    <div class="row" style="flex-wrap: wrap">
                                        <div class="grid-default border">
                                            <app-list-grid-angular [domLayout]="'autoHeight'"
                                                [idGrid]="'chungchi'"
                                                *ngIf="columnDefs4.length > 0" [title]="'Chứng chỉ'"
                                                [listsData]="listsData4" [columnDefs]="columnDefs4">
                                            </app-list-grid-angular>
                                        </div>
                                    </div>
                                    <ng-template pTemplate="footer">
                                        <p-button label="Thêm mới" icon="pi pi-plus" (click)="addCertificate()" styleClass="p-button-sm mr-1"></p-button>
                                        <p-button label="Cấu hình" icon="pi pi-cog" (click)="CauHinh(4)"
                                            styleClass="p-button-sm"></p-button>
                                    </ng-template>
                                </p-panel>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </p-panel>
    </div>

</section>


<p-dialog header="Cài đặt cấu hình " [appendTo]="'body'" [focusTrap]="false" styleClass="popup-setting"
    (onHide)="reloadGetEmpTrainPage()" [(visible)]="displaySetting" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <app-config-grid-table-form *ngIf="displaySetting && gridKeyForm.gridKey" [typeConfig]="'TableInfo'"
        [gridKey]="gridKeyForm.gridKey"></app-config-grid-table-form>
</p-dialog>

<p-dialog styleClass="popup-btngroup-edit-detail" [(visible)]="displayFormEmpTrain" [draggable]="false"  [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '600px', height: 'auto'}">
    <p-header>
        {{titleEmpTrain}}
    </p-header>
    <app-edit-detail [optionsButtonsEdit]="optionsButtonsPopup" *ngIf="listViewsEmpTrain.length> 0 && detailEmpTrainInfo" [detailInfo]="detailInfo"
        [detail]="detailEmpTrainInfo" [manhinh]="'Edit'" [thongtinnhanvienNew]="true"
        [dataView]="listViewsEmpTrain" (callback)="setEmpTrain($event)"
        (callbackcancel)="cancelEmpTrainInfo($event)"></app-edit-detail>
</p-dialog>