@import "~@ag-grid-enterprise/all-modules/dist/styles/ag-grid.css";
@import "~@ag-grid-enterprise/all-modules/dist/styles/ag-theme-balham.css";
@font-face {
    font-family: 'SFProTextMedium';
    src: url('assets/fonts/SFProText-Medium.woff2') format('woff2'),
        url('assets/fonts/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SFProTextRegular';
    src: url('assets/fonts/SFProText-Regular.woff2') format('woff2'),
        url('assets/fonts/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SFProTextRegular';
    src: url('assets/fonts/SFProText-Medium.woff2') format('woff2'),
        url('assets/fonts/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

$fontRegular: 'SFProTextRegular';

:root {
    --font-size: 13px;
    --font-family:'SFProTextRegular'
}
html {
    font-size: 1rem;
    height: 100%;
    font-family: 'SFProTextRegular';
    line-height: 20px;
}
.main-grid{
    padding-top: 0;
    .max-w-full {
        padding-top: 2px;
    }
    .tools{
        .p-button{
            padding: 10px
        }
    }
}
body {
    font-family: var(--font-family);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    min-height: calc(100% - 5px);
    height: calc( 100% - 5px );
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    font-size: var(--font-size);
    background: #EDF1FA;
    .p-component{
        font-size: var(--font-size);
    }
}

.p-link,
.p-component{
    font-family: $fontRegular
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    font-weight: 500;
}
h3{
    font-size: 16px;
}
*{
    box-sizing: border-box;
    border: none;
    margin: 0px;
}
$C-212633: #212633;
$C-F3F8FF: #F3F8FF;
$C-FF3B49: #FF3B49;
$C-99A2BC: #99A2BC;
$C-f68c1f: #f68c1f;
$C-64748B: #64748B;
$C-475569: #475569;
$grey: #76809B;
$activeColor: orange;
$C-525B73 : #525B73;
$mainBg: #0a58ca;

$primary: #007bff;
$primary006: rgba(0, 123, 255, 0.06);

$secondary: #6c757d;
$secondary006: rgba(108, 117, 125, 0.06);

$success: #28a745;
$success006: rgba(40, 167, 70, 0.06);

$danger: #dc3545;
$danger006: rgba(220, 53, 70, 0.06);

$warning: #ffc10755;
$warning006: rgba(255, 193, 7, 0.06);

$info: #17a2b8;
$info006: rgba(23, 163, 184, 0.06);

$light: #f8f9fa;
$light006: rgba(248, 249, 250, 0.06);

$dark: #343a40;
$dark006: rgba(52, 58, 64, 0.06);

$inProgress: #0747A6;
$inProgress006: rgba(7, 71, 166, 0.06);

$white: #fff;
// border fields
$C-E2E6F2: #E2E6F2;
$fontColor: $C-212633;
@import "assets/layout/styles/layout/layout.scss";