// @import "./node_modules/primeng/resources/themes/md-dark-indigo/theme.css";
:root {
    --surface-ground:#ff0000 ;
    --text-color: #212633;
    --main-background: #991c0c;
    --color-with-background: #ff0000;
}
@import '../node_modules/primeng/resources/themes/md-dark-indigo/theme.css'