
<div class="main-grid product-detail">
    <section>
        <div class="breadcrumb">
            <p-breadcrumb [model]="items"></p-breadcrumb>
            <h3>{{titlePage}}</h3>
        </div>
    </section>
    <section>
        <app-edit-detail *ngIf="listViews.length> 0" [manhinh]="'Edit'"   [detailInfo]="detailInfo"  [buttons]="optionsButtonsView"
            [listForms]="listViews" (callback)="setAccountInfo($event)" (close)="cancelUpdate($event)"
          ></app-edit-detail>
        <app-loading-detail 
            [id]="'short-field'" 
            *ngIf="listViews.length === 0">
        </app-loading-detail>
    </section>
</div>