<section class="content pt-0">
    <div class="text-right">
        <p-button styleClass="p-button-sm" icon="pi pi-plus" label="Thêm mới" (click)="addNew()"></p-button>
    </div>
    <div class="grid-default" #container>
        <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
            (showConfig)="cauhinh()" [idGrid]="gridKey + '_45dfs'" (onCellClicked)="onCellClicked($event)"
            [columnDefs]="columnDefs"></app-list-grid-angular>
            <app-loading-grid  [gridtype]="'lhd'" *ngIf="columnDefs?.length === 0" [columnNumber]="11"></app-loading-grid>
        <div class="paginator">
            <span>Từ {{ countRecord.currentRecordStart }} đến
                {{ countRecord.currentRecordEnd }}
                trên tổng số
                {{ countRecord.totalRecord }} kết quả</span>
            <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
            </p-paginator>
        </div>
    </div>
</section>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="isFormDetail" 
    position="right">
    <ng-template pTemplate="header">
        <!-- #iconheader -->
        {{ flowId ? 'Chỉnh sửa trạng thái' : 'Thêm mới trạng thái' }} </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <app-chi-tiet-cai-dat-trang-thai *ngIf="isFormDetail" [flowId]="flowId" (callback)="callbackFlowType()"></app-chi-tiet-cai-dat-trang-thai>
</p-sidebar>