<section class="content pb-0">
    <div class="grid-default" #container>
        <app-list-grid-angular *ngIf="columnDefs.length > 0" [listsData]="listsData" [height]="heightGrid"
            (showConfig)="cauhinh()" [idGrid]="gridKey + '_45dfs'" (onCellClicked)="onCellClicked($event)"
            [columnDefs]="columnDefs"></app-list-grid-angular>
            <app-loading-grid  [gridtype]="'lhd'" *ngIf="columnDefs.length === 0" [columnNumber]="11"></app-loading-grid>
        <div class="paginator">
            <span>Từ {{ countRecord.currentRecordStart }} đến
                {{ countRecord.currentRecordEnd }}
                trên tổng số
                {{ countRecord.totalRecord }} kết quả</span>
            <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
            </p-paginator>
        </div>
    </div>
</section>



<p-dialog header="{{ flowId ? 'Chỉnh sửa trạng thái' : 'Thêm mới trạng thái' }}" 
    [(visible)]="isFormDetail" 
    [modal]="true" [style]="{width: '1000px'}"
    [draggable]="false" [resizable]="false" [focusTrap]="false" >
    <app-chi-tiet-cai-dat-trang-thai *ngIf="isFormDetail" [flowId]="flowId" (callback)="callbackFlowType()"></app-chi-tiet-cai-dat-trang-thai>
</p-dialog>