  <main>
    <div class="khachHangWrapper">
      <div class="row">
        <div class="col-md-12">
              <div class="">
                <!-- <p-selectButton  [options]="optionsButtonsView" *ngIf="listViews.length> 0 && manhinh === 'View'" optionLabel="label" optionValue="value" (onChange)="onChangeButtonView($event)"></p-selectButton> -->
                  <!-- <app-view-detail *ngIf="listViews.length> 0 && manhinh === 'View'"  [manhinh]="manhinh" [dataView]="listViews" (callback)="setAccountInfo($event)"></app-view-detail> -->
                  <app-edit-detail *ngIf="listViews.length> 0 && manhinh === 'Edit'"  [manhinh]="manhinh" [dataView]="listViews" (callback)="setAccountInfo($event)" (callbackcancel)="cancelUpdate()"></app-edit-detail>
              </div>
        </div>
      </div>
    </div>
  </main>
