<div class="content">
    <!-- <app-edit-detail
        *ngIf="listViews.length> 0"
        [detail]="detailInfo"
        [manhinh]="'Edit'"
        [optionsButtonsEdit]="optionsButon"
        [dataView]="listViews"
        (callback)="setWorkApprove($event)"
        (callbackcancel)="quaylai($event)"
        [formTypeId]="formTypeId"
    ></app-edit-detail> -->

           
    <app-edit-detail *ngIf="listViews.length> 0"  [detailInfo]="detailInfo"  [buttons]="optionsButon"
        [listForms]="listViews" (callback)="setWorkApprove($event)" (close)="quaylai($event)"
      ></app-edit-detail>


    <app-loading-detail 
        [id]="'sections-3qnt'" 
        *ngIf="listViews.length === 0">
    </app-loading-detail>


</div>
