
  <div class="row">
    <div class="col-md-6">
      <div class="field-group select" [ngClass]=" perent_id? 'valid' : 'invalid' ">
        <label for="">Tổ chức</label>
        <p-dropdown appendTo="body" [baseZIndex]="100" [autoDisplayFirst]="false" 
            [options]="moduleLists" [(ngModel)]="perent_id"  [required] (onChange)="getOrganizeTree($event.code)"
            name="perent_id" [filter]="true">
            <ng-template let-item pTemplate="selectedItem">
                <span>{{item.label}}</span>
            </ng-template>
            <ng-template let-car pTemplate="item">
                <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                    <div style="font-size:14px;float:left;margin-top:4px">{{car.label}}</div>
                </div>
            </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="field-group  select treeselect label-8" [ngClass]=" sub_prod_cd? 'valid' : 'invalid' ">
        <p-treeSelect [(ngModel)]="sub_prod_cd" [options]="departmentFiltes" display="chip" (onNodeSelect)="onNodeSelect($event)" (onNodeUnselect)="onNodeUnselect($event)" [metaKeySelection]="false" selectionMode="multiple"  appendTo="body" name="sub_prod_cd" placeholder="Chọn phòng ban"></p-treeSelect>
        <label for="">Bộ phận</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="field-group label-8" [ngClass]=" query.filter? 'valid' : 'invalid' ">
        <input class="form-control" type="text" 
        placeholder="Tìm kiếm Tên, SĐT" id="filter" name="filter"
        [(ngModel)]="query.filter" />
        <label for="">Tìm kiếm</label>
      </div>
    </div>
    <div class="col-md-6">
        <div class="group-btns text-right d-flex justify-content-end">
          <p-button label="Tìm kiếm" styleClass="p-button-sm mr-1 h-56 " (click)="getUserByPush()"></p-button>
          <p-button styleClass="p-button-sm mr-1 btn-56" label="Lưu danh sách" *ngIf="listsData.length > 0"  icon="pi pi-check" (click)="saveUserByPush()"></p-button>
          <!-- <p-button styleClass="p-button-sm p-button-secondary btn-56" label="Đóng lại" icon="pi pi-times" (click)="closeModal()"></p-button> -->
          <!-- <label for="" style="visibility: hidden;">Tìm kiếm</label> -->
        </div>
  </div>
 
  </div>
  <div class="row">
  <div class="col-sm-12 mt-3">
    <label for="" class="mb-3 ds-block" *ngIf="columnDefs.length > 0"><b>Danh sách nhân viên </b><p-badge *ngIf="listsData.length > 0"
      value="{{listsData.length}}" styleClass="p-mr-2"></p-badge></label>
      <div class="grid-default border mh-560">
      <app-list-grid-angular [domLayout]="'autoHeight'"  [title]="'Danh sách liên hệ'"
      *ngIf="columnDefs.length > 0" [rowSelection]="'multiple'" [heightRow]="60" 
        [listsData]="listsData" [idGrid]="'myGridStoreNoti1'" (callback)="selectRow($event)"
        [columnDefs]="columnDefs"></app-list-grid-angular>
      </div>
  </div>
</div>
<div class="modal-body p-2 row">
</div>
