<div class="main-grid">
    <section class="bread-crumb">
        <div class="d-flex bet bottom">
            <div class="col-12 p-0 md:col-12 lg:col-3 xl:col-3">
                <app-hrm-breadcrumb [displayTitle]="true" [items]="items" [title]="'Tính lương'"></app-hrm-breadcrumb>
            </div>
            <div class="d-flex wrap col-12 md:col-12 lg:col-9 xl:col-9 gap12 end p-0">
                    <div class="filter filter-search p-0 col-4 md:col-4 lg:col-4 xl:col-3">
                        <div class="fields search mb-0" [ngClass]=" query.filter ? 'valid' : 'invalid' ">
                            <input class="input-default" placeholder="Tìm kiếm" type="text" autocomplete="off"
                                id="filter" [(ngModel)]="query.filter" (keydown.enter)="query.offSet = 0; first = 0;load()">
                            <span class="placeholder-icon" (click)="query.offSet = 0; first = 0; load()">
                                <svg width="19" height="20" viewBox="0 0 19 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.02893 0.850098C4.51087 0.850098 0.849609 4.51552 0.849609 9.03539C0.849609 13.5553 4.51087 17.2207 9.02893 17.2207C10.8456 17.2207 12.5254 16.6271 13.8828 15.6241L17.1276 18.8716C17.4984 19.2427 18.0999 19.243 18.4711 18.8721C18.8422 18.5013 18.8425 17.8998 18.4716 17.5286L15.2709 14.3252C16.4787 12.8991 17.2083 11.0518 17.2083 9.03539C17.2083 4.51552 13.547 0.850098 9.02893 0.850098ZM2.74961 9.03539C2.74961 5.56338 5.56169 2.7501 9.02893 2.7501C12.4962 2.7501 15.3083 5.56338 15.3083 9.03539C15.3083 10.8568 14.5355 12.496 13.2976 13.645C12.1765 14.6858 10.6778 15.3207 9.02893 15.3207C5.56169 15.3207 2.74961 12.5074 2.74961 9.03539Z"
                                        fill="#2B2F33" fill-opacity="0.6" />
                                </svg>
                            </span>
                        </div>
                    </div>
                <p-button styleClass="p-button-sm " (click)="searchProfile()">
                    <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M4.50938 0.666748H15.5V14.2943H11.8929V17.3334H0.5V4.11827H4.50938V0.666748ZM6.17604 4.11827H11.8929V12.6277H13.8333V2.33341H6.17604V4.11827ZM2.16667 5.78493V15.6667H10.2263V5.78493H2.16667Z"
                            fill="#F6FBFF" />
                    </svg>
                    &nbsp;
                    Tìm kiếm nâng cao
                </p-button>
            </div>
        </div>
    </section>

    <section class="content">
        <p-tabView (onChange)="handleChange($event.index)" [(activeIndex)]="tabIndex">
            <p-tabPanel header="Chờ xử lý"> </p-tabPanel>
            <p-tabPanel header="Đã xử lý"></p-tabPanel>
        </p-tabView>
        <div class="grid-default" #container>
            <app-list-grid-angular *ngIf="columnDefs.length > 0" (onCellClicked)="onCellClicked($event)"
                [listsData]="listsData" [height]="heightGrid" (showConfig)="cauhinh()" [idGrid]="gridKey + '_45dfs'"
                [columnDefs]="columnDefs"></app-list-grid-angular>
            <app-loading-grid [gridtype]="'lhd'" *ngIf="columnDefs.length === 0" [columnNumber]="11"></app-loading-grid>
            <div class="paginator">
                <span>Từ {{ countRecord.currentRecordStart }} đến
                    {{ countRecord.currentRecordEnd }}
                    trên tổng số
                    {{ countRecord.totalRecord }} kết quả</span>
                <p-paginator [rows]="query.pageSize" [totalRecords]="countRecord.totalRecord" [first]="first"
                    (onPageChange)="paginate($event)" [rowsPerPageOptions]="[20,40,60,100,200,{ showAll: 'ALL' }]">
                </p-paginator>
            </div>
        </div>
    </section>
</div>

<p-dialog header="Cài đặt cấu hình " [appendTo]="'body'" [focusTrap]="false" styleClass="popup-setting"
    (onHide)="find()" [(visible)]="displaySetting" [modal]="true" [style]="{width: '50vw'}"
    [maximizable]="true" [draggable]="false" [resizable]="false">
    <app-config-grid-table-form *ngIf="displaySetting && gridKey" [typeConfig]="'TableInfo'"
        [gridKey]="gridKey"></app-config-grid-table-form>
</p-dialog>

<p-sidebar
    [style]="{ width: '80%' }"
    [(visible)]="displayApprovedProfile" 
    position="right">
    <ng-template pTemplate="header">
        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.41 0L0 1.41L4.58 6L0 10.59L1.41 12L7.41 6L1.41 0Z" fill="#2B2F33"/>
            <path d="M8 0L6.59 1.41L11.17 6L6.59 10.59L8 12L14 6L8 0Z" fill="#2B2F33"/>
        </svg> &nbsp;&nbsp;
        Xác minh hồ sơ khách hàng {{modelApproved.name}} </ng-template>
    <ng-template pTemplate="footer"></ng-template>
    <div class="col-md-12 mt-1" *ngIf="modelApproved.typeChange === 'Email'">
        <div class="field-group text" [ngClass]=" modelApproved.emailChange ? 'valid' : 'invalid' ">
            <label for="">Thay đổi tài khoản email <span style="color:red">*</span></label>
            <input type="text" [(ngModel)]="modelApproved.emailChange" required name="emailChange" class="form-control" placeholder="Nhập tài khoản email mới">
        </div>
    </div>
    <div class="col-md-12 mt-1" *ngIf="modelApproved.typeChange === 'Phone'">
        <div class="field-group text" [ngClass]=" modelApproved.phoneChange ? 'valid' : 'invalid' ">
            <label for="">Thay đổi số điện thoại <span style="color:red">*</span></label>
            <input type="text" [(ngModel)]="modelApproved.phoneChange" required name="phoneChange" class="form-control" placeholder="Nhập số điện thoại mới">
        </div>
    </div>
    <div class="col-md-12 mt-1">
        <div class="field-group textarea">
            <label for="">Nhập ghi chú</label>
            <textarea [(ngModel)]="modelApproved.comments" name="comments" cols="30" rows="10"
                class="form-control"></textarea>
        </div>
    </div>
    
    <app-chi-tiet-ho-so-ca-nhan *ngIf="displayApprovedProfile" [isDialog]="true" [displayCustomerProfile]="false" [custId]="idRow"
        [hideButton]="true"></app-chi-tiet-ho-so-ca-nhan>
    <ng-template pTemplate="footer">
        <div>
            <button type="button" class="p-button-secondary btn-cancel " pButton icon="pi pi-times"
                label="Hủy bỏ" (click)="displayApprovedProfile = !displayApprovedProfile">
            </button>
            <p-button styleClass="p-button-sm mr-1 " icon="pi pi-send" (click)="saveApproved()">
                Xác nhận thông tin
            </p-button>
        </div>
    </ng-template>
</p-sidebar>

<app-hrm-search-customer *ngIf="isSearchEmp" [isSearch]="isSearchEmp" (seachEmValue)="seachEmValue($event)">
</app-hrm-search-customer>