:host::ng-deep{
    p-dialog{
        .field-group{
            &.checkbox{
                display: flex;
                flex-direction: row-reverse;
                justify-content: start;
                align-items: center;
                min-height: 0px;
                gap: 18px;
                .p-checkbox{
                    position: static;
                }
                label{
                    position: static;
                    margin-bottom: 0px;
                }
            }
        }
    }
    .bg-primary.noti-number{
        background: #34C759 !important;
        border-radius: 2px !important;
    }
    .noti-number.bg-dark{
        background: #FF3B49 !important;
        border-radius: 2px !important;
    }
    .p-tabview-nav-content{
        margin-bottom: 10px;
    }
}