<p-dialog styleClass="popup-btngroup-edit-detail" [(visible)]="displayFormEditDetail" [draggable]="false" (onHide)="callback.emit()"  [resizable]="false" [autoZIndex]="true" [modal]="true" [style]="{width: '1200px', height: 'auto'}">
    <p-header>
        Chỉnh sửa lịch làm việc
    </p-header>
    <app-edit-detail *ngIf="listViews.length> 0" [manhinh]="'Edit'" [isNested]="true"   [detailInfo]="detailInfo"  [buttons]="hideButton ? [] : optionsButtonsView"
        [listForms]="listViews" (callback)="setSchemeInfo($event)" (close)="callBackForm($event)"
      ></app-edit-detail>

<app-loading-detail [id]="'markdown'" *ngIf="listViews.length === 0">
</app-loading-detail>
</p-dialog>

